<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200280_EPUB-36.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../yftltn.html">The Maharajah's General (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0035.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0037.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200280_EPUB-36.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-36" class="awh1-artwork-head"><img class="image31" src="../images/00034.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">Jack sat in the room of the Ramayana paintings, savouring the peace and the solitude. It had become one of his favourite places in the palace. It was tucked away, far from the bustle of the public areas. He could sit alone, setting his mind free, testing the darkness within, something in the tranquillity of the room allowing him to dare to venture into his memories. He could not resist picking at the scabs in his soul, the itch of what had been simply too strong to ignore.</p>
				<p class="ack-acknowledgement-text">Only the subtle tick of a fine gold clock broke the quiet, yet his mind reverberated to the sounds of battle, replaying the horror of marching into enemy fire, the icy rush of fear flushing through him as he remembered taking his sword forward into the vicious melee of combat.</p>
				<p class="ack-acknowledgement-text">The Maharajah had called for war. Jack felt that he alone knew what was coming; no one else was capable of recognising the monster that was being summoned so willingly. The knowledge shamed him, and he could not help chastising himself for not having spoken out more forcefully against the bloodshed that was sure to come. He knew he had not done enough to avoid the conflict that was now inevitable.</p>
				<p class="ack-acknowledgement-text">His hand dropped to the talwar at his side. The sharkskin grip was still clean, not yet sullied by his sweat or by the blood of other men. If war came, then the sword would be forced into service, its master given the opportunity to show his true worth. For in the darkest recess of Jack’s mind lurked the pride of what he became when battle was joined. He was an impostor, a charlatan, but in battle he was able to show the steel that lived underneath the folds of his assumed roles. Only then could he reveal his bitter talent. He might have wished for a peaceful resolution to British ambition, but he knew he would not avoid the battle if it came.</p>
				<p class="ack-acknowledgement-text">He heard the chatter of the monkey and quickly got to his feet. Yet it was hard to shake off the world of canister and volley fire even as he listened to the sound of bare feet whispering across the marble floor, the gentle chink of a slim gold chain as the beast it tethered capered on the shoulder of its mistress.</p>
				<p class="ack-acknowledgement-text">‘General Lark.’ Lakshmi’s dusky voice cut through the echo of gunfire in his mind, yet it sounded muffled, the cries of the dead deafening the voice of the living. Even the delicate fragrance of her perfume did nothing to shake off the feeling of dread that was coursing through him.	</p>
				<p class="ack-acknowledgement-text">She reached for his arm. Her hand was cool on his skin and he tried to focus on the gentle touch, but the bitter memories were strong and he felt distant, lost in a world of death.</p>
				<p class="ack-acknowledgement-text">‘Jack?’ Lakshmi’s voice was small. She stood on tiptoe, leaning forward so that the wide silk hood of her dress whispered across his face. She kissed him on the cheek, her lips barely brushing his skin.</p>
				<p class="ack-acknowledgement-text">Jack felt a frisson of desire spark in his heart. It drove away the haunting shadows, bringing him back to the present.</p>
				<p class="ack-acknowledgement-text">‘Where were you, General Lark?’ To Jack’s regret, she had pulled back, but the chill was gone, banished by the warmth of her lips.</p>
				<p class="ack-acknowledgement-text">Jack smiled. ‘I was far away. Thank you for rescuing me.’</p>
				<p class="ack-acknowledgement-text">‘You seem to be making a habit of being rescued by the women in your life.’ Lakshmi mocked him, yet her eyes remained guarded, doubtful that he had still not fully come back to the world of the living.</p>
				<p class="ack-acknowledgement-text">‘I am a lucky man.’ Jack reached for her hand. It was tiny, the delicate fingers fragile in his grip.</p>
				<p class="ack-acknowledgement-text">‘You are a bold man, that much is certain.’ Lakshmi gently chided Jack for his forwardness, but she left her hand in his all the same.</p>
				<p class="ack-acknowledgement-text">‘<span class="bt1-body-text-1-italic">Per aspera ad astra</span>.’ Jack’s tongue tripped over the Latin phrase, but he was pleased his attempt made her smile.</p>
				<p class="ack-acknowledgement-text">‘Through difficulties to the stars.’ Lakshmi translated with ease. ‘You truly do have the tongue of a diplomat.’</p>
				<p class="ack-acknowledgement-text">‘A madman I once knew said it. He was trying to inspire us before we went into battle.’</p>
				<p class="ack-acknowledgement-text">‘Did it work?’</p>
				<p class="ack-acknowledgement-text">‘We won. Maybe it did.’</p>
				<p class="ack-acknowledgement-text">‘You won.’ There was sarcasm in Lakshmi’s voice now. She snatched her hand back. ‘You men talk of winning and losing. But there is no victory in battle. There is just pain and suffering and death.’</p>
				<p class="ack-acknowledgement-text">‘I don’t want war.’</p>
				<p class="ack-acknowledgement-text">Lakshmi looked deep into his eyes. ‘No. I sense the pride in you. You want this as much as my father does.’</p>
				<p class="ack-acknowledgement-text">Jack shivered as she read his soul. ‘You are wrong.’ He made the denial bitterly, unable to reveal how close she had come to understanding him.</p>
				<p class="ack-acknowledgement-text">‘No.’ Lakshmi’s monkey chattered angrily as it sensed its mistress’s distress. ‘You want to show everyone that you are a warrior. Even though you saved my brother, that is not enough. You have to prove yourself again and again.’</p>
				<p class="ack-acknowledgement-text">Jack felt a spark of anger. ‘You do not know.’</p>
				<p class="ack-acknowledgement-text">‘I know you, Jack Lark. You think you have nothing to offer the world except your sword. That your bravery is the one honest thing about you.’ Lakshmi nuzzled her pet, using its familiar touch to calm her. ‘You are mistaken. You have so much more to give, but you hide your real self away, protecting it under the shell of a fine British officer.’ </p>
				<p class="ack-acknowledgement-text">She smiled, yet she looked so sad that it took all of Jack’s willpower not to gather her into his arms.</p>
				<p class="ack-acknowledgement-text">‘So you must leave. You cannot stay here and fight for my father. You must go to your countrymen. Wrap yourself up in the red coat and become the killer we expect.’</p>
				<p class="ack-acknowledgement-text">Lakshmi shamed him by speaking the truth. He thought of the brutality of war. A part of him loved the madness that drove him into the fight. With it he was a killer, the kind of leader that men needed in the dreadful bloodletting of battle. Only there could he prove himself and demonstrate just what he could do. He could not do that as a courtier, or as a gentleman. When war came, Jack knew he would not shirk from the fight. It was the one thing he was good at.</p>
				<p class="ack-acknowledgement-text">‘And if I don’t go?’ He tried to keep the longing from his voice.</p>
				<p class="ack-acknowledgement-text">‘You cannot stay. You cannot betray your homeland. It is not in you. Even if some would wish it otherwise.’</p>
				<p class="ack-acknowledgement-text">Jack heard the subtle promise. ‘Would you have me stay?’</p>
				<p class="ack-acknowledgement-text">‘Would you wear a chain like a pet?’ Lakshmi wrapped a finger around the tiny gold chain on her monkey’s foot. ‘For to some that is all you would be.’</p>
				<p class="ack-acknowledgement-text">‘No.’</p>
				<p class="ack-acknowledgement-text">‘Would you fight your own kind?’</p>
				<p class="ack-acknowledgement-text">‘No.’</p>
				<p class="ack-acknowledgement-text">‘Then you cannot stay.’</p>
				<p class="ack-acknowledgement-text">Jack nodded, accepting the truth in her words. They built a barrier between them. One that he knew he could now never cross.</p>
				<p class="ack-acknowledgement-text">‘Fight your battle, Jack Lark. Kill more men.’ Lakshmi gathered her silver sari around her slight body as if suddenly cold. ‘Be what you must be.’</p>
				<p class="bt1-body-text-1-full-out">‘No. I forbid it. You shall not leave my service. Not now. Not ever.’</p>
				<p class="ack-acknowledgement-text">Jack forced his spine straighter. ‘With respect, sir, I am not asking for your permission.’</p>
				<p class="ack-acknowledgement-text">The Maharajah leapt to his feet. The durbar room was empty and the noise of his boots hitting the marbled floor echoed around the enormous chamber.</p>
				<p class="ack-acknowledgement-text">‘How dare you! I have given you everything! Now you stand there, wearing the uniform of my general, and tell me that you are leaving like it is nothing more than a bloody house party!’ The Maharajah’s voice rose, his anger spewing forth.</p>
				<p class="ack-acknowledgement-text">Jack focused on a spot an inch above the Maharajah’s eyes, which blazed with rage. He thought of the colour sergeant who had dominated his early life in the army. This rant paled in comparison.</p>
				<p class="ack-acknowledgement-text">‘I gave you back your life when I could have ordered you killed.’ The Maharajah stalked forward, his face thrust into Jack’s. ‘Your body would be rotten now. You would be putrid, nothing more than fat maggots and bleached bones. You live because of me. You stand there because of me. Your life is mine. I decide what you do, where you go. You forfeited your right to choose when you came to me, begging to be taken in.’</p>
				<p class="ack-acknowledgement-text">Jack lowered his eyes and met the uncompromising stare of the Maharajah. He did not flinch from the confrontation.</p>
				<p class="ack-acknowledgement-text">‘Sir—’</p>
				<p class="ack-acknowledgement-text">‘Enough!’ The Maharajah snapped the word, cutting Jack off. ‘I have heard enough of your whining. You are in my service until either I or death release you. Do not make me choose the latter.’ He spun on his heel, stomping away, heading for the small door at the rear of the durbar room that led to his private apartments.</p>
				<p class="ack-acknowledgement-text">‘You owe me.’</p>
				<p class="ack-acknowledgement-text">Jack said the words softly, yet the Maharajah whirled around as if he had shouted the foulest abuse.</p>
				<p class="ack-acknowledgement-text">‘I owe you nothing!’ he screamed. His boots pounded on the floor as he strode towards Jack, his hands balling into fists.</p>
				<p class="ack-acknowledgement-text">Jack didn’t flinch. ‘I gave you your son’s life. You gave me mine. We are even.’ He spoke firmly as the Maharajah came close.</p>
				<p class="ack-acknowledgement-text">‘Do not talk to me of debt. I am king. Do not think to stand there as my equal. You are nothing but a mewling worm. I can crush you under my boot without sparing you a second thought.’</p>
				<p class="ack-acknowledgement-text">‘That’s as may be. It will not stop me leaving.’</p>
				<p class="ack-acknowledgement-text">‘You would turn your back on me? You would fight me?’ The Maharajah sounded calmer. Jack looked him hard in the eye, searching his gaze for a softening in his stance.</p>
				<p class="ack-acknowledgement-text">‘I have no choice.’</p>
				<p class="ack-acknowledgement-text">The Maharajah’s head seemed to sag, as if his quick rage had exhausted him. He looked at Jack, his eyes full of bitter sadness, and then he sighed. ‘No, none of us have a choice. Not even a king. You can no more stay and fight for me than I can sit behind these walls and let you British take my country.’</p>
				<p class="ack-acknowledgement-text">‘I cannot fight my countrymen.’ Jack thought of Lieutenant Fenris. ‘As much as I may wish it otherwise.’</p>
				<p class="ack-acknowledgement-text">‘You will warn them if you go. They will know I am coming.’</p>
				<p class="ack-acknowledgement-text">‘They will know you are coming anyway. You cannot hide an army.’</p>
				<p class="ack-acknowledgement-text">‘You can tell them of my forces. Our numbers. Our plans.’</p>
				<p class="ack-acknowledgement-text">‘Does that matter? Will you fight any differently?’</p>
				<p class="ack-acknowledgement-text">The Maharajah sighed. ‘I thought you no diplomat. Yet your bluntness seems more effective than I gave you credit for.’</p>
				<p class="ack-acknowledgement-text">‘I am sorry, sir. For whatever that is worth, I am truly sorry. I did not want this.’ Jack spoke earnestly. He meant every word.</p>
				<p class="ack-acknowledgement-text">The Maharajah sucked in a deep breath. He pulled himself up straight before fixing Jack with a firm stare. ‘You can go. Take Miss Youngsummers and go back to your countrymen. But you will obey one last order for your king.’</p>
				<p class="ack-acknowledgement-text">Jack nodded. ‘Yes, sir.’</p>
				<p class="ack-acknowledgement-text">‘Warn them.’ The Maharajah stood uncomfortably close. Jack could feel the warm touch of the king’s breath wash over him as he was given his final order. ‘Tell them I am coming with all my strength. Tell them to leave my land and save the bloodshed.’</p>
				<p class="ack-acknowledgement-text">Jack nodded. ‘I will, sir.’</p>
				<p class="ack-acknowledgement-text">‘Will it make a difference?’ The question was asked sincerely.</p>
				<p class="ack-acknowledgement-text">Jack hung his head. He thought of Proudfoot and his ambition. ‘No.’</p>
				<p class="ack-acknowledgement-text">The Maharajah’s stare betrayed nothing. ‘What will they do with you?’</p>
				<p class="ack-acknowledgement-text">‘I don’t know.’</p>
				<p class="ack-acknowledgement-text">‘If they are wise, they will hang you.’ The Maharajah snorted as he made the wry observation. For the first time a trace of a smile lit up his proud features. ‘You willingly give up everything you have here so you can return to the people who will likely denounce you as a thief and an impostor and string you up like some common criminal.’ He shook his head, as if unable to understand. ‘I hope they do not. The world is a more interesting place with you in it, Jack Lark. Let us hope the information you bring will be enough to save you.’</p>
				<p class="ack-acknowledgement-text">He paused, looking around the fabulous durbar room as if seeking inspiration. When he faced Jack again, his expression had hardened. It was a transformation Jack had seen before. The warrior king was looking at his enemy.</p>
				<p class="ack-acknowledgement-text">‘Go now. The debt is paid. The next time we meet, I will try to kill you.’ The Maharajah spun on his heel and walked away.</p>
				<p class="ack-acknowledgement-text">Jack watched him go. He had done what he came for. Now he would return to his own people and deliver the Maharajah’s warning. Only time would tell if it would be enough to save his neck.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../yftltn.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Dedication</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Acknowledgments</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Glossary</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Two</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Ten</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-52">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-53">Chapter Forty-five</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-54">Epilogue</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-55">Historical Note</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0035.html" class="calibreAPrev">previous page</a>
    

    <a href="../../yftltn.html" class="calibreAHome"> start</a>

    
      <a href="part0037.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
