<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472222701_EPUB-43.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../qzj5e1.html">The Devil's Assassin (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0042.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0044.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472222701_EPUB-43.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-41" class="toch-table-of-contents-main-head"><img class="image37" src="../images/00041.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="tsn-typesetter-designer-note">The Bombay Lights pummelled into the Persian cavalry. The sound of the impact was dreadful, the fast-moving horsemen smashing into their stationary enemy.</p>
				<p class="bt1-body-text">Some of the British riders were driven on to the lance points of the waiting enemy, the speed of the charge leaving them no time to swerve away from the razor-sharp weapons that waited for them. But once past the tips of the lances the British riders were safe, and those still seated crashed their mounts into the Persian formation, flailing their weapons at the now defenceless enemy horsemen.</p>
				<p class="bt1-body-text">The shock effect of the charge was brutal.</p>
				<p class="bt1-body-text">The British cavalry’s speed drove them deep into the enemy’s ranks. Without any momentum of their own, the Persian horsemen were easy targets for the British, who cut their swords left and right, slashing them at the enemy. Dozens of Persian horsemen were scythed from their saddles in the first moments of the fight.</p>
				<p class="bt1-body-text">Horses fled from the melee, their masters dying in the saddle, heads drooping on to their breasts, their bodies torn and bloody. Dying men and beasts fell to the ground, their final agonies ruthlessly crushed beneath the hooves of the horses left standing, their ruined flesh trodden into the dust.</p>
				<p class="bt1-body-text">Despite the carnage, the Bombay Lights continued to pound forward, driving the attack home.</p>
				<p class="bt1-body-text">Jack had rushed past the lance points in a blur of movement, the terror of the moment flaring bright, a single prick of icy fear stabbing deep in his guts, before he was safe. He hacked his sword at the first enemy, a wild swing driven by anger and the lust for battle. It cut through the air before slicing into his target’s face, the sharpened steel meeting no resistance as it found its first victim.</p>
				<p class="bt1-body-text">The impetus of the charge drove him forward so that he never saw the man fall. He was past another enemy before he could recover his sword, his horse moving faster than he could react. He swung the blade back and forth, cutting at the figures that raced past, the enemy ranks splintering around him as he drove deep into their formation.</p>
				<p class="bt1-body-text">A riderless horse thumped into his flank, its eyes wide in terror, its flared nostrils caked in foam. It slowed his momentum and he reined his own horse hard round, spurring it into the enemy that surrounded him.</p>
				<p class="bt1-body-text">He yelled as he fought, the wild battle cry forced from his lips. A face turned towards him, the henna-edged eyes bright beneath the tall conical hat. The man’s fear was obvious and his mouth opened to scream in terror as Jack rode straight for him.</p>
				<p class="bt1-body-text">The scream never came. Jack thrust his talwar forward, punching it into the man’s throat, silencing the shriek of horror with a torrent of blood. He rode on, forcing his horse into the press of bodies. He aimed his sword at another Persian rider, but the man swerved his horse to one side and Jack’s blade flashed past. He was given no chance for a second blow as the man gouged his spurs backwards, galloping his horse free of the melee and away from the vicious sabres that had slain so many of his comrades.</p>
				<p class="bt1-body-text">Not all the enemy were so quick to flee. A lance was thrust at Jack, its sharpened point scoring across the top of his thigh. There was no time to see who had attacked him, so he simply thrust his sword at the closest enemy. A fast-moving lance parried the blade and he bellowed in rage as he failed to land a telling blow.</p>
				<p class="bt1-body-text">A trooper from the Bombay Lights barged past, his face splattered with blood from a wound to his scalp. The man rose in his saddle, standing tall before thumping his sabre down on to a Persian’s head, the sickening sound of bones crunching clearly audible over the roar of the fighting.</p>
				<p class="bt1-body-text">The trooper rode on and Jack spurred his horse, driving it into another group of Persian horsemen. They tried to turn from his path but they were slow and he was fast. His talwar snatched away the throat of the first, the spray of blood bright in the morning sunlight. He recovered the blade and cut it hard above his horse’s ears, slicing it into another man’s side, screaming an incoherent curse of anger and fear, fighting like a creature from a nightmare let loose on the battlefield.</p>
				<p class="bt1-body-text">His arm ached from the blows he had landed. His stomach churned with fear. His throat choked on the dreadful stench of battle, the air thick with the reek of blood and opened bowels. But still he hacked at the enemy, slashing and cutting with his talwar, fighting any who did not run.</p>
				<p class="bt1-body-text">The press of bodies around him eased and he twisted in the saddle, seeking more victims for his blade. But the last of the enemy were backing away, forcing their trembling horses from the horror of the British charge.</p>
				<p class="bt1-body-text">The Persians broke, throwing away their lances in their haste to escape. The Bombay Lights slashed at the enemy, mercilessly cutting men down even as they tried to flee. The carnage turned the retreat into a rout and the Persian horsemen streamed away in a wild mob, their ranks shattered by the dreadful power of the controlled charge.</p>
				<p class="bt1-body-text">‘Walk!’</p>
				<p class="bt1-body-text">Jack heard Forbes but could not see him. A dazed Persian horseman staggered past on foot, his sabre hanging uselessly from its strap around his wrist. The man’s face was a mask of blood and Jack let him go, the mad lust of the charge slipping away as quickly as the Persian cavalry had retreated.</p>
				<p class="bt1-body-text">‘Halt!’</p>
				<p class="bt1-body-text">Jack looked round the disordered ranks of the Bombay Lights. He could see the delight on the troopers’ faces. They raised their bloodied sabres, shouting to the heavens as their victory sank in, whooping and cackling in delight, the spectre of death that had ridden with the regiment retreating as they realised that they had come through their first fight unscathed.</p>
				<p class="bt1-body-text">‘Re-form the ranks. Officers to me.’</p>
				<p class="bt1-body-text">Forbes rode past. His stern face betrayed no joy at his men’s celebration. He repeated the instruction as he continued on through his command, demanding order. The Bombay Lights might have broken the enemy’s cavalry, but the battle was far from over.</p>
				<p class="bt1-body-text-1-full-out">‘Captain Fenris!’ Forbes had to bellow to be heard. The gunners from both sides were engaged in a deadly duel, neither side slackening the pace of their cannonade. The British infantry marched into the fire, their bloodied ranks advancing no matter how many were gouged from the lines.</p>
				<p class="bt1-body-text">‘Sir!’ Jack rode forward.</p>
				<p class="bt1-body-text">Forbes fixed him with an eager stare. The captain’s face was slick with sweat, and Jack saw the bloodstained sabre held at his side. The commander of the Bombay Lights was clearly leading his men from the front.</p>
				<p class="bt1-body-text">‘I am sending one squadron after the enemy to ensure they do not rally. I want you to take your squadron and bring them behind the enemy’s flank. Try to get behind their gunners on that closest hillock.’</p>
				<p class="bt1-body-text">Jack saw immediately what Forbes intended. With the cavalry streaming away, the Persian flank was dangerously exposed. The 3rd Bombay Light Cavalry was perfectly positioned to exploit the advantage.</p>
				<p class="bt1-body-text">‘Sir!’</p>
				<p class="bt1-body-text">He turned his horse and rode back to his command, which was quickly and efficiently re-forming after the chaos of the charge. Both of his lieutenants were there, their swords bloody testament to their having joined in the fight. Half a dozen men were missing, their bodies strewn across the ground where the squadron had fought the enemy cavalry. There was no time to wonder who had fallen and who had survived. If the Bombay Lights were to make good on what they had won, they had to move and move swiftly.</p>
				<p class="bt1-body-text-1-full-out">Knightly felt his hands shaking. He could see his sword quivering and he tried to force his muscles to stay still. He couldn’t do it. Another volley of artillery slashed across the sky. He could see the trace of the roundshot. They arced high into the clear morning air before racing downwards and rushing towards the twin red lines that marched across the sandy plain.</p>
				<p class="bt1-body-text">He had never known a fear like it. He wanted to turn, to run to the rear. Yet he was firmly tethered by the responsibility of his command. No matter how much the fear built, he could do nothing but march onwards, like some new-fangled automaton, step after step, striding towards the oblivion of his death.</p>
				<p class="bt1-body-text">His terror bubbled up. He felt it swallow his soul in its remorseless black grip. He wanted to cry, to release the emotion, but he could do nothing but walk forward, the pace of the advance relentless. More roundshot smashed down behind the foremost line. The ground erupted in an enormous fountain of broken earth and shattered rock before the shot leapt back into the sky, screaming onward, its force barely altered by the violent contact.</p>
				<p class="bt1-body-text">Knightly watched it ricochet high over his company before it crashed uselessly into the ground behind them. He forced his body to move, focusing his mind on placing his feet down on the sandy soil, each step an effort of will.</p>
				<p class="bt1-body-text">The Persian artillery roared again, flinging more roundshot at the long red lines that refused to turn. Knightly stayed in his place and walked forward into the enemy’s fire.</p>
				<p class="bt1-body-text-1-full-out">‘Gallop!’</p>
				<p class="bt1-body-text">Jack bellowed the command. He had led his men forward, sweeping them behind the Persian ranks towards the enemy’s artillery. The sudden appearance of the British cavalry had an immediate effect on the Persian infantry. Under a dreadful barrage of artillery fire, and with their rear threatened by rampaging horsemen, the closest of them took the only option open to them.</p>
				<p class="bt1-body-text">They ran.</p>
				<p class="bt1-body-text">It was like watching a dam break. Jack was forced to speed up his squadron’s pace lest they get caught up in the fleeing troops. It was tempting to turn his men and drive them at the broken infantry, who would have been easy targets for the hard-riding horsemen, but it was not what he had been ordered to do. Forbes had seen the opportunity, and so Jack moved his two troops in a wide arc, ready to bear down on the rear of the Persian artillery, which was still exacting a dreadful toll on the advancing British infantry.</p>
				<p class="bt1-body-text">The troopers upped the pace of the advance, responding to their commander’s lead. The rattle of equipment and the clink of the metal scabbards increased as the horses pounded onwards, the men lowering their sabres to the engage as Jack led them towards the enemy guns.</p>
				<p class="bt1-body-text">The Persian artillerymen never saw them coming. They were serving their weapons with intensity, thinking of nothing but loading their pieces as fast as they could, preparing the heavy guns to send yet another volley searing across the plain and into the red tide that flowed so steadily towards them. The thick cloud of powder smoke that billowed around the cannon hid the arrival of the Bombay Lights until the last moment.</p>
				<p class="bt1-body-text">The British horsemen erupted from the smoke like creatures emerging from the depths of hell. Their horses were covered in gore, with still more splattered across their light blue uniforms, and their sabres were bloodied to the hilt. They charged towards the enemy gunners, who could do nothing but stare in horror as their worst nightmare unfolded around them.</p>
				<p class="bt1-body-text">Jack led his men from the front, his teeth clenched as he rode hard to the slaughter. There was none of the wild joy of the first charge. The enemy was defenceless and the Bombay Lights were merciless as they charged for the second time that day.</p>
				<p class="bt1-body-text">Their precious guns forgotten, the Persian gunners broke and ran for their lives. Yet there was nowhere for them to run to, the barren hilltop that had seemed such an advantage when they had sited their guns now turned into a killing ground. The gunners twisted and turned, trying to dodge the British horsemen. But for every rider avoided there was another sabre attacking, the cavalrymen going about their bloody task with ruthless efficiency.</p>
				<p class="bt1-body-text">A man tried to run past Jack’s saddle. It took him no more than a heartbeat to slash his bloody talwar downwards, bludgeoning the unfortunate Persian to the ground with a single blow to the head. Another man dashed past on the other side, and Jack lashed out with his foot, kicking the man hard so that he stumbled into the path of a trooper’s sabre.</p>
				<p class="bt1-body-text">Jack held fast, leaving the rest of the butchery to his men. The task sickened him. The Persian gunners stood no chance. He watched a man with the stripes of a vekil on his sleeve kneel beside his beloved cannon, weeping with the shame of the defeat. A trooper rode past and severed his head from his neck. Another gunner lay on the ground, his hands clutched to the ruin of his face, his feet thrashing the ground with the dreadful agony. A British horseman rode past with a stolen Persian lance balanced in his hand. With a whoop of delight he thrust it downwards, driving it into the wounded gunner’s chest, the shaft left pointing upwards like a gruesome standard.</p>
				<p class="bt1-body-text">A cluster of gunners huddled together back-to-back, their rammers and handspikes held out like spears in an attempt to keep the marauding cavalry at bay. As Jack watched, one of his troopers rode hard at the group, his sabre held at the full stretch of his arm and pointing towards the closest gunner. At the last moment his horse twisted away, unable to charge the vicious weapons that faced it. With a scream of victory the gunner stepped forward and rammed a spike into the rider’s side, striking him from the saddle.</p>
				<p class="bt1-body-text">The action condemned the brave artillerymen. The gunner’s attack left an opening in the pitiful huddle, and a group of Jack’s troopers tore into them in a heartbeat. Sabres flashed and the gunners were cut to the ground, their resistance finished in a brief flurry of sword strokes.</p>
				<p class="bt1-body-text">The fight was over. The gunners had been massacred, their cannon silenced. Jack peered through the smoke and saw the Poona Horse charging at the next hilltop, the second battery of Persian artillery about to be taken out of the fight.</p>
				<p class="bt1-body-text">Far out on the plain, the British line still advanced, the pace faster now that the enemy barrage had been stopped. The redcoats no longer marched to fight. They had been denied the opportunity by the valour of the cavalry and the ruthless precision of their own artillery. The Persian army was broken, the huge blocks of infantry running for their lives. Only the right flank of the enemy horde remained at least partially intact. Three battalions had escaped the British barrage, and now they were trying to withdraw in good order whilst the rest of their army ran in a mob, all cohesion gone, their ranks shattered, their morale ripped to shreds. Three battalions, all that remained of an army. A few hundred left out of thousands.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../qzj5e1.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Praise</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Map – 19th Century Persia</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-18">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-19">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-20">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-21">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-22">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-23">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-24">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-25">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-26">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-27">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-28">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-29">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-30">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-31">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-32">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-33">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-34">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-35">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-36">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-37">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-38">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-39">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-40">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-41">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-42">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-43">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-44">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-45">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-46">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-47">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-48">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-49">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-50">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-51">Epilogue</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-52">Historical Note</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-53">Acknowledgments</a>
    </li>
    <li>
      <a href="part0056.html#toc_marker-54">Read Jack Lark: Rogue, out now</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0042.html" class="calibreAPrev">previous page</a>
    

    <a href="../../qzj5e1.html" class="calibreAHome"> start</a>

    
      <a href="part0044.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
