<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200242_EPUB-48.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../_ypqte.html">The Scarlet Thief (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0047.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0049.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200242_EPUB-48.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-48" class="awh1-artwork-head"><img class="image36" src="../images/00047.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">Jack traipsed his way towards the fold in the ground where he had hoped to hide the Light Company when Peacock’s terrible error caused the fusiliers to break. His abused body laboured to keep moving and it took all of his dwindling willpower to force it to struggle onwards.</p>
				<p class="bt1-body-text">The ground was strewn with the detritus of battle. His feet stumbled against discarded equipment. The bodies of the dead were everywhere. Jack had to force himself to ignore the mangled flesh, each twisted body a tragedy in its own right. The accumulation of death on such an unimaginable scale enough to soil a soul for all eternity.</p>
				<p class="bt1-body-text">The wounded pleaded for his aid. Voices wracked with pain begged for help, for water, for their mothers, or simply for a bullet to end their suffering. Jack walked carefully past their ruined bodies, careful not to jar his heavy boots against their tortured flesh, deaf to the pitiful pleas that accosted him, his stony expression betraying none of the sorrow that the sight of such suffering caused him.</p>
				<p class="bt1-body-text">As he walked, he thought of his men, the ones still living and the ones who had fallen. He thought of Colonel Morris, of Lieutenant Flowers and of Digby-Brown.</p>
				<p class="bt1-body-text">Finally, he came to the place where the Russian shell had lifted him off his feet. His memory was hazy yet still vivid enough for him to recognise the terrain. He saw the scorch marks on the churned earth where the shell had exploded. He fancied he could even discern the crushed grass that revealed where he had curled on the ground, when the horror had overwhelmed his mind and temporarily displaced his sanity.</p>
				<p class="bt1-body-text">With a heavy tread, Jack turned to plod wearily up the shallow incline of the slope, retracing the path along which he had run in such terror. Around him, the sounds of battle still raged yet to his exhausted senses the cacophony of battle sounded muted, as if it was taking place in the far distance instead of only a few hundred yards away. His senses were dulled to such an extent that he felt almost at peace. His battered mind found nothing remarkable in the occasional Russian artillery shells that exploded nearby or attached any consequence to the roundshot that punched through the air within yards of where he walked.</p>
				<p class="bt1-body-text">The sight of the torso he was looking for made Jack straighten his shoulders. His weariness fell away. He had no difficulty recognising the familiar figure of his orderly.</p>
				<p class="bt1-body-text">He looked down on what remained of Tommy Smith’s face. His stomach churned yet he managed to keep the wave of nausea under control. Tommy Smith was dead, his sightless eyes stared up at the clear blue sky. It was what Jack had trudged all this way to discover; the idea that his orderly might still be alive with such a terrible wound was more than Jack could bear.</p>
				<p class="bt1-body-text">‘He’s a dead ’un.’</p>
				<p class="bt1-body-text">Jack was not surprised to hear that voice again. Part of him had known that coming to find Tommy Smith would result in having to face Slater one last time.</p>
				<p class="bt1-body-text">‘And I reckon you should join him, don’t you?’</p>
				<p class="bt1-body-text">Jack stayed still, his gaze fixed on Smith’s staring blue eyes.</p>
				<p class="bt1-body-text">‘You were a fool not to drill me when you had the chance. But then you always was a soft little turd.’ Slater paused to spit out of wad of phlegm. ‘I reckon you even started to believe you actually was an officer.’</p>
				<p class="bt1-body-text">From deep inside Jack summoned the energy to turn round and face Slater. The former colour sergeant was standing a few paces away. The revolver he was aiming at Jack looked like a child’s toy in his meaty hand.</p>
				<p class="bt1-body-text">‘You’re a fool, Lark. You were born a fool and you’ll damn well die a fool.’</p>
				<p class="bt1-body-text">The unfamiliar revolver was clumsy in Slater’s hands as he cocked the weapon and curled his finger round the trigger.</p>
				<p class="bt1-body-text">Jack recognised the gun as his own. The barrel pointed straight at his heart. He looked up and stared into the pit of hatred in Slater’s merciless eyes and saw death.</p>
				<p class="bt1-body-text">Jack threw his body forward, diving on to the ground. He moved like an old man, his abused body as supple as a brick. He was slow, so very slow.</p>
				<p class="bt1-body-text">The cough of the revolver blasted into Jack’s ears a fraction of a second after the bullet punched into his body. The impact of the single bullet twisted his diving body, throwing him backwards so that he landed awkwardly on his side. Pain surged through him, an agony so fierce that his vision faded. He heard the revolver firing again and again as Slater wildly emptied all five chambers. Jack’s body tensed, waiting for a second explosion of agony. The air around him was punched with violent force as the bullets flew past but Slater’s wild firing and lack of familiarity with the gun had sent the bullets wide.</p>
				<p class="bt1-body-text">Slater stood with the smoking revolver cradled in his hands, staring at Jack’s twitching body. The fresh blood on the grass confirmed that his aim had been true. His enemy’s desperate dive had not saved him from the fate he so richly deserved. Jack’s body gave a final jerk and then lay still.</p>
				<p class="bt1-body-text">It was over.</p>
				<p class="bt1-body-text">Slater savoured the sweet taste of revenge.</p>
				<p class="bt1-body-text">Jack felt the cold fingers of death slide over his heart. He sensed the nothingness of oblivion pulling at him, an awful void from which there was no return. Something deep inside him flickered, a final spark of life that rebelled against his fate. Jack Lark would not go so meekly to his death.</p>
				<p class="bt1-body-text">He opened his eyes. He saw Slater standing over his prostrate body, gloating. The sight filled Jack with rage, a righteous fury that fuelled his injured body.</p>
				<p class="bt1-body-text">He snapped his legs straight, driving the heels of his boots against Slater’s knees. The sickening crunch of bones breaking was clearly audible.</p>
				<p class="bt1-body-text">Slater crumbled over his shattered kneecaps, the suddenness of Jack’s violent attack taking him completely unaware. He hit the ground hard, his two hands reaching down to his mutilated knees, his screams drowning out the sounds of battle that still rippled and crackled through the air.</p>
				<p class="bt1-body-text">Jack stumbled to his feet, moving away from Slater, his left hand pressed over the wound on the right side of his body. His blood pulsed through his tightly clenched fingers.</p>
				<p class="bt1-body-text">He saw Slater twist on the ground, heard his sobs as the huge man scrabbled towards Smith’s rifle which lay discarded on the ground.</p>
				<p class="bt1-body-text">Jack reached the rifle just before Slater’s meaty paws wrapped round the stock. He snatched it away and ruthlessly crushed the grasping fingers under his boot. Slater bellowed. He reached for Jack’s ankle, fighting on.</p>
				<p class="bt1-body-text">Jack felt the thick fingers claw at this flesh. Without hesitation he brought the rifle round until the long barrel pressed hard against Slater’s temple. For a fleeting instant he thought of Molly. He smiled as he pictured her blowing away the errant curls of hair from her face, the knowing smile on her face as she saw him watching her. The memory fled, leaving just the twisted face of the man who had killed her.</p>
				<p class="bt1-body-text">Jack was certain he saw the flare of fear deep in Slater’s eyes, the realisation that he was about to die triggering a spasm of horror.</p>
				<p class="bt1-body-text">Jack felt nothing as he pulled the trigger. The bullet punched through Slater’s skull, killing him instantly in a grotesque shower of blood, brain and bone.</p>
				<p class="bt1-body-text">As Jack looked down at Slater’s body, a violent storm of emotion shuddered through his pain-wracked body. It scoured his soul and released the passions that he had kept contained for so long.</p>
				<p class="bt1-body-text">He screamed at the heavens, a single incoherent shriek of bitter grief.</p>
				<p class="bt1-body-text">In the sudden silence that followed, Jack’s head sagged forward, all emotion spent, his soul an empty husk.</p>
				<p class="bt1-body-text">He staggered back to Smith’s corpse. He ignored the wounds to his own body, was hardly aware of the flow of blood that pulsed out of his side with every beat of his racing heart. He did not care about the future, the past did not concern him.</p>
				<p class="bt1-body-text">His charade was over.</p>
				<p class="bt1-body-text">With the final vestiges of his strength, Jack bent low and started to strip the uniform from Tommy Smith’s corpse. He sobbed as he dragged off the heavy red coat that was stiff with dried blood. His fingers felt the cheap cloth of Smith’s jacket; the heavy weave was so different from the beautiful scarlet fabric that he had stolen.</p>
				<p class="bt1-body-text">He had lived up to his desire to better himself, he had proved that he could lead men in the tumult of battle. He had not let Molly down.</p>
				<p class="bt1-body-text">It was time for Captain Sloames to die.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../_ypqte.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Acknowledgements</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Chapter One</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter Two</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Tenty-eight</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Forty</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Epilogue</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Historical Note</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Read on for a Preview of The True Soldier</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0047.html" class="calibreAPrev">previous page</a>
    

    <a href="../../_ypqte.html" class="calibreAHome"> start</a>

    
      <a href="part0049.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
