<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200242_EPUB-47.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../_ypqte.html">The Scarlet Thief (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0046.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0048.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200242_EPUB-47.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-47" class="awh1-artwork-head"><img class="image35" src="../images/00046.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">On the far right of the attacking line, Digby-Brown was desperately trying to stay alive. His left arm bled from where a bayonet had pierced the flesh to the bone and the limb hung uselessly at his side as he fought against the horde of men pressing in on the flank. Many of the redcoats that had stood nearest to him lay dead or dying. The entire right flank was collapsing around him.</p>
				<p class="bt1-body-text"> Digby-Brown slashed his sword to his left, beating back bayonet after bayonet. He was forced to step backwards, giving yet more ground, compressing the attacking line still further. He had no concept of what was happening elsewhere. He could not risk turning round to see if the other flank was also moving backwards.</p>
				<p class="bt1-body-text">He slashed the pitted and notched edge of his sword forward, enjoying a brief surge of joy as he sliced into the neck of a Russian. It was short-lived. He recovered his blade only just in time to beat aside a bayonet that had threatened to slide into his unprotected ribcage.</p>
				<p class="bt1-body-text">He took another step back as more bayonets came at him, stabbing at the spot he had just vacated. His quick feet saved him for a moment longer, the sharp points ripping his clothes but stopping short of reaching his flesh. So far he had remained silent but finally a howl of frustration and building terror escaped through his gritted teeth as he swatted aside yet another bayonet and then another. His desire to live was so very strong. He did not want to die. Not here. Not now.</p>
				<p class="bt1-body-text">He fought on, beating aside the enemy’s bayonets with a desperate strength, his duty tying him to his position as firmly as any physical tether. The nothingness of death terrified him. The tears coursed down his cheeks as he fought. Digby-Brown faced his death but he refused to accept its approach.</p>
				<p class="bt1-body-text">A Russian officer was screaming orders behind the closest conscripts, his frantic gestures summoning more men from the body of the column, bringing even more numbers to bear on the creaking flank. Digby-Brown was forced to give ground again, his faltering defence barely keeping the countless thrusting bayonets at bay.</p>
				<p class="bt1-body-text">The heel of his right boot caught on the body of a fusilier. It was a corpse from the Light Division’s first assault on the great redoubt. It still lay where it had fallen, a great hole torn in the dead man’s stomach, eviscerated by a Russian shell.</p>
				<p class="bt1-body-text">Digby-Brown was thrown off balance and he fell on to his back across the dead fusilier, his shoulders and back lying on blood-soaked ground and spilt intestines.</p>
				<p class="bt1-body-text">The bayonets were reaching for him before he even hit the ground. The blades met no resistance as the first two slipped into Digby-Brown’s flesh. There was no pain as the bayonets pierced his body, no searing agony as the Russians leant down on their blades, driving them into his torso so that the tips emerged through his back.</p>
				<p class="bt1-body-text">But his terror bubbled through, the horror of knowing he was to about to die forcing a scream from his lips.</p>
				<p class="bt1-body-text">He still held his sword and he thrust the blade upwards into the ribs of one of his assailants. The Russian let go of his rifle and grabbed Digby-Brown’s sword with both hands, tearing the blade from his weakening grip.</p>
				<p class="bt1-body-text">It was Digby-Brown’s last act of defiance.</p>
				<p class="bt1-body-text">Another bayonet stabbed into his thigh, immediately followed by many more, the sharp blades rammed home with enthusiasm. The pain came now, a terrible wave of agony that flared and built until mercifully he lost consciousness. Digby-Brown died, unaware of the last terrible ravages wrought on his body. The Russian conscripts vented their fear in a frenzy of stabbing and hacking, the young officer’s body torn to bloody shreds in their rage.</p>
				<p class="bt1-body-text-1-full-out">Jack fought with wild abandon. He had no idea what was happening around him. He saw nothing but the next blow, sought nothing but more victims for his blade, its edge now blunted by countless blows that had landed against muskets or bayonets that blocked it from finding its way into Russian flesh.</p>
				<p class="bt1-body-text">The men at his side fought with ruthless efficiency and a merciless professionalism that had the Russian conscripts backing away rather than face them. Jack and his men walked on the bodies of their victims, occasionally ramming their weapons down into the ruined flesh beneath their boots, quenching any last resistance from the men they had struck down. They were surrounded by the dead and the dying, the stench of blood and opened bowels thick in their throats. The very depths of hell were exposed on the Russian plain.</p>
				<p class="bt1-body-text">Their arms were leaden, their muscles protested at every movement, yet they fought on, their rage sustaining their bodies far beyond the point of exhaustion. Jack sobbed as he fought, the pain in his battered body an unrelenting agony. Fusilier Dodds still fought at his side, uttering an unceasing stream of obscenities as he killed the men who stood against him, his curses the last sound they would ever hear.</p>
				<p class="bt1-body-text">Less than half the redcoats who had formed the makeshift line still lived. The Scots Fusilier captain who had brought them together was dead, his body surrounded by the corpses of the men he had slain. The two lieutenants who carried the colours still lived, protected by the colour sergeants who ferociously beat off any Russian who sought fame and fortune by capturing their enemy’s pride.</p>
				<p class="bt1-body-text">The surviving redcoats were being pressed ever closer together. The flanks had long since folded and the British were reduced to a desperate huddle, surrounded and alone. The pressure on the small knot of men was unceasing; wave after wave of Russian soldiers rushed forward, urged on by their officers or dragged into the fight by a sergeant.</p>
				<p class="bt1-body-text">Jack blocked another bayonet that was thrust at his stomach, punching the hilt of his sword into the attacking Russian’s face, bludgeoning the conscript to the ground. A Russian sergeant immediately moved to take the man’s place. He thrust his bayonet forward with rapid professional jabs that took all of Jack’s wavering strength to counter and left him no opening to counterattack. Jack blocked and blocked, each blow jarring his agonised muscles. The Russian sergeant sensed his superiority and pressed forward relentlessly.</p>
				<p class="bt1-body-text">Then everything changed.</p>
				<p class="bt1-body-text">The deafening bark of a battalion volley crashed out to the right of the Russian column. Jack heard crisp British voices immediately issuing orders to reload, their clipped tones more suited to the parade square than this sordid butcher’s yard of a battle.</p>
				<p class="bt1-body-text">Russian soldiers on the right of the column fell to the ground, scythed down like stalks of wheat cut by a threshing machine. The dense Russian formation shuddered, and then emitted a dreadful groan, like an enormous wild animal fatally wounded by a hunter’s well-aimed shot. The shudder became a spasm as the Russian conscripts were thrown into confusion. A second British volley shattered any vestiges of cohesion as the shocked conscripts clawed at each other in their sudden haste to escape.</p>
				<p class="bt1-body-text">The pressure on the small knot of redcoats eased instantly.</p>
				<p class="bt1-body-text">The Russian sergeant facing Jack rammed his bayonet forward with one last, half-hearted thrust that Jack easily knocked aside. The two men stared at each other, each astonished at the sudden change in circumstances. Neither moved to attack. For a moment, there was an unexpected bond between them, a fleeting notion of comradeship. The Russian looked at Jack then shrugged his shoulders, turned and made his escape.</p>
				<p class="bt1-body-text">The exhausted redcoats looked at each other in confusion, unable to comprehend the sudden change in fortune. Out of the smoke of their volley they saw the tightly formed ranks of the Coldstream Guards. Triumphant, their ordered formation belonged to a different world, a place the battered and bloody redcoats had forgotten. With a series of crisp commands, the Coldstreams reloaded their rifles and sent another volley into the fleeing Russian column, mercilessly driving home their attack.</p>
				<p class="bt1-body-text">A ragged cheer emerged from the parched throats of the handful of redcoats who had fought an entire Russian column to a standstill and who now stood in disbelief as the enemy that had come so close to destroying them fled in chaos and disorder.</p>
				<p class="bt1-body-text">With gritty eyes Jack watched the Coldstream Guards advance up the slope towards the great redoubt. He had never known such exhaustion. His body trembled, every muscle ached. He sank to his knees, his bloodied sword still held fast in his hand, his fingers unable to release their grip after holding the sharkskin-covered handle for so long.</p>
				<p class="bt1-body-text">Not many of his men were left. Dodds stood faithfully at his side, silently picking at the blood that was crusted under his fingernails, his eyes dull and devoid of life. Sergeant Baker stared into the distance, his face covered in blood from a vicious wound on his scalp, his uniform hanging in ribbons from where countless Russian blades had scored through the thick fabric. Young Fusilier Flanagan was alive. The stray from 4th Company was bent at the waist, vomiting a thin trickle of green bile on to his boots, his shako still firmly planted on his head. Dawson, Taylor and six other fusiliers from the Light Company sat silently, the whites of their eyes bright against their filthy faces. A handful of survivors. All that remained of Jack’s company.</p>
				<p class="bt1-body-text">The battle continued as the Coldstream Guards assaulted the great redoubt. The Highland Brigade started its attack, the fresh troops advancing on the Russian right. Against all odds Raglan could savour a victory when he so easily might have had to suck on the sourness of defeat. But for the exhausted remnants of the Light Company, the battle was over. They had done their duty. Their stubbornness and defiance had held the Russians long enough for fresh troops to be brought up. Their efforts had not been in vain.</p>
				<p class="bt1-body-text">With a groan Jack used the point of his sword to lever himself to his feet. ‘Sergeant Baker.’ Jack’s voice cracked, his parched throat making speech difficult.</p>
				<p class="bt1-body-text">Despite his wounds, Baker clicked his boots together and stood to attention. ‘Sir.’</p>
				<p class="bt1-body-text">‘Look after the men. All of them.’ Jack waved a weary arm around him, encompassing the dead as well as the living.</p>
				<p class="bt1-body-text">‘Yes, sir.’</p>
				<p class="bt1-body-text">‘Stay here. Don’t let anyone drag you back into the fight. You’ve done enough. More than enough.’</p>
				<p class="bt1-body-text">Jack said nothing else as he left his company for the last time. Ignoring his tortured body, he abandoned his men to Sergeant Baker’s care and set off back across the slope. He had one last duty to perform.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../_ypqte.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Acknowledgements</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Chapter One</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter Two</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Tenty-eight</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Forty</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Epilogue</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Historical Note</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Read on for a Preview of The True Soldier</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0046.html" class="calibreAPrev">previous page</a>
    

    <a href="../../_ypqte.html" class="calibreAHome"> start</a>

    
      <a href="part0048.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
