<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472222701_EPUB-41.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../qzj5e1.html">The Devil's Assassin (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0040.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0042.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472222701_EPUB-41.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-39" class="toch-table-of-contents-main-head"><img class="image29" src="../images/00039.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="tsn-typesetter-designer-note">The thin morning light crept across the British ranks. The redcoats looked at one another and shared grim, thin-lipped smiles at their deliverance. The night had passed with infinite cruelty, the men forced to stand staring out into the darkness for hours, waiting for a sudden attack or the dreadful explosion of a well-directed enemy roundshot. Their nerves had been stretched thin.</p>
				<p class="bt1-body-text">Thanks to the efforts of the rearguard, the enemy had been unable to reach the main ranks of the column whilst they were still dangerously exposed in a marching formation. The cavalry and the 4th Rifles had remained steady, no matter what the enemy threw at them, and they had bought enough time for the unwieldy battalions to form the defensive formation that had seen them safe through the night.</p>
				<p class="bt1-body-text">Thus far, they had been fortunate. The Persian gunners could have caused much destruction, the tightly packed formation the perfect target for artillery. The redcoats had been saved by the darkness, the black of night denying the enemy the chance to see what they were firing at. Barely a handful of rounds had hit the expeditionary force, but as the early-morning light pushed back the gloom, the four guns deployed against the British were finally able to see the huge target ahead of them.</p>
				<p class="bt1-body-text">Lieutenant Knightly stood in his allotted station behind the line of redcoats, doing his best to look calm and unconcerned now that his men could see his face once more. His captain was on the right flank of the company, with the senior lieutenant on the left, leaving Knightly alone with his covering sergeant to prowl behind the line. His main task was to keep the ranks tight, making sure that the files closed together if the company took casualties. The need to keep the line steady and unbroken was paramount.</p>
				<p class="bt1-body-text">He had drawn his sword when the men had been ordered to fix bayonets. It had been a long time ago and he now felt rather foolish walking around with the naked steel in his hand. He had yet to even catch a glimpse of the Persian attackers. Even as the sun crept reluctantly into the sky it was hard to see anything beyond the ranks of tall redcoats to his front. He was beginning to believe he would go through the whole battle without once casting his eyes over the enemy.</p>
				<p class="bt1-body-text">The Persian cannon fired again. Knightly looked up and saw the roundshot searing through the grey morning sky. He watched transfixed as they raced towards the British ranks, smashing into the ground to the side of the 64th with appalling violence, gouging thick crevices in the soil before bouncing back into the air and careering forward. He shivered as he realised the morning light would let the enemy gunners aim with greater precision.</p>
				<p class="bt1-body-text">He looked up and saw Lieutenant Greentree leave his allotted station on the left of the line. The senior lieutenant flashed Knightly a friendly smile as he made his way over to talk to Captain Mackler, the company commander. For a moment Knightly considered joining the two officers, but the long night had worn him out and he couldn’t find the energy to move. Instead, he finally decided to sheathe his sword, hoping he wouldn’t be bawled out for doing so before the battalion had been ordered to unfix their bayonets.</p>
				<p class="bt1-body-text">He barely registered the boom as the Persian guns fired again. His eyes felt as if they had been filled with grit, and now that he had both hands free, he balled them into fists and rubbed them, savouring the sensation of scrubbing them clear.</p>
				<p class="bt1-body-text">He opened his eyes just in time to see the roundshot as it hurtled down, moving at a terrific rate before smashing into the right-hand file of his stationary company. The red-hot shot ripped into the tight files, sending a grotesque shower of blood and bone into the air and knocking men down like skittles before it sped away, its dreadful momentum barely altered by the vicious contact.</p>
				<p class="bt1-body-text">Knightly felt the gorge rise in his throat as he saw the tumbled heap of men writhing on the ground. He ran forward, his body lurching into motion by itself, and reached the gory spectacle as the first victims were being dragged backwards, their shattered bodies belching so much blood that it had stained the pale sandy soil black.</p>
				<p class="bt1-body-text">Captain Mackler, Lieutenant Greentree and four other redcoats had been hit, the single roundshot working a dreadful destruction on the company. Six men snatched from the fight in no more than a single heartbeat.</p>
				<p class="bt1-body-text">Knightly shook his head to clear the gruesome sight from his eyes. He turned away from the horror and met the uncompromising stare of the company’s colour sergeant, who had arrived to sort out the bloody mess.</p>
				<p class="bt1-body-text">‘Mr Knightly. You’re in charge now, sir.’</p>
				<p class="bt1-body-text">The words cut Knightly’s soul like a knife. It had taken one roundshot to thrust him into command of a company of redcoats, just fewer than one hundred souls now his responsibility and his alone.</p>
				<p class="bt1-body-text">‘Form line.’</p>
				<p class="bt1-body-text">The regimental sergeant major bellowed the order. Knightly forced away the tears that had sprung unbidden to his eyes. There was no time for self-pity. He stood back and watched as the battalion musicians came forward and removed the casualties from the line of march. All the victims of the enemy roundshot were alive, despite appalling wounds to their flesh. Greentree had lost a foot, and Knightly had to tear his eyes from the gory stump that pulsed blood with every beat of the lieutenant’s heart.</p>
				<p class="bt1-body-text">‘Come along now, sir.’ The colour sergeant reached forward and placed a surprisingly gentle hand on Knightly’s shoulder, steering him away from the carnage. Behind them the battalion drummers were already beating out the pace of the manoeuvre. The first light of day signalled an end to the long, nerve-shredding night. It was time to re-form, to bring the redcoats out of the defensive square and into an attacking formation so they could take the fight to the enemy.</p>
				<p class="bt1-body-text">Knightly trotted forward, obedient to his sergeant’s instruction.</p>
				<p class="bt1-body-text">‘On the right, if you please, sir.’</p>
				<p class="bt1-body-text">He blushed and altered his route. He had been heading to his regular station behind the line, but now that he was in charge, he would have to take Captain Mackler’s place on the right. The position of command was now his.</p>
				<p class="bt1-body-text-1-full-out">‘Form line!’</p>
				<p class="bt1-body-text">The redcoats responded to the order with a will. They shook away the effects of having been under fire for so long, their heads lifting now that they could finally see their surroundings. As they manoeuvred, the enemy artillery fire finally stopped. It was time for both sides to re-form, the two armies bracing themselves for the real battle that had yet to begin.</p>
				<p class="bt1-body-text">With staff officers racing around the manoeuvring troops, the redcoats and their native infantry formed into two long lines facing back the way they had come. In the front rank, the 4th Bombay Rifles took the left flank, with the 2nd European Light Infantry, the 26th Native Infantry and the 78th Highlanders stretching away to their right. Behind them, in the second line, the Belooch battalion marched on the left, with the 20th Native Infantry on their right and the 64th on the far flank.</p>
				<p class="bt1-body-text">The early-morning air resounded to the call of the bugles and the rhythm of the drum, as the British expeditionary force came to life. Officers galloped between the battalions, ferrying orders from the senior officers and collecting reports from the battalion commanders. The beautiful regimental colours were unfurled and the gaudy silk squares billowed in the stiff breeze that flowed across the plain.</p>
				<p class="bt1-body-text">‘Battalion. Battalion, load!’</p>
				<p class="bt1-body-text">The huge voice of the 64th’s regimental sergeant major bellowed out. To his command, the battalion began the process of loading their Enfield rifles. The weapons were new, the battalion only having been issued with them in the weeks before their hurried departure to join the campaign. The native infantry battalions were still armed with smoothbore percussion-capped muskets, weapons that were little changed since the days of Wellington and Waterloo.</p>
				<p class="bt1-body-text">There had been rumours circulating through the division that the native soldiers had concerns about accepting the new weapons. The Enfield rifles came with a cartridge that was greased to allow it to glide over the rifling in the gun’s barrel, the twisted grooves that spun the bullet and made it so much more accurate than the outdated smoothbore muskets. It was said that the cartridges were waxed in pig fat, something that was totally abhorrent to both the high-caste Hindus and the Muslims who made up the bulk of the native infantry’s ranks. Yet the concerns had been pushed to one side in the rush to embark on the campaign, and for now the native infantry would fight with their trusted, if less effective, muskets. The dispute over the cartridges would have to wait.</p>
				<p class="bt1-body-text">‘Battalion, prepare to advance.’</p>
				<p class="bt1-body-text">The words dispelled any last doubts. It was the final command they would be given before the order to attack.</p>
				<p class="bt1-body-text">The battalion fell silent and the men stood with their weapons ready for the fight. It was the time to wrestle with the fear that was stirring in their guts, the presence of death haunting many. This was this moment for silent prayer, for the men to seek forgiveness or to beg for protection in the battle that was now inevitable.</p>
				<p class="bt1-body-text">All along the line the redcoats fidgeted with their equipment, going through the superstitious rituals that they believed would keep them safe in the fight. Each man was surrounded by thousands of fellow soldiers, yet each was alone.</p>
				<p class="bt1-body-text">The sudden strident call of the bugle cut through every man’s thoughts. The drummer boys rattled their sticks against the taut skins of their instruments, summoning the men to action.</p>
				<p class="bt1-body-text">‘Battalion, battalion will advance. Advance!’</p>
				<p class="bt1-body-text">As one, the long lines strode forward. The men forced away their fears. The brilliantly hued silks of the battalion colours stirred in the freshening breeze so that the huge squares spread to their fullest extent, the pride of the regiments on display. To the beat of the drums, the redcoats marched to take the fight to the enemy.</p>
				<p class="bt1-body-text">They advanced as only the British advanced, the ranks stoic and steady. There was no pomp, no cheers or wild yells. The line walked forward in silence, the grave, stony faces of the redcoats betraying none of the emotion that seared through their veins. No matter how heavy the fire, no matter how many men were struck from the ranks, they would march on, ignoring their fallen comrades, the line moving forward with resolute purpose, unrelenting and unstoppable.</p>
				<p class="bt1-body-text">The enemy had belatedly chosen to give battle. The British redcoats would not shirk from the fight.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../qzj5e1.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Praise</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Map – 19th Century Persia</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-18">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-19">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-20">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-21">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-22">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-23">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-24">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-25">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-26">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-27">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-28">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-29">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-30">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-31">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-32">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-33">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-34">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-35">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-36">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-37">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-38">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-39">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-40">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-41">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-42">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-43">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-44">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-45">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-46">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-47">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-48">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-49">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-50">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-51">Epilogue</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-52">Historical Note</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-53">Acknowledgments</a>
    </li>
    <li>
      <a href="part0056.html#toc_marker-54">Read Jack Lark: Rogue, out now</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0040.html" class="calibreAPrev">previous page</a>
    

    <a href="../../qzj5e1.html" class="calibreAHome"> start</a>

    
      <a href="part0042.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
