<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Conspiracy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../om9ywt.html">Conspiracy (Giordano Bruno)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    S. J. Parris

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0004.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0006.html" class="calibreANext"> next page</a>
        
      </div>
    

    
<h2 class="chapter-number"><a href="part0003.html#prologue" class="calibre4">PROLOGUE</a></h2>
<p class="flush-left-space-after"><em class="calibre6">Paris, November, 1585.</em></p>
<p class="flush-left-opener">‘Forgive me, Father, for I have sinned. It has been nine years since my last confession.’</p>
<p class="indented">From beyond the latticework screen came a sharp inhalation through teeth, barely audible. For a long time, it seemed as if he would not speak. You could almost hear the echo bouncing through his skull: nine <em class="calibre6">years</em>?</p>
<p class="indented">‘And what has happened to keep you so far from God’s grace, my son?’</p>
<p class="indented">That slight nasal quality to his voice; it coloured everything he said with an unfortunate sneer, even on the rare occasions where none was intended.</p>
<p class="indented">‘Ah, Father – where to begin? I was caught reading forbidden books in the privy by my prior, I abandoned the Dominican order without permission to avoid the Inquisition, for which offence I was excommunicated by the last Pope; I have written and published books questioning the authority of the Holy Scriptures and the Church Fathers, I have publicly attacked Aristotle and defended the cosmology of Copernicus, I have been accused of heresy and necromancy—’ a swift pause to draw breath – ‘I have frequently sworn oaths and taken the Lord’s name in vain, I have envied my friends, lain with women, and brought about the death of more than one person – though, in my defence, those cases were complicated.’</p>
<p class="indented">‘Anything else?’ Openly sarcastic now.</p>
<p class="indented">‘Oh – yes. I have also borne false witness. Too many times to count.’ <em class="calibre6">Including this confession.</em></p>
<p class="indented">A prickly silence unfolded. Inside the confessional, nothing but the familiar scent of old wood and incense, and the slow dance of dust motes, disturbed only by our breathing, his and mine, visible in the November chill. A distant door slammed, the sound ringing down the vaulted stone of the nave.</p>
<p class="indented">‘Will you give me penance?’</p>
<p class="indented">He made an impatient noise. ‘Penance? You could endow a cathedral and walk to Santiago on your knees for the rest of your natural life, it would barely scratch the surface. Besides—’ the wooden bench creaked as he shifted his weight – ‘haven’t you forgotten something, my son?’</p>
<p class="indented">‘I may have left out some of the detail,’ I conceded. ‘Otherwise we’d be here till Judgement Day.’</p>
<p class="indented">‘I meant, I have not yet heard you say, “For these and all the sins of my past life, I ask pardon of God.” Because, in your heart, you are not really contrite, are you? You are, it seems to me, quite proud of this catalogue of iniquity.’</p>
<p class="indented">‘Should we add the sin of pride, then, while I am here? Save me coming back?’</p>
<p class="indented">A further silence stretched taut across the minutes. His face was pressed close to the grille; I knew he was looking straight at me.</p>
<p class="indented">‘For the love of God, Bruno,’ he hissed, eventually. ‘What are you <em class="calibre6">doing</em> here?’</p>
<p class="indented">I breathed out and leaned my head back against the wooden panels, smiling at his exasperation. At least he had not thrown me out. Not yet.</p>
<p class="indented">‘I wanted to speak to you in private.’</p>
<p class="indented">‘It is a serious offence, to mock the holy sacrament of confession. Not that it would matter to <em class="calibre6">you</em>.’</p>
<p class="indented">‘I intended no mockery, Paul. I did not think you would agree to see me any other way.’</p>
<p class="indented">‘You always intend mockery, Bruno – you cannot help it. And in this place you can call me Père Lefèvre.’ He sighed. ‘I heard you were lately returned to Paris. Does the King have you teaching him magic again?’</p>
<p class="indented">I straightened up, defensive. ‘It was not magic, whatever rumours you heard. I taught him the art of memory. But no, I have not seen him.’</p>
<p class="indented">Could he know my situation with the King? Though I could make out no more than a shadowy profile through the screen, I pictured the young priest nodding as he weighed this up, cupping his hand over his prominent chin; the darting eyes under the thatch of colourless hair, the neck too thin for the collar of his black robe, the slight hunch, as if ashamed of his height. He used to remind me of a heron. He must be at least thirty by now. When I knew him three years ago, Paul Lefèvre always seemed too uncertain of himself and his opinions to be dogmatic; he was the sort of man who naturally deferred to more forceful characters. Perhaps that was the problem. Perhaps fanaticism had lent him the courage of someone else’s convictions.</p>
<p class="indented">‘If King Henri has any wit at all – and that is a matter of some debate these days,’ he added, with a smug little chuckle, as though for the benefit of an invisible audience, ‘he will keep a safe distance from a man with your reputation in the present climate.’</p>
<p class="indented">I said nothing, though in the silence my knuckles cracked like a pistol shot and I felt him jump. He leaned in closer to the grille and lowered his voice. ‘A word of advice, Bruno. Paris has changed greatly while you’ve been away. A wise man would note how the wind is blowing. And though you have not always been wise, you are at least clever, which is the next best thing. Find a new patron, while you still can. The King may not be in a position to do you good for much longer.’</p>
<p class="indented">I shuffled along my seat until he could feel my breath on his face through the partition. ‘You speak as if you know something, Paul. I heard you had joined the Catholic League. Does your intelligence come direct from them?’</p>
<p class="indented">He recoiled as if I had struck him. ‘I know of no plots against the King, if that is your meaning. I spoke in general terms only. Anyone may read the signs. Look, Bruno.’ His tone grew mollifying again. ‘I counsel you as a friend. Put away your heresies. Be reconciled with Holy Mother Church, and you would find Paris a less hostile place. There are people of influence here who admire your intellectual gifts, if not your misuse of them.’</p>
<p class="indented">I cleared my throat, glad he could not see my expression. I could guess which people he meant. ‘Actually, that was the reason I came to see you. To beg a favour.’ I paused for a deep breath: this petition was always going to be humiliating, though a necessary evil. ‘I need this excommunication lifted.’</p>
<p class="indented">He threw his head back and laughed openly; the sound must have rattled around the high arches, leading any penitents to wonder what kind of confession was taking place here. ‘<em class="calibre6">Enfin!</em> The great free thinker Giordano Bruno finds he cannot survive without the support of Rome.’</p>
<p class="indented">‘It’s unbecoming to see a man of God gloating so openly, Paul. Can you help me or not?’</p>
<p class="indented">‘Me? I am a mere parish priest, Bruno.’ The false humility grated. ‘Only the Pope has the power to restore you to the embrace of the Church.’</p>
<p class="indented">‘I know that.’ I tried to curb my impatience. ‘But with your connections, I thought perhaps you could secure me an audience with the Papal nuncio in Paris. I hear he is a man of learning and more tolerant than many in Rome.’</p>
<p class="indented">The fabric of his robe whispered as he crossed and uncrossed his legs.</p>
<p class="indented">‘I will consider what may be done for you,’ he said, after some thought, as if this in itself were a great concession. ‘But my <em class="calibre6">connections</em> would want some reassurance that their intercession was not in vain. You would need to show public contrition for your heresies and a little more obvious piety. Come to Mass here this Sunday. I am preparing a sermon that will shake Paris to its foundations.’</p>
<p class="indented">‘Now how could I miss that?’ I stopped; forced myself to sound more tractable. ‘And if I show my face – you will speak for me?’</p>
<p class="indented">‘One step at a time, Bruno.’</p>
<p class="indented">He could not quite disguise the preening in his voice. It would have been satisfying to remind him then of the many occasions I had bested him in public debate when we were both Readers at the University of Paris, but I had too much need of his help. How he must be enjoying this small power. The boards creaked again as he stood to leave.</p>
<p class="indented">‘Where will I find you?’ he asked, his back to me.</p>
<p class="indented">I hesitated. ‘The library at the Abbey of Saint-Victor. I take refuge there most days.’</p>
<p class="indented">‘Writing another heretical book?’</p>
<p class="indented">‘That would depend on who is reading it.’</p>
<p class="indented">‘Ha. Good luck finding a printer. As I say – you will find Paris greatly changed.’ He lifted the latch; the door swung open with a soft complaint. ‘And – Bruno?’</p>
<p class="indented">‘Yes?’</p>
<p class="indented">‘I know it does not come naturally to you, but try a little humility. You may have enjoyed the King’s favour once, but that means nothing now. I wouldn’t go about proclaiming your sins with such relish, if I were you.’</p>
<p class="indented">‘Oh, I only do that in the sanctity of the confessional. <em class="calibre6">Father.</em>’</p>
<p class="indented">‘And you only do that once in nine years, apparently.’</p>
<p class="indented">His laughter grew faint as he walked away, though whether it was indulgent or scornful was hard to tell. I sat alone in the closeted shadows until the tap of his heels on the flagstones had faded completely, before stepping into the chilly hush of Saint-Séverin.</p>
<p class="indented">I did not know then that this would be the last time I spoke to Père Paul Lefèvre. Within a week of our meeting, he had been murdered.</p>


  </div>

  
  <div class="calibreToc">
    <h2><a href="../../om9ywt.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0001.html#UGI0-4662e95daa4e44f4a615af2dd0c1b875">Title Page</a>
    </li>
    <li>
      <a href="part0002.html#1T140-4662e95daa4e44f4a615af2dd0c1b875">Copyright</a>
    </li>
    <li>
      <a href="part0003.html#2RHM0-4662e95daa4e44f4a615af2dd0c1b875">Contents</a>
    </li>
    <li>
      <a href="part0004.html#3Q280-4662e95daa4e44f4a615af2dd0c1b875">Map</a>
    </li>
    <li>
      <a href="part0005.html#4OIQ0-4662e95daa4e44f4a615af2dd0c1b875">Prologue</a>
    </li>
    <li>
      <a href="part0006.html#5N3C0-4662e95daa4e44f4a615af2dd0c1b875">Part One</a>
      <ul>
        <li>
          <a href="part0007.html#6LJU0-4662e95daa4e44f4a615af2dd0c1b875">Chapter One</a>
        </li>
        <li>
          <a href="part0008.html#7K4G0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Two</a>
        </li>
        <li>
          <a href="part0009.html#8IL20-4662e95daa4e44f4a615af2dd0c1b875">Chapter Three</a>
        </li>
        <li>
          <a href="part0010.html#9H5K0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Four</a>
        </li>
        <li>
          <a href="part0011.html#AFM60-4662e95daa4e44f4a615af2dd0c1b875">Chapter Five</a>
        </li>
        <li>
          <a href="part0012.html#BE6O0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Six</a>
        </li>
        <li>
          <a href="part0013.html#CCNA0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Seven</a>
        </li>
        <li>
          <a href="part0014.html#DB7S0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Eight</a>
        </li>
        <li>
          <a href="part0015.html#E9OE0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Nine</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="part0016.html#F8900-4662e95daa4e44f4a615af2dd0c1b875">Part Two</a>
      <ul>
        <li>
          <a href="part0017.html#G6PI0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Ten</a>
        </li>
        <li>
          <a href="part0018.html#H5A40-4662e95daa4e44f4a615af2dd0c1b875">Chapter Eleven</a>
        </li>
        <li>
          <a href="part0019.html#I3QM0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twelve</a>
        </li>
        <li>
          <a href="part0020.html#J2B80-4662e95daa4e44f4a615af2dd0c1b875">Chapter Thirteen</a>
        </li>
        <li>
          <a href="part0021.html#K0RQ0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Fourteen</a>
        </li>
        <li>
          <a href="part0022.html#KVCC0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Fifteen</a>
        </li>
        <li>
          <a href="part0023.html#LTSU0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Sixteen</a>
        </li>
        <li>
          <a href="part0024.html#MSDG0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Seventeen</a>
        </li>
        <li>
          <a href="part0025.html#NQU20-4662e95daa4e44f4a615af2dd0c1b875">Chapter Eighteen</a>
        </li>
        <li>
          <a href="part0026.html#OPEK0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Nineteen</a>
        </li>
        <li>
          <a href="part0027.html#PNV60-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twenty</a>
        </li>
        <li>
          <a href="part0028.html#QMFO0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twenty-One</a>
        </li>
        <li>
          <a href="part0029.html#RL0A0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twenty-Two</a>
        </li>
        <li>
          <a href="part0030.html#SJGS0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twenty-Three</a>
        </li>
        <li>
          <a href="part0031.html#TI1E0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twenty-Four</a>
        </li>
        <li>
          <a href="part0032.html#UGI00-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twenty-Five</a>
        </li>
        <li>
          <a href="part0033.html#VF2I0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twenty-Six</a>
        </li>
        <li>
          <a href="part0034.html#10DJ40-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twenty-Seven</a>
        </li>
        <li>
          <a href="part0035.html#11C3M0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twenty-Eight</a>
        </li>
        <li>
          <a href="part0036.html#12AK80-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twenty-Nine</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="part0037.html#1394Q0-4662e95daa4e44f4a615af2dd0c1b875">Keep Reading …</a>
    </li>
    <li>
      <a href="part0042.html#181NK0-4662e95daa4e44f4a615af2dd0c1b875">About the Author</a>
    </li>
    <li>
      <a href="part0043.html#190860-4662e95daa4e44f4a615af2dd0c1b875">Also by S. J. Parris</a>
    </li>
    <li>
      <a href="part0044.html#19UOO0-4662e95daa4e44f4a615af2dd0c1b875">About the Publisher</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0004.html" class="calibreAPrev">previous page</a>
    

    <a href="../../om9ywt.html" class="calibreAHome"> start</a>

    
      <a href="part0006.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
