<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200280_EPUB-13.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../yftltn.html">The Maharajah's General (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0012.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0014.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200280_EPUB-13.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-13" class="awh1-artwork-head"><img class="image10" src="../images/00011.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">Jack was dressed and out of the chummery before he even heard Fenris begin to stir. He had no intention of repeating the previous night’s conversation. He did not regret anything he had said, but he wanted to start his first day in the cantonment without the bitter tang of acrimony in the air.</p>
				<p class="ack-acknowledgement-text">‘Good morning, sir, can I help you?’ A young corporal greeted him as he approached the 24th’s lines.</p>
				<p class="ack-acknowledgement-text">‘Good morning, Corporal, I’m looking for Colour Sergeant Hughes.’</p>
				<p class="ack-acknowledgement-text">The corporal looked anxious, despite the politely worded request. ‘I’ll go and fetch him for you, sir. If you’ll just wait there . . .’</p>
				<p class="ack-acknowledgement-text">Jack sensed he was being treated with caution. The young corporal was clearly nervous at being faced by his new company commander, and keen to hold him off until the company’s senior non-commissioned officer could be summoned to deal with him.</p>
				<p class="ack-acknowledgement-text">‘What’s your name, Corporal?’</p>
				<p class="ack-acknowledgement-text">The corporal looked twice as worried. ‘Jones, sir.’</p>
				<p class="ack-acknowledgement-text">Jack nodded and tried to smile in what he hoped was a reassuring way. ‘I can hear from your voice that you are from Wales. Which part?’</p>
				<p class="ack-acknowledgement-text">‘Brecon, sir.’ Corporal Jones had been trying to move away, but now hovered in an awkward position, half at attention. ‘I’ll get Colour Sergeant Hughes now, shall I, sir?’</p>
				<p class="ack-acknowledgement-text">Jack nodded firmly as he realised he was torturing the younger man. ‘Carry on, Corporal Jones.’</p>
				<p class="ack-acknowledgement-text">The young corporal scampered away. Jack used the time to look around the company lines. The pathways between the barracks and the rest of the cantonment were well cared for, the gravel neatly raked and the stones that marked them out recently whitewashed. It spoke well of the company’s non-commissioned officers, and he hoped that the rest of the company was as well turned out.</p>
				<p class="ack-acknowledgement-text">‘Good morning, sir. You must be Captain Danbury.’</p>
				<p class="ack-acknowledgement-text">The calm voice interrupted Jack’s quiet inspection and he turned to see a tall, barrel-chested redcoat marching towards him. The crowned Union Jack and crossed swords above the chevrons of a sergeant identified the man wearing them as Colour Sergeant Hughes. Jack instinctively felt a prickle of unease. He had been an ordinary redcoat for too long not too feel troubled coming face-to-face with the company’s senior sergeant.</p>
				<p class="ack-acknowledgement-text">‘Good morning, Colour Sergeant.’</p>
				<p class="ack-acknowledgement-text">‘I must apologise for not being here to greet you. You’re early, if you don’t mind my saying so, sir. Mr Fenris told me to expect you this morning, but he didn’t say it would be this early.’</p>
				<p class="ack-acknowledgement-text">Jack’s brow furrowed at the statement, even though it was delivered in a friendly enough tone. ‘I think this is quite late enough. We have a lot to do this morning. We will start with morning parade, then I want to watch the men at their drill. Did Lieutenant Fenris explain that they are to attend a firing practice at the range later?’</p>
				<p class="ack-acknowledgement-text">‘He did indeed, sir. Everything has been prepared and the men are ready to be inspected at your convenience.’</p>
				<p class="ack-acknowledgement-text">Jack smiled. He had the feeling he would get on well with this businesslike colour sergeant. The relationship was an important one. It was a foolish or naïve officer who did not understand that he needed the full support of his NCOs. Officers might wear the scarlet and lace, but it was the experienced sergeants and corporals who were the real leaders of the company; without them, no officer could ever hope to be an effective commander.</p>
				<p class="ack-acknowledgement-text">‘I am looking forward to seeing the men.’ Jack spoke briskly as he began to take charge. He was revelling in being back at the head of a company. He had missed it more than he had believed possible. ‘I hope they can shoot as well as they paint.’ He nodded to the whitewashed stones by his feet.</p>
				<p class="ack-acknowledgement-text">‘The boys can shoot all right, sir. We haven’t seen neither hide nor hair of the new Enfield, but I would wager we will meet your expectations with our muskets.’</p>
				<p class="ack-acknowledgement-text">‘Very good.’ Jack was intrigued. He had heard some talk of the army’s new rifle. In the Crimea, his men had used the Minié rifle. Against the Russian conscripts it had proved itself to be a dreadfully effective weapon, the heavy bullets capable of tearing through successive ranks in the dense enemy formations. The cleverly designed bullets deformed when they were fired, allowing them to grip the grooves in the rifle’s barrel as well as ensuring that little of the explosive power of the cartridge was lost. If the new Enfield was a superior weapon, then it was going to give the redcoats a huge advantage. His new command still used the percussion-cap musket. It was an old-fashioned weapon, and his men would have to excel at their drill if they were to make up for its lack of range and power.</p>
				<p class="ack-acknowledgement-text">‘I saw the effect of the Minié in the Crimea.’ Jack was enjoying being back amongst fellow redcoats. It was a relief to talk about the merits of rifles, rather than endure the polite yet trivial small talk of society. ‘It certainly proved its worth there.’</p>
				<p class="ack-acknowledgement-text">‘I am sure it’s a good weapon, sir. But the men aren’t so sure. They like their muskets. They don’t see the need for change. If it was good enough for them boys at Waterloo, then it’s good enough for us.’</p>
				<p class="ack-acknowledgement-text">‘Well,’ Jack did his best to ignore the traditional inertia of the redcoats, ‘I shall certainly enjoy seeing them shoot. For now, please order them on parade.’</p>
				<p class="ack-acknowledgement-text">Hughes stamped to attention and flashed Jack a solid salute. ‘Yes, sir.’</p>
				<p class="ack-acknowledgement-text">Jack felt a rush of emotion as he acknowledged the salute. It had been too long since he had given orders. He felt the shackles falling away. He was back where he belonged, doing a job he loved. He was home.</p>
				<p class="bt1-body-text-1-full-out">Jack heard the heavy tramp of feet on the wooden veranda outside the office. He lifted his head from the company’s books as he listened to the raised voice berating an unfortunate Corporal Jones. He recognised it at once.</p>
				<p class="ack-acknowledgement-text">He held back the flash of temper he felt flare inside. The morning had gone well. The men of his new company had impressed him, both with their turnout and with their drill. He had left them to prepare for the day ahead and burrowed his way into the books, trying to commit to memory the names and histories of the men now under his command. It had been slow going. He was not a fast reader and it had been difficult to decipher the company clerk’s tight script, but he had been enjoying himself as he started the vital process of getting to know the men. Now Lieutenant Fenris had deigned to appear, and Jack knew he would not be left in peace for much longer.</p>
				<p class="ack-acknowledgement-text">Sure enough, a flushed face appeared at the door to the company office. ‘May I ask what the deuce is going on here?’ Fenris stalked into the small room and stood in front of the desk where Jack sat carefully closing the thick ledger he had been studying.</p>
				<p class="ack-acknowledgement-text">‘Good morning, Lieutenant. Please shut the door and take a seat.’</p>
				<p class="ack-acknowledgement-text">Fenris turned and slammed the door. He did not sit, but stood at Jack’s desk, his hands held petulantly on his hips. ‘Now look here, Danbury—’</p>
				<p class="ack-acknowledgement-text">Jack did not let him continue. ‘Sit down!’ He gave the order with all the force of a man who had commanded in battle.</p>
				<p class="ack-acknowledgement-text">Fenris’ mouth snapped shut with an audible click. Jack thought he would ignore the order, but with a visible effort at controlling himself, he managed to pull up a chair and take a seat, vibrating with barely suppressed anger.</p>
				<p class="ack-acknowledgement-text">‘Captain Danbury.’ Fenris’ voice was icy. ‘Might I remind you that I have been in charge of this company for the past six months. I appreciate your wish to assume command’ – he choked on the word but managed to carry on – ‘but I must ask that you give me the respect I am due and allow me to continue to run the company until you are in a position to understand how things are done here.’</p>
				<p class="ack-acknowledgement-text">Jack was battling his temper. It would be easy to unleash the tirade he felt building inside him. But he was the senior officer. He had to think of the men first. It would harm the company if its two officers were at loggerheads. As much as he would enjoy tearing another strip off his lieutenant, he had to give the younger man a way back.</p>
				<p class="ack-acknowledgement-text">‘Lieutenant Fenris, I rather think we have got off on the wrong foot. Major Proudfoot has told me that you are to be commended for your time in command of the company. From what I have seen, he is quite correct.’</p>
				<p class="ack-acknowledgement-text">Fenris preened at the praise. ‘Then more reason to let me run things until you are settled.’</p>
				<p class="ack-acknowledgement-text">Jack swallowed hard. It was becoming clear that Fenris possessed neither the wit nor the intelligence to seize the olive branch he was offering. ‘I am quite capable of getting to work right away. I would like to think you would assist me in that.’</p>
				<p class="ack-acknowledgement-text">‘I think you are wrong. You seek to undermine me. As you showed in front of Miss Youngsummers.’</p>
				<p class="ack-acknowledgement-text">Jack understood that they had reached the heart of the problem. Fenris did not care about the command of the company. He cared about his image, about the loss of face in front of the most beautiful girl in the cantonment. ‘Your behaviour was at fault, Lieutenant. I do not apologise for what I said, but perhaps I should have let it wait until this morning.’</p>
				<p class="ack-acknowledgement-text">‘Damn right. You made me look a fool.’</p>
				<p class="ack-acknowledgement-text">‘That was not my intention.’</p>
				<p class="ack-acknowledgement-text">‘Then you should be more bloody careful what you say.’</p>
				<p class="ack-acknowledgement-text">Jack sat back in his chair. He suddenly felt weary. ‘I think we have said enough on this matter. I will consider it closed.’</p>
				<p class="ack-acknowledgement-text">Fenris scowled. ‘Very well. As you have apologised, I shall be a gentleman and look to forget the matter.’ He stood quickly, tossing his head with clear disdain. ‘I shall order Hughes to parade the men.’</p>
				<p class="ack-acknowledgement-text">‘There is no need.’ Jack opened the ledger, using the lines of names as a balm to his temper. ‘I have paraded the men already. They are getting ready for the firing range.’</p>
				<p class="ack-acknowledgement-text">Fenris glowered. ‘Did you not think to wait for me to arrive? Good God, this is too much, Danbury, too much indeed.’ His face was colouring as he began to rage. ‘I was willing to overlook your behaviour last evening, but now it appears you are determined to cut me out of the company. I shall not stand for such treatment. You may outrank me, but I think you will see differently once I have spoken to Proudfoot. I do not know who you think you are, swanking in here as if you own the place. But let me tell you, I shall not be easily brushed aside. My father—’</p>
				<p class="ack-acknowledgement-text">Jack slammed his hand on to the desk, cutting his subaltern off in mid-sentence before he rose to his feet, his face like thunder.</p>
				<p class="ack-acknowledgement-text">‘Enough!’ He roared the single word, his attempts to curb his temper failing. ‘You forget who you are talking to, <span class="bt1-body-text-1-italic">Lieutenant.</span>’ His voice was scornful as he emphasised the rank. ‘I suggest you return to your quarters and calm yourself down.’</p>
				<p class="ack-acknowledgement-text">Fenris looked stunned. ‘You are dismissing me?’</p>
				<p class="ack-acknowledgement-text">‘You leave me no choice.’ Jack sat back down heavily and turned his attention back to the company ledger, doing his best to calm the tremble in his hands.</p>
				<p class="ack-acknowledgement-text">Fenris was speechless. He managed a snort of contempt before he spun on his heel and stomped from the room.</p>
				<p class="ack-acknowledgement-text">Jack tried to concentrate on the list of names of the men under his command, but his heart was pounding and he couldn’t see anything other than a blur. He got to his feet, suddenly needing to move, and stalked to the window. A grass screen covered it, and he stood in the gentle breeze wafting through the tightly woven fibres.</p>
				<p class="ack-acknowledgement-text">‘Excuse me, sir. A visitor for you.’ Jack turned as Corporal Jones tentatively stuck his head around the door to the office. From the Welshman’s expression it was clear he had heard every word of the altercation.</p>
				<p class="ack-acknowledgement-text">Jack sighed. He was in no mood to be civil. He knew he was expected to call on all the officers and senior officials and their wives in his first days in the cantonment. He hated obeying such expectations but he had thought he would be given a few days to get settled before he would have to start receiving visitors and planning his own social engagements.</p>
				<p class="ack-acknowledgement-text">‘Very well, show him in.’</p>
				<p class="ack-acknowledgement-text">Jones blushed. ‘Um, it’s a her, sir. I rather fancy you’ll be pleased.’ The corporal retreated quickly, giving his new captain no time to reply.</p>
				<p class="ack-acknowledgement-text">Isabel Youngsummers appeared in the doorway. ‘I do hope I am not disturbing you, Captain?’</p>
				<p class="ack-acknowledgement-text">Jack felt his temper disappear in a waft of French perfume. ‘Not at all.’ He rushed around the desk, kicking against its side as his haste made him clumsy. ‘Please take a seat.’ He pulled out the chair recently vacated by Fenris.</p>
				<p class="ack-acknowledgement-text">‘No thank you. I must not stay. I have no chaperone.’</p>
				<p class="ack-acknowledgement-text">Jack coloured. ‘Of course.’</p>
				<p class="ack-acknowledgement-text">‘I simply wished to enquire whether you have any particular requests for tomorrow’s picnic.’</p>
				<p class="ack-acknowledgement-text">Jack was left standing uncomfortably close to Isabel, holding the chair awkwardly, as if using it as a shield to keep them apart. He let go and retreated to his own side of the desk.</p>
				<p class="ack-acknowledgement-text">‘No thank you. I eat anything,’ he blurted, then kicked himself. He sounded like a greedy schoolboy.</p>
				<p class="ack-acknowledgement-text">Isabel simply smiled. ‘That is easy, then. My father insists on taking enough food to feed the five thousand. Just in case, as it were.’</p>
				<p class="ack-acknowledgement-text">For the first time Jack sensed the young woman’s own awkwardness. He realised she was here on a pretence, her question of no consequence whatsoever. The idea that she had come just to see him pleased him enormously.</p>
				<p class="ack-acknowledgement-text">‘It is kind of you to think of me.’</p>
				<p class="ack-acknowledgement-text">Isabel blushed. The flush spread up from the nape of her neck and Jack had to fight the urge to stare.</p>
				<p class="ack-acknowledgement-text">‘Until tomorrow, then.’ He couldn’t think of anything to say, so he ended the conversation with regret.</p>
				<p class="ack-acknowledgement-text">Isabel said nothing as she turned and left him alone once more. But the smell of her perfume lingered, the delicate fragrance reminding Jack of her presence. Perhaps he would look forward to the next day’s exploration after all.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../yftltn.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Dedication</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Acknowledgments</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Glossary</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Two</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Ten</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-52">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-53">Chapter Forty-five</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-54">Epilogue</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-55">Historical Note</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0012.html" class="calibreAPrev">previous page</a>
    

    <a href="../../yftltn.html" class="calibreAHome"> start</a>

    
      <a href="part0014.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
