<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472222701_EPUB-17.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../qzj5e1.html">The Devil's Assassin (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0016.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0018.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472222701_EPUB-17.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-16" class="toch-table-of-contents-main-head"><img class="image14" src="../images/00015.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="tsn-typesetter-designer-note">Jack had to blink hard as he strode along the broad pavement in front of the mansion where the Drapers had rented a suite of rooms, the bright morning sunlight pricking at eyes that had become accustomed to the gloom indoors. The encounter with Sarah’s brother had left him feeling drained, and as he headed back towards Knightly’s lodging, he was looking forward to a few hours’ rest to rebuild his strength before he left Bombay once and for all.</p>
				<p class="bt1-body-text">He had gone no more than a dozen paces when he felt the unyielding metal of a gun barrel being pressed between his shoulder blades.</p>
				<p class="bt1-body-text">‘What the devil?’ His hand instinctively made for his sword handle, his first thought to draw his weapon and fight the person foolish enough to risk trying to rob an armed British officer in broad daylight.</p>
				<p class="bt1-body-text">‘Don’t go raising up a shine, chum.’ A calm voice came from behind him. The barrel of the gun was pushed forward, jabbing sharply into his flesh. ‘And leave the poker where it is.’</p>
				<p class="bt1-body-text">‘What the hell is going on?’ Jack demanded. He could feel the barrel of the handgun pressing into his spine so he let his hand fall away from his sword. He felt the first fluttering of fear. This was no common footpad. The voice had a London accent, one from Jack’s end of the city.</p>
				<p class="bt1-body-text">‘My master wants a word.’ The man who was holding the gun against Jack’s back whistled once. Within moments, a black carriage had pulled up at the kerb.</p>
				<p class="bt1-body-text">Jack looked up as the door was thrown open. He understood at once, and cursed himself for being foolish enough to waste time. He should have been on his way the moment he left the Byculla Club. Now he would pay the price for allowing his prick to make his decisions for him.</p>
				<p class="bt1-body-text">‘In you get, and don’t try any funny business. I would hate to spoil that fine uniform of yours.’ Without ceremony, the gun was pushed hard into Jack’s back, forcing him to step towards the open door. For the second time in twenty-four hours he climbed up the steps into a waiting carriage not knowing what the future had in store. This time he had a notion that he would not be so pleased with the outcome.</p>
				<p class="bt1-body-text">‘Good afternoon, Lieutenant Fenris, I am delighted you could join me.’</p>
				<p class="bt1-body-text">There was little warmth in the welcome as Jack entered the gloomy interior of the carriage with as much dignity as he could muster. Dark curtains covered the windows, and the inside was stuffy enough for him to draw a sharp breath as he tried to chew on the thick air. The man with the gun followed him inside, the barrel of his weapon never more than a few inches from Jack’s side.</p>
				<p class="bt1-body-text">‘I wish I could say I was pleased to be here.’ Jack sat down heavily as the carriage lurched into motion.</p>
				<p class="bt1-body-text">Major Ballard smiled. ‘I am not surprised. I expect you were looking forward to some rest after your day’s exertions.’</p>
				<p class="bt1-body-text">Jack bit his tongue. He had known who had arranged for him to be lifted from the street as soon as he had felt the gun at his back. Major Ballard had clearly seen through his charade. Jack’s future was suddenly bleak.</p>
				<p class="bt1-body-text">Ballard got straight down to business. ‘Have you heard of a Reverend Youngsummers?’ He asked the question mildly, as if he was merely enquiring after the weather.</p>
				<p class="bt1-body-text">Jack did his best to control the shudder that ran through him. He knew the man well. His denunciation had started.</p>
				<p class="bt1-body-text">‘I don’t recall the name,’ he answered as calmly as his racing heart would allow. ‘Should I?’</p>
				<p class="bt1-body-text">Ballard smirked. ‘You are a fine actor, but then that comes as no surprise, given your choice of employment. It really should be the basic requisite for an impostor.’ He stared at Jack, clearly at ease despite the situation. ‘I believe you may know our friend the Reverend,’ he continued as evenly as before. ‘He was stationed at Bhundapur. With you.’</p>
				<p class="bt1-body-text">‘I have never been there, sir.’ Jack offered the lie knowing it would have little effect. He was certain Ballard knew who he was. All he could do was play the game and face his fate with dignity.</p>
				<p class="bt1-body-text">‘The Reverend Youngsummers is a prolific writer.’ Ballard leant to one side and peeked around the nearest curtain as if the topic was of little concern to him. ‘He has written to the <span class="bt1-body-text-1-italic">London Gazette</span> at great length about his time at Bhundapur. It makes for turgid reading, but the story it contains is fantastical to say the least.’</p>
				<p class="bt1-body-text">‘I shall make sure I look it out.’ Jack risked a glance at the man who had forced him into the carriage. The gun-wielding enforcer was dressed in a thick tweed suit wholly unsuited to the Bombay climate. On his head was a dark green deerstalker pulled low over his face. He looked more suited to a day spent hunting in the wilds of Scotland rather than for life in the more extreme and vibrant temperature of Bombay. Jack looked down and caught sight of the Colt revolver pushed hard into his ribs. His abductor might have adopted a strange choice of attire, but Jack got the feeling that he would not hesitate to pull the trigger the moment Ballard commanded him to do so.</p>
				<p class="bt1-body-text">‘I can lend you a copy if you like.’ Ballard appeared to be enjoying himself, his tone convivial and almost jovial. ‘At its heart is an account of the battle that was recently fought at Bhundapur between our forces and those of the Maharajah of Sawadh.’ He smoothed a finger across his thin moustache. To Jack he looked like a cat cleaning its whiskers. ‘It lacks detail and does little to add much to Captain Kingsley’s report, but then I doubt the Reverend was involved in much of the fighting. What is more interesting comes after the description of the battle. Youngsummers goes to great lengths to chastise the cantonment’s political officer for his handling of a most curious affair regarding the abduction of his daughter and her time spent as a prisoner in the court of the Maharajah of Sawadh.’</p>
				<p class="bt1-body-text">‘This sounds fascinating, sir, but I really am rather busy. Could we not discuss this at a later time?’</p>
				<p class="bt1-body-text">‘Indulge me for a moment, if you would.’ Ballard smiled at Jack’s bold reply, clearly unconcerned by the continued denial. ‘Youngsummers offers us but one side of the story. Unfortunately the political officer attracting such criticism, a Major Proudfoot, died during the battle, so we do not have his account of the day.’</p>
				<p class="bt1-body-text">Jack kept his face neutral. He knew how Proudfoot had met his end.</p>
				<p class="bt1-body-text">‘But if one adds the Reverend’s account to that of Captain Kingsley, one does build up a most curious picture of events. I confess I find it all rather intriguing.’</p>
				<p class="bt1-body-text">Jack was spared from responding as the carriage bustled to a noisy halt. Ballard once again peeked past the curtain before turning back to face him. ‘We have arrived. I suggest you behave yourself, otherwise my colleague here will be called into action. I can promise you he is a most excellent shot. He will not miss.’</p>
				<p class="bt1-body-text">The carriage door was thrown open and the steps were quickly and efficiently pulled down by a black-coated servant, who then stepped back and looked down at the floor, averting his gaze.</p>
				<p class="bt1-body-text">Jack felt the barrel of the revolver press hard against his ribs. He looked into the pugnacious face of Ballard’s enforcer. The man had a broad nose that had clearly been broken a number of times. The rest of the face was fleshy and covered with fine pockmarks. The man’s eyes were hard and they looked at Jack with the calm detachment of a butcher about to joint a fresh carcass. Jack did not think he would survive if he attempted to escape.</p>
				<p class="bt1-body-text">He let himself be led out of the carriage and through a doorway a few paces from the steps. It was clearly the back door to a fine building, but he had no notion of where he was being taken. He had a fleeting premonition that he would never leave the forbidding place that loomed up around him, but with the barrel of the gun at his back, there was little he could do to resist.</p>
				<p class="bt1-body-text-1-full-out">‘Now then, to business.’ Ballard pulled himself closer to the desk. It was devoid of any sign of recent work, the ink blotter unstained.</p>
				<p class="bt1-body-text">Jack sat opposite the major like an errant schoolboy summoned to the headmaster’s study. Not that he imagined there were many headmasters who were guarded by armed men. He looked over his shoulder and saw the enforcer standing impassively by the room’s only door with the Colt revolver in his hand. Escape was out of the question.</p>
				<p class="bt1-body-text">It had not taken long to reach the sparsely furnished room. Jack had been stopped long enough to have his sword and his cudgel removed and the rest of his person searched by the unapologetic bodyguard in case he had any other weapons hidden on him. The heavy casket from Abdul’s office was taken away, a single raised eyebrow the only indication of any interest in the odd object. He had then been led at gunpoint to the nearly empty office and left to wait until Ballard had returned.</p>
				<p class="bt1-body-text">Now the major reached into a drawer and pulled out a thick sheaf of paper, which he set in front of him. He flicked through the stack quickly, as if checking everything was in order, before shuffling the pages together and fixing Jack with his piercing gaze.</p>
				<p class="bt1-body-text">‘Your name is Jack Lark. Is that correct?’</p>
				<p class="bt1-body-text">Jack felt his heart thump hard in his chest. ‘No, sir. My name is Arthur Fenris and—’</p>
				<p class="bt1-body-text">Ballard lifted a hand to stop him. ‘Do not take me as a fool. Lieutenant Arthur Fenris died at the battle at Bhundapur. Or at least he is presumed dead, as no one ever found his body. I rather fancy that you may be the only person who knows what happened to that unfortunate young officer.’</p>
				<p class="bt1-body-text">Jack said nothing, keeping his face neutral as his long masquerade surged to a conclusion around him.</p>
				<p class="bt1-body-text">‘Kingsley and Youngsummers both speak of an impostor. A man called Jack Lark. This villainous cove stands accused of having stolen the identity of one . . .’ Ballard paused as he scanned one of the pieces of paper in front of him, ‘Captain Danbury. Now, as I am sure you are aware, the punishment for impersonating an officer is hanging, yet despite the risk, Lark attempted to pass himself off as Danbury, who we know died in the Crimea. Clearly the authorities in Bhundapur saw through this sham, but not before the impostor managed to escape and inveigle himself into the court of the Maharajah, taking the unfortunate Miss Youngsummers with him. They only reappeared in the hours before the Maharajah launched his attack. After the battle, Lark somehow managed to vanish again. Now here you are, masquerading as Lieutenant Fenris, a man we must presume died at Bhundapur.’</p>
				<p class="bt1-body-text">Ballard stared at Jack as he finished speaking. The two men sat in silence, neither seemingly willing to speak.</p>
				<p class="bt1-body-text">Finally Ballard returned his gaze to the stack of papers in front of him. ‘There is a third account of the events at Bhundapur.’</p>
				<p class="bt1-body-text">He looked up to check for any sign of reaction. Jack did his best to look composed, but he was rattled. Ballard knew everything.</p>
				<p class="bt1-body-text">‘This account also talks of the battle.’ Ballard broke the spell only after a long study of Jack’s face. ‘It bears little resemblance to Kingsley’s own report of the fighting. Indeed, it claims that Captain Kingsley had scarcely anything to do with achieving the victory that he so righteously claims. Does that surprise you, Jack?’</p>
				<p class="bt1-body-text">Ballard’s thin eyebrows arched as he posed the question. Jack was becoming confused. He had expected to face an angry denunciation. Yet there was little censure in Ballard’s manner. Indeed, the intelligence officer seemed genuinely intrigued by the matter that had captured his attention.</p>
				<p class="bt1-body-text">‘This third account also goes to great lengths to talk of the miscreant impostor Lark,’ Ballard continued, his eyes once again locked on Jack’s. ‘However, now we are told that the man is a damn hero. The account reads like a Greek fable, and our friend Lark is made out to be some kind of Hercules who takes control when Captain Kingsley is incapacitated, which I suspect is a rather polite way of saying that he shirked the fight. It is only down to the heroic actions of this mysterious impostor that the cantonment is not overrun. If this third account is to be believed, Jack Lark is the one who saved us from the embarrassment of a heavy defeat. If that is true, the British government owes him a great deal indeed.’</p>
				<p class="bt1-body-text">Jack met Ballard’s scrutiny as calmly as he could. He had guessed who had written the account.</p>
				<p class="bt1-body-text">‘Isabel Youngsummers is a determined young woman, is she not, Jack?’</p>
				<p class="bt1-body-text">Jack tried to hide his reaction, but he could not help but think of Reverend Youngsummers’ daughter and smile. He owed the spirited girl a great deal. She had rescued him once already. It now appeared she was doing so for a second time.</p>
				<p class="bt1-body-text">‘It is time to put my cards on the table.’ Ballard broke the stare and shuffled his papers before opening the drawer and shoving them back into it. There was a finality to the action that caught Jack’s attention.</p>
				<p class="bt1-body-text">‘I don’t give a damn who you may or may not be.’ Ballard steepled his fingers and peered at Jack from behind them. ‘My job here is not to police the country looking for common criminals. I am no more concerned with your identity than I am with the casket of valuables you appear to have in your possession.’</p>
				<p class="bt1-body-text">Jack maintained his mask of indifference, yet his heart was pounding away like a battery of artillery being charged by a Russian column.</p>
				<p class="bt1-body-text">‘I am tasked with two things, Jack,’ Ballard continued, ‘both of equal importance. The first is to gather intelligence. To do that I maintain a network of informers, spies if you will, who pass me any information that they deem out of the ordinary, or that they think will be of interest to me. Should we go to war, this would of course mean that it would be my remit to gather intelligence about the enemy.’ The major placed his hands on the now empty desktop and fixed Jack with a keen stare. ‘However, I have a secondary role, one that vexes me a great deal and which to my mind is just as important as the first.’</p>
				<p class="bt1-body-text">Ballard paused and looked across to his formidable bodyguard, who had stood silently throughout the questioning. The major gave the briefest of nods and the armed man turned and left the room. Jack and Ballard were quite alone.</p>
				<p class="bt1-body-text">Jack watched the armed man leave. It surprised him that Ballard would choose to dismiss his bodyguard. For the first time he gave serious consideration to the idea of trying to escape. It would be a simple affair to leap on the major and batter him into submission, but from there he had no idea what he would face or where he would go. The thought of another arduous and violent escape was an unappealing prospect, so he resolved to stay where he was and hear Ballard out. Besides, he was intrigued. He had the feeling something important was about to happen.</p>
				<p class="bt1-body-text">‘My second role calls for absolute discretion at all times,’ Ballard continued, his eyes boring into Jack’s skull. ‘It is a sensitive task and one that only suits a few, very rare individuals. Individuals with a set of skills that one simply does not find very often. Men like you, Jack. You don’t mind if I call you Jack, do you?’</p>
				<p class="bt1-body-text">‘You can call me what you like.’ Jack had to fight the urge to lean forward as Ballard paused.</p>
				<p class="bt1-body-text">‘Ha!’ Ballard barked sharply at the reply. ‘Well said, that man. As it happens, I quite agree with you. It does not matter what a man is called. I believe people round here refer to me as the Devil. I have no idea why, but I have never sought to correct them. I do not care what I am called so long as people do what I tell them.’</p>
				<p class="bt1-body-text">It was not hard for Jack to see how the rest of the staff had conjured the nickname. It suited Ballard. He had an unearthly calm, a quality of disinterest, as if he were watching events from afar.</p>
				<p class="bt1-body-text">‘I have need of a man with certain unique talents.’ Ballard read Jack’s expression and smiled at his obvious desire to hear more. ‘The work of my department is not what you would call ordinary soldiering. It is a little more . . .’ he paused, contemplating the next word, ‘circumspect. You appear to have many of the talents that I require.’ He paused once again before continuing. ‘I would like to offer you employment, Jack. I want you to work for me.’</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../qzj5e1.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Praise</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Map – 19th Century Persia</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-18">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-19">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-20">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-21">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-22">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-23">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-24">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-25">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-26">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-27">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-28">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-29">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-30">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-31">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-32">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-33">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-34">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-35">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-36">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-37">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-38">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-39">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-40">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-41">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-42">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-43">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-44">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-45">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-46">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-47">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-48">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-49">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-50">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-51">Epilogue</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-52">Historical Note</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-53">Acknowledgments</a>
    </li>
    <li>
      <a href="part0056.html#toc_marker-54">Read Jack Lark: Rogue, out now</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0016.html" class="calibreAPrev">previous page</a>
    

    <a href="../../qzj5e1.html" class="calibreAHome"> start</a>

    
      <a href="part0018.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
