<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472222701_EPUB-31.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../qzj5e1.html">The Devil's Assassin (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0030.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0032.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472222701_EPUB-31.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-29" class="toch-table-of-contents-main-head"><img class="image27" src="../images/00029.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="tsn-typesetter-designer-note">‘Gentlemen, I am grateful for your time. Now, what have you got for me?’</p>
				<p class="bt1-body-text">Lieutenant General Sir James Outram fixed the two officers with a piercing stare. Major Ballard had brought Jack with him when he had been summoned by the commander-in-chief to deliver his latest assessment on the build-up of enemy forces that had been the talk of the army ever since the second division’s arrival the day before.</p>
				<p class="bt1-body-text">Ballard handed over a thick sheaf of paper, laying it almost reverentially on Outram’s campaign table. ‘Sir, this is my latest report.’</p>
				<p class="bt1-body-text">Jack stood as straight as he could as he felt Outram’s gaze wash over him. His body still hurt from the fight and he did his best to hide the inevitable wince as he tightened his battered muscles.</p>
				<p class="bt1-body-text">‘Thank you, gentlemen. I’d be grateful for a brief summary whilst you are here.’ Outram sat back in his chair and lit a fresh cigar. The tent was fuggy, the air still ripe with the smell of the general’s previous cigars, which he smoked at a prodigious rate.</p>
				<p class="bt1-body-text">‘Certainly, sir.’</p>
				<p class="bt1-body-text">Jack could see Ballard savouring the request. The commander of the intelligence department loved an audience, and he preened before beginning his briefing.</p>
				<p class="bt1-body-text">‘My sources indicate that the enemy is beginning to assemble at Borãzjoon, some forty-six miles from here. Thus far he has gathered around six to seven thousand men, including at least two thousand cavalry and around eighteen guns.’</p>
				<p class="bt1-body-text">Outram sighed. ‘So they have two thousand sabres.’ He pondered the news. ‘That is many more than I have.’ He nodded for Ballard to continue.</p>
				<p class="bt1-body-text">‘The force is under the command of Shooja-ool-Moolk and includes at least two Karragoozloo regiments of guards, four regiments of Sabriz and one of Shiraz. More men are expected to arrive in the coming weeks, and already the enemy is building up the quantity of supplies they will need for a campaign against us. This amounts to at least forty to fifty thousand pounds of powder, small-arms ammunition, and what appears to be enough shot and shell to keep their guns supplied for a year of fighting. In short, sir, the enemy is massing his strength. When the whole is assembled, he will fall upon us with the intention of driving us into the sea.’</p>
				<p class="bt1-body-text">Outram said nothing as Ballard delivered the dour news. He sat back in his chair and puffed contentedly on his cigar.</p>
				<p class="bt1-body-text">‘So the enemy is preparing to attack but he is not yet ready to do so.’ He leant forward and propped his cigar on the already overflowing ashtray on his desk. ‘That is good news indeed.’ He fixed the two intelligence officers with a firm glare. ‘It is necessary to understand the nature of the enemy and then overawe him with bold initiative and resolute action. I am of a mind to attack immediately.’</p>
				<p class="bt1-body-text">He picked up his cigar again. Holding it in his teeth, he flipped open the wooden case on his desk. ‘Please help yourselves.’</p>
				<p class="bt1-body-text">‘Thank you, sir.’ Ballard bent forward and selected a fat cigar, rubbing it under his nose to savour the scent.</p>
				<p class="bt1-body-text">‘Captain?’ Outram gestured towards the box, inviting Jack to take one.</p>
				<p class="bt1-body-text">‘No thank you, sir. I do not smoke.’</p>
				<p class="bt1-body-text">Outram puffed out his cheeks, letting a cloud of blue-grey smoke escape in a rush. ‘You are probably wise.’</p>
				<p class="bt1-body-text">Ballard smiled at Jack’s temperance. ‘It is the only vice he lacks, sir. We have to thank Captain Fenris for providing the intelligence that led to the discovery of the Persian spy.’</p>
				<p class="bt1-body-text">‘The teacher?’ Outram’s eyes narrowed as he replied.</p>
				<p class="bt1-body-text">‘Yes, sir.’ Jack cleared his throat as his voice cracked. He could taste the cigar smoke and he had to try hard not to cough as it filled his mouth.</p>
				<p class="bt1-body-text">‘That was good work.’ Outram looked hard into Jack’s face, which still showed the effects of the fight with the Persian spy. His forehead sported a fresh blue and yellow bruise right in its very centre, and the cut to his face had barely had time to scab over. The knife wound would likely scar, but Jack knew the rest of the wounds would heal quickly; at least he hoped they would. Ballard would likely have called it a small enough price to pay for ridding the army of an enemy spy but to Jack’s mind he had done more than his fair share.</p>
				<p class="bt1-body-text">‘So have you put an end to the problem of the enemy knowing our every move?’ Outram puffed on his cigar as he asked the question, his face half hidden by the cloud of smoke that he exhaled at regular intervals.</p>
				<p class="bt1-body-text">‘We believe so, sir.’ Ballard glanced once at Jack before continuing. ‘We are still investigating whether the man was working alone, but we are certain that he was working for the enemy. He relied on the local populace to take his messages to the enemy’s camp. Unfortunately there is nothing I can do to stop such a thing happening; there are simply too many locals with us.’</p>
				<p class="bt1-body-text">Jack had seen the hint of discomfort in his commander’s face. The Persian spy had revealed little of any use and Palmer had extracted nothing that added credence to Ballard’s notion that there was a network of enemy spies in place. Everything pointed to the munshi acting alone, but still Ballard remained to be convinced.</p>
				<p class="bt1-body-text">‘Very good.’ The major had at least been able to reassure the army’s commander that the problem was in hand. ‘It seems you have the matter under control. I would ask you to keep me informed of any developments.’ Outram nodded once before placing his cigar to one side. ‘So we must take the initiative and strike before the enemy gathers his full strength. If he discovers that we are coming, he will either scurry away or meet us on ground of his choosing. You may have dealt with this one spy, but the country is still against us and there will be no shortage of people riding to warn the enemy the moment we march.’</p>
				<p class="bt1-body-text">Ballard nodded in agreement, listening intently to the general.</p>
				<p class="bt1-body-text">Jack cleared his throat. He was as nervous as he had been when he had been the first out of the moat at Reshire. ‘Then don’t let them know, sir.’</p>
				<p class="bt1-body-text">Outram looked at Jack sharply. ‘I think it is rather hard to disguise the movement of a few thousand infantrymen, Captain. Not to mention the enormous baggage train that follows. Even a blind man would know we were marching.’</p>
				<p class="bt1-body-text">Jack shook his head in denial. He saw Ballard’s face go pale as his charlatan subordinate chose to give advice to a general. Jack forced down the nerves. It was the same as digging deep for the courage to lead men into battle. It had to be done, no matter how much you feared the first step.</p>
				<p class="bt1-body-text">‘Then don’t march with a baggage train. The army has been conducting route marches for days now. General Stalker even had the whole division out last week. The locals must think we are either bonkers or too frightened to advance. It need not be any different when you march to attack.’</p>
				<p class="bt1-body-text">‘What of supply?’ Outram steepled his fingers.</p>
				<p class="bt1-body-text">‘We leave it behind.’ Jack was speaking with confidence now. He forgot Outram was a lieutenant general and he nothing more than a deserter and a fraud. ‘The men march light, carrying just enough for a few days. The enemy are but fifty miles away. We can be there in two days. We strike hard and fast and catch them before they are ready.’</p>
				<p class="bt1-body-text">Ballard looked aghast, but the general seemed intrigued. He took up his cigar and drew on it, his eyes never once leaving Jack’s face.</p>
				<p class="bt1-body-text">‘How long have you been in the hussars, Captain Fenris?’</p>
				<p class="bt1-body-text">Jack’s heart thumped in his chest. ‘It’s a recent transfer, sir. I was with the 24th.’</p>
				<p class="bt1-body-text">‘So the 24th’s loss is Ballard’s gain?’ Outram turned and looked at the intelligence officer. ‘You are lucky to have Captain Fenris on your staff, Major.’</p>
				<p class="bt1-body-text">Ballard recovered well. ‘I thank God for it daily, sir.’</p>
				<p class="bt1-body-text">Outram laughed. ‘As well you should.’ He looked back to Jack. ‘What happened to the spy?’</p>
				<p class="bt1-body-text">Jack smiled, his fears receding. He liked Outram. ‘I believe he is still with the surgeons, sir.’</p>
				<p class="bt1-body-text">Outram seemed delighted by the response. ‘Major Ballard was correct. Smoking might be the sole vice you lack. Thank you for your briefing, gentlemen. It was very enlightening. You may go about your duties now.’</p>
				<p class="bt1-body-text">The two officers snapped to attention and saluted before beating a hasty retreat from the general’s presence.</p>
				<p class="bt1-body-text">Outside the tent, they both took a deep lungful of clean air.</p>
				<p class="bt1-body-text">‘Don’t ever do that again, Jack.’ Ballard exhaled deeply as he spoke. ‘I think you forget who you really are.’</p>
				<p class="bt1-body-text">Jack laughed at the major’s expression. ‘I sup with the Devil. Do not complain when his devilment rubs off on me.’</p>
				<p class="bt1-body-text">The use of his nickname made Ballard smile. They walked together in companionable silence through the encampment. As they approached their own tent, Palmer saw them coming and walked over to greet them.</p>
				<p class="bt1-body-text">‘This just arrived for you.’ He held out a letter addressed to Captain Fenris.</p>
				<p class="bt1-body-text">Jack nodded his thanks before noticing the tears at the envelope’s top. ‘You opened it?’</p>
				<p class="bt1-body-text">‘Fucking boring it was.’ Palmer laughed at Jack’s expression. ‘You really should get some more interesting friends.’</p>
				<p class="bt1-body-text">‘And you should mind your fucking manners.’ Jack’s anger rose quickly. ‘The next time I receive a letter I suggest you leave it alone.’</p>
				<p class="bt1-body-text">Palmer shrugged, clearly unconcerned by Jack’s belligerence. ‘Orders is orders, chum.’</p>
				<p class="bt1-body-text">Jack turned his anger on Ballard. ‘So you told your ape here to open my letters?’</p>
				<p class="bt1-body-text">‘I did.’ Ballard raised a single eyebrow at his subordinate’s display. ‘Do not forget where I found you. I had to treat you with a certain degree of caution.’</p>
				<p class="bt1-body-text">‘Well, you know me better now.’</p>
				<p class="bt1-body-text">Ballard cocked his head as he considered the notion. ‘Yes. That is a fair comment.’ He looked at Palmer. ‘You can stop opening his mail.’</p>
				<p class="bt1-body-text">Palmer nodded, clearly not bothered either way.</p>
				<p class="bt1-body-text">Jack scowled, despite having won the argument. He would have liked to have opened the letter for himself. Unlike the rest of the officers, he never got mail. Those with families received post by the bundle, thick wraps of letters and hefty packages and parcels arriving every few days thanks to the efforts of the Indian navy. Jack received nothing, ever.</p>
				<p class="bt1-body-text">He reached into the envelope, a strange excitement building, and flipped the letter over, scanning the contents to see if he recognised the signature. He did. It was from Commodore Fetherstone.</p>
				<p class="bt1-body-text">He sat and read slowly, making sure he understood every word. It was a letter of congratulations. Fetherstone thanked him for finding the spy and for ending the problem that had dogged the army ever since it had arrived. The note was no more than a few scribbled lines, but Jack detected the sarcasm thinly veiled in the polite phrases. He had stolen Fetherstone’s thunder. He had prevented the navy from gaining credit for capturing the enemy spy, something the commodore would surely have savoured.</p>
				<p class="bt1-body-text">He folded the letter tightly before returning it to the envelope. He would show it to Ballard that evening although Palmer was sure to have let the major know its contents already. It would do Ballard good to know they had put one over on the naval intelligence commander. Jack felt pride at all he had achieved. He had been brought here to do a job and now it was complete. He could sit back and watch the campaign unfurl knowing he had saved many of the men under Outram’s command from enduring extra suffering. It was almost a pity that the Persian spy was no longer able to communicate with his masters. In the message Jack had found in the fort at Reshire he had been written off as little more than a hired thug. It would have been pleasing to know that the Persians would now know that the man they had written off so glibly was actually the one who had broken their power.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../qzj5e1.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Praise</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Map – 19th Century Persia</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-18">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-19">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-20">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-21">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-22">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-23">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-24">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-25">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-26">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-27">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-28">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-29">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-30">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-31">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-32">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-33">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-34">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-35">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-36">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-37">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-38">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-39">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-40">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-41">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-42">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-43">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-44">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-45">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-46">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-47">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-48">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-49">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-50">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-51">Epilogue</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-52">Historical Note</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-53">Acknowledgments</a>
    </li>
    <li>
      <a href="part0056.html#toc_marker-54">Read Jack Lark: Rogue, out now</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0030.html" class="calibreAPrev">previous page</a>
    

    <a href="../../qzj5e1.html" class="calibreAHome"> start</a>

    
      <a href="part0032.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
