<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200280_EPUB-18.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../yftltn.html">The Maharajah's General (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0017.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0019.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200280_EPUB-18.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-18" class="awh1-artwork-head"><img class="image15" src="../images/00016.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">‘For the love of heaven. It has begun. They are coming for me!’ Reverend Youngsummers greeted the sudden burst of noise with horror.</p>
				<p class="ack-acknowledgement-text">‘Be quiet.’ Jack snapped the command as his ears strained to hear. It had been a long night, the silence that had lapsed over the prisoners wearing at Jack’s patience. He guessed that it was not yet dawn, but trapped in the gloomy prison he had no real notion of the passage of time. Now something had awoken to shatter the quiet, and Jack was in no mood to be gentle on the pessimistic doomsayer.</p>
				<p class="ack-acknowledgement-text">He moved quickly so he could peer out of the door’s single window. His order had silenced Youngsummers, who fell back into morose silence, slumping against the wall in resignation.</p>
				<p class="ack-acknowledgement-text">‘What is it?’ Isabel had risen lithely to her feet and now she pressed against Jack’s shoulder as she tried to see movement outside their dank prison.</p>
				<p class="ack-acknowledgement-text">The noise came again. It sounded like a child running a stick down a line of metal railings. It came in bursts, each louder than the previous, before dying out, the silence pressing back so that they felt they had surely been mistaken, that nothing stirred to disturb the black nothingness of the night.</p>
				<p class="ack-acknowledgement-text">Then the shouting started, the frightened bellows of men waking to chaos, and the silence disappeared under a bewildering hubbub of sound as the rabble that had defeated the small band of British sepoys arose to confusion. The crackle of gunfire underscored the panic, its staccato rhythm increasing in tempo to match the bedlam it had created.</p>
				<p class="ack-acknowledgement-text">Jack could feel Isabel’s breath on the nape of his neck, the warmth at once soothing and stimulating. He could sense her body trembling, her breathing quicker as she too heard the sudden bursts of gunfire, her fear and her hope rising in equal measure.</p>
				<p class="ack-acknowledgement-text">‘What is it?’ She raised her hand, placing it on Jack’s shoulder as she sought reassurance. ‘Is it a rescue?’</p>
				<p class="ack-acknowledgement-text">Jack’s breath caught in his throat as he felt Isabel’s fingers press into the muscles of his shoulder. ‘It’s gunfire. But it’s not ours.’ Her hand felt as if it was on fire, her flesh burning into his skin even through the thick layers of his uniform.</p>
				<p class="ack-acknowledgement-text">‘How can you tell?’</p>
				<p class="ack-acknowledgement-text">‘There are no regular volleys, and the firing is too erratic even for skirmishers.’ Jack turned his head so he could look at Isabel. He could smell the faded perfume she had applied the previous morning, the sweet aroma still intoxicating. ‘I don’t know who it is.’</p>
				<p class="ack-acknowledgement-text">A sudden scrabble of footsteps saved Jack from further questioning. There were enough blazing torches rammed into ancient wall brackets to allow him to make out what has happening in the corridor outside. It bent to the right, so he could see no more than a few feet, but the noise was unmistakable. Someone was rushing towards the damp cell that had become their prison.</p>
				<p class="ack-acknowledgement-text">He was certain that the sudden gunfire meant that the bandits’ camp was under attack. He was equally sure that someone would remember the hostages, even in the midst of the sudden melee. It would take but a quick word of command to dispatch a few men to quickly dispose of the three English prisoners, and he felt his heart lurch as he realised the danger that was surely hurtling towards them.</p>
				<p class="ack-acknowledgement-text">He pushed Isabel to one side, thinking to shield her from the assault, taking up a position to block any intruder’s entrance to the room. The footsteps sounded loud in the corridor. More than one man was heading their way.</p>
				<p class="ack-acknowledgement-text">Jack caught a glimpse of shadowy figures rushing down the corridor before the door was thumped hard. The sharp scrape of metal was loud in the small room, a rusty iron lock grating as it was wrenched open. He was tensing himself to fight when a desperate notion came to him. He spun on the spot, pushing Isabel in front of him and throwing himself towards the murkiest corner of the room, into what he hoped were the darkest of the shadows.</p>
				<p class="ack-acknowledgement-text">Youngsummers lurched to his feet as he saw his daughter propelled towards mortal danger.</p>
				<p class="ack-acknowledgement-text">‘You blackguard!’ The protest burst out as the door was thrown open to crash back on its hinges.</p>
				<p class="ack-acknowledgement-text">Isabel screamed at the sight of two armed men, their drawn swords flickering in the dull light that had belatedly reached the darkened room. Youngsummers blundered forward, reaching for his daughter’s arm, the rush of courage pitching him directly into the path of the men sent to kill them.</p>
				<p class="ack-acknowledgement-text">The first man’s eyes darted around the room, searching for danger. He saw the thin young girl who shrieked as if the devil himself were arriving to claim her soul. He saw too the fat man who staggered into his path, his foreign words echoing loudly in the confined space. He did not see the third prisoner, the white-faced officer who had fought with such ferocity that afternoon.</p>
				<p class="ack-acknowledgement-text">The second man held back, reluctant to enter the darkened room, using his companion’s body as a shield.</p>
				<p class="ack-acknowledgement-text">Jack launched himself from the darkness, screaming like a banshee as he lashed out at the leading bandit. He smashed his fist into the centre of the man’s face before driving his left hand into the side of his head, cracking his fist against the hard skull.</p>
				<p class="ack-acknowledgement-text">His victim crumpled, bludgeoned by the unexpected assault, his sword clattering to the ground as it fell from his nerveless grip. Jack bent and snatched up the fallen weapon, whipping the blade through the air, turning to face the second man.</p>
				<p class="ack-acknowledgement-text">Isabel screamed at the sudden, shocking violence. Jack ignored her terror and slashed his stolen sword forward, forcing the second would-be killer to parry. He struck again, punching an opening in his opponent’s defence, a visceral shout of anger escaping his lips. As he prepared to thrust his blade home, Youngsummers rushed past, bellowing in fear and knocking against Jack’s arm, spoiling the killing stroke. The clumsy clergyman stumbled away, heedless of his actions, thinking of nothing more than reaching the darkest corner of the room.</p>
				<p class="ack-acknowledgement-text">The bandit seized on the sudden reprieve and counterattacked, coming at Jack with a quick series of blows that drove him backwards. In the darkness it was hard to see the fast-moving blade, and Jack was reduced to a desperate defence as he tried to keep the enemy’s sword at bay.</p>
				<p class="ack-acknowledgement-text">‘Lord, save me!’ Youngsummers shrieked as the pair came close to his sanctuary. In his terror he lashed out with his feet, catching the bandit on the calf. The blow was no more powerful than a child’s but it made the would-be killer stumble. Jack saw the talwar drop and launched himself forward. His sword took the bandit in the throat. The blade drove deep, tearing away the man’s life in a rush of blood, killing him in a heartbeat.</p>
				<p class="ack-acknowledgement-text">‘Danbury, look out!’ Isabel screamed the warning as the first attacker stumbled to his feet, snatching a thin dagger from within the folds of his black robes.</p>
				<p class="ack-acknowledgement-text">Jack threw himself around to face the new threat, ripping his sword free so that blood and scraps of flesh were torn from the wound and flung far into the room.</p>
				<p class="ack-acknowledgement-text">The surviving bandit was slow. Jack’s ferocious assault had left him dazed and hurting. Yet he saw the attack coming and lurched backwards so that Jack’s blade whirled past, the tip of the sword whispering no more than a hair’s breadth from his bloodied face. With an incoherent shriek he bounded forward, his wrist locked so that he could drive his dagger deep into his enemy.</p>
				<p class="ack-acknowledgement-text">Jack saw the razor-sharp blade reaching for him. In desperation he flung his left hand forward, locking it tight on to the other man’s wrist. He could feel the muscles pulsing under his grasping fingers, the sinews in the flesh twisting as his opponent tried to free himself.</p>
				<p class="ack-acknowledgement-text">The bandit slammed his free hand forward, smacking Jack hard on the side of the head, trying to knock him backwards. Jack’s head rang from the blow but somehow he held on, his fingers digging into the other man’s wrist. His sword arm was trapped between their two bodies, so he let his blade go and pulled his right hand free, bracing himself to strike back.</p>
				<p class="ack-acknowledgement-text">He saw the man’s lip curl in a snarl of animal anger, his teeth stained red with his own blood. The bandit spat at Jack and used both hands to try to wrestle the dagger away from the man he had been sent to kill, cursing the firangi officer who refused to die.</p>
				<p class="ack-acknowledgement-text">Jack felt the strength in the man’s arms as they fought for control of the blade. He knew he had only moments before he lost his hold on the dagger. But his right hand was now free and he thrust it forward and grabbed his attacker by the balls. The man screamed in agony as Jack took hold, twisting his hand, his fingers digging in like claws, the flesh tearing under his grip. The bandit let out an inhuman shriek and let go of the dagger, both his hands scrabbling to free himself from the agony.</p>
				<p class="ack-acknowledgement-text">Jack snatched the dagger from the air. He had a moment to register the look of horror in his enemy’s eyes before he buried the sharpened blade deep into the man’s heart.</p>
				<p class="ack-acknowledgement-text">The bandit looked down in astonishment to see his own knife sticking out of his chest, blood coursing down its length. His fingers clutched at the weapon, his face set in a look of astonishment and bitter reproach.</p>
				<p class="ack-acknowledgement-text">Jack twisted his wrist and tugged the dagger from the bandit’s chest, ignoring the blood that poured down the blade to fall hot and sticky on to his hand. He stepped back and let the corpse fall to the floor, the look of terrified anguish now locked on the man’s features for ever. Then he threw the bloody dagger to one side and bent to retrieve the fallen sabre.</p>
				<p class="ack-acknowledgement-text">‘Isabel. It’s time to go.’ He spoke firmly. He saw the fear in her eyes, but there was no time to dwell on whether she was afraid of the closeness of death or of the man who had fought to save her.</p>
				<p class="ack-acknowledgement-text">‘I’m ready.’ To her credit, Isabel rallied fast. ‘Papa, come.’</p>
				<p class="ack-acknowledgement-text">Youngsummers did not move. He sat slumped against the wall, his face covered with scraps of flesh and flecks of blood that had been flung from the tip of Jack’s sword as he fought. His eyes were open, but they were glazed and staring straight ahead.</p>
				<p class="ack-acknowledgement-text">‘Papa. We are safe now. We need to go.’ Isabel reached forward and gently stroked her father’s cheek.</p>
				<p class="ack-acknowledgement-text">Youngsummers lifted a hand in front of his face, flapping Isabel’s away. ‘The devil has come for me. I am in hell.’</p>
				<p class="ack-acknowledgement-text">‘Papa!’ Isabel snapped the word and reached for her father again, only for her hand to be pushed away once more.</p>
				<p class="ack-acknowledgement-text">‘Do you not see?’ Youngsummers locked his staring eyes on to his daughter. ‘The devil wants me. He wants me!’</p>
				<p class="ack-acknowledgement-text">Isabel stamped her foot and turned to Jack. ‘He won’t come. You’ll have to carry him.’</p>
				<p class="ack-acknowledgement-text">Jack paid her no heed. He had checked the bodies of both bandits to make sure they were truly dead before moving out of their tiny prison to peer anxiously around the corner of the corridor that led towards the outside.</p>
				<p class="ack-acknowledgement-text">‘Captain Danbury.’ Isabel demanded his attention. ‘You will have to carry my father to safety.’</p>
				<p class="ack-acknowledgement-text">Jack took one last long look around the corner before turning to face Isabel. She stood, hands on hips, in the centre of the room, the bodies of the two dead men forgotten as she issued her orders. Jack could only marvel at her spirit. She had been moments from death, yet now her anger rose like that of a spoiled child as she sought to get her own way.</p>
				<p class="ack-acknowledgement-text">‘We must go.’ He kept his voice calm, despite knowing they had to hurry before more killers were sent after them. ‘He can stay here. He’ll be safe enough for now.’</p>
				<p class="ack-acknowledgement-text">‘Leave him here? Never!’ Isabel’s eyes widened in anger.</p>
				<p class="ack-acknowledgement-text">‘In that case, get him up and he can come with us.’</p>
				<p class="ack-acknowledgement-text">‘He won’t move. He’s having an attack of the vapours.’</p>
				<p class="ack-acknowledgement-text">‘Then he stays here.’</p>
				<p class="ack-acknowledgement-text">‘He will not. You must carry him.’</p>
				<p class="ack-acknowledgement-text">Jack felt his mouth crease into a grin at the absurd notion. He detected the fury on Isabel’s face as she saw his reaction, so he smiled wider.</p>
				<p class="ack-acknowledgement-text">‘I don’t think so. Perhaps it would be better for you both to stay here. I’ll come back for you when it is safe to do so.’</p>
				<p class="ack-acknowledgement-text">‘You shall do no such thing,’ Isabel’s voice rose in anger. She stepped forward, decorously skirting the lifeless hand of one of the men sent to kill her so she could wag her finger in Jack’s face. ‘You will do as I tell you.’</p>
				<p class="ack-acknowledgement-text">Jack caught her hand, holding the finger tight in his bloody grasp, and bent his head low so that it was only an inch or so from Isabel’s face. The temptation to kiss her was almost overpowering.</p>
				<p class="ack-acknowledgement-text">‘Can you really see me carrying him? Who is being the fool now?’ His desire made him harsh, and he saw his hard words crush the anger from the young girl’s face just as he crushed her finger in his hand.</p>
				<p class="ack-acknowledgement-text">Isabel pulled away and he let her go, turning his back on her lest she see the lust that he was sure was written into every pore of his face.</p>
				<p class="ack-acknowledgement-text">‘Very well. He will stay here but I am coming with you.’ She spoke the words in the icy tones of a dowager giving instructions to her butler.</p>
				<p class="ack-acknowledgement-text">Jack turned and bowed at the waist. ‘Yes, milady.’</p>
				<p class="ack-acknowledgement-text">He did not wait to see how Isabel would react. Instead, he walked out of the room.</p>
				<p class="ack-acknowledgement-text">It was time to see what stirred in the darkness.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../yftltn.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Dedication</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Acknowledgments</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Glossary</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Two</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Ten</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-52">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-53">Chapter Forty-five</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-54">Epilogue</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-55">Historical Note</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0017.html" class="calibreAPrev">previous page</a>
    

    <a href="../../yftltn.html" class="calibreAHome"> start</a>

    
      <a href="part0019.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
