<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200280_EPUB-17.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../yftltn.html">The Maharajah's General (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0016.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0018.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200280_EPUB-17.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-17" class="awh1-artwork-head"><img class="image14" src="../images/00015.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">Isabel had watched as if paralysed as the black-robed figure flayed mercilessly at the British officer. At any moment she expected the fast-moving talwar to break through Danbury’s desperate defence, his faltering defiance certain to be no match for the power of his assailant’s wild assault.</p>
				<p class="ack-acknowledgement-text">Somehow, though, Danbury stayed alive, his sabre meeting every blow. Isabel had never seen such ferocity. The two men fought at a frightening pace, their blades moving with such speed that she could barely even see the dreadful steel as it flashed through the air. She did not hear Danbury call to her. It was only when the dark-robed figure started to chant that she felt herself return to her senses. She felt Danbury begin to waver, the sinister incantation unsettling the British captain.</p>
				<p class="ack-acknowledgement-text">‘Danbury!’ She screamed his name as the chant came to its terrifying conclusion, but her voice was lost in the black-robed figure’s cry and she could only watch in horror as his sword slashed towards Danbury with a speed and power that seemed impossible to counter.</p>
				<p class="ack-acknowledgement-text">The sound of the British officer’s sword snapping reached her in the moments after the dreadful chant came to an end. She saw the appalled look on Danbury’s face as he realised he was about to die. She ran forward, careless of the enemy horde that had begun to swarm down the slope. Her only thought was to help, to try to save the red-coated officer before he was struck down in front of her eyes.</p>
				<p class="ack-acknowledgement-text">‘Danbury! Catch!’ She drew back her arm, tossing the beleaguered captain a lifeline, praying that she had acted in time to save him.</p>
				<p class="ack-acknowledgement-text">The silver metal of the revolver flashed once in the sun as Isabel’s throw sent it spinning through the air. Jack flung the stump of his broken sword towards the black-robed figure, freeing his hands of the now useless weapon. He snatched at the tiny revolver, snapping it from the air, the sharp metal stinging his hand. Without pause he brought his arm around, pointing the gun straight at the face of the man about to kill him. His thumb slid over the back of the finely crafted weapon, cocking the hammer, readying it to fire.</p>
				<p class="ack-acknowledgement-text">The heavily bearded face loomed over the simple sight at the end of the revolver’s barrel. At such close range Jack knew he could not miss, and he felt a surge of savage joy as he pulled the trigger.</p>
				<p class="ack-acknowledgement-text">Instead of the crash of gunpowder igniting, there was nothing but an impotent click. Isabel’s precious revolver had failed to fire.</p>
				<p class="ack-acknowledgement-text">The black-robed figure sheathed his sword. He took a pace backwards before disdainfully turning away from the man who had come so close to killing him.</p>
				<p class="ack-acknowledgement-text">Jack dropped the useless pistol, letting it fall from his hand as he felt defeat swamp him. He stood mute, watching the savage mob race down the slope towards him. The bandits circled around, their blades threatening, but none was willing to be the first to strike. Their leader flicked a gauntleted hand in Jack’s direction, a curt word of command putting an end to the impasse. A swarthy figure took a pace forward, hefting a heavy club. Without a word he slammed it into the back of Jack’s head, bludgeoning him to the ground.</p>
				<p class="bt1-body-text-1-full-out">The darkness swallowed his soul. Jack felt its cold embrace, its touch as delicate and as jealous as a lover’s. He did not fight it as once he had. Instead he welcomed it, submitting to it with the grace of a maiden bride on her marriage bed. There was no fear in giving in. Just relief. He faced the blackness and willed it to take him.</p>
				<p class="ack-acknowledgement-text">But the darkness rejected him, thrusting him away, throwing him towards the distant light. Jack screamed inwardly with frustration as he felt the icy tendrils release him, forcing him to return to the place that terrified him most.</p>
				<p class="bt1-body-text-1-full-out">Jack opened his eyes. At first it was hard to tell if they were truly open or not. He could feel a hard stone floor under his body, its dampness soaking into his clothes. He could smell mould and decay, the stench of unwashed bodies and animal waste thick in his nostrils. He tasted the staleness of the air, the cold, dead flavour of the dark.</p>
				<p class="ack-acknowledgement-text">‘Danbury?’</p>
				<p class="ack-acknowledgement-text">The voice startled him. His name was spoken in no more than a whisper but there was no mistaking its owner. Isabel Youngsummers had sensed him stirring and called to him, summoning him back to the world he had so dearly wished to leave.</p>
				<p class="ack-acknowledgement-text">‘Danbury, are you awake?’</p>
				<p class="ack-acknowledgement-text">Jack’s cramped and aching muscles protested as he started to move. He forced himself to sit, finally coming truly alive, belatedly starting to take stock of his surroundings.</p>
				<p class="ack-acknowledgement-text">There was little for his eyes to focus on. The room had been hacked into rock, the walls still bearing the marks of the simple tools that had been used to gouge and scrape the space from the hard ground. A single door was shut tight, the small window in its centre barred with thick metal columns, each crusted with rust. The window was the only source of light, a single torch that burnt just outside the door casting forbidding shadows into the depths of the fetid space.</p>
				<p class="ack-acknowledgement-text">‘Danbury! Thank God.’ Isabel’s relief was clear. ‘We thought you might be dead.’</p>
				<p class="ack-acknowledgement-text">‘You may soon wish that were the case.’</p>
				<p class="ack-acknowledgement-text">Jack heard the second voice and turned his head, his neck complaining as it jarred with the movement. The Reverend Youngsummers sat slumped against the wall to his right.</p>
				<p class="ack-acknowledgement-text">‘It is good to see you, Danbury, but I fear you may have preferred it were you not to have woken.’ Youngsummers sobbed as he finished speaking, an anguished wail escaping his thick lips. ‘We are doomed.’</p>
				<p class="ack-acknowledgement-text">‘Papa!’ Isabel’s hands lifted to her face, hiding the sight of her father’s distress.</p>
				<p class="ack-acknowledgement-text">‘Dear God, why are you doing this to me?’ Youngsummers pushed himself forward and on to his knees. He raised his arms to the ceiling as he beseeched his God, lamenting his bitter fate. ‘Why submit me to this torture? Why have you forsaken your loyal servant? Why?’ He fell silent, his head bowed so that his thick chin rested on his chest, his corpulent frame rocking with the motion of his sobs.</p>
				<p class="ack-acknowledgement-text">‘What happened?’ Jack spoke for the first time, his voice thick with phlegm. He spat hard, careless of the look of disgust on the Reverend’s tear-streaked face.</p>
				<p class="ack-acknowledgement-text">Youngsummers slumped back into his former position, exhausted by his pitiful plea.</p>
				<p class="ack-acknowledgement-text">‘They’ve kept us alive because of the colour of our skin.’ The clergyman spoke in the exhausted voice of a dying man. ‘So that they can torture us.’</p>
				<p class="ack-acknowledgement-text">‘Don’t be such a fool, Papa,’ Isabel snapped. Her eyes flashed with the same look of defiance Jack had seen when they were first ambushed. ‘They’ve kept us alive because they believe we have value. They will think to ransom us. We cannot lose hope.’</p>
				<p class="ack-acknowledgement-text">‘Hope!’ Youngsummers wailed the word. ‘Do you not see, daughter? God has forsaken me. He has given me up to the godless. He has abandoned me.’</p>
				<p class="ack-acknowledgement-text">‘Papa! Do not speak like that. We are alive.’</p>
				<p class="ack-acknowledgement-text">‘Isabel is right.’ Jack spoke, silencing father and daughter. They both turned to face him, looking to him for guidance. ‘They have kept us alive because we have value to them. What happened to the men?’</p>
				<p class="ack-acknowledgement-text">‘Dead. All dead. They butchered them.’ Youngsummers relished the words, finding strength in the suffering of others.</p>
				<p class="ack-acknowledgement-text">‘They died fighting,’ Isabel corrected her father. ‘They fought hard. As did you, Danbury.’</p>
				<p class="ack-acknowledgement-text">Jack took no pleasure in hearing Isabel’s praise. ‘We lost. We should have fought harder.’</p>
				<p class="ack-acknowledgement-text">‘That is a foolish thing to say. Against so many there was nothing more you could do.’</p>
				<p class="ack-acknowledgement-text">Jack’s brow furrowed as he looked at Isabel. ‘I am not so sure.’</p>
				<p class="ack-acknowledgement-text">‘So what will happen to us?’ asked Isabel, her voice timid. She sounded very much like the frightened little girl she really was.</p>
				<p class="ack-acknowledgement-text">‘They will kill us!’ Youngsummers interrupted. ‘These blackguards have no qualms. They are godless scum and they will slaughter us without a thought.’</p>
				<p class="ack-acknowledgement-text">‘That’s enough.’ Jack injected some snap into his tone. It was the voice of an officer, one that was used to being obeyed.</p>
				<p class="ack-acknowledgement-text">Youngsummers opened his mouth to object before a look at the hard eyes of the British captain silenced him.</p>
				<p class="ack-acknowledgement-text">‘We are alive,’ Jack continued. ‘If they wanted us dead they would have killed us on the spot. I doubt these fellows know much of patience. Isabel is right. They will try to ransom us.’</p>
				<p class="ack-acknowledgement-text">Isabel nodded as she listened intently to his words. Her father was not so calm.</p>
				<p class="ack-acknowledgement-text">‘You know nothing of these people, least of all what they will do to us.’ Youngsummers looked at his daughter, licking his lips nervously before leaning closer to Jack. ‘I fear for my daughter’s chastity.’ The words were said in a whisper, a furtive look on the Reverend’s face.</p>
				<p class="ack-acknowledgement-text">‘They will have to kill me first.’</p>
				<p class="ack-acknowledgement-text">Youngsummers snorted his derision at Jack’s bold claim. ‘I am sure they would not find that so difficult, Danbury. How can you speak of fighting?’</p>
				<p class="ack-acknowledgement-text">Jack grinned. ‘Because I’m redcoat. It’s what we do.’</p>
				<p class="ack-acknowledgement-text">‘Spoken like a fool.’ Youngsummers’ jowls creased in irritation.</p>
				<p class="ack-acknowledgement-text">‘Be careful who you call a fool, Reverend.’</p>
				<p class="ack-acknowledgement-text">Youngsummers raised a trembling finger and pointed it towards Jack’s heart. ‘You, sir, you are a fool if you think your precious pride matters one bit. I call you a fool, for you speak foolish words.’</p>
				<p class="ack-acknowledgement-text">Jack felt a spark of temper but he bit his tongue. He had learnt to curb his emotion when confronted by bombastic buffoons.</p>
				<p class="ack-acknowledgement-text">The Reverend Youngsummers knew no such forbearance. ‘You are the reason we are here! It is you who is to blame for our incarceration at the hands of those godless barbarians.’ His fear added fuel to his tongue. ‘You were ordered to protect us. And you failed, Danbury. You failed! I face a martyr’s death because you could not obey that simple instruction! It is your fault. Yours! You are a disgrace!’</p>
				<p class="ack-acknowledgement-text">Youngsummers fell silent, his rage spent. His pudgy hands smothered his face as the tears came, his body rocking back and forth, his distress overwhelming him.</p>
				<p class="ack-acknowledgement-text">Isabel had sat in shocked silence as her father broke down. Her whey-coloured face revealed her anguish, her self-control eroding when she heard the horror in her father’s voice, his certainty that they faced death taking a grip on her heart.</p>
				<p class="ack-acknowledgement-text">Jack smiled as he looked at her, yet she simply stared back at him, her eyes wide with terror.</p>
				<p class="ack-acknowledgement-text">‘Your father is right. I am a disgrace.’ He spoke in the even tones of a father reading a night-time story to calm his child’s fear of the darkness, his words intended to calm and soothe. ‘But I meant what I said. I shall die trying to protect you. I promise.’</p>
				<p class="ack-acknowledgement-text">He offered the promise willingly and he meant every word. He did not fear death. It was life that terrified him.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../yftltn.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Dedication</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Acknowledgments</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Glossary</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Two</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Ten</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-52">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-53">Chapter Forty-five</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-54">Epilogue</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-55">Historical Note</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0016.html" class="calibreAPrev">previous page</a>
    

    <a href="../../yftltn.html" class="calibreAHome"> start</a>

    
      <a href="part0018.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
