<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200280_EPUB-37.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../yftltn.html">The Maharajah's General (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0036.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0038.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200280_EPUB-37.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-37" class="awh1-artwork-head"><img class="image32" src="../images/00035.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">The army assembled at dawn. They formed up in the wide maidan that separated the walls of the fortress from the splendour of the palace. Hundreds of armed men brought together by the Maharajah to carry out a lightning strike against the British cantonment at Bhundapur.</p>
				<p class="ack-acknowledgement-text">The cavalry occupied nearly half of the available space. At the front stood the famous blue lancers, as neat and ordered as any British regiment. Behind them were the irregular horse that made up the bulk of the Maharajah’s cavalry. These were the hard men who lived in the hills of the kingdom of Sawadh. They had arrived in small groups, each local chieftain leading his men to meet his ruler’s summons, and were fearsomely armed with a bewildering array of weaponry, from ancient silver jezzails to modern percussion muskets and carbines. All wore at least one blade, either a curving talwar like the one Jack himself carried, or a straight blade more similar to a British heavy cavalry sword. They were a formidable force, a warlike band that would clearly relish a fight.</p>
				<p class="ack-acknowledgement-text">The infantry formed up in the large blocks in which they would march towards Bhundapur. At the fore stood the ordered and regimented lines of the Maharajah’s guards. They were dressed for war with mail coats worn over their dark blue uniforms, their heavy talwars hanging at their hips. The sun shone on their armour, glinting from the massed ranks, adding more grandeur to the spectacle of so many assembled in one place. They looked like soldiers of old, more suited to the wars of the past, where every man fought with the brutal weapons that could hack an opponent to pieces or hammer him into bloody submission. They were the Maharajah’s finest warriors and they would fight to the death for their king.</p>
				<p class="ack-acknowledgement-text">Behind the precise ranks and files of the guard stood the massed bulk of the foot soldiers. They were armed and dressed in wildly different styles, yet all bore the same warlike expression. These were hard men from a hard country, and they would fight with as much devotion as any trained soldier. To a man they hoped for loot, for a reward more earthly than the more ethereal value of serving their overlord. They were bandits, landless men from the robber country, whose keen eyes looked for gain, their light fingers and quick wits ready to seize the opportunity to increase their store of wealth.</p>
				<p class="ack-acknowledgement-text">Guardsmen walked through the ranks, issuing a blue silk armband to every man. The Maharajah’s pandit had blessed each one and now they would be worn to unite the disparate troops, adding a uniform touch to the wild men who had come to answer their Maharajah’s call, forming them into a single army with a single purpose: to destroy the British cantonment at Bhundapur.</p>
				<p class="bt1-body-text-1-full-out">Jack felt cold as he sat in the saddle watching the thousands of men coming together. He was struck by the gaudy vibrancy of the scene, the lack of a single uniform creating a kaleidoscope of colour. Yet there was no doubting the unity of the men. The warlike horde knew they had been summoned to fight, and that purpose united them more forcefully than any uniform.</p>
				<p class="ack-acknowledgement-text">‘We will truly have to fight them?’ Isabel spoke in a voice laced with horror. She sat at Jack’s side, her young mare quivering as it sensed its mistress’s distress.</p>
				<p class="ack-acknowledgement-text">Jack reached across and squeezed her hand where it rested on the pommel of her saddle. He looked at her rare beauty, savouring the vitality of her youth, very aware that he had made two choices when he had asked the Maharajah for permission to leave.</p>
				<p class="ack-acknowledgement-text">At least he no longer dreaded being in the saddle, the long, difficult hours of drill with the Maharajah’s lancers leaving his muscles hard and well used to the demands of controlling the powerful horse he had been given from the Maharajah’s own stables. The uncompromising lessons had taught him well and he could now ride as hard as any lancer, a skill he was certain to need in the bitter fight that was surely to come.</p>
				<p class="ack-acknowledgement-text">‘We will fight them if we have to. If they attack the cantonment at Bhundapur then we must do what we must.’ Jack’s voice was cold.</p>
				<p class="ack-acknowledgement-text">‘They frighten me,’ Isabel spoke softly, a child faced with the monster from a nightmare.</p>
				<p class="ack-acknowledgement-text">Jack’s jaw was set firm as he ran a professional eye over the Maharajah’s army. ‘They have numbers on their side, but that is all. I’d still wager on our boys seeing them off. But we will need to stand firm and keep them out, butcher them with our volleys. God help us if they get close enough to fight hand to hand.’</p>
				<p class="ack-acknowledgement-text">Isabel shivered despite the rising heat of the morning. Sunrise was still a long way off, but already the day promised to be brutally hot. It would be an unpleasant day in the saddle, but Jack was determined they would ride for as long as they could, no matter what conditions they faced. They had been given permission to leave, but still he would take no chances. He would not rest until they were a long way away from the army that the Maharajah planned to unleash.</p>
				<p class="ack-acknowledgement-text">The noise of the gathering horde suddenly increased. The cacophony of sound was deafening. There were none of the martial tones used to inspire and control the British army. In place of the strident call of the bugle and the disciplined staccato of the drum, there was an ear-splitting medley of screech and bawl, an unholy frenzy that erupted in one spontaneous roar.</p>
				<p class="ack-acknowledgement-text">Jack grimaced as the sound swelled. Thousands of men were cheering, their coarse bellows underscoring the higher-pitched din. His heart pounding, he searched for the source of the unprompted raucous symphony, wondering what could have inspired such bedlam.</p>
				<p class="ack-acknowledgement-text">The gates to the fortress had been flung wide open, the passageway into the heart of the citadel lined with immaculately dressed guards who snapped to attention at the shouted commands that were barely audible against the frenzy of sound. From the darkness of the gatehouse the Maharajah emerged to address his army, and Jack watched in awe as the man he had begun to think of as a friend entered his domain with all the great panoply of a powerful ruler.</p>
				<p class="ack-acknowledgement-text">The Maharajah was seated on the back of an enormous elephant. The creature’s grey hide was thickly covered in silver traces that shimmered and shone as the animal emerged into the early-morning sunlight that was just beginning to stream across the fortress. Its head was painted in fabulous patterns, bold crimson and scarlet swirls intertwined with gold and silver ornaments to create an intricate display. Its tiny eyes were surrounded with wide white bands, an extra pair of huge staring eyes making the beast appear like a monster from a fairy tale, a creature from another world summoned forth by the great power of the Maharajah.</p>
				<p class="ack-acknowledgement-text">The Maharajah sat high in a splendid golden howdah. He was dressed in the same crimson robes he had worn when presenting Jack with the sword that he still wore at his hip. He looked every bit the magisterial ruler, the very epitome of a foreign king. Everything about him appeared almost other-worldly, as if he were a creation of divine power imbued with earthly life, a child of the gods given leave to rule mortal men.</p>
				<p class="ack-acknowledgement-text">Jack heard Isabel draw in a sharp breath as she saw the cause of such frantic devotion. It was hard to equate the magnificent ruler in front of them with the man they had so often seen dressed in the simple garb of an ordinary soldier. The contrast was astonishing, and Jack could not truly believe he had once sat on the Maharajah’s council, at the heart of his inner circle.</p>
				<p class="ack-acknowledgement-text">The elephant walked calmly into the sunlight, beginning a long procession that would bring the Maharajah into full view of his assembled army. This was grandeur on an impressive scale, and Jack wondered if he had been right to be so confident that the British at Bhundapur could withstand an assault by such a force as he was witnessing. Isabel was not the only one frightened by what they saw.</p>
				<p class="ack-acknowledgement-text">‘Okay, laddie. Time to get you two out of here.’</p>
				<p class="ack-acknowledgement-text">Jack looked down and saw Subedar Khan glaring firmly back at him. This time he intended to do exactly as he was told.</p>
				<p class="ack-acknowledgement-text">The Maharajah was stirring his men into a frenzy. He stood high above them, haranguing them in their own tongue, exhorting them to be ready for battle, to take the fight to the white-faced invader who threatened to rip their land apart. Jack had never heard him talk with such powerful invective. He spoke like a man possessed, his wild gestures and bold oration in stark contrast to the mild, sophisticated man who had treated Jack and Isabel with such good humour. Jack knew then that he had made the right decision in asking to leave.</p>
				<p class="ack-acknowledgement-text">‘Cover your faces. Quickly now.’ Subedar Khan handed over two of the silk bands they had seen being given out to the assembling warriors. It was good advice. More than one swarthy face had started to stare in their direction. The Maharajah was urging his army to slay their new enemy, and it made no sense to present themselves as an easy target for the wrath that was building so quickly.</p>
				<p class="ack-acknowledgement-text">Jack could feel the strain in the air, like the tension that built before a summer’s thunderstorm. He sensed the danger, as did Subedar Khan, who beckoned to a detachment of his guards to form a protective cordon around Jack and Isabel.</p>
				<p class="ack-acknowledgement-text">‘Let’s go.’ Jack bowed low in the saddle, speaking into the ear of the subedar, who had remained close to his stirrup.</p>
				<p class="ack-acknowledgement-text">The blue-uniformed guards led them away, skulking around the edge of the inner wall, doing their best to ignore the building hatred. The army began to chant, the deep, rhythmic sound coming in pulsating waves as the men responded to the call to war. It hammered into the small party as they scurried away, the noise more terrifying than any Jack had heard before, even the sound of the huge Russian columns paling in comparison.</p>
				<p class="ack-acknowledgement-text">The dark gatehouse was cold after the warmth of the morning sun, the sudden chill shocking against their exposed flesh. Yet it was a relief to be away from the dreadful keening, the thick stone walls deadening the oppressive sound of the army’s visceral chant.</p>
				<p class="ack-acknowledgement-text">‘Ride quickly, laddie. Do not stop for anything.’ Subedar Khan offered the final words of advice as they passed through the immense outer gates and on to the long, twisting ramp that led down to the wide plain surrounding the fortress.</p>
				<p class="ack-acknowledgement-text">Jack nodded his thanks before jabbing his spurs into the flanks of his horse. It was time to ride, to escape the refuge they had sought so willingly. The palace that had given him so much was now the heart of his enemy’s strength.</p>
				<p class="ack-acknowledgement-text">He had made his choice. He could not betray his country, no matter what penalties he faced. He was a redcoat, and nothing could change that. War had come, and Jack had chosen his side.</p>
				<p class="ack-acknowledgement-text">The Maharajah of Sawadh had become his enemy.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../yftltn.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Dedication</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Acknowledgments</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Glossary</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Two</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Ten</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-52">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-53">Chapter Forty-five</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-54">Epilogue</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-55">Historical Note</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0036.html" class="calibreAPrev">previous page</a>
    

    <a href="../../yftltn.html" class="calibreAHome"> start</a>

    
      <a href="part0038.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
