<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200280_EPUB-39.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../yftltn.html">The Maharajah's General (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0038.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0040.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200280_EPUB-39.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-39" class="awh1-artwork-head"><img class="image34" src="../images/00037.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">‘Gentlemen. Your attention please.’</p>
				<p class="ack-acknowledgement-text">Major Proudfoot looked around the room. He had gathered his officers in his bungalow, seating them around the dining table, which had been hastily cleared of the detritus of that evening’s entertainment. The cut-glass crystal and phalanxes of wine bottles had been replaced with charts and ledgers as the officers began to plan the defence of Bhundapur.</p>
				<p class="ack-acknowledgement-text">He looked at each officer in turn, fixing them with a piercing stare. Major Dutton’s face might have been flushed scarlet from the bottle of claret that he had consumed to dull the boredom of another suffocating evening, but his eyes were sharp. The most senior of Dutton’s three lieutenants, a garrulous Scotsman named Campbell, met Proudfoot’s gaze with calm confidence. The youngest of the subalterns, Lieutenant Gartry, a ginger-haired nineteen-year-old whose clergyman father had still not forgiven his only son for refusing to join the church, looked nervous, his tongue flickering over his cherry-red lips in short, darting movements. He failed to meet Proudfoot’s stare, his eyes downcast as if that would somehow save him from saying anything.</p>
				<p class="ack-acknowledgement-text">The last of Dutton’s lieutenants, Lieutenant Spencer, a tall, grave man who looked more suited to the sombre trade of an undertaker than the violent world of being a soldier, gazed down on the preparations like an ancient vulture wondering if it could raise the strength to join in a squabble over a rotting carcass. Yet at least he appeared to be giving the discussion his full attention, unlike Captain Kingsley, who stood and walked away, preferring to concentrate on filling his glass with more of the major’s port rather than contribute to whatever plan his fellow officers were concocting.</p>
				<p class="ack-acknowledgement-text">‘As you now know, we face a perilous few days.’ Proudfoot spoke in an earnest tone, only the slightest furrow in his brow revealing his annoyance at Kingsley’s lack of attention. ‘It is time to show that blackguard of a maharajah that he cannot stand against Her Majesty’s authority. He must be brought to heel and I am relying on you to do it. Dutton, what say you?’</p>
				<p class="ack-acknowledgement-text">‘A fortress.’ Major Dutton began to outline his proposal in the clipped, controlled tones of a man sure of his strategy. ‘We build a defensive wall here. The 24th’s barracks can form the right flank, with the storerooms as a strong point on the south-east corner.’ He thrust a podgy finger at the corner of his scribbled pencil drawing, smudging the thin line that denoted the western wall of his fortress in the process. ‘That gives us a field of fire here and here’ – again the thick finger poked at the paper, leaving behind more sweaty fingerprints – ‘and strong points here and here.’</p>
				<p class="ack-acknowledgement-text">The look on his fellow officers’ faces revealed both their understanding and their approval of the plan. Dutton commanded three companies of the 12th Bengal Native Infantry, each led by one of his lieutenants. All were young, ambitious men who had purchased a commission in the East India Company as a means of securing what they hoped would be a glittering and financially rewarding future. Each was the sole white officer in their company. Their subalterns were all native men of long experience who had worked their way through the ranks, earning each promotion through long and blemish-free service. None had been asked to attend the officers’ conference.</p>
				<p class="ack-acknowledgement-text">‘Write it up, Gartry, there’s a good fellow.’ Dutton gave the order as he finished explaining his outline for the defence of the cantonment.</p>
				<p class="ack-acknowledgement-text">The younger officer looked relieved to have been given such an undemanding role, and he pulled over some blank paper so he could begin a neater version of Dutton’s plan.</p>
				<p class="ack-acknowledgement-text">Dutton nodded in approval. He looked at his third subaltern, who had so far remained silent. ‘Lieutenant Spencer, begin listing the provisions we will need to bring into the fortress.’</p>
				<p class="ack-acknowledgement-text">‘Very good, sir.’ The grey-faced lieutenant picked up a bottle of ink and a steel pen, his face still as neutral as it had been when Dutton first announced that the cantonment was about to be attacked.</p>
				<p class="ack-acknowledgement-text">‘Kingsley?’ Dutton sought to bring the commander of the 24th’s single company into the discussion. ‘How would you suggest we dispose our forces?’</p>
				<p class="ack-acknowledgement-text">Kingsley walked slowly towards the table, contemplating the last remnants of port in his tiny glass. ‘What’s that you say, Dutton?’</p>
				<p class="ack-acknowledgement-text">‘Our forces.’ Dutton made little effort to contain the tetchy note in his reply. As ever, Kingsley’s supercilious demeanour nettled the major. He had only been in the cantonment for a short time, but he had made it clear from the start that he looked down on the four officers who held commissions granted by the East India Company rather than by the Queen. Dutton had done his best to be open and welcoming, but his patience was wearing thin. ‘How would you suggest we deploy the men?’</p>
				<p class="ack-acknowledgement-text">Kingsley drained his glass and moved forward to peer at Dutton’s scribbled map. ‘The 24th will hold the barracks. I suggest your men hold the rest of the perimeter. If you can.’</p>
				<p class="ack-acknowledgement-text">Dutton spluttered at the captain’s choice of words. ‘What the devil do you mean, if we can?’</p>
				<p class="ack-acknowledgement-text">Kingsley sneered disdainfully. ‘I doubt your damn sepoys will stand. My men will hold the strong points and I would suggest you stay close enough to make a dash for our ranks when your fellows bolt. You, Spencer or whatever your damn name is,’ Kingsley fluttered a finger in the lieutenant’s direction, ‘make sure the ammunition and spare muskets are in my men’s barracks. The last thing we need is to be left without enough damn cartridges.’</p>
				<p class="ack-acknowledgement-text">Dutton snapped his pencil as he struggled to contain his rage. ‘How dare you, Kingsley! My men will stand and fight, goddammit. I bet my very life on it.’</p>
				<p class="ack-acknowledgement-text">‘Well then.’ Kingsley didn’t bat an eyelid at the major’s angry display. ‘I rather fancy you’ll get your chance to do just that pretty soon, don’t you?’</p>
				<p class="ack-acknowledgement-text">‘Gentlemen, please.’ Major Proudfoot had left his officers, moving to sit in a fine leather wing-backed armchair facing away from the table. He spoke in the mild tones of a gentleman in his club ordering a peg and soda. ‘We cannot waste time arguing amongst ourselves.’</p>
				<p class="ack-acknowledgement-text">Dutton looked like he was about to explode. ‘That damned man made a very serious accusation. I’ll not stand by and let him insult my command.’</p>
				<p class="ack-acknowledgement-text">‘Dutton, please.’ Proudfoot crossed his legs as he spoke, folding his hands into his lap. ‘Your idea of establishing a fortress is a fine one. But do you not think it a little tame?’</p>
				<p class="ack-acknowledgement-text">‘Tame?’</p>
				<p class="ack-acknowledgement-text">‘Well, I rather think it looks as though we are skulking away, don’t you agree?’</p>
				<p class="ack-acknowledgement-text">‘Do you have a better idea?’ Dutton threw the remnants of his snapped pencil on to the table, his temper threatening to bubble over.</p>
				<p class="ack-acknowledgement-text">Proudfoot formed his fingers into a steeple, holding them to his lips as if mulling over the problem. The officers waited with growing impatience for his answer, his enigmatic silence picking at their already thinly stretched nerves.</p>
				<p class="ack-acknowledgement-text">The door opened, breaking the silence. Lieutenant Fenris walked into the room. His right hand was heavily bandaged, the dull red stain of blood a dark shadow against the clean white of the dressing.</p>
				<p class="ack-acknowledgement-text">‘I say, sorry I’m late. I had a little business to attend to. Did I miss anything?’</p>
				<p class="ack-acknowledgement-text">Proudfoot smiled indulgently at the junior officer’s nonchalant confidence. ‘The Maharajah is going to attack us, Arthur. We are planning our defence.’</p>
				<p class="ack-acknowledgement-text">Fenris smiled at the announcement, clearly not shocked by the revelation. ‘Well that’s a jolly good show. It’s about time we brought the bugger to his knees. So what’s the plan?’</p>
				<p class="ack-acknowledgement-text">The officers looked at each other, the tension obvious in the glare Dutton shot towards Captain Kingsley.</p>
				<p class="ack-acknowledgement-text">‘There is some debate on the matter.’ Proudfoot offered the bland explanation with a humourless smile. ‘Would you care to venture an opinion?’</p>
				<p class="ack-acknowledgement-text">‘Well it’s damn simple, isn’t it?’ Fenris helped himself to a glass of port from the opened bottle left on a side table. ‘Beat the buggers black and blue and send them scurrying away with their tail between their bloody legs.’</p>
				<p class="ack-acknowledgement-text">‘In open battle or in a defensive stand here at the cantonment?’ Proudfoot enquired reasonably.</p>
				<p class="ack-acknowledgement-text">‘What? In the open, of course.’ Fenris held his hand to his head in a dramatic gesture of understanding. ‘Dutton wants to stay here, don’t you, old boy?’</p>
				<p class="ack-acknowledgement-text">‘I think that would be the sensible course of action, yes.’ Dutton bristled at the young officer’s theatricals.</p>
				<p class="ack-acknowledgement-text">‘Of course you do. Much safer.’ Fenris smiled thinly. ‘But that’s all a bit dull. Sitting here blasting away from behind a wall won’t make great reading, will it? I say we fight them properly. Like the old duke would have done. Engage them in battle and beat the living daylights out of the impudent buggers.’</p>
				<p class="ack-acknowledgement-text">Kingsley walked to his subaltern’s side, snatching away the bottle of port that the younger officer was threatening to empty all on his own. ‘Fenris is right. We should fight them in the open. There is no need to hide away from a bunch of bloody bandits. We find them, we fire a few volleys and they run for their sorry lives. It really is awfully simple.’</p>
				<p class="ack-acknowledgement-text">Proudfoot smiled wolfishly at the advice. ‘You are a man after my own heart, Kingsley. Indeed you are.’ He rose athletically to his feet as if suddenly revitalised by the new plan. ‘That does sound somewhat grander, don’t you think, Dutton?’</p>
				<p class="ack-acknowledgement-text">Dutton opened his mouth to snap back an answer before thinking better of it, biting off his angry words before they were said. He looked down and studied the table, using the distraction to compose himself. When he turned to face Proudfoot once again, his expression was calmer.</p>
				<p class="ack-acknowledgement-text">‘The Maharajah has more than two thousand men.’ He spoke quietly. ‘Most of those are mounted cavalry, but even his infantry outnumber us many times over. If we venture into open country, we will make their task easier and ours a damn sight more difficult. We have neither cavalry to protect our flanks nor cannon to engage them at a distance. It would be a close-run affair.’</p>
				<p class="ack-acknowledgement-text">Kingsley snorted, his opinion of Dutton’s analysis clear. He walked across the room taking the port with him, refilling his glass as he walked and downing the heavy fortified wine in a single mouthful.</p>
				<p class="ack-acknowledgement-text">Proudfoot was more vocal in his condemnation. ‘Major Dutton. I have lost count of the times you have told anyone who cared to listen that the Maharajah’s forces amount to nothing. Why such timidity now?’</p>
				<p class="ack-acknowledgement-text">Dutton cleared his throat before dodging the question. ‘It is my professional opinion that we must fight a defensive action. To engage such superior numbers in the open is foolhardy.’</p>
				<p class="ack-acknowledgement-text">Proudfoot nodded wisely before adopting a more formal tone. ‘Thank you for your advice, Major.’ He turned and addressed the captain of the 24th Foot, who had refilled his glass and now sipped more cautiously at the contents. ‘Captain Kingsley. You have heard Major’s Dutton’s conclusion. What say you?’</p>
				<p class="ack-acknowledgement-text">‘My opinion hasn’t changed. Fight them in the open and get the damn thing over with. That rabble will soon run when the lead starts to fly.’ He turned and sneered sarcastically at Dutton. ‘I bet my life on it.’</p>
				<p class="ack-acknowledgement-text">Proudfoot nodded again. ‘I’m of a mind to agree with you, Captain Kingsley.’ His grave expression did not sit well with the gleam of triumph in his eyes. ‘My decision is made. We will fight the Maharajah in the open. Build your fortress, Dutton, if it makes you feel any better. We will need somewhere to corral the women and the sick. You can leave half a company here as a reserve. But we shall fight like British soldiers, not some bloody Frenchmen.’ He glared at Dutton, daring him to continue to argue.</p>
				<p class="ack-acknowledgement-text">Dutton swallowed hard as he was overruled. ‘Very well, sir. I shall see that my men are ready to march.’</p>
				<p class="ack-acknowledgement-text">Proudfoot was clearly delighted to have won the battle of wills so easily. ‘Thank you.’</p>
				<p class="ack-acknowledgement-text">Yet the commander of the 12th was not quite finished. ‘What of the impostor, Lark?’</p>
				<p class="ack-acknowledgement-text">Proudfoot’s face creased into a scowl. ‘What of him?’</p>
				<p class="ack-acknowledgement-text">‘Where is he to be during the action?’</p>
				<p class="ack-acknowledgement-text">‘Move him into the storerooms. He can rot there for all I care.’</p>
				<p class="ack-acknowledgement-text">Dutton reached forward, taking the two halves of the broken pencil, holding them carefully together as if trying to repair the damage. ‘I would have thought that was a waste.’</p>
				<p class="ack-acknowledgement-text">‘A waste!’ Fenris interrupted before Proudfoot could reply. ‘The man will hang. Who cares where the bastard goes.’</p>
				<p class="ack-acknowledgement-text">‘I do.’ Dutton’s eyes flashed in anger as he sought to enforce his will over his superior. ‘He is the only man here to have seen the Maharajah’s forces up close, and the only man who has actually been involved in some action.’</p>
				<p class="ack-acknowledgement-text">‘Only if you believe that cock-and-bull story he concocted.’ Fenris snapped his reply.</p>
				<p class="ack-acknowledgement-text">Proudfoot lifted a hand, silencing the junior officer. ‘Hush, Arthur. Go on, Dutton.’</p>
				<p class="ack-acknowledgement-text">‘Whether or not you believe his story, he is still the only man to have seen the enemy. He is too valuable to be ignored.’</p>
				<p class="ack-acknowledgement-text">Proudfoot scowled as he thought on Dutton’s words. ‘You are right. Speak to him, Dutton. See what he knows.’</p>
				<p class="ack-acknowledgement-text">‘And what can I offer him?’ Dutton smiled, but with no warmth. ‘Why should he help us? He knows he is to hang.’</p>
				<p class="ack-acknowledgement-text">Proudfoot nodded. He paced across the room, clearly deep in thought, before slumping back into his favourite armchair.</p>
				<p class="ack-acknowledgement-text">‘You are quite right, Dutton. Lark could be a valuable asset. It would be foolish of us to dismiss him out of hand.’ He pondered the matter further before smiling as he found a solution to his liking. ‘Offer to let him fight. The man is supposed to be a redcoat, after all. Let him ply his trade in his true rank. Who knows, if he proves himself in battle, perhaps it will go well for him. If he falls, well, no one is going to lament the passing of a damned villain.’ Proudfoot arched his eyebrow at Lieutenant Fenris to make sure he had got the message before picking up the most recently arrived copy of <span class="bt1-body-text-1-italic">The Times</span>, which had been neatly folded and left on the small drum table near his chair. ‘If he agrees to provide the information, then he can join the 24th.’</p>
				<p class="ack-acknowledgement-text">Dutton nodded, glad to have secured one victory, albeit a small one. He returned to the sketch of his fortress, oblivious to the look of delight on Fenris’ face, as he understood his commander’s pointed comment.</p>
				<p class="ack-acknowledgement-text">The commander of the British forces had made his decision.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../yftltn.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Dedication</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Acknowledgments</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Glossary</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Two</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Ten</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-52">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-53">Chapter Forty-five</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-54">Epilogue</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-55">Historical Note</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0038.html" class="calibreAPrev">previous page</a>
    

    <a href="../../yftltn.html" class="calibreAHome"> start</a>

    
      <a href="part0040.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
