<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472222701_EPUB-16.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../qzj5e1.html">The Devil's Assassin (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0015.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0017.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472222701_EPUB-16.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-15" class="toch-table-of-contents-main-head"><img class="image13" src="../images/00014.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="tsn-typesetter-designer-note">Jack lay on his back and stared at the ceiling. His body ached and the pit of his spine was on fire. But the bed was comfortable, the rumpled sheets cool and the pillow soft, so it was not too much of an effort to let out a deep sigh of contentment and enjoy the rare sensation of being at peace.</p>
				<p class="bt1-body-text">He felt the gossamer-light touch of hair on his cheek. He turned his eyes and stared into the pale face of Sarah Draper.</p>
				<p class="bt1-body-text">‘Have I worn you out?’ The question was asked with a teasing smile as she took hold of a single lock of her own hair and used it to trace a pattern across his face. She grimaced as it snagged on his thin beard. ‘You should shave more often. You look like a navvy.’</p>
				<p class="bt1-body-text">Jack closed his eyes, savouring the sensation of the hair flitting across his skin. ‘I hate shaving.’</p>
				<p class="bt1-body-text">Sarah laughed softly. ‘So I can see. But I’m glad you don’t have a beard. James is always leaving scraps of food in his. I can smell it when he kisses me.’</p>
				<p class="bt1-body-text">Jack felt a pang of guilt as his new bedmate mentioned her husband. To be a cuckold was a sorry affair. To be the one doing the cuckolding left him nursing a sense of shame, however much he had desired it. Draper’s wife clearly thought nothing of it, and he wondered how many other young officers had been enslaved in her bed.</p>
				<p class="bt1-body-text">‘Perhaps I’ll ask him to shave it off.’ Sarah laughed at the notion.</p>
				<p class="bt1-body-text">‘I would advise against it.’ Jack nestled his head into the thick pillow as he offered the advice. ‘In my experience men are fiercely protective of their facial hair. You can offend their wife, mock their children and ridicule their ability to drink. But never, ever remark on their choice of moustache.’</p>
				<p class="bt1-body-text">Sarah leant forward, pressing the firm mound of her breast into his side. ‘I expect you are correct. You are clearly a man of much experience, after all.’</p>
				<p class="bt1-body-text">He opened his eyes. Her face was only an inch from his. She arched her back like a cat, pressing the full length of her body into his.</p>
				<p class="bt1-body-text">‘I wonder if your experience has taught you this.’</p>
				<p class="bt1-body-text">He felt her fingers wander across his chest before heading lower. He sighed. He would not be left to rest.</p>
				<p class="bt1-body-text-1-full-out">‘Like this?’</p>
				<p class="bt1-body-text">‘No. You’re holding it wrong. Extend your arm.’</p>
				<p class="bt1-body-text">‘It’s heavy.’</p>
				<p class="bt1-body-text">‘It’s meant to kill people.’</p>
				<p class="bt1-body-text">Sarah Draper thrust her arm forward, lunging with Jack’s talwar. She fought her imaginary adversary with a series of quick thrusts, her hair bouncing as she darted across the floor of the large bedroom. Jack watched in fascination. She was naked, and he could not tear his eyes from her. She showed no sign of minding his careful scrutiny.</p>
				<p class="bt1-body-text">‘Was that better?’</p>
				<p class="bt1-body-text">‘I have never seen anything more perfect.’</p>
				<p class="bt1-body-text">‘Stop staring at my tits and teach me. I want to learn to fight.’</p>
				<p class="bt1-body-text">Jack curled his arms behind his head. He was sitting up in the messy bed, the tousled covers pulled to his waist. Sarah could practise all day as far as he was concerned. ‘Why would you want to do that?’</p>
				<p class="bt1-body-text">‘So I can protect myself.’</p>
				<p class="bt1-body-text">‘You have me now. I’ll protect you.’</p>
				<p class="bt1-body-text">Sarah snorted in a very unladylike manner. ‘So will you now always be at my side? How very tiresome.’ She turned as she reached the far end of the room, sweeping Jack’s blade through the air and nearly knocking a fine porcelain vase from its stand in the process.</p>
				<p class="bt1-body-text">‘Am I not to be your protector, then?’ Jack tried to make light of the comment. He did not know what he wanted from her, but it still hurt to hear her dismiss him so casually. He shook his head at his own fecklessness. Taking the wife of a colonel to bed was a foolish and dangerous decision. His lust and desire might have overwhelmed his good sense, but that did not mean he could go on with it. As much as he still desired her, he had to quit Bombay and get far away from Ballard.</p>
				<p class="bt1-body-text">‘Good God, no. I cannot imagine how I would explain that to James. Besides, do you not have to return to your regiment soon?’</p>
				<p class="bt1-body-text">‘Not necessarily.’</p>
				<p class="bt1-body-text">Sarah seemed not to hear him. She lifted the sword close to her face, a faint sheen of sweat across her brow. Her fingers gently traced the swirling script etched into the blade. ‘You are a strange fellow, Arthur. You intrigue me.’</p>
				<p class="bt1-body-text">Jack ignored the comment and ran his hand across his face. He noticed the thick growth of beard. Sarah had been correct. He did need a shave.</p>
				<p class="bt1-body-text">‘Where did you get it?’ Sarah asked as she continued to inspect the blade.</p>
				<p class="bt1-body-text">‘Where did I get what?’</p>
				<p class="bt1-body-text">‘Don’t be obtuse. Your sabre.’</p>
				<p class="bt1-body-text">‘It’s a talwar, not a sabre.’</p>
				<p class="bt1-body-text">Sarah pouted. ‘Don’t be pedantic. Where did you get it? You don’t appear to have a penny to your name, yet you carry a talwar that is clearly worth a small fortune.’</p>
				<p class="bt1-body-text">‘How do you know I don’t have a penny?’ Jack was keen to change the topic of conversation. He did not want to dwell on his past. The talwar had been earned. Unlike nearly everything else he possessed, it had been neither bought nor stolen. It was his and his alone and it had been at his side ever since the Maharajah of Sawadh had presented it to him as a reward for his bravery.</p>
				<p class="bt1-body-text">‘I had you investigated. I don’t just leap into bed with anyone, you know. You are living on Lieutenant Knightly’s charity. Why stoop to that when you have a sword . . .  sorry, a talwar’ – she pouted as she corrected herself; clearly she was a woman who did not like to be wrong – ‘that you could sell?’</p>
				<p class="bt1-body-text">‘It’s not for sale.’</p>
				<p class="bt1-body-text">Sarah looked up sharply as she heard the warning tone in his voice. She smiled. ‘How very intriguing. You don’t want to talk about it, do you?’</p>
				<p class="bt1-body-text">Jack said nothing.</p>
				<p class="bt1-body-text">‘Fascinating.’ She dropped the blade and crawled on to the bed, sliding along Jack’s body. She saw his obvious reaction to her approach and smiled. ‘Completely fascinating.’</p>
				<p class="bt1-body-text-1-full-out">Jack forced the buttons of his scarlet tunic into their holes, lifting his chin high as he closed the high collar of his uniform coatee. It was close to mid morning. With her husband spending a few days with his regiment before he took up his staff appointment in Bombay, Sarah was at leisure, and she seemed fully intent on enjoying herself. She had been on her way back from a party when she had spotted Jack roaming the streets. He was grateful that she had whisked him away, but now it was time to make good on his decision to get out of the city before Ballard – or anyone else for that matter – could poke his nose into his affairs.</p>
				<p class="bt1-body-text">‘Aren’t you a little old to still be a lieutenant?’ Sarah asked the pointed question from the bed, where she lay on her side watching her new lover dress as he prepared to leave.</p>
				<p class="bt1-body-text">‘Rank isn’t everything, my dear.’ Jack quickly picked up the casket that he had hidden on a side table.</p>
				<p class="bt1-body-text">‘Yes it is.’ Sarah propped her head on one hand. Her hair fell on to her face and she used her free hand to push it behind her ear. ‘A man should have ambition.’</p>
				<p class="bt1-body-text">Jack offered a wry smile at the comment. ‘Oh, I have ambition. More than you could ever know.’</p>
				<p class="bt1-body-text">‘Truly?’ Sarah did not sound convinced. ‘I will admit that you are not like the other junior officers I have met. Most of them can talk of little else other than their position in the battalion. Who is above whom, and who is buying out so-and-so. You don’t seem to care.’</p>
				<p class="bt1-body-text">‘I don’t. You have to make you own fortune in this life.’</p>
				<p class="bt1-body-text">Sarah’s eyes narrowed at the odd remark. ‘Now you are doing your best to sound enigmatic. I wish there were more like you. Everyone else is just so damn dull.’</p>
				<p class="bt1-body-text">Jack was feeling awkward. He had dressed at her command; she had ordered him to be away before she left to attend on another wife whose husband served with her own. Now that he was ready, she didn’t seem to want him to go.</p>
				<p class="bt1-body-text">‘When you leave, please don’t stamp around like an elephant.’ Sarah smirked as she spoke, as if the comment were amusing. ‘I don’t want you to disturb my escort.’</p>
				<p class="bt1-body-text">‘Escort? Why do you need an escort? I thought you were going to protect yourself. Are you going somewhere dangerous?’</p>
				<p class="bt1-body-text">‘Perhaps. Who knows where I shall go?’</p>
				<p class="bt1-body-text">Jack smiled at her coquettish behaviour. ‘Will you not accompany your husband, then?’</p>
				<p class="bt1-body-text">Sarah frowned at the notion. ‘I have other plans. I have my own path to follow.’</p>
				<p class="bt1-body-text">‘Such as?’</p>
				<p class="bt1-body-text">‘I’m writing a book.’</p>
				<p class="bt1-body-text">‘A book!’ Jack could not help the exclamation. Sarah Draper had not appeared to be the bookish type.</p>
				<p class="bt1-body-text">She frowned. ‘Yes. It should not astonish you that a lady is capable of writing a book.’ Her cheeks flushed crimson; it was clear that she took his reaction to be mockery of her literary ambition.</p>
				<p class="bt1-body-text">Jack shook his head in denial. ‘Don’t be daft, it’s not that. You took me by surprise, that’s all.’ He retreated as quickly as a broken skirmish line. ‘I am not a book person.’ He smiled and tried to appear interested. ‘So what is your book about?’</p>
				<p class="bt1-body-text">‘I plan to write a travel journal, so that I can record the details of the lands I visit before we improve them and destroy their cultures.’</p>
				<p class="bt1-body-text">‘A worthy aim.’</p>
				<p class="bt1-body-text">‘You sound sarcastic.’ Her eyes challenged him.</p>
				<p class="bt1-body-text">‘Not at all. It’s a laudable ambition.’</p>
				<p class="bt1-body-text">‘For a woman.’</p>
				<p class="bt1-body-text">Jack frowned. ‘I didn’t say that.’</p>
				<p class="bt1-body-text">‘You didn’t have to. Do you read, Arthur?’</p>
				<p class="bt1-body-text">‘A little. The paper, that sort of thing.’ Jack fought the blush he could feel on his neck. He could read, but not well. He was slowly improving, but it was still a struggle.</p>
				<p class="bt1-body-text">‘For the first time, you disappoint me.’ Sarah misinterpreted his reply. ‘A gentleman should read.’</p>
				<p class="bt1-body-text">Jack smiled, ignoring the barb. He placed the casket under his arm and bowed at the waist. ‘Well then, it’s a bloody good job I’m not a gentleman.’</p>
				<p class="bt1-body-text">He turned and walked from the room. He did not think he would see Sarah Draper again. He was not certain if he regretted it or not.</p>
				<p class="bt1-body-text-1-full-out">‘I say, you there! Wait a moment.’</p>
				<p class="bt1-body-text">Jack was halfway down the stairs that led to the street when he was stopped in his tracks by a loud, hectoring voice. He turned and saw a young man moving across the upper landing to look down at him. He frowned at the rude command and started down the stairs again. He was not in the mood to chit-chat with a fool.</p>
				<p class="bt1-body-text">‘Stay there, damn you.’ The man chased after Jack, bounding down the upper staircase with a sudden burst of energy. He could not have been much above twenty years of age, but he had all the arrogance of a much older man. His blond hair was slicked back and he was clean-shaven apart from a fine pair of sideburns. He was dressed in a fine coatee of dark blue with a golden waistcoat and cream breeches. At his side hung a slender rapier, the kind of blade favoured by the young dandies who fancied themselves as swordsmen.</p>
				<p class="bt1-body-text">Jack turned and started quickly back up the stairs. The young man saw him turn and hurriedly came to a halt. Yet there was no fear on his face as his quarry marched towards him.</p>
				<p class="bt1-body-text">‘Can I assist you in some way?’ Jack’s words were little more than a snarl. He kept walking up the stairs, his feet thumping heavily on to the polished wood.</p>
				<p class="bt1-body-text">‘I would have a word with you before you leave.’ The blond man stood his ground, facing Jack calmly, only the whites of his knuckles on the hand that gripped the banister betraying any tension.</p>
				<p class="bt1-body-text">Jack was not in the mood to be conciliatory. He knew he had wasted the day. He should have been on his way out of Bombay and far from the grasp of Major Ballard. Instead he had passed the time dallying in a woman’s bed. He could not wholly regret the episode, but he was aware that he had behaved badly by taking another man’s wife. He had set out to make good his ambition to be an officer and to prove that he could achieve so much more than society allowed. He was discovering that the longer he spent in his assumed station, the more he was becoming like the callow officers he so despised. The notion shamed him.</p>
				<p class="bt1-body-text">He stopped in his tracks. ‘Well, out with it.’ His hand slipped to the handle of his talwar, his fingers running over the coarse sharkskin that bound the hilt. The feel of it beneath his fingertips brought to mind an image of Sarah Draper cavorting naked with the weapon, and it took an effort of will to focus instead on the sneering face looking down at him.</p>
				<p class="bt1-body-text">The blond man shot his cuffs before speaking. ‘I am aware you spent the night with my sister.’</p>
				<p class="bt1-body-text">Jack’s face twisted in a wry smile. It was odd that Sarah had not mentioned the fact that her protector was also her brother, but at least it explained the younger man’s acerbic reaction to Jack’s presence.</p>
				<p class="bt1-body-text">‘If you were here, then I’m sure you heard exactly how I passed my time with your sister.’</p>
				<p class="bt1-body-text">The other man grimaced at the vulgar comment. ‘I would advise you to maintain your discretion in the matter. My sister is foolish. I am not. I will not allow her to become the subject of some braggart’s tale-telling.’</p>
				<p class="bt1-body-text">‘Are you warning me?’ Jack felt the first stirrings of anger.</p>
				<p class="bt1-body-text">‘Yes, I am.’ The young man looked down his nose as he offered the pompous reply, preening like a morning cockerel proclaiming its prowess to the world. ‘I am here to protect my sister and I shall not fail in that sacred duty.’</p>
				<p class="bt1-body-text">Jack snorted. ‘And that includes warning off the men she takes to bed?’</p>
				<p class="bt1-body-text">‘My sister’s affairs are her own matter.’ The man’s expression betrayed his thoughts on the subject. ‘But I will not allow her name to be dragged into the gutter. I suggest you remember that when you return to wherever it is you come from.’</p>
				<p class="bt1-body-text">Jack stepped forward, his anger threatening to boil over. ‘Do not presume to tell me how to behave—’ He stopped himself, taking a deep breath as he forced the rage back down. He could not draw his talwar and cut down every man who annoyed him. With his emotions barely contained, and without another word, he turned and went quickly down the stairs, suddenly keen for fresh air.</p>
				<p class="bt1-body-text">His last sight of Sarah’s brother revealed a look of smug satisfaction on the young man’s features. Jack savoured the notion of slamming his fist into the very centre of the arrogant turd’s face. It was not as rewarding as carrying out the act itself, but it was as good as he was going to get.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../qzj5e1.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Praise</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Map – 19th Century Persia</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-18">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-19">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-20">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-21">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-22">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-23">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-24">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-25">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-26">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-27">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-28">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-29">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-30">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-31">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-32">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-33">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-34">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-35">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-36">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-37">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-38">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-39">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-40">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-41">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-42">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-43">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-44">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-45">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-46">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-47">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-48">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-49">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-50">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-51">Epilogue</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-52">Historical Note</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-53">Acknowledgments</a>
    </li>
    <li>
      <a href="part0056.html#toc_marker-54">Read Jack Lark: Rogue, out now</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0015.html" class="calibreAPrev">previous page</a>
    

    <a href="../../qzj5e1.html" class="calibreAHome"> start</a>

    
      <a href="part0017.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
