<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>TOC.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../qzj5e1.html">The Devil's Assassin (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0001.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0003.html" class="calibreANext"> next page</a>
        
      </div>
    

    
			<div class="calibre1">
				<p class="toch-table-of-contents-main-head">Contents</p>
				<p class="toc1-table-of-contents-entry"><a href="part0000.html#toc_marker-1"><em class="calibre2">Title Page</em></a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0001.html#toc_marker-2"><em class="calibre2">Copyright Page</em></a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0003.html#toc_marker-3"><em class="calibre2">About Paul Fraser Collard</em></a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0004.html#toc_marker-4"><em class="calibre2">Also By Paul Fraser Collard</em></a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0005.html#toc_marker-5"><em class="calibre2">Dedication</em></a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0006.html#toc_marker-6"><em class="calibre2">Praise</em></a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0007.html#toc_marker-7"><em class="calibre2">Glossary</em></a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0008.html#toc_marker-8"><em class="calibre2">Map – 19th Century Persia</em></a></p><br class="calibre1"/>
				<p class="toc1-table-of-contents-entry"><a href="part0009.html#toc_marker-9">Chapter One</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0011.html#toc_marker-10">Chapter Three</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0012.html#toc_marker-11">Chapter Four</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0013.html#toc_marker-12">Chapter Five</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0014.html#toc_marker-13">Chapter Six</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0015.html#toc_marker-14">Chapter Seven</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0016.html#toc_marker-15">Chapter Eight</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0017.html#toc_marker-16">Chapter Nine</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0018.html#toc_marker-17">Chapter Ten</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0020.html#toc_marker-18">Chapter Twelve</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0021.html#toc_marker-19">Chapter Thirteen</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0022.html#toc_marker-20">Chapter Fourteen</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0023.html#toc_marker-21">Chapter Fifteen</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0024.html#toc_marker-22">Chapter Sixteen</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0025.html#toc_marker-23">Chapter Seventeen</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0026.html#toc_marker-24">Chapter Eighteen</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0027.html#toc_marker-25">Chapter Nineteen</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0028.html#toc_marker-26">Chapter Twenty</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0029.html#toc_marker-27">Chapter Twenty-one</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0030.html#toc_marker-28">Chapter Twenty-two</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0031.html#toc_marker-29">Chapter Twenty-three</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0032.html#toc_marker-30">Chapter Twenty-four</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0033.html#toc_marker-31">Chapter Twenty-five</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0034.html#toc_marker-32">Chapter Twenty-six</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0035.html#toc_marker-33">Chapter Twenty-seven</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0036.html#toc_marker-34">Chapter Twenty-eight</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0037.html#toc_marker-35">Chapter Twenty-nine</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0038.html#toc_marker-36">Chapter Thirty</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0039.html#toc_marker-37">Chapter Thirty-one</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0040.html#toc_marker-38">Chapter Thirty-two</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0041.html#toc_marker-39">Chapter Thirty-three</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0042.html#toc_marker-40">Chapter Thirty-four</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0043.html#toc_marker-41">Chapter Thirty-five</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0044.html#toc_marker-42">Chapter Thirty-six</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0045.html#toc_marker-43">Chapter Thirty-seven</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0046.html#toc_marker-44">Chapter Thirty-eight</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0047.html#toc_marker-45">Chapter Thirty-nine</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0048.html#toc_marker-46">Chapter Forty</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0049.html#toc_marker-47">Chapter Forty-one</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0050.html#toc_marker-48">Chapter Forty-two</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0051.html#toc_marker-49">Chapter Forty-three</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0052.html#toc_marker-50">Chapter Forty-four</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0053.html#toc_marker-51">Epilogue</a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0054.html#toc_marker-52"><em class="calibre2">Historical Note</em></a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0055.html#toc_marker-53"><em class="calibre2">Acknowledgments</em></a></p>
				<p class="toc1-table-of-contents-entry"><a href="part0056.html#toc_marker-54">Read <em class="calibre2">Jack Lark: Rogue</em>, Out now</a></p>
			</div>


  </div>

  
  <div class="calibreToc">
    <h2><a href="../../qzj5e1.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Praise</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Map – 19th Century Persia</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-18">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-19">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-20">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-21">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-22">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-23">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-24">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-25">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-26">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-27">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-28">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-29">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-30">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-31">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-32">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-33">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-34">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-35">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-36">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-37">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-38">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-39">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-40">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-41">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-42">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-43">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-44">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-45">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-46">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-47">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-48">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-49">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-50">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-51">Epilogue</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-52">Historical Note</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-53">Acknowledgments</a>
    </li>
    <li>
      <a href="part0056.html#toc_marker-54">Read Jack Lark: Rogue, out now</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0001.html" class="calibreAPrev">previous page</a>
    

    <a href="../../qzj5e1.html" class="calibreAHome"> start</a>

    
      <a href="part0003.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
