<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200242_EPUB-50.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../_ypqte.html">The Scarlet Thief (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0049.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0051.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200242_EPUB-50.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-50" class="awh1-artwork-head"><img class="image38" src="../images/00049.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">The Battle of the Alma resonates in our history. Many towns boast an Alma Terrace or a pub called The Heights of the Alma and countless little girls have been named after the battle fought over one hundred and fifty years ago. Yet it appears to have disappeared from our national consciousness. Ask people about Waterloo and all will know of the great battle where Wellington defeated Napoleon. Ask about the Alma and you will be greeted with blank looks or given directions to a nearby hostelry.</p>
				<p class="bt1-body-text">The tale of battle happens largely as described in <span class="bt1-body-text-1-italic">The Scarlet Thief</span>. The King’s Royal Fusiliers have stolen the role of the 33rd Regiment of Foot and for that I humbly apologise to the men who fought on that bloody day in the ranks of that most illustrious regiment. General Raglan did indeed fling his troops against the heart of the Russian position and one has only to look at the enormous casualties those leading regiments took to see what it cost the men ordered to advance towards the massed ranks of the Russian army. Raglan rightly received harsh criticism in the national press, much of it written by officers so appalled that they broke the gentleman’s code of not ‘croaking’ by writing to the newspaper in droves.</p>
				<p class="bt1-body-text">Raglan and Codrington existed, as did the charismatic Colonel Lacy Yea who did indeed order his battalion to ‘<span class="bt1-body-text-1-italic">Never mind forming! Come on, men! Come on, anyhow</span>.’ Otherwise the characters are from my own imagination, yet I hope they convey something of the men who had the mettle to fight in that mot terrible of battles.</p>
				<p class="bt1-body-text">Anyone wishing to study the battle in more detail will find a wealth of resources available. I would not hesitate to recommend <span class="bt1-body-text-1-italic">The Battle of the Alma</span> by Ian Fletcher and Natalia Ishchenko for a wonderful account of the battle from both a Russian as well as a British perspective. For more detail on the life of the redcoat I cannot speak highly enough of <span class="bt1-body-text-1-italic">Redcoat</span> by the unsurpassed Richard Holmes, a book that is never far from my side.</p>
				<p class="bt1-body-text">Jack Lark will soldier on. Somehow he will find the strength to put Molly’s death and his memory of the bitter fighting behind him. His adventures will take him far and wide and without a tie to a regiment or even to a name he will venture across a British Empire that was at its very peak in the middle of the nineteenth century.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../_ypqte.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Acknowledgements</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Chapter One</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter Two</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Tenty-eight</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Forty</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Epilogue</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Historical Note</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Read on for a Preview of The True Soldier</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0049.html" class="calibreAPrev">previous page</a>
    

    <a href="../../_ypqte.html" class="calibreAHome"> start</a>

    
      <a href="part0051.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
