<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200280_EPUB-50.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../yftltn.html">The Maharajah's General (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0049.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0051.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200280_EPUB-50.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-50" class="awh1-artwork-head"><img class="image28" src="../images/00048.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">‘Front rank! Kneel!’</p>
				<p class="ack-acknowledgement-text">Jack had formed his half-company into a double rank facing towards the north wall. He saw the desperate struggle around the perimeter but he held his men back, certain that to commit them now would be to throw their lives away. Their barrack block was behind them, a final refuge should they be forced to retreat.</p>
				<p class="ack-acknowledgement-text">The drumming vibrated through the ground. He had felt the dreadful noise before and he knew what was coming.</p>
				<p class="ack-acknowledgement-text">The trumpets sounded again. He had recognised the call. His body still reacted, the thrill of the rising notes setting his nerves on edge. This time he was the target of the charge.</p>
				<p class="ack-acknowledgement-text">‘Stand firm, men.’</p>
				<p class="ack-acknowledgement-text">He saw the look of horror on his men’s faces, their eyes wide as they watched the confused melee in front of them, their knuckles showing white as they held their weapons tight.</p>
				<p class="ack-acknowledgement-text">The lancers were moving fast now. Jack could see glimpses of their beautiful blue jackets and he felt a pang of pride at the disciplined order of their charge. The sepoys saw them too. In desperation, they ran, fleeing the dreadful weapons that were held so still despite the wild motion of the galloping horses. The Maharajah’s foot soldiers cut them down as they tried to escape, slashing their weapons forward before they too fled, scrambling away to the flanks lest their own cavalry ride them down.</p>
				<p class="ack-acknowledgement-text">Jack watched as the surviving sepoys broke. They had fought hard, defying the terrible odds, holding the line when lesser men would have run.</p>
				<p class="ack-acknowledgement-text">Yet none could stand in the face of the lancers.</p>
				<p class="bt1-body-text-1-full-out">Dutton roared as he fought. He stamped his right foot forward, driving his sword into the guts of one of the wild hill men who had broken through the line. He twisted the blade, stepping backwards before backhanding it and beating aside the spear that had been thrust at his side. He punched the sword forward once more, snatching away the throat of the man who had tried to kill him, the whisper of blood flung wide by the blow.</p>
				<p class="ack-acknowledgement-text">The press of men around him eased, the nearest enemy soldiers backing away before turning to run.</p>
				<p class="ack-acknowledgement-text">‘Thank God.’ Dutton felt the surge of relief course through him. They had held. They had done the impossible.</p>
				<p class="ack-acknowledgement-text">‘Back to the barricade! Well done, men! Well done …’ The major’s voice died away. His men were running. The enemy were clearing to the flanks, their faces twisted in fear as they fled.</p>
				<p class="ack-acknowledgement-text">Dutton didn’t understand. He looked at the remains of the wall he had ordered made. There was little of it left, the mealie bags and crates pushed aside or lying crushed and splintered where the enemy had broken through. Along its length was a carpet of bodies, the bright red of the sepoys’ jackets spread thickly amidst the corpses of the enemy.</p>
				<p class="ack-acknowledgement-text">The ground vibrated under his feet, a deep, resonant thunder that reverberated through his exhausted body. Dutton looked up, and for the first time he saw the blue line that surged towards him.</p>
				<p class="bt1-body-text-1-full-out">The lancers charged the barricade. The horses leapt over the remains of the obstacle, their riders swaying in the saddle as they adjusted their weight to absorb the landing. They swept on without a pause, their lances twitching as they calmly picked their first targets.</p>
				<p class="ack-acknowledgement-text">They hit the running men with an audible slap. The screams of the dying were shut off as their bodies fell under the galloping horses, the heavy hooves crushing away any last vestige of life. The lancers’ line broke as they charged into the fleeing sepoys, the riders yanking at the reins as they sought more targets for their blood-splattered lances. The sepoys were slaughtered as they ran, the merciless lancers spurring hard to ride down any that survived.</p>
				<p class="ack-acknowledgement-text">‘Front rank. Fire!’ Jack roared the order as soon as he saw the left flank of the lancers’ line break through the thin screen of scattered sepoys. ‘Reload!’</p>
				<p class="ack-acknowledgement-text">He watched in grim satisfaction as the nearest lancers fell to the first volley, the musket balls slamming cruelly into the flesh of horse and rider, the fire indiscriminate.</p>
				<p class="ack-acknowledgement-text">‘Rear rank, present!’</p>
				<p class="ack-acknowledgement-text">He counted the seconds in his head. He knew it would take his men around twenty seconds to reload, and he had to hold back the rear rank’s volley to make sure the redcoats kept up a regular fire on the swarming lancers. He waited, his icy calm reassuring his command, who watched in horror as the enemy lancers butchered the remains of Dutton’s fortress.</p>
				<p class="ack-acknowledgement-text">The seconds crawled by. The front rank rushed to reload their muskets, but to Jack it seemed as if time had frozen. He saw an unseated lancer scramble to his feet, his hands reaching for the sabre belted around his waist. He stared at the man, recognising him from the long hours spent drilling with the lancers. He saw sadness on the man’s face as he watched his mount drumming its hooves into the ground in agony, its body swathed in a sheet of red blood from the dreadful wound in its chest. The lancer turned, his face twisted in hatred, his sword lifting as he charged towards the 24th, determined to carry on the fight, to take his sabre against the men who had killed the horse he had loved.</p>
				<p class="ack-acknowledgement-text">‘Fire!’</p>
				<p class="ack-acknowledgement-text">The second rank’s volley crashed out. Jack gripped and re-gripped the handle of his sword as he began the long, slow count for a second time. The unseated lancer was gone, his remains lying no more than ten paces from the thrashing body of his mount, his rage and desire for revenge obliterated by the musket ball that had torn his body apart.</p>
				<p class="ack-acknowledgement-text">‘Dutton!’ Through the powder smoke Jack saw the major staggering backwards. His hat was gone and a river of blood ran from a dreadful wound to his scalp. Jack was close enough to see the blood that stained the sabre in Dutton’s hand. The major turned, his face twisted into a grimace of horror.</p>
				<p class="ack-acknowledgement-text">Jack held his stare. He could see the pain in the older officer’s face, the dreadful shock at the lancers’ charge clear in his wide, vacant eyes.</p>
				<p class="ack-acknowledgement-text">A lancer rode Dutton down. The long lance was driven through the major’s back with such force that the tip emerged from his chest in a gory fountain of blood. Dutton fell instantly, his body thrown like a rag doll to lie face down in the dirt.</p>
				<p class="ack-acknowledgement-text">‘Front rank! Fire!’ Jack ordered the next volley despite the shudder that ran through him as he watched his fellow officer die. He was acting like an automaton, the commands coming unbidden to his lips as he handled the power of the 24th’s brutal volleys with familiarity, a craftsman using his tools.</p>
				<p class="ack-acknowledgement-text">The lancer who had struck Dutton down turned as the volley thundered out. He didn’t flinch as the bullets whispered past, but pulled hard at his horse’s reins, his free right hand reaching for the jewel-encrusted sabre at his waist now that his lance was stuck fast in Dutton’s body, the need to fight driving him, the urge to kill all-consuming. Jack recognised the rider. The Maharajah of Sawadh had not shirked the fight.</p>
				<p class="ack-acknowledgement-text">Jack stared as the Maharajah rammed his spurs hard into his mount’s side, the enemy leader’s mouth wide open as he summoned his riders to greater efforts. Jack tore his eyes away. There was no time for regret. He stalked along his thin line, walking from flank to flank, prowling behind his men, counting off the seconds until the next volley, the steady rate of fire the only thing that could save them from the same bloody fate as Dutton and his men.</p>
				<p class="bt1-body-text-1-full-out">The lancers ploughed across the parade square. The open area that had seemed such a boon to the defenders was now transformed into a killing ground.</p>
				<p class="ack-acknowledgement-text">A handful of sepoys still ran for their lives, the terrified fugitives scattering to the wind as they tried to escape the dreadful lances. None made it more than fifty yards. Red-coated bodies lay dotted in every direction. A few still lived, twisting and writhing on the ground in agony, the wounds inflicted by the razor-sharp lance tips horrific. Most lay still, in the unnatural, twisted poses of death, victims of the dreadful skill of the disciplined lancers.</p>
				<p class="ack-acknowledgement-text">Jack heard the trumpet blare. The Maharajah’s voice roared as he ordered his men to re-form, reasserting control over the lancers who had ridden to such bloody success. For the battle was not yet finished.</p>
				<p class="ack-acknowledgement-text">The Maharajah reined in, coming to a halt directly opposite the 24th’s thin line. The lancers began to assemble around him, the ordered lines rebuilding after the careering gallop in pursuit of the fleeing sepoys.</p>
				<p class="ack-acknowledgement-text">Jack pushed through his men. ‘Reload.’ He gave the order quietly as he walked to stand in front of the line, directly in the Maharajah’s path. As he did so, he watched the Maharajah. He saw the rueful smile on the man’s face, the slow shake of the head as the ruler realised that the Englishman he had allowed to live was standing in his way. Yet there was coldness in the brown eyes now, a despair that Jack had not seen before.</p>
				<p class="ack-acknowledgement-text">He withdrew his revolver, taking it in his left hand, his talwar ready in his right. As he watched, the smile left the Maharajah’s face. It was replaced by the dispassionate expression of a killer.</p>
				<p class="ack-acknowledgement-text">Behind him, the outnumbered redcoats stood in silence. In front of them, the lancers aligned their ranks so that their charge would bear down on their red-coated opponents who waited so patiently to meet them. The defiant British soldiers were the final obstacle between the Maharajah and success. It would take one last charge, one last bloodletting, and he would claim the victory that could save his kingdom.</p>
				<p class="ack-acknowledgement-text">The trumpet blared. The three notes were clear, the even call echoing in the silence that had fallen over the blood-soaked battlefield.</p>
				<p class="ack-acknowledgement-text">It was the call to charge, the challenge to the cavalry to rake back their spurs and commit to the final madness.</p>
				<p class="ack-acknowledgement-text">And it came from the British.</p>
				<p class="bt1-body-text-1-full-out">The 1st Bengal Irregular Cavalry responded to the call to charge, the tide of bright yellow jackets flowing quickly into the wide expanse of open ground. With teeth bared, the dark faces beneath the golden headgear opened their mouths to scream their challenge aloud, the thrill of combat driving them forward.</p>
				<p class="ack-acknowledgement-text">A red-coated officer led the charge. Even from a distance, Jack could recognise the man who had become his enemy. Fenris held his sabre raised above his head as he thundered towards the Maharajah’s cavalry.</p>
				<p class="ack-acknowledgement-text">The British tore into the flank of the stationary lancers. They scythed through the ordered ranks, cutting the blue-coated men down before they could react. The right-hand side of the Maharajah’s formation was gutted in moments, the British irregular cavalrymen ripping it to shreds.</p>
				<p class="ack-acknowledgement-text">The lancers broke. The easy victory was snatched away, the final charge against the stubborn redcoats forgotten as they pulled at their reins and urged their tired mounts to turn and make a dash for safety.</p>
				<p class="ack-acknowledgement-text">The Bengal Cavalry went after them, cutting down any too slow to escape their brutal assault. Some lancers broke free from the vicious melee; Jack saw the Maharajah bent low over his saddle, surrounded by a group of his men who were thrusting their lances at the yellow-coated cavalrymen, selling their own lives in a desperate bid to give their ruler the chance to escape.</p>
				<p class="ack-acknowledgement-text">‘Stay here!’ He shouted the order as he ran, leaving his astonished command to watch as he dashed towards the heart of the melee. It was time to find a horse.</p>
				<p class="bt1-body-text-1-full-out">The animal pulled away from Jack’s approach. Its nostrils flared wide in distress, but it had been trained well and it only shied away before again standing still close to the torn body of its fallen master.</p>
				<p class="ack-acknowledgement-text">Jack murmured as he approached, using the words he had learnt under Prince Abhishek’s tutelage, holding out his hand to the nervous animal. He trod carefully around the ruined body of the lancer. The poor man had been hit full in the face by a musket ball, and there was nothing but a nauseating, pulsating mass where his head had once been.</p>
				<p class="ack-acknowledgement-text">The animal whinnied, something in Jack’s manner reassuring, the soft words soothing its fear. It shivered as the unfamiliar touch ran over its flanks, but it stayed still long enough for Jack to launch himself into the saddle.</p>
				<p class="ack-acknowledgement-text">He slipped his feet into the stirrups, the familiar feeling of being astride a horse rushing through him. He pulled gently on the reins, turning the animal’s head around before kicking it into motion.</p>
				<p class="ack-acknowledgement-text">He rode after the Maharajah.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../yftltn.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Dedication</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Acknowledgments</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Glossary</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Two</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Ten</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-52">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-53">Chapter Forty-five</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-54">Epilogue</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-55">Historical Note</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0049.html" class="calibreAPrev">previous page</a>
    

    <a href="../../yftltn.html" class="calibreAHome"> start</a>

    
      <a href="part0051.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
