<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200280_EPUB-22.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../yftltn.html">The Maharajah's General (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0021.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0023.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200280_EPUB-22.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-22" class="awh1-artwork-head"><img class="image18" src="../images/00020.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">‘There’s the damned impostor! Arrest him!’ Lieutenant Fenris bellowed the accusation as soon as he clapped eyes on Jack, his voice rising in excitement.</p>
				<p class="ack-acknowledgement-text">‘What on earth?’ Youngsummers’ prayer was quickly forgotten as Fenris bounded from the saddle and rushed past the astonished clergyman.</p>
				<p class="ack-acknowledgement-text">Jack had always known this moment could come, but he had believed he would be safe for longer than the few days he had spent at Bhundapur. He cursed his fortune but straightened his spine and resolved to meet his denunciation with as much dignity as he could muster. He had often wondered how he would face it. He had imagined every reaction – anger, fear, denial – but had never conceived that he would feel so little. His heartbeat had barely increased in the time since Fenris had shouted his crime aloud, despite the look of shock and horror he saw appear on Isabel’s face.</p>
				<p class="ack-acknowledgement-text">‘You damned blackguard.’ Fenris’ lips pulled back in anger as he snarled the words.</p>
				<p class="ack-acknowledgement-text">Jack could see the younger officer’s body vibrating with barely controlled rage. The intention to strike was obvious, his right hand already balled tightly into a fist and moving upwards, the blow driven by all his pent-up anger. But Jack was quicker. He grasped Fenris tightly by the forearm before it had travelled more than a few inches. There was time enough to register the shock on the young officer’s face before Jack snapped his forehead forward, smashing it into the centre of Fenris’ face.</p>
				<p class="ack-acknowledgement-text">The leading rank of redcoats dashed forward at the double as their officer hit the ground. Led by a corporal whose name Jack could not place, they hefted their muskets, ready to use them against the man they had been ordered to arrest the moment they arrived.</p>
				<p class="ack-acknowledgement-text">Jack lifted his hands in surrender. His forehead might have throbbed from the blow but there was satisfaction in seeing Fenris on the floor, cupping his hands over his broken nose in a futile attempt to staunch the flow of blood that gushed from the wound.</p>
				<p class="ack-acknowledgement-text">‘No rumpus, all right?’ The corporal asked the question hopefully, clearly not relishing the unpleasant task of arresting the man he had believed was his commanding officer.</p>
				<p class="ack-acknowledgement-text">‘I’ll not cause you a problem, Corporal.’ Jack kept his eyes on Fenris as he spoke, wary of a sudden attack.</p>
				<p class="ack-acknowledgement-text">But the sight of his own blood had dampened the lieutenant’s urge to fight. ‘You’ll hang, you bastard,’ Fenris gasped, the effort of speaking jarring his battered face.</p>
				<p class="ack-acknowledgement-text">‘Hang? Who will hang? Would someone please tell me what is going on?’</p>
				<p class="ack-acknowledgement-text">Isabel Youngsummers had rushed over as soon as Fenris had hit the ground. She now demanded an answer to her question, her wavering voice betraying her shock. Her father had chosen to ignore the confrontation and was instead engaging the new captain of the 24th with a barrage of questions, accusations and commands. The Maharajah and his lancers stood immobile, content to remain spectators so long as the British chose to fight amongst themselves.</p>
				<p class="ack-acknowledgement-text">Isabel squatted to the ground, deftly extracting Fenris’ handkerchief from his pocket. She pressed it to the centre of the lieutenant’s face whilst using her free hand to tilt his head backwards so that he looked to the sky.</p>
				<p class="ack-acknowledgement-text">‘That man is a damned impostor and he’ll hang for his crime.’ It was hard to make out the words as Fenris tried to speak and breathe through his mouth at the same time, but Isabel understood enough to offer a shocked gasp.</p>
				<p class="ack-acknowledgement-text">‘An impostor! I don’t believe it. Danbury, tell me what is going on here this instant.’</p>
				<p class="ack-acknowledgement-text">‘He’s quite correct.’ Jack fixed his eyes on Isabel’s. ‘I am an impostor. I’m not Danbury. I’m not even an officer.’</p>
				<p class="ack-acknowledgement-text">‘Isabel, that bloody hurts!’ Fenris tried to push away Isabel’s hand, which gripped his nose tightly as she tried to make sense of Jack’s revelation.</p>
				<p class="ack-acknowledgement-text">The protest brought her out of her silence. ‘You are not Captain Danbury?’</p>
				<p class="ack-acknowledgement-text">‘No. My name’s Jack.’</p>
				<p class="ack-acknowledgement-text">‘And you are a fraud and a blackguard and I shall piss on your grave.’ Some of the fire was returning to Fenris’ belly as Isabel’s presence urged him to show more courage.</p>
				<p class="ack-acknowledgement-text">‘Arthur!’ Isabel released Fenris’ bloodied nose, causing him to curse as the action sent a bolt of pain through the centre of his brain.</p>
				<p class="ack-acknowledgement-text">‘He is correct. I may well hang.’ Jack leant down and offered Isabel his hand.</p>
				<p class="ack-acknowledgement-text">‘Why? Why must you hang?’ She took his hand, rising to her feet so that she stood barely a foot from him.</p>
				<p class="ack-acknowledgement-text">Jack wanted nothing more than to reach out and run his hand through her hair. She had done her best to assert some order to its appearance, clipping it with the hairpins that had so caught his attention when he had first seen her at Proudfoot’s soirée. But her work had been temporary at best, and more than one errant lock had escaped her hastily constructed arrangement and now whispered across her face.</p>
				<p class="ack-acknowledgement-text">‘I must hang as an example to others. I have broken Queen’s Regulations and so I will be punished.’</p>
				<p class="ack-acknowledgement-text">‘But why did you do it?’ Isabel gripped his hand hard as she questioned his motives. ‘You must have known it would end like this one day.’</p>
				<p class="ack-acknowledgement-text">‘Because I had nothing else.’</p>
				<p class="ack-acknowledgement-text">Isabel opened her mouth to speak, but thought better of it and instead stood in silence, her hand in Jack’s, trying to understand the sudden revelation.</p>
				<p class="ack-acknowledgement-text">‘You did it because you are a knave and a thief and you’ll hang, you bastard, because you damn well deserve it.’ Fenris staggered to his feet, using the green cuff of his scarlet jacket to mop up the last of the blood still trickling from his nostrils. ‘Corporal, put this man in manacles and guard him well.’ He took firm hold of Isabel’s arm, propelling her forcefully out of Jack’s grip and leading her back towards her father. ‘And strip him of his uniform,’ he added as he walked away, disdainfully turning his back on Jack, refusing even to look at him. ‘That bastard has no right to wear it.’</p>
				<p class="ack-acknowledgement-text">Jack submitted to the rough hands as they tugged his scarlet coat from his back. He retreated to the nothingness of his emotions, even as the manacles took him in their cold, remorseless grasp. He kept his eyes down, focusing them on a pile of dirt that was stained with Fenris’ blood. He no longer had a part to play in this early-morning scene, so like any good actor he tried to merge into the background lest the audience be drawn to him rather than those on the main stage. It was time to submit to his fate.</p>
				<p class="bt1-body-text-1-full-out">Jack marched in the centre of the small column, the corporal and his guard surrounding him with their bared bayonets in case he lost his mind and tried to mount a desperate escape. His shoulders ached from the unnatural position they were forced to adopt now that his hands were manacled behind his back, and the pit of his spine ached dreadfully, dogging his every step. He focused on the pain, examining the way it surged around his body, using the hurt to dispel the despair in his soul.</p>
				<p class="ack-acknowledgement-text">He had been given no opportunity to plead his case. The Maharajah had kept at a distance, treating the handover of the former prisoners as if it were not of sufficient concern to trouble the attention of a king. Jack would have enjoyed a final conversation with the foreign ruler; he had sensed a kindred spirit, despite the huge gulf in their status. Yet just as it had been when he was nothing more than a common redcoat, such familiarity was now denied him. The new captain of the 24th, whose name he had learnt was Kingsley, had avoided all contact with him, as if he would somehow become contaminated should he acknowledge the presence of the man who had dared to assume his commission. Jack was left to the care of the corporal of the guard, who treated him as well as the situation allowed.</p>
				<p class="ack-acknowledgement-text">To Jack’s dismay, he had not found an opportunity to speak to Isabel, who remained close to her father’s side, as if tethered by some invisible rope. He was certain that any feelings she might have started to develop towards him would now have twisted into dark disgust as his deception was revealed in all its sordid glory. It was hard not to regret missing out on what might have been. But if he closed his eyes, he could still summon an image of the first girl he had truly loved. Remembering what he had lost made losing what might have been easier to bear.</p>
				<p class="ack-acknowledgement-text">Kingsley, Fenris and the men of the 24th had been forced to spend many uncomfortable hours in the remains of the village, waiting for the heat of the day to diminish before they could begin the long march back to Bhundapur. Their return was further delayed by Reverend Youngsummers, who insisted on being allowed to sleep through the greater portion of the day, his claim of nervous exhaustion made with such conviction that neither Kingsley nor Fenris had been able to convince him to rouse himself until he was good and ready.</p>
				<p class="ack-acknowledgement-text">With departure delayed so long, it would have been pragmatic to wait until the early hours of the following morning to set off, but the British officers were awkward in front of the Maharajah and his men, and so had ordered their small column to march late in the afternoon, even though there was no hope of reaching their destination before nightfall. Lieutenant Fenris argued long and loud for them to continue through the night; he was keen to reach Bhundapur, anticipating the laurels he would win for carrying out the orders they had been given. The young officer had spoken loudly enough for Jack to learn that the column had been dispatched with the twin objectives of discovering what had happened to Youngsummers and his daughter, and also apprehending the impostor who had dared to arrive in their midst.</p>
				<p class="ack-acknowledgement-text">Captain Kingsley, however, had been forced to listen to Reverend Youngsummers’ tales of bandits and deadly ambushes, the clergyman’s fears of a night march described with biblical vigour. Kingsley was not a man to take risks, his natural caution giving credence to the dangers outlined by Youngsummers, so the redcoats were ordered to make a bivouac in the darkness.</p>
				<p class="ack-acknowledgement-text">When the column stopped for the night, Jack was left to find what rest he could, his hands still bound by the heavy manacles, but now at least in front of his body. The redcoats hastily built fires; they were grateful to sink to the ground with their mates, wholly unconcerned about a night spent away from the confines of their barrack rooms. Once the final orders of the day had been issued, the two British officers left the men to their own devices, the divide between the two groups as rigidly enforced in the field as it was in the cantonment. Jack was simply abandoned between them, ignored and alone, the addition of a set of ankle fetters securing him in place.</p>
				<p class="bt1-body-text-1-full-out">‘Jack?’</p>
				<p class="ack-acknowledgement-text">Isabel used the name tentatively, and at first Jack didn’t hear her. He had been lost in another world, reliving his life as an orderly, remembering the days of serving his first officer as if it had been just a few weeks previously and not so many months ago.</p>
				<p class="ack-acknowledgement-text">‘Jack?’ She spoke with more force, refusing to be ignored.</p>
				<p class="ack-acknowledgement-text">‘What?’ Jack’s voice came out as a croak. His mouth and throat were parched and it felt as if he had to physically tear his tongue from the roof of his mouth to be able to speak.</p>
				<p class="ack-acknowledgement-text">‘It’s Isabel.’ She spoke in the careful tone of the young to the old and decrepit.</p>
				<p class="ack-acknowledgement-text">Jack squinted through a single eye as Isabel crouched beside him. He could smell her, the subtle scent of a woman’s sweat underscored with that lingering trace of perfume. She looked downcast at his silence. She removed the stopper to a full canteen of water and offered it; Jack took it gratefully in both hands, relishing the opportunity to slake his thirst, his body trembling with desire the moment he felt the first precious drops moisten his tongue.</p>
				<p class="ack-acknowledgement-text">‘Thank you.’ He handed back the canteen awkwardly, the heavy iron manacles making his movements laboured.</p>
				<p class="ack-acknowledgement-text">Isabel placed the canteen to one side and sat cross-legged on the ground beside him, looking every inch the schoolgirl she had so recently been.</p>
				<p class="ack-acknowledgement-text">‘No more lies.’ She spoke quietly, guarding her emotions. ‘I just want the truth.’ She searched Jack’s eyes to see if he understood. ‘Was everything just an act?’</p>
				<p class="ack-acknowledgement-text">‘No. Not all of it.’ Jack closed his eyes as he remembered the desperate struggle in the prison they had shared. When he opened them again he saw her watching his face closely. ‘I cannot pretend to fight.’</p>
				<p class="ack-acknowledgement-text">‘You fought to save me. Just as you promised.’</p>
				<p class="ack-acknowledgement-text">‘I did. I figured you were worth the effort.’</p>
				<p class="ack-acknowledgement-text">‘I have never thanked you.’</p>
				<p class="ack-acknowledgement-text">‘There was no need. You were only threatened because I failed to protect you properly. I should’ve seen the danger the moment those bloody bandits opened fire. I should’ve got you away.’ He did not try to contain his bitterness. He had thought he had found a place in life, his ability in the searing cauldron of battle the one thing he had believed he could rely upon. The failure rankled, stinging his stubborn pride.</p>
				<p class="ack-acknowledgement-text">‘You were not to know.’ Isabel shuddered as she remembered the dreadful fight.</p>
				<p class="ack-acknowledgement-text">‘I fought. But I lost. It’s not the first time.’</p>
				<p class="ack-acknowledgement-text">‘Why? When did you lose before?’</p>
				<p class="ack-acknowledgement-text">Jack looked at Isabel, wondering if he should open the darkest recesses of his soul. The desire to share his past was strong, but he could not burden the young girl with his bitter memories. It would not be fair. And soon, none of it would matter anyway.</p>
				<p class="ack-acknowledgement-text">‘I loved somebody once. It didn’t work out as I planned.’ Jack contented himself with revealing the half-truth.</p>
				<p class="ack-acknowledgement-text">‘You must have loved her very much.’</p>
				<p class="ack-acknowledgement-text">The words astonished him. Isabel did not avert her eyes as he looked at her in amazement. ‘How can you tell?’</p>
				<p class="ack-acknowledgement-text">‘How?’ Isabel smiled for the first time. ‘It’s easy. You carry your sorrow in your eyes.’ She reached out her hand, placing it gently on top of Jack’s. ‘I think you have suffered enough.’</p>
				<p class="ack-acknowledgement-text">‘I don’t think Fenris would agree.’</p>
				<p class="ack-acknowledgement-text">‘Arthur acts like a spoiled child. You dared to offend his precious dignity and so he hates you.’</p>
				<p class="ack-acknowledgement-text">‘But he likes you.’ Jack felt a sudden rush of jealousy at the notion. Isabel would have to have been made of stone not to find the dashing young officer attractive. Fenris must have turned her head. He most certainly would have tried.</p>
				<p class="ack-acknowledgement-text">‘I know.’ She acknowledged Jack’s observation.</p>
				<p class="ack-acknowledgement-text">‘He could be a fine man.’</p>
				<p class="ack-acknowledgement-text">She smiled at his choice of words. ‘He could be. But he is not. He is not for me.’</p>
				<p class="ack-acknowledgement-text">‘I cannot say I’m not pleased.’ Jack matched her smile, turning his hand to squeeze her own.</p>
				<p class="ack-acknowledgement-text">‘You saved my life. I shall not forget that, Jack. No matter what happens.’</p>
				<p class="ack-acknowledgement-text">Jack slowly shook his head. ‘No.’ He spoke firmly, letting go of her hand. ‘You owe me nothing. Consider it my final gallant act, my parting gift to the world.’</p>
				<p class="ack-acknowledgement-text">‘Isabel! Come here this instant.’ Reverend Youngsummers shouted across to his errant daughter as if he had spotted her conversing with the devil himself.</p>
				<p class="ack-acknowledgement-text">Isabel’s head turned as her father shouted for her; the anger in his voice was clear. She sighed, and Jack felt her breath kiss against his cheek. Then she uncrossed her legs and got to her feet, her hands brushing her dress flat and knocking off any bits of dirt that had stuck to it as she sat on the ground.</p>
				<p class="ack-acknowledgement-text">She looked down at Jack. ‘I will not forget what you did, Jack. Whatever you say.’</p>
				<p class="ack-acknowledgement-text">Without another word she turned and walked away, her head bowed as she obediently returned to her father’s side. She did not want him to see the desire on her face, or the spark of excitement in her eyes as she dared to consider doing something that would scandalise the tight-knit society in which she was forced to live. If only she could summon the courage.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../yftltn.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Dedication</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Acknowledgments</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Glossary</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Two</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Ten</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-52">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-53">Chapter Forty-five</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-54">Epilogue</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-55">Historical Note</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0021.html" class="calibreAPrev">previous page</a>
    

    <a href="../../yftltn.html" class="calibreAHome"> start</a>

    
      <a href="part0023.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
