<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Conspiracy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../om9ywt.html">Conspiracy (Giordano Bruno)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    S. J. Parris

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0037.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0039.html" class="calibreANext"> next page</a>
        
      </div>
    

    
<p class="copyright-space-after"><strong class="calibre8">In Elizabeth’s England, true faith can mean bloody murder …</strong></p>
<p class="copyright-space-after"><img src="../images/00006.jpeg" alt="Image Missing" class="calibre9"/></p>
<p class="copyright-space-after"><strong class="calibre8">Oxford, 1583. A place of learning. And murderous schemes.</strong></p>
<p class="copyright-space-after">The country is rife with plots to assassinate Queen Elizabeth and return the realm to the Catholic faith. Giordano Bruno is recruited by the queen’s spymaster and sent undercover to expose a treacherous conspiracy in Oxford – but his own secret mission must remain hidden at all costs.</p>
<p class="copyright-space-after"><strong class="calibre8">A spy under orders. A coveted throne under threat.</strong></p>
<p class="copyright-space-after">When a series of hideous murders ruptures close-knit college life, Bruno is compelled to investigate. And what he finds makes it brutally clear that the Tudor throne itself is at stake …</p>
<p class="copyright-space-after"><strong class="calibre8">Heretic, maverick, charmer: Giordano Bruno is always on his guard. Never more so than when working for Queen Elizabeth and her spymaster – for this man of letters is now an agent of intrigue and danger.</strong></p>
<p class="copyright-space-after">Click <a href="http://ads.harpercollins.com/bobauk?isbn=9780007317684">here</a> to buy HERESY (Giordano Bruno #1)</p>


  </div>

  
  <div class="calibreToc">
    <h2><a href="../../om9ywt.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0001.html#UGI0-4662e95daa4e44f4a615af2dd0c1b875">Title Page</a>
    </li>
    <li>
      <a href="part0002.html#1T140-4662e95daa4e44f4a615af2dd0c1b875">Copyright</a>
    </li>
    <li>
      <a href="part0003.html#2RHM0-4662e95daa4e44f4a615af2dd0c1b875">Contents</a>
    </li>
    <li>
      <a href="part0004.html#3Q280-4662e95daa4e44f4a615af2dd0c1b875">Map</a>
    </li>
    <li>
      <a href="part0005.html#4OIQ0-4662e95daa4e44f4a615af2dd0c1b875">Prologue</a>
    </li>
    <li>
      <a href="part0006.html#5N3C0-4662e95daa4e44f4a615af2dd0c1b875">Part One</a>
      <ul>
        <li>
          <a href="part0007.html#6LJU0-4662e95daa4e44f4a615af2dd0c1b875">Chapter One</a>
        </li>
        <li>
          <a href="part0008.html#7K4G0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Two</a>
        </li>
        <li>
          <a href="part0009.html#8IL20-4662e95daa4e44f4a615af2dd0c1b875">Chapter Three</a>
        </li>
        <li>
          <a href="part0010.html#9H5K0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Four</a>
        </li>
        <li>
          <a href="part0011.html#AFM60-4662e95daa4e44f4a615af2dd0c1b875">Chapter Five</a>
        </li>
        <li>
          <a href="part0012.html#BE6O0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Six</a>
        </li>
        <li>
          <a href="part0013.html#CCNA0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Seven</a>
        </li>
        <li>
          <a href="part0014.html#DB7S0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Eight</a>
        </li>
        <li>
          <a href="part0015.html#E9OE0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Nine</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="part0016.html#F8900-4662e95daa4e44f4a615af2dd0c1b875">Part Two</a>
      <ul>
        <li>
          <a href="part0017.html#G6PI0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Ten</a>
        </li>
        <li>
          <a href="part0018.html#H5A40-4662e95daa4e44f4a615af2dd0c1b875">Chapter Eleven</a>
        </li>
        <li>
          <a href="part0019.html#I3QM0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twelve</a>
        </li>
        <li>
          <a href="part0020.html#J2B80-4662e95daa4e44f4a615af2dd0c1b875">Chapter Thirteen</a>
        </li>
        <li>
          <a href="part0021.html#K0RQ0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Fourteen</a>
        </li>
        <li>
          <a href="part0022.html#KVCC0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Fifteen</a>
        </li>
        <li>
          <a href="part0023.html#LTSU0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Sixteen</a>
        </li>
        <li>
          <a href="part0024.html#MSDG0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Seventeen</a>
        </li>
        <li>
          <a href="part0025.html#NQU20-4662e95daa4e44f4a615af2dd0c1b875">Chapter Eighteen</a>
        </li>
        <li>
          <a href="part0026.html#OPEK0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Nineteen</a>
        </li>
        <li>
          <a href="part0027.html#PNV60-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twenty</a>
        </li>
        <li>
          <a href="part0028.html#QMFO0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twenty-One</a>
        </li>
        <li>
          <a href="part0029.html#RL0A0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twenty-Two</a>
        </li>
        <li>
          <a href="part0030.html#SJGS0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twenty-Three</a>
        </li>
        <li>
          <a href="part0031.html#TI1E0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twenty-Four</a>
        </li>
        <li>
          <a href="part0032.html#UGI00-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twenty-Five</a>
        </li>
        <li>
          <a href="part0033.html#VF2I0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twenty-Six</a>
        </li>
        <li>
          <a href="part0034.html#10DJ40-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twenty-Seven</a>
        </li>
        <li>
          <a href="part0035.html#11C3M0-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twenty-Eight</a>
        </li>
        <li>
          <a href="part0036.html#12AK80-4662e95daa4e44f4a615af2dd0c1b875">Chapter Twenty-Nine</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="part0037.html#1394Q0-4662e95daa4e44f4a615af2dd0c1b875">Keep Reading …</a>
    </li>
    <li>
      <a href="part0042.html#181NK0-4662e95daa4e44f4a615af2dd0c1b875">About the Author</a>
    </li>
    <li>
      <a href="part0043.html#190860-4662e95daa4e44f4a615af2dd0c1b875">Also by S. J. Parris</a>
    </li>
    <li>
      <a href="part0044.html#19UOO0-4662e95daa4e44f4a615af2dd0c1b875">About the Publisher</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0037.html" class="calibreAPrev">previous page</a>
    

    <a href="../../om9ywt.html" class="calibreAHome"> start</a>

    
      <a href="part0039.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
