<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200242_EPUB-28.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../_ypqte.html">The Scarlet Thief (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0027.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0029.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200242_EPUB-28.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-28" class="awh1-artwork-head"><img class="image20" src="../images/00027.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">‘I would like to apologise for my behaviour, sir.’</p>
				<p class="bt1-body-text">The colonel’s tent was stuffy, despite the fact that the canvas flaps of the entrance were tied back as far as they would go. The smell of the colonel’s lunch still lingered, and a half-empty glass of claret added its heady aroma. Jack did his best to hide his distaste, the sour air in the tent made all the worse by the bitter taste of the thick wedge of humble pie he had had to swallow. He was standing at attention in front of the colonel, his shako under his left arm.</p>
				<p class="bt1-body-text">The colonel turned to the side to look at his second-in-command.</p>
				<p class="bt1-body-text">‘Mr Peacock, do you accept Captain Sloames’s apology?’</p>
				<p class="bt1-body-text">Peacock sniffed in disapproval. If he had had his way Captain Sloames would already be on board a steamer heading back to England in disgrace. He had argued for that very punishment as vociferously as he dared but Colonel Morris would have none of it.</p>
				<p class="bt1-body-text">Peacock nodded his assent with ill grace. ‘I do, sir. <span class="bt1-body-text-1-italic">Absit invidia</span>.’</p>
				<p class="bt1-body-text">Morris looked hard at both officers. Seated behind a makeshift desk that his orderly had fashioned from empty ammunition crates, he looked more like a stern schoolmaster than a colonel in Her Majesty’s army.</p>
				<p class="bt1-body-text">‘Capital. I expect to hear no more of this episode. From either of you.’</p>
				<p class="bt1-body-text">Peacock did not take the caution well and opened his mouth to protest. Morris raised a hand to quell his words. ‘I will hear no more. The battalion will soon face the Russians and I will not allow my officers to be distracted from their responsibilities by petty squabbles. Captain Sloames has apologised and his apology has been accepted. That concludes this matter. Am I clear on that, gentlemen?’</p>
				<p class="bt1-body-text">‘Yes, sir.’ Jack was quick to reply.</p>
				<p class="bt1-body-text">‘Good. Major Peacock, I am sure you are anxious to be about your duties. Captain Sloames, if I could detain you for a moment longer I would be obliged.’</p>
				<p class="bt1-body-text">‘Of course, sir,’ Peacock replied punctiliously and swept out of the tent.</p>
				<p class="bt1-body-text">Despite the politely worded request, Peacock felt sure Morris had asked Sloames to remain on his own so that he could administer the dressing-down the odious captain so obviously required. Peacock had enjoyed seeing Sloames standing in front of the desk like an errant schoolboy and with a face that looked as if he had received the type of beating reserved for newly arrived fags at Peacock’s former school. The man was obviously a bounder and a severe reprimand was exactly what was needed to bring him down a peg or three. Peacock hoped the colonel spared no punches. It was just a pity he could not stay to witness the spectacle in person.</p>
				<p class="bt1-body-text">Inside the tent, Colonel Morris addressed the captain of his Light Company.</p>
				<p class="bt1-body-text">‘Captain Sloames. I should not have to remind you that the successful operation of my battalion requires all of its officers to work together and to treat each other with the utmost respect.’ Morris steepled his fingers and tapped the tips against his bearded chin.</p>
				<p class="bt1-body-text">‘No, sir.’</p>
				<p class="bt1-body-text">‘Nor should I have to remind you that altercations between my officers are unacceptable under any circumstances.’</p>
				<p class="bt1-body-text">‘No, sir.’</p>
				<p class="bt1-body-text">‘Any act that is prejudicial to the smooth operation of this battalion is an offence I take personally. I will not tolerate another foul outburst such as the one Major Peacock reported to me. Do I make myself perfectly clear?’</p>
				<p class="bt1-body-text">Jack stared into the space six inches above the colonel’s tightly cropped, iron-grey head of hair, grateful that his years in the army had taught him how to deal with discontented officers.</p>
				<p class="bt1-body-text">‘Yes, sir.’</p>
				<p class="bt1-body-text">‘Yes, sir. No, sir. Three bloody bags full, sir. You are barely listening to a word I say, are you, you damn scoundrel?’</p>
				<p class="bt1-body-text">The outburst took Jack by surprise. He dropped his scrutiny of the tent wall and looked at the colonel.</p>
				<p class="bt1-body-text">‘That’s better.’ Morris smiled at Jack with surprising warmth. ‘Oh, I recognise the tactic. I wasn’t born yesterday. I appreciate it is the best way to deal with a superior officer. I still use it myself on occasion.’</p>
				<p class="bt1-body-text">Jack watched the colonel warily, keeping his guard up and his face neutral.</p>
				<p class="bt1-body-text">‘It is a shame that we did not get to know one another before this campaign began.’ The colonel paused to see if Jack would speak but it was obvious that he was still wary of his commanding officer. As well he should be. ‘Peacock is a stuffed shirt. I do appreciate that.’</p>
				<p class="bt1-body-text">The sudden admission startled Jack into a response. ‘Sir?’</p>
				<p class="bt1-body-text">‘I know how Peacock is regarded in the battalion. I appreciate how difficult he can be. However, that does not excuse one of my captains insulting him.’</p>
				<p class="bt1-body-text">Jack bowed his head. ‘I know, sir. I was wrong.’</p>
				<p class="bt1-body-text">‘Goodness me. You disappoint me. You are a damn sight meeker than I had been led to believe.’</p>
				<p class="bt1-body-text">The barbed comment stung. ‘I’m not sure what you mean, sir.’</p>
				<p class="bt1-body-text">‘I mean, Captain Sloames, that I have heard many things about you, but none of them included tales of your meekness.’</p>
				<p class="bt1-body-text">Jack did not respond.</p>
				<p class="bt1-body-text">‘I have heard,’ Morris continued, ‘that you are a capable and efficient officer who is turning the Light Company into an excellent unit. Yet I also hear that you are taciturn, some would say withdrawn, and a loner. From Major Peacock I hear you are a vile, foul-mouthed brute who deserves to be shipped home in disgrace. In short, the Light Company appears to be led by a man I know very little about and who now presents himself in front of me looking like a backstreet brawler.’</p>
				<p class="bt1-body-text">Again, Jack chose not to comment. A gentle sigh of disapproval was the only evidence that his silence was not to the colonel’s liking.</p>
				<p class="bt1-body-text">‘I shall speak plainly. My battalion is shortly to be involved in a battle that will test us all but I am confident of my men. We will not let the regiment down, I am certain of that. Yet I find myself faced with a dilemma.’ Morris paused and fixed Jack with a firm gaze from under his furrowed brow. ‘You, sir, are the cause of this dilemma. There is something about you, Sloames. I am a good judge of character and my instinct tells me that you are not quite what you seem.’</p>
				<p class="bt1-body-text">Jack was feeling uncomfortable under the colonel’s intense scrutiny and it was an effort to stand still and let no sign of his anxiety show.</p>
				<p class="bt1-body-text">‘So I have to ask myself if I trust you and to be honest I have no clear answer to that question. I do not expect my captains to be milksops. I need men of strong character and iron self-discipline to lead my companies. You, Mr Sloames, showed singular lack of self-control in your dealings with Major Peacock. That concerns me a great deal.’</p>
				<p class="bt1-body-text">Morris paused and looked down at his fingers. ‘However, on this occasion, I shall give you the benefit of the doubt. I will be expecting great things of you and your men. Do not let me down.’</p>
				<p class="bt1-body-text">Relief coursed through Jack. ‘I won’t, sir. I give you my word.’ His voice cracked with emotion as he spoke.</p>
				<p class="bt1-body-text">Morris nodded and rose to his feet, extending his hand. ‘I will be watching you,’ he said as he took Jack’s hand in his firm grip. ‘God help you if you fail. Because I shall not, I promise you that.’</p>
				<p class="bt1-body-text-1-full-out">Jack walked out of the stuffy confines of the colonel’s tent and into the bright morning sunshine. The lecture had shamed him but the colonel’s firm support had left him determined not to let the battalion down.</p>
				<p class="bt1-body-text">‘Captain Sloames!’</p>
				<p class="bt1-body-text">The portly figure of Lieutenant Digby-Brown lurched upright from where he had been perching on a water butt a short distance from the tent.</p>
				<p class="bt1-body-text">‘Digby-Brown. What a delightful surprise.’</p>
				<p class="bt1-body-text">‘Sorry to you bother you, sir,’ Digby-Brown replied, and then stopped as he saw the state of his captain’s face. ‘You look like you’ve been in the wars, sir.’ Digby-Brown tried not to smile.</p>
				<p class="bt1-body-text">‘What do you want, Digby-Brown?’ Jack’s positive mood faded in the face of his subaltern’s grating presence.</p>
				<p class="bt1-body-text">‘We have a problem, Sir. Fusilier Hayward has reported sick.’</p>
				<p class="bt1-body-text">‘Why is that a problem? Half this bloody army is sick.’</p>
				<p class="bt1-body-text">‘Yes, sir. However, half this army has not been beaten to a pulp. Hayward has and the fool is refusing to tell us who did it.’</p>
				<p class="bt1-body-text">Jack felt a sinking feeling deep in his gut. Slater was more than capable of beating one of his own men. It was typical of his brutal tactics. Beat one man in the company as a warning to the rest. The sergeant was moving fast; soon he would have the whole company eating out of his hand. He had to be stopped and stopped quickly.</p>
				<p class="bt1-body-text">‘You’d better take me to him.’</p>
				<p class="bt1-body-text">Fusilier Hayward was a mess. Digby-Brown had at least had the sense to leave the battered young fusilier with the company, away from the gaze of rest of the battalion. Jack could not help wincing as he took in Hayward’s injuries. He looked even worse than he himself had done after his own bruising encounter with Slater’s fists. Both of Hayward’s eyes were closed behind thick purple swellings. Welts and gouges covered his face, and his mouth had been reduced to a pulp. He was barely recognisable. The rest of the fusilier was surprisingly intact, Slater presumably concentrating on the face to give the most vivid demonstration of his viciousness to the rest of the Light Company. It would take a brave man to risk receiving such a battering.</p>
				<p class="bt1-body-text">‘Have him taken back to the beach, by two of our own men,’ Jack ordered Digby-Brown. ‘I don’t want some callous bandsmen making the trip a torment for him. He’s suffered enough.’</p>
				<p class="bt1-body-text">‘Yes, sir. I’ll take him myself.’ Digby-Brown noticed the concern on his captain’s face at seeing Hayward’s injuries. It was obvious Sloames cared rather more about his men than Digby-Brown had given him credit for. ‘How do you think this happened?’</p>
				<p class="bt1-body-text">‘How do you think? Some vicious bastard gave him one hell of a beating.’</p>
				<p class="bt1-body-text">‘One of our men?’</p>
				<p class="bt1-body-text">‘Most likely.’</p>
				<p class="bt1-body-text">‘But why? I mean, we are all in the same company. I cannot believe one of our men is guilty of such brutality.’</p>
				<p class="bt1-body-text">‘Don’t be so damn naïve,’ Jack snapped. ‘Half of the men come from the poorest backstreets of London. Violence is the common currency of their sorry lives.’ Jack did not try to hide his contempt for Digby-Brown. The lieutenant had no concept of the lives formerly led by the men he commanded. Digby-Brown was not to blame for the station into which he had been born. But Jack did blame him for having neither the wit nor the intelligence to learn about the men he was responsible for. To Jack that was unforgivable and all too typical of the supercilious officer class.</p>
				<p class="bt1-body-text">‘Get Hayward to the medical staff on the beach.’ Jack finished curtly, dismissing his troubled lieutenant.</p>
				<p class="bt1-body-text">His thoughts turned to the perpetrator of the cruel beating. It was time to make Slater pay for his crimes.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../_ypqte.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Acknowledgements</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Chapter One</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter Two</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Tenty-eight</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Forty</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Epilogue</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Historical Note</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Read on for a Preview of The True Soldier</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0027.html" class="calibreAPrev">previous page</a>
    

    <a href="../../_ypqte.html" class="calibreAHome"> start</a>

    
      <a href="part0029.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
