<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472222701_EPUB-48.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../qzj5e1.html">The Devil's Assassin (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0047.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0049.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472222701_EPUB-48.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-46" class="toch-table-of-contents-main-head"><img class="image41" src="../images/00046.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="tsn-typesetter-designer-note">The trigger clicked on to an empty chamber. Jack had used all his rounds in the final fight with the Persian infantry and had not had the opportunity to reload. The weapon was useless. He had been bluffing when he had threatened his two prisoners.</p>
				<p class="bt1-body-text">The Russian’s face betrayed his shock. He pulled the trigger again and again before throwing the gun to one side, his hands reaching for the sabre at his side.</p>
				<p class="bt1-body-text">Jack rose from the ground, roaring like a madman. He threw himself at the Russian, punching his right fist into the foreign officer’s throat. It was a brutal blow and the Russian staggered backwards, his hands clutching his crushed windpipe. Jack went after him without a moment’s pause, his fists flashing at the man who had tried to kill him, smashing blow after blow into the Russian, who crumpled under the onslaught, his legs giving way beneath him. Jack lashed out as he fell, kicking the tip of his boot viciously into the man’s throat, driving the clasping hands into the abused flesh, choking off the last of his breath.</p>
				<p class="bt1-body-text">Knightly saw the fear flash in the younger Russian’s face as he watched the man he had thought beaten rise from the ground and batter his fellow officer insensible. The tip of his sword wavered and Knightly reacted without thought, slashing his arm upwards, knocking the blade to one side. The Russian fell backwards, giving Knightly the freedom to finally draw his own sabre. It rasped from the metal scabbard and he slashed it forward, forcing the Russian to jump away.</p>
				<p class="bt1-body-text">As he cut at the Russian, a yelp of childish glee burst from his lips. He was fighting for the first time and he felt invincible. He stamped forward, hammering his sword at his enemy, forgetting his fear. The Russian parried the blows but the effort caused him to stagger, and Knightly thrust the point of the sword forward, sliding the sharp steel into the man’s flesh. He could barely believe how easy it was. He pushed his weight behind the blade, driving it deep into the Russian’s chest. When he looked up, he saw the agony reflected in his foe’s eyes, his bitter surprise revealed in a look of abject horror.</p>
				<p class="bt1-body-text">Knightly let go of the blade. It was stuck fast in the Russian’s flesh and he could not find the strength to wrench it free. He stared at the man’s hand as it flapped at the blade, the fleshy tips of his fingers torn as they clasped the sharpened edge. The joy of killing faded and the heat of victory was replaced with coldness, the shock of having killed a man freezing his soul.</p>
				<p class="bt1-body-text">The Russian staggered forward. He yelled as he lurched into motion, a spew of foreign words rushing from his mouth before they were cut off in a torrent of blood.</p>
				<p class="bt1-body-text">Knightly screamed, shrieking like a child confronting a monster from a nightmare. He was still screaming when the Russian rammed his own sword forward. It was thrust with the last of his strength and it cut deep into Knightly’s body. The Russian fell, his hand falling away from the blade he had buried in the British lieutenant’s flesh.</p>
				<p class="bt1-body-text">Knightly’s fingers scrabbled at the Russian’s sword. A wave of panic engulfed him and he fell silent, unable to comprehend what had happened. He felt his strength ebb and he fell to his knees. He tried to pull the blade from his own body but it was stuck fast. Blood spilled down the length of the steel, smothering Knightly’s clutching fingers. He screamed again and then again, releasing the horror that surged through him.</p>
				<p class="bt1-body-text-1-full-out">Jack had turned as soon as he heard the sounds of the fight. He watched as Knightly fought, recognising the rage that took hold of the young officer. The struggle was short, the two men trading barely half a dozen blows before Knightly struck the Russian down. It was only when the lieutenant let go of his sabre that Jack lurched into motion. He knew what was about to happen and he rushed forward, his cry of warning stuck in his tortured throat.</p>
				<p class="bt1-body-text">He could do nothing as the Russian made his final thrust. He saw the sword pierce Knightly’s flesh and he moved quickly, reaching his friend’s side just as he fell to his knees. Knightly’s hands pawed at the blade in his flesh but Jack knocked them to one side and eased him to the ground, setting him down in the dust as gently as he could.</p>
				<p class="bt1-body-text">He didn’t need to look at the thin sabre buried in Knightly’s chest to know what was going to happen. He drew the young’s man head into his lap, cradling him in his arms, the bitter futility of what had happened sending a surge of anger coursing through him. As he held Knightly close, he looked down at the ashen face of a boy about to die.</p>
				<p class="bt1-body-text">‘I’m sorry.’ Knightly choked as he spoke, the breath refusing to come.</p>
				<p class="bt1-body-text">‘You’re going to be all right.’ Jack ran his fingers through the young officer’s hair and hugged his head to him as if he could stop what was to come.</p>
				<p class="bt1-body-text">Knightly could not speak. A tremor ran through him, his body convulsing with fear. He was sobbing now, an incoherent stream of terror, as he realised he was about to die. Jack could do nothing but hold him tight, fighting against the darkness that threatened to lay claim to his very being.</p>
				<p class="bt1-body-text">The young man’s body went still. Jack looked down and fixed his eyes on the face that stared up at him. He was still watching as the final spark of light fled, to be replaced by glazed nothingness.</p>
				<p class="bt1-body-text">Knightly was dead.</p>
				<p class="bt1-body-text">‘I told you to twist your bloody wrist.’ Jack felt a blackness engulf his soul. He placed Knightly’s head gently on the ground and closed his eyes, trying to hold fast against the wave of bitter grief.</p>
				<p class="bt1-body-text">The feeling passed. He opened his eyes once again and felt nothing.</p>
				<p class="bt1-body-text">He slipped his hand forward and unbuckled the flap of Knightly’s holster, pulling free the revolver that he knew had not been used that day. Then he got carefully to his feet and walked towards the first Russian officer. The man lay on the ground, gasping for breath, his hands twisted around his broken throat. Jack straddled his chest, crushing the man’s tortured lungs, then threw the Russian’s arms backwards and pinned them under his knees, leaving the man completely at his mercy.</p>
				<p class="bt1-body-text">He looked down at the beaten officer. The man’s eyes were glazed, so Jack slapped him hard around the cheeks, hitting him again and again until his vision focused.</p>
				<p class="bt1-body-text">‘So, where were we?’ He spat a wad of bloody phlegm on to the Russian’s chest. His own throat burned and he could feel the place on his neck where the other man’s fingers had dug into the soft flesh. He felt no compassion, no mercy. ‘Who is the fucking spy?’</p>
				<p class="bt1-body-text">The Russian said nothing. He simply stared at Jack, the air rasping in his gullet as he tried to breathe through the ruin of his throat.</p>
				<p class="bt1-body-text">Jack felt the solid shape of Knightly’s revolver in his hand. The weight was reassuring and he brought it around, placing it with care so that the barrel rested against the Russian’s temple.</p>
				<p class="bt1-body-text">‘Tell me who the damn spy is or I’ll blow you to kingdom come.’ He pressed the barrel into the soft flesh just under the Russian’s hairline. He felt empty, his soul drained of all emotion. ‘Tell me, you by-blow of a whore, or I’ll fucking kill you.’</p>
				<p class="bt1-body-text">The Russian spat. The thick globule landed on Jack’s chest and stuck there, hanging from the gore-splattered dolman before slowly falling away and landing on his bloodstained thigh.</p>
				<p class="bt1-body-text">Jack leant forward. ‘Then go to hell.’ As he whispered the words, he saw the flare of fear deep in the man’s eyes. He pulled the trigger.</p>
				<p class="bt1-body-text-1-full-out">The crash of the gun going off was loud. The retort echoed around them, the sudden noise somehow out of place even on what had been a field of battle.</p>
				<p class="bt1-body-text">The Russian jerked in terror and Jack nearly lost his balance. He had turned his wrist as he pulled the trigger. The bullet had scorched through the Russian’s hair, missing his scalp by no more than half an inch.</p>
				<p class="bt1-body-text">The other man went still. Jack stared down into his eyes, betraying no emotion. Slowly, carefully, he cocked the revolver for a second time, bringing another chamber under the hammer.</p>
				<p class="bt1-body-text">‘Tell me who the spy is.’</p>
				<p class="bt1-body-text">The Russian began to shake. Jack could feel the tremors running through the man’s body, yet he felt no remorse. He steadied his wrist and pulled the trigger for a second time.</p>
				<p class="bt1-body-text">Again the sound of the gun firing exploded around them. This time Jack’s aim had not been as careful, and the bullet caught the Russian’s scalp, tearing a path through the man’s hair, parting the delicate flesh on the very top of his head.</p>
				<p class="bt1-body-text">The Russian screamed, and jerked like a landed fish, but Jack did not move. He waited until his captive went still before he leant forward and spoke softly.</p>
				<p class="bt1-body-text">‘There are three bullets left. One of them will kill you. Tell me who the spy is.’</p>
				<p class="bt1-body-text">The Russian closed his eyes. The blood from the wound to his scalp ran freely down his face, streaming in thick rivulets down his cheeks so that it looked like he was crying tears of blood.</p>
				<p class="bt1-body-text">Jack waited. He counted to ten and then slowly prepared the revolver to fire again. The click of the rotating chamber was loud in the silence. The Russian’s eyes snapped open, blinking away the thick covering of blood.</p>
				<p class="bt1-body-text">‘In my pocket.’ The words were slurred, fear thickening the man’s accent, his crushed throat barely letting him speak.</p>
				<p class="bt1-body-text">Jack didn’t move. He simply stared down at the Russian, as if unmoved by the words he had waited so long to hear. Then, with a sudden flurry of movement, he cracked the revolver hard against the man’s skull. The sound of the vicious impact was sickening.</p>
				<p class="bt1-body-text">Jack leapt to his feet, immediately covering the Russian officer with the still loaded revolver. But the brutal blow had bludgeoned the man insensible. A thick stream of blood ran from his temple, and his head sagged to one side, all signs of consciousness gone.</p>
				<p class="bt1-body-text">Jack tossed the revolver to the ground, then bent forward and started to rummage through the Russian officer’s uniform, grunting in satisfaction as he tugged a thick sheaf of papers from the man’s pocket. He stood back and flicked through them, his eyes scanning the neat copperplate script, the elegant sloping letters revealing to him what he had come so far to find. He had discovered the identity of the spy in the British camp.</p>
				<p class="bt1-body-text">He looked down at the body of the man he had beaten senseless. He contemplated picking up the revolver and blowing the Russian to kingdom come. He turned his head and saw Knightly’s staring blue eyes. The sight sickened him. He turned his back on the scene of so much blood and so much horror and walked away.</p>
				<p class="bt1-body-text">He went to do murder.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../qzj5e1.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Praise</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Map – 19th Century Persia</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-18">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-19">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-20">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-21">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-22">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-23">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-24">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-25">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-26">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-27">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-28">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-29">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-30">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-31">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-32">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-33">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-34">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-35">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-36">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-37">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-38">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-39">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-40">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-41">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-42">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-43">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-44">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-45">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-46">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-47">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-48">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-49">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-50">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-51">Epilogue</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-52">Historical Note</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-53">Acknowledgments</a>
    </li>
    <li>
      <a href="part0056.html#toc_marker-54">Read Jack Lark: Rogue, out now</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0047.html" class="calibreAPrev">previous page</a>
    

    <a href="../../qzj5e1.html" class="calibreAHome"> start</a>

    
      <a href="part0049.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
