<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Portadilla</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../i09vdy.html">El húsar (Spanish Edition)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Arturo Pérez-Reverte

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="../../i09vdy.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0001.html" class="calibreANext"> next page</a>
        
      </div>
    

    
<div id="caja-80" class="calibre1">
<img src="../images/00001.jpeg" alt="portadilla.jpg" class="calibre2"/>
</div>
<p class="txt-cent"><a href="http://www.megustaleer.com">www.megustaleerebooks.com</a></p>


  </div>

  
  <div class="calibreToc">
    <h2><a href="../../i09vdy.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#0-0d77898dd869432b864cb497c62fbb64">Portadilla</a>
    </li>
    <li>
      <a href="part0001.html#UGI0-0d77898dd869432b864cb497c62fbb64">Índice</a>
    </li>
    <li>
      <a href="part0004.html#3Q280-0d77898dd869432b864cb497c62fbb64">Dedicatoria</a>
    </li>
    <li>
      <a href="part0003.html#2RHM0-0d77898dd869432b864cb497c62fbb64">Cita</a>
    </li>
    <li>
      <a href="part0005.html#4OIQ0-0d77898dd869432b864cb497c62fbb64">1. La noche</a>
    </li>
    <li>
      <a href="part0006.html#5N3C0-0d77898dd869432b864cb497c62fbb64">2. La madrugada</a>
    </li>
    <li>
      <a href="part0007.html#6LJU0-0d77898dd869432b864cb497c62fbb64">3. La mañana</a>
    </li>
    <li>
      <a href="part0008.html#7K4G0-0d77898dd869432b864cb497c62fbb64">4. La escaramuza</a>
    </li>
    <li>
      <a href="part0009.html#8IL20-0d77898dd869432b864cb497c62fbb64">5. La batalla</a>
    </li>
    <li>
      <a href="part0010.html#9H5K0-0d77898dd869432b864cb497c62fbb64">6. La carga</a>
    </li>
    <li>
      <a href="part0011.html#AFM60-0d77898dd869432b864cb497c62fbb64">7. La gloria</a>
    </li>
    <li>
      <a href="part0012.html#BE6O0-0d77898dd869432b864cb497c62fbb64">Sobre el autor</a>
    </li>
    <li>
      <a href="part0013.html#CCNA0-0d77898dd869432b864cb497c62fbb64">Arturo Pérez-Reverte en digital</a>
    </li>
    <li>
      <a href="part0014.html#DB7S0-0d77898dd869432b864cb497c62fbb64">Créditos</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="../../i09vdy.html" class="calibreAPrev">previous page</a>
    

    <a href="../../i09vdy.html" class="calibreAHome"> start</a>

    
      <a href="part0001.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
