<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200242_EPUB-27.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../_ypqte.html">The Scarlet Thief (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0026.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0028.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200242_EPUB-27.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-27" class="awh1-artwork-head"><img class="image18" src="../images/00026.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">‘There you are, sir. Best I can do.’ Smith stood at last, his knees cracking as he did so. He looked at his captain where he lay slumped against the cart’s wheels. Smith thought he had lapsed into unconsciousness but eventually one eye partially opened.</p>
				<p class="bt1-body-text">‘Thank you.’ Jack could not raise the energy to speak above a whisper but Smith heard the softly spoken words.</p>
				<p class="bt1-body-text">‘What happened, sir? It looks like you went ten rounds with a backstreet prizefighter.’</p>
				<p class="bt1-body-text">‘I fell.’ Jack’s voice was still thick with phlegm mixed with blood, and he spat a fat globule on to the ground. ‘Tripped over one of the damn guide ropes.’</p>
				<p class="bt1-body-text">Smith snorted at the obvious lie. ‘Nonsense, sir, if you’ll forgive me for saying so. I know a slating when I see one and I can see some bugger has used you for a punchbag.’</p>
				<p class="bt1-body-text">Jack looked at his orderly. Pain and tiredness threatened to overwhelm him and he craved respite from the fear of his impending doom. Peacock hated him and would surely make it his business to bring about his disgrace, McCulloch and Brewer likely felt the same. Then there was Slater, revelling in his discovery and certain to make the very most of his knowledge before leaving Jack to face the consequences of his imposture.</p>
				<p class="bt1-body-text">Jack felt very alone.</p>
				<p class="bt1-body-text">‘Slater.’ The name was out before he had finished thinking, the first drop of water through the crack in the dam that was on the brink of collapse inside him</p>
				<p class="bt1-body-text">‘What?’ Smith barely heard the name. He sensed his officer was wound tight with tension. He did not try to speak again; instead he lowered himself to the damp ground so that he sat alongside Jack.</p>
				<p class="bt1-body-text">‘Slater. Slater beat me. He knows who I am.’</p>
				<p class="bt1-body-text">Smith opened his mouth to speak but he was too confused to form a coherent question. He remained silent and waited for his battered captain to explain himself.</p>
				<p class="bt1-body-text">Jack gingerly turned his head so he could look at the effect his words were having on his orderly. Smith’s close presence was reassuring, reminding him of the times when he would sit among his mates after a hard day’s drill.</p>
				<p class="bt1-body-text">‘Slater knows who I really am. He knows I’m Mudlark. God, of all the damn men, why did he have to come here?’ Jack was rambling, his aching brain making heavy weather of stringing sentences together.</p>
				<p class="bt1-body-text">‘Excuse me for asking the bleeding obvious, sir, but who the hell is this Mudlark?’</p>
				<p class="bt1-body-text">‘I am.’</p>
				<p class="bt1-body-text">‘You are not making any sense at all, Captain Sloames, sir.’</p>
				<p class="bt1-body-text">‘No, for the first time in a long time I am making perfect sense.’ Jack painfully lifted his arm and offered his hand to the bewildered fusilier. ‘Jack Lark. Pleased to make your acquaintance.’</p>
				<p class="bt1-body-text">‘Sir?’ Smith frowned. ‘What are you talking about?’</p>
				<p class="bt1-body-text">‘I’m an imposter. We are of the same kidney, you and I. Look behind the gold and the scarlet and I’m just the same as you.’</p>
				<p class="bt1-body-text">Smith started to push himself to his feet, clearly uncomfortable to be having such a conversation with his captain.</p>
				<p class="bt1-body-text">‘Stay where you are, Smith.’ Jack gave the order with the snap of an officer and it immediately stopped his orderly in his tracks. ‘You see? I’m bloody brilliant at playing the officer. Now, sit tight and listen so you’ll be able to retell the story in full. You’ll be quite famous, the orderly of the scandalous Jack Lark. You could well drink off the tale for the rest of your life.’</p>
				<p class="bt1-body-text">Jack took a deep breath, causing his ribs to protest. ‘I was an orderly, just the same as you. In truth, you could say we have both been served the same officer. My officer was called Captain Arthur Sloames. He died, God rest his soul, leaving me alone in the arse end of nowhere. What I should have done was carry the damn corpse back to the army and let them pack me off to some place new. It would’ve been simpler but I couldn’t bear the thought of joining a new regiment on my own, without my old mates.’</p>
				<p class="bt1-body-text">Jack paused, tentatively inspecting the tattered ribbons of flesh on the inside of his lips with his tongue before continuing. ‘I could’ve deserted, I suppose. Used the opportunity to take myself off and forget the whole damn army. But more fool me, I liked being a soldier. So there I was, presented with the chance to stop serving an officer and to actually <span class="bt1-body-text-1-italic">become</span> one. To be a captain, something someone like us could never even dream of becoming. I even thought I’d be better at it than half the fools God endowed with enough damn money to be able to buy their rank.’ Jack had to stop himself, the pain in his head was increasing as he became more agitated.</p>
				<p class="bt1-body-text">‘So I stole a life,’ Jack eventually continued when the worst of the pounding in his skull faded away. ‘Jack Lark died and Arthur Sloames lived again. I became Captain Sloames and not one of the bloody useless clots we call officers ever questioned me. The fools never suspected a thing. It’s no wonder this army is a shambles; the bloody idiots couldn’t even spot a fraud as damn queer as me. Then Slater turned up.’ Jack paused to see how Smith was reacting, but the fusilier was just staring into the darkness. ‘Now he truly is a bastard. He knows me from my old battalion.’</p>
				<p class="bt1-body-text">Jack’s speech trailed off. The talk of his past had reawakened the pain of Molly’s death. He wanted to thrust it away, to deny its presence and with it Molly’s place in the story of his imposture. He let his head fall forward so his chin rested on his chest, his bitter grief threatening to overwhelm him.</p>
				<p class="bt1-body-text">The silence stretched out. Around them, the battalion was quietening down. Jack could make out the shadowy forms of the officers in the tent next to where he sat, their silhouettes picked out by a single candle. It was like watching a puppet show at the fair. Their braying laughter sounded loud in the dark and Jack was heartily relieved to be away from the bombastic company of the battalion’s officers, even if it meant sitting on the damp soil, beaten, bruised and exposed to the elements.</p>
				<p class="bt1-body-text">Finally Smith spoke. ‘We’re a pair of rummy coves, all right.’ He chuckled softly to himself.</p>
				<p class="bt1-body-text">Jack looked at him. ‘What’s so funny?’</p>
				<p class="bt1-body-text">‘You.’</p>
				<p class="bt1-body-text">‘Me?’</p>
				<p class="bt1-body-text">‘You think you’re some great villain, some scandalous cove who has committed a daring crime that will shock the whole army.’</p>
				<p class="bt1-body-text">‘Haven’t I?’</p>
				<p class="bt1-body-text">‘Come off it. Half this damned army is pretending to be someone they’re not. Most of us would be in the clink or been packed off to the colonies if we’d not taken the Queen’s shilling. You think you being an imposter makes you special. But like the rest of us you’re just trying to stay one step ahead of the rich who piss on us without a second thought.’</p>
				<p class="bt1-body-text">Smith’s casual dismissal of his crime needled Jack. ‘So what’s your story, Smith? What makes you such an authority on the lowlife in this army? You seem to know a lot about it for an honest country bumpkin.’</p>
				<p class="bt1-body-text">‘I’m a thief,’ Smith said quietly. The word hung between them, silencing them both for a while.</p>
				<p class="bt1-body-text">Jack swallowed. ‘What did you do?’</p>
				<p class="bt1-body-text">‘Anything really. A bit of this, a bit of that. Hoisting stuff, bit of the pannie, passing queer screens, anything to earn some bloody money. Until I was nabbed, that is. Serve the Queen or go to bloody Botany Bay. That’s the choice they gave me. So here I am. You’re a charlatan and I’m a thief. Proud redcoats all.’</p>
				<p class="bt1-body-text">Jack suddenly recalled where Tommy Smith had been when they had collided. ‘You’re still at it! You’re still a bloody thief! A regular Jack Shephard!’</p>
				<p class="bt1-body-text">‘Of course I am, you fool! Why else do you think I wanted to be an orderly? Do you think I wanted to feed some toff his victuals or clean his shitty drawers?’ Smith saw the growing look of horror on Jack’s face. ‘Oh, don’t worry. I didn’t pinch anything of yours. Just don’t you go raising a shine when Lieutenant Price croaks about losing his precious bloody pocket watch.’</p>
				<p class="bt1-body-text">‘You scoundrel!’</p>
				<p class="bt1-body-text">‘Well, you were right. We’re both of the same kidney.’</p>
				<p class="bt1-body-text">‘No we’re not. You’re a bloody thief!’</p>
				<p class="bt1-body-text">‘Jesus Christ! What are you then? I just pinch stuff. You stole some poor sod’s whole life!’</p>
				<p class="bt1-body-text">The sharp comment hit home. Jack had never considered himself a thief. In his own mind, his charade had been a way of doing his duty. Of serving his Queen and country by making the most of the abilities he knew he had. Smith saw it in more simple terms.</p>
				<p class="bt1-body-text">‘So where are you from, Jack, if it ain’t Hampshire or some other place where all the posh folk live?’</p>
				<p class="bt1-body-text">‘London. Whitechapel.’</p>
				<p class="bt1-body-text">‘No wonder your loaf’s all messed up. What about the poor bastard who died?’</p>
				<p class="bt1-body-text">‘What about him?’</p>
				<p class="bt1-body-text">‘What about his family?’</p>
				<p class="bt1-body-text">Jack’s brow furrowed at the unexpected question. He had never given Sloames’s family much thought. ‘He has a younger sister. I don’t think they were close. He didn’t mention her much.’</p>
				<p class="bt1-body-text">‘So she thinks he is still alive then? Maybe one day you can find her and tell her what happened.’</p>
				<p class="bt1-body-text">Jack chuckled at the thought. Something he immediately regretted as the laughter magnified the pain in his skull. ‘I doubt she would be happy to see me.’</p>
				<p class="bt1-body-text">‘You’d be surprised. Women love returning heroes. Maybe you can even go and visit your ma one day.’</p>
				<p class="bt1-body-text">‘If she hasn’t drunk herself to death yet.’</p>
				<p class="bt1-body-text">‘Like a tipple, does she?’</p>
				<p class="bt1-body-text">‘You could say that. She runs a gin palace.’</p>
				<p class="bt1-body-text">‘You left a ginny to join the redcoats?’</p>
				<p class="bt1-body-text">‘It’s not as good as you think, believe me. I near broke my damn back in the bloody place. It was full of drunks and whores and piss.’</p>
				<p class="bt1-body-text">‘Sounds like my idea of heaven.’</p>
				<p class="bt1-body-text">‘Then you’re a fool.’</p>
				<p class="bt1-body-text">Smith snorted at the notion. ‘So where was your guv’nor while you were having such a horrible time of it getting pie-eyed with your dear old ma.’</p>
				<p class="bt1-body-text">‘He ran off with a whore when I was a nipper.’</p>
				<p class="bt1-body-text">‘So at least someone in the family had some sense then.’</p>
				<p class="bt1-body-text">‘Not really. He was found in a gutter a week later. The bitch had slit his gizzard and disappeared.’</p>
				<p class="bt1-body-text">‘Sounds like a nice place, your Whitechapel. Remind me to steer clear.’</p>
				<p class="bt1-body-text">‘It was not so bad. The one good thing I remember was the recruiting party that came by once a month. I used to watch them as they gulled the local lads into taking the shilling. I thought those soldiers were the finest men I had ever seen. They were so clean and smart and you should have heard the stories they told. I couldn’t get enough of them. I wanted to take the shilling myself but my mother wouldn’t hear of it. She needed me to help run the damn place. It took me years to pluck up enough courage to leave her.’</p>
				<p class="bt1-body-text">‘Well, more fool you, leaving a gin palace just so you could take a turn at being a bleeding Rupert.’ Tommy Smith shook his head.</p>
				<p class="bt1-body-text">‘I think it’s all over now anyway, or nearly. I advised Major Peacock to take his head out of his arse.’ Jack winced at the memory.</p>
				<p class="bt1-body-text">‘You did? Blimey.’ Smith sounded impressed. ‘Well, you’ll have to sort that one yourself. But dealing with Slater, that’s easy.’</p>
				<p class="bt1-body-text">‘Easy? Have you seen the size of the bastard? He beat me tonight without breaking a sweat.’</p>
				<p class="bt1-body-text">‘I’m not suggesting you fight him. Not if you can help it, anyway. But fixing Slater couldn’t be simpler. I’m astonished you haven’t thought of it for yourself.’</p>
				<p class="bt1-body-text">‘Well, why don’t you enlighten me seeing as I’m too stupid to see it for myself?’</p>
				<p class="bt1-body-text">‘You let the army fix him.’</p>
				<p class="bt1-body-text">‘And why would I do that?’ Jack shook his head at the notion, grimacing with the pain the sudden movement caused. ‘He knows who I am. He’ll peach on me and then it’s all over. I’ll be drumming my heels on the scaffold within a week.’</p>
				<p class="bt1-body-text">‘Who are they going to believe, Jack? A sergeant who has just arrived or one of their captains?’</p>
				<p class="bt1-body-text">Jack was silent. It was so obvious. Hadn’t Slater been the one who had once mocked him for being powerless against the will of a sergeant? No one would disbelieve the word of an officer.</p>
				<p class="bt1-body-text">‘You would have to get in there first. Have him up on a charge for being drunk, or for pissing on your boots, or something. Take away his stripes for starters and if that doesn’t quieten him down then get him flogged. You’re the officer. He can’t stand against you.’</p>
				<p class="bt1-body-text">‘He’d go insane. He’d kill me.’ Jack did his best to imagine Slater without his stripes. He couldn’t do it.</p>
				<p class="bt1-body-text">‘Well, it sounds like he might do that anyway. Once you have him up on a charge, the army will do the rest. And no one will believe him if he starts ranting on about your past. If anything, that would just give more credence to your punishing him in the first place. And anyway, what have you got to lose? It can’t exactly make things any worse, now can it?’</p>
				<p class="bt1-body-text">Jack stayed silent as he considered the idea. The pain of Slater’s beating was fading as he contemplated a new future.</p>
				<p class="bt1-body-text">The power of an officer over a redcoat, even a sergeant, was absolute. It would take one word, one accusation, and Slater would be at his mercy.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../_ypqte.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Acknowledgements</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Chapter One</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter Two</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Tenty-eight</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Forty</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Epilogue</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Historical Note</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Read on for a Preview of The True Soldier</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0026.html" class="calibreAPrev">previous page</a>
    

    <a href="../../_ypqte.html" class="calibreAHome"> start</a>

    
      <a href="part0028.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
