<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200242_EPUB-17.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../_ypqte.html">The Scarlet Thief (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0016.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0018.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200242_EPUB-17.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-17" class="awh1-artwork-head"><img class="image11" src="../images/00016.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">‘Lark! For the love of heaven attend to me at once!’</p>
				<p class="bt1-body-text">‘Sir!’ Jack hurried into the room. He had been dozing in a scuffed leather armchair in what passed for a sitting room in the lodging they had taken at a coaching inn in the depths of the Kent countryside. The inn was dank, a rotting, mildew-infested dump of a place that survived by fleecing any traveller foolish enough to spend time in it. Ordinarily, Sloames would never have tolerated even a single night in such a foul establishment but he had been given little choice.</p>
				<p class="bt1-body-text">For Sloames was sick.</p>
				<p class="bt1-body-text">‘I have been ill again.’ Sloames’s voice wavered with emotion.</p>
				<p class="bt1-body-text">Jack did his best to hide his distaste. ‘Very good, sir. I shall fetch some clean water.’</p>
				<p class="bt1-body-text">He admired the genteel turn of phrase that Sloames had used but there was no hiding the stench of shit that overwhelmed the room’s more usual smell of rot, damp and decay. For the third time that day, Sloames had shat himself, the relentless disease that had him in its bitter grip turning the young officer’s insides into so much slurry.</p>
				<p class="bt1-body-text">Jack bustled from the room, determined to keep his mind on the task at hand. Better that than dwell on the shame or on the fear that was stamped so clearly on Sloames’s drawn and whey-coloured face.</p>
				<p class="bt1-body-text">The illness had been sudden, violent and unstoppable. What had started as a mild summer cold soon developed into an uncontrollable fever that had rendered Sloames delirious and forced them to seek shelter. The days had passed by in a blur as Jack undertook the distasteful process of cleaning the diarrhoea from his officer’s body and trying to slake his constant thirst. Throughout it all, Sloames had drifted in and out of consciousness, enjoying only occasional periods of lucidity as the illness laid waste to his body.</p>
				<p class="bt1-body-text">‘Here we are, sir. Soon have you sorted.’ Jack did his best to reassure his officer as he applied himself to the unpleasant task, swallowing the urge to retch as the stench of his officer’s voided bowels clogged his throat. He worked as quickly as he dared, trying to avoid the patches of livid broken skin that made Sloames hiss in pain if a careless fingernail scraped it. Yet, even working with haste, it took many long minutes to wipe away the last of the foul fluids.</p>
				<p class="bt1-body-text">Throughout it all, Sloames lay quiet. It was only as his orderly pulled the clean cotton drawers to his navel that he spoke again.</p>
				<p class="bt1-body-text">‘I thank you, Lark. You do me a kind service.’</p>
				<p class="bt1-body-text">Jack rose from his knees, hiding the cloth with its shaming brown streaks behind his back. It was hard to find the right words to form a reply. He felt he should try to make light of the situation, offer his sick officer the traditional bland reassurances that he would soon be well. But they had already been said too many times before, the blandishments of the healthy to the sick worthless in the face of such a ravaging illness.</p>
				<p class="bt1-body-text">So Jack said nothing, merely nodding in acknowledgement of the words of thanks.</p>
				<p class="bt1-body-text">‘Lark.’</p>
				<p class="bt1-body-text">‘Sir?’</p>
				<p class="bt1-body-text">‘I need to speak to you.’ Sloames sucked in huge gulps of air as he struggled to control his distress. ‘I need to speak of the future.’</p>
				<p class="bt1-body-text">The future, which had once seemed so full of promise, now hung around their necks like a gravestone. The word mocked them. Jack, who had already lost so much, had clung to a future with Sloames with all the fervour of a religious convert. Now that lay in tatters, destroyed by the illness that was laying waste to Sloames’s body.</p>
				<p class="bt1-body-text">‘We must discuss what is to happen.’ Sloames delivered the words with stony determination.</p>
				<p class="bt1-body-text">‘You’ll get better, sir.’</p>
				<p class="bt1-body-text">‘Don’t be a fool.’ Sloames delivered the admonishment with some of his former force. ‘I am dying. There, it is said. I am dying and nothing you or I say will alter that fact.’</p>
				<p class="bt1-body-text">‘We can call back the doctor.’</p>
				<p class="bt1-body-text">Sloames shook his head. ‘Do not even suggest it. I’ve had quite enough of that fat fool blistering and bleeding me to last a lifetime.’ Sloames shuddered, whether at the memory of the local doctor’s enthusiastic treatment or at the ill-chosen phrase, Jack could not tell.</p>
				<p class="bt1-body-text">‘I’ll look after you. I’ll get you well.’</p>
				<p class="bt1-body-text">‘You are many things, Lark, but I doubt you are a worker of miracles. Now, be quiet and listen. When I am dead, you’ll be cast adrift. You’ll be without a place. I think we both understand that you cannot go back to the regiment even if they would accept you. That leaves you at the mercy of the damned clerks and I wouldn’t wish that on anyone. So, we must apply ourselves to conjuring an alternative. We must find you a future.’ Sloames’s voice had died to a barely audible whisper and Jack was forced to lean close so he could make out the words. With an effort, Sloames took his weight on to his elbows, lifting his head clear of the stained bed.</p>
				<p class="bt1-body-text">‘You must find your way to our new regiment and go on campaign.’ Sloames fixed his orderly with a determined stare, a fierce glimmer in his eyes. ‘You must seize the glory that is rightfully ours. Do you understand? You must do it. You must. Find my glory.’</p>
				<p class="bt1-body-text">The effort of speaking had taken its toll on Sloames and he slumped back into the stinking sheets and closed his eyes.</p>
				<p class="bt1-body-text-1-full-out">Jack sat in the scuffed and battered leather armchair, his fingers absent-mindedly picking at its scarred surface. He was alone with his thoughts and with his fears.</p>
				<p class="bt1-body-text">He did not know what would become of him when Sloames finally succumbed to the illness. Sloames wanted him to join the campaign that was about to start. But if he joined the regiment of fusiliers as Sloames had urged, he would have no place there, he would be a stranger, bereft of the ties that bound the men in the ranks together.</p>
				<p class="bt1-body-text">The thought of that loneliness made him think of Molly. He had convinced himself that going on campaign as Sloames’s orderly would numb the pain of her death. But he now knew he had been foolish to think that. He had lost the woman he loved, just as he was about to lose the man who held the reins to his future. When Sloames died, he would have lost everything.</p>
				<p class="bt1-body-text">Molly had once told him to get a grip and make his own future if he wanted to get anywhere in life. The words haunted him. He got up from his chair and pulled Sloames’s uniform coat from its peg. The fabric was soft, the weave so much finer than the drab, clumsy cloth of the ordinary red coat he wore. Jack ran his hands over the heavy bullion epaulets that defined the captain’s rank, searching for the courage to dare to do something which would, if he were discovered, lead only to the scaffold and a long, drawn-out death.</p>
				<p class="bt1-body-text">It was time to prove he could do it. He owed Molly that at least. He would gamble his life to better himself and he would do it for his Molly.</p>
				<p class="bt1-body-text">He would do as Sloames had suggested. But he would do it in a way that his officer would never have imagined.</p>
				<p class="bt1-body-text">For he had nothing left to lose.</p>
				<p class="bt1-body-text-1-full-out">The room was as cold and clammy as a corpse. The fire had died down as Jack slept, a muted glow in its smoky depths the only reminder of its former warmth. A solitary gas lamp that Jack had balanced carelessly on the edge of a battered travelling chest hissed and spluttered, before its light went out, fuel exhausted, its flame untended and ignored.</p>
				<p class="bt1-body-text">It was quieter without the harsh hiss of the gas lamp, almost silent except for the slow, methodical tick of the silver fob watch which Jack had placed on the mahogany dressing table, its chain neatly coiled round its case. The watch lay at the head of a formation of tortoiseshell-handled brushes, combs and razors, next to their brown leather carry case, precisely as Sloames liked them to be laid out.</p>
				<p class="bt1-body-text">Sloames listened to his fob watch, cursing the sound of each second ticking by, hating the audible acknowledgment that his life was nearly over, the passing of time as inexorable as the approach of his death. He lay on his back in the darkness, his head bent to one side so that he was facing the room’s single garret window. The window was streaked with filth, congealed bird muck covering much of the uneven glass. He longed to enjoy one last view of the stars. Yet even that simple pleasure was denied him.</p>
				<p class="bt1-body-text">He yearned to rise from the filthy sheets. To peel back the stained and stinking counterpane and cross the scuffed, soiled, floorboards. To throw the window open so he could drink in one last mouthful of the crisp night air. Instead, he was a prisoner in his putrid bed. His ruined body his jailer. The illness that had reduced him to a living cadaver his immutable sentence.</p>
				<p class="bt1-body-text">The seconds ticked by, bringing Sloames ever closer to his end, this last period of consciousness a final misery his illness chose to inflict upon him. He cursed the irony of fate that should condemn him to die of disease in the benign surroundings of the Kent countryside when he had spent a small fortune to avoid a posting to the fever-ravaged Indies where sickness and death were commonplace.</p>
				<p class="bt1-body-text">In the quiet of the room, Sloames could detect the faint sounds of his orderly snoring as he slumbered in the winged-back chair in the adjoining room. It would have been easy to hate his servant for his ripe health and vitality. Instead Sloames felt tied to the man he had saved, whose life he had changed, whose future he had set and which now looked almost as bleak as his own.</p>
				<p class="bt1-body-text">Sloames would have wept if his body had still had the faculty. He would have railed against the merciless disease that had reduced his body to a desiccated husk, at the injustice, the unfairness, the casual callousness of his fate. Yet his imminent demise brought on such lethargy that it was an effort to focus his mind even on the appalling spectre of his own death. His thoughts, meandering and vague as they were, turned to what might have been.</p>
				<p class="bt1-body-text">These should have been the best days of his life, the great adventure of going to war certain to bring the glory he had always craved. The campaign against the might of Russia should have been his finest hour, the much longed for opportunity to lead a company of soldiers into battle.</p>
				<p class="bt1-body-text">As Sloames sank ever closer to oblivion, he dreamt of the battles that were to come, imagining the future that had been stolen from him, the laurels of glory that would have been his. The room was silent, yet Sloames’s sick mind echoed to the sounds of battle, to the calls of the bugles and the beat of the drums, the crash of cannon, the rattle of musketry, the screams of pain and the cheers of victory. His thoughts filled with the grandeur of battle in all its splendour.</p>
				<p class="bt1-body-text">The first rays of daylight pierced the gloom of the attic room, illuminating thousands of specks of floating dust. It reached Sloames’s face, the thin beam lingering on the sallow cheeks and wasted features.</p>
				<p class="bt1-body-text">A cloud passed over the sun, shutting off the warming light, and the gloom quickly refilled the spaces that had enjoyed the momentary glow.</p>
				<p class="bt1-body-text">The shadow of the cloud passed over Sloames’s face and he died.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../_ypqte.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Acknowledgements</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Chapter One</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter Two</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Tenty-eight</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Forty</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Epilogue</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Historical Note</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Read on for a Preview of The True Soldier</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0016.html" class="calibreAPrev">previous page</a>
    

    <a href="../../_ypqte.html" class="calibreAHome"> start</a>

    
      <a href="part0018.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
