<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472222701_EPUB-39.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../qzj5e1.html">The Devil's Assassin (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0038.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0040.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472222701_EPUB-39.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-37" class="toch-table-of-contents-main-head"><img class="image27" src="../images/00037.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="tsn-typesetter-designer-note">Jack led his two troops back towards the column. He could sense the men’s exhilaration at having charged the enemy, and the horses tossed their heads and snorted loudly as they joined in their masters’ excitement. He was proud of his new command and he relished being back where he belonged.</p>
				<p class="bt1-body-text">At the rear of the column, the 4th Rifles had formed a thin skirmish line facing out into the darkness. Their officers prowled behind the line, steadying the troops, readying them to fight. Ahead, Jack could hear the bugles and drums of the main column. The cumbersome infantry battalions were still re-forming, moving out of the column of march and into the square that would protect them from an enemy attack. The column was performing well under the stress of the night-time ambush, but the change in formation was taking longer than Jack could have imagined. They needed still more time.</p>
				<p class="bt1-body-text">‘Well done, that man.’</p>
				<p class="bt1-body-text">Jack looked up and saw a mounted officer waving them in, his enthusiastic greeting an unexpected boon.</p>
				<p class="bt1-body-text">‘That’s the way, boys. Show them some bloody steel.’ The officer was clearly delighted at their performance. He lifted his hand in greeting as he saw Jack. ‘Captain, form your men up on the left, if you please.’</p>
				<p class="bt1-body-text">Jack recognised the voice. He rode forward as his men manoeuvred to obey the command, leaving them to the care of their officers.</p>
				<p class="bt1-body-text">‘Good evening, sir.’ He greeted the army’s commander whilst he was still too far away to be properly identified in the dim light. He was pleased to see the general look round, squinting in an attempt to discern Jack’s features as he approached.</p>
				<p class="bt1-body-text">‘You!’</p>
				<p class="bt1-body-text">Jack smiled as he saw the flare of recognition in Outram’s eyes. ‘Yes, sir.’</p>
				<p class="bt1-body-text">‘That was fine work, Fenris. Fine work indeed.’ To Outram’s credit, he rallied fast, even remembering Jack’s name. He was clearly not going to let Jack’s past failure stop him from giving praise where it was due.</p>
				<p class="bt1-body-text">‘The men knew what they were about, sir. I just tagged along for the ride.’</p>
				<p class="bt1-body-text">Outram laughed at his modesty. ‘You did well; it was just what was needed. I had a feeling you were wasted working with Ballard. You are a man of purpose, Captain Fenris. A man of action. I could see that the moment I clapped eyes on you.’</p>
				<p class="bt1-body-text">Thank you, sir.’ Jack tried not to look too pleased.</p>
				<p class="bt1-body-text">‘Well, I am sure you will be given another chance to show what you are made of tonight. This is a nasty business. These buggers seem to know what they are doing.’</p>
				<p class="bt1-body-text">There was no time for Jack to reply. A staff officer rode up to the general, thrusting forward a scrap of paper the moment he came to a halt. Jack rode back to his new command. Outram was right. The enemy were still swarming around the rearguard, their yells and cries building in intensity once again as they re-formed. It was only just after midnight. It would be a long night.</p>
				<p class="bt1-body-text-1-full-out">‘Re-form the ranks!’ Jack gave the order to his trumpeter. The two troops had become more scattered on the third charge, the men’s tiredness beginning to have an effect on their cohesion. He felt his own exhaustion pressing down, numbing his brain so that his thoughts became turgid and slow.</p>
				<p class="bt1-body-text">The call to re-form was ragged and uneven, and he flashed an angry glare at the young boy who had been at his side throughout the charges. It was enough of a warning for the youngster to find a reserve of energy, and the call steadied, the notes sounding clear once again.</p>
				<p class="bt1-body-text">For the third time, the two troops trotted back to their station on the left flank of the rearguard. For the last two hours they had ridden hard to drive away the enemy cavalry, keeping them at bay. Their frustration was building as quickly as their exhaustion. The enemy had learnt fast. They refused to stand and fight, preferring instead to melt into the darkness as soon as the Bombay Lights pressed close. Thus far Jack’s men had only caught the Persians with their first attack, and they were tiring of the need to re-form when they had barely got going. Despite their frustration, Jack was determined to keep them on a tight leash. The British had pitifully few cavalry; they could ill afford to allow two troops to disappear on some fruitless chase into the night.</p>
				<p class="bt1-body-text">A deep boom resonated through the night sky. The enemy had brought up four guns and had begun shelling the halted column shortly after the Bombay Lights’ first charge. It was an ill-directed fire, the shells exploding harmlessly away from the column. Yet the constant barrage was wearing away the men’s nerves. It had to only be a matter of time before the Persian gunners got lucky and managed to land a shot on target.</p>
				<p class="bt1-body-text">The column had re-formed into an enormous single square, each of the four sides facing outwards so that no matter where the enemy attacked they would be greeted by the massed ranks of the British infantry. A single brigade formed each of the long flanks, with a demi-brigade making up the two shorter faces at the front and rear. The supply wagons were huddled together in the centre, sheltered from attack by the long walls of rifles and muskets that surrounded them. In this new tight formation, Outram’s men could wait for dawn and for the daylight that would allow them to take the battle to the enemy.</p>
				<p class="bt1-body-text">‘Here they come again, sir.’ Lieutenant Moore called for Jack’s attention.</p>
				<p class="bt1-body-text">Some of the cloud had been blown away so that more moonlight made its way on to the plain. There was enough to see the enemy cavalry pressing forward again. For the fourth time they approached the rearguard. The screams and yells that had typified the initial attacks were gone, the enemy calmer as the night wore on and the impetus of the early ambush faded. It was as if the Persians had accepted the standoff and now both sides were reduced to going through the motions as they waited for the dawn and the battle that seemed inevitable.</p>
				<p class="bt1-body-text">‘Prepare the men. Dress the ranks.’</p>
				<p class="bt1-body-text">‘Will we charge again, sir?’ Moore asked the question cautiously, sounding his captain out.</p>
				<p class="bt1-body-text">Jack looked closely at the lieutenant. ‘I see no other option.’</p>
				<p class="bt1-body-text">‘The men are tired, sir. So are the horses. We aren’t coming close to catching the buggers. Perhaps we can hold our position for the moment. Give everyone time to catch their breath.’</p>
				<p class="bt1-body-text">Jack sighed. He well understood the weariness. ‘We cannot risk meeting the enemy from a halt if they do decide to charge us. We must have momentum. We have no choice. Prepare the men to charge again.’ He gave the order confidently. He was in command.</p>
				<p class="bt1-body-text">‘Yes, sir.’ Moore accepted the argument.</p>
				<p class="bt1-body-text">‘The men are doing well, Ross. You should let them know that.’</p>
				<p class="bt1-body-text">Moore smiled. ‘They are good boys. You mustn’t listen to all the nonsense about the Company’s men being at odds with their officers. I would trust my boys with my very life.’</p>
				<p class="bt1-body-text">Jack heard both pride and complacency in Moore’s reply. He had seen how the East India Company officered its native battalions. He had not been impressed. Bombay had resounded with dire tales of the lazy, indolent Company officers treating their men with appalling brutality. Talk of discontented jawans disobeying their officers was becoming commonplace, as was rumour of unrest. The native soldiers’ list of complaints was long, from the threat of being forced to serve overseas to the attempts to convert them to Christianity. Jack had seen first hand how hard the native infantry fought. He had every respect for their ability as soldiers and he could only wonder at the senior Company officers who steadfastly refused to listen to their men’s complaints<span class="char-style-override">.</span></p>
				<p class="bt1-body-text">This was no time for such a political discussion. Jack summoned the energy to sit straight as he gave his next orders. ‘Form the men. Send me the trumpeter. We charge as before.’</p>
				<p class="bt1-body-text">Moore stiffened in the saddle as he acknowledged the command. ‘Very good, sir.’</p>
				<p class="bt1-body-text">Jack’s tired squadron would have to fight on.</p>
				<p class="bt1-body-text-1-full-out">‘Charge!’</p>
				<p class="bt1-body-text">For the fourth time that night, Jack bellowed the command. The trumpeter picked up the order and blew the rising call beautifully. Despite his exhaustion, Jack felt his body respond to the warlike melody. He did not doubt that the notes would haunt him for ever; he could not imagine a time when they would not resonate deep in his soul.</p>
				<p class="bt1-body-text">His horse went forward willingly. He felt the change in gait as the restraining bit loosened to give the animal its head.</p>
				<p class="bt1-body-text">Just as before, the enemy turned and raced away. The light had improved as dawn crept ever closer, and Jack got a better look at the men who had plagued the rearguard for so many hours.</p>
				<p class="bt1-body-text">They were dressed in a similar fashion to their infantry: light blue tunics with red collars and cuffs, and the same white cross belts and popakh hats. They were armed with thin lances decorated with scarlet flags. From what little Jack had seen, they were not as well trained as the infantry, their scattered formation easily broken by the disciplined charges of the Bombay Lights.</p>
				<p class="bt1-body-text">‘Walk!’</p>
				<p class="bt1-body-text">Jack shouted the order, the words grating in his throat. The Bombay Lights eased their horses into the slower pace, the repetition of the manoeuvre lessening the disappointment at being unable to bring the enemy to meet their sabres.</p>
				<p class="bt1-body-text">‘Halt! Re-form the ranks.’</p>
				<p class="bt1-body-text">Jack felt the tiredness take hold. He watched his men as they re-formed. He could see their exhaustion, their tired mounts having to be worked hard as they were forced back into the ordered ranks. The charge had taken them close to half a mile away from the rest of the rearguard, and Jack wanted to get his small command back to the safety of the main position. But even once back with the other troops, there would be no opportunity for any kind of rest. There were simply too few cavalry with the expeditionary force. The Bombay Lights would have to stay in the saddle until daybreak, and God alone knew what they faced when the morning revealed the full extent of the enemy’s preparations.</p>
				<p class="bt1-body-text">‘Sir! Beware right!’ Cornet Combe, stationed in serrefile rank behind six troop, called for his commander’s attention, his adolescent voice squeaking as he did so.</p>
				<p class="bt1-body-text">Jack felt a flutter of fear. His squadron was exposed, its flanks unguarded and open. It was the necessary evil of scattering the enemy cavalry with a short, sharp charge. If a large body of enemy horsemen caught them now, they could be quickly cut off from the rest of the expeditionary force. He forced his horse to a trot. From his position at the centre of the two troops, he couldn’t see the threat that placed his new command in danger.</p>
				<p class="bt1-body-text">‘Sir!’ Combe waved his arm frantically. ‘Cavalry to the east.’</p>
				<p class="bt1-body-text">At last Jack spotted what had captured his subaltern’s attention. A body of enemy horsemen was trying to slip around the flank of the squadron.</p>
				<p class="bt1-body-text">‘Sound the retire!’ He snapped the order at his trumpeter.</p>
				<p class="bt1-body-text">The boy’s eyes widened with fear at the urgency in his officer’s voice. He raised the trumpet and tried to sound the order, but his lips were dry and the notes stuttered and died.</p>
				<p class="bt1-body-text">‘Spit, boy, spit!’ Jack admonished, knowing full well that any delay placed his men and the rest of the rearguard in danger.</p>
				<p class="bt1-body-text">The boy did as he was told, his tongue flicking nervously over his lips. He replayed the command, and this time the notes sounded clear.</p>
				<p class="bt1-body-text">‘Sir?’ Lieutenant Malcolmson reined in at Jack’s side. ‘Orders?’</p>
				<p class="bt1-body-text">‘We have to retire. Those bastards are trying to cut us off.’ Jack snapped off the instruction.</p>
				<p class="bt1-body-text">‘Very good.’ Malcolmson understood instantly.</p>
				<p class="bt1-body-text">‘We ride hard.’ Jack reined his own horse round. ‘If we are quick, we can hit them in the flank before they work out that we have seen what they are up to.’</p>
				<p class="bt1-body-text">Malcolmson said nothing, merely nodded quickly before heading back to his troop.</p>
				<p class="bt1-body-text">Jack’s squadron had to move fast. The large body of Persian cavalry was attempting to sweep around and cut them off from the rest of the rearguard. The Bombay Lights would have to react quickly. It would be a race between the two groups of horsemen. If the Bombay Lights lost, they would be cut down and massacred. If they won, they could hit the enemy cavalry in the flank. But only if they were quick.</p>
				<p class="bt1-body-text-1-full-out">The ground flew past under the hooves of Jack’s horse, every impact hitting the arid soil like a gunshot. Jack could feel the film of dust covering his face, stretching his skin taut and drying out his eyes and nose.</p>
				<p class="bt1-body-text">The front rank was close behind him, and they brought their sabres down to the engage position as they thundered towards the rearguard. Jack could see enough to spot the tremor in the enemy cavalry’s ranks as they finally awoke to the sudden appearance of the squadron of charging horsemen they had been attempting to outflank. The confusion was immediate, the cohesion of their loose formation disappearing in a heartbeat as most of the terrified Persians immediately turned and raced away.</p>
				<p class="bt1-body-text">Yet there was not enough time for them all to escape the charging Bombay Lights. Jack would have bellowed in delight if he had had the breath. His men had reacted fast and had snatched the initiative from the enemy. They were no longer the quarry but the hunter. His head whipped back and forth as he tried to judge time and distance, then he raked back his spurs and led his men into the charge.</p>
				<p class="bt1-body-text">The Bombay Lights raced forward, letting their horses use their reserves of strength in a final, muscle-stretching burst of speed. They smashed into the Persian cavalry’s ranks, their greater momentum driving them into the enemy horsemen with a sickening thump.</p>
				<p class="bt1-body-text">Jack was at the forefront of the melee. He slashed his talwar at a fast-moving figure to his left. The blade scythed through the air and he howled in disappointment, the speed of his horse taking him past the enemy before the blow could land. He wrenched at the reins, slowing his mount and searching out another target. A trooper from the Bombay Lights rushed past him, riding across his line. Jack could do nothing but watch in grim approval as the man spurred his horse hard, driving it at a Persian horseman slow to react to the counterattack. The trooper shouted once, a yell of frustration released, before he chopped his heavy sabre down on to the enemy’s head, bludgeoning him to the ground with a single vicious blow.</p>
				<p class="bt1-body-text">Jack urged his horse on, looking for danger, though his desire to fight was overridden by the more urgent need to understand the chaotic melee. His men had broken the enemy ranks, the bulk of those left in the saddle in full flight to the rear. A dozen scraps were still going on, his troopers trading blows with the Persian riders who had been unable to escape the charge. It would soon be time to re-form, the wild dash to their rear having left the Bombay Lights’ own ranks badly disordered. Jack opened his mouth, preparing to issue the orders that would bring those men not engaged with the enemy back under control.</p>
				<p class="bt1-body-text">The words died on his lips. Not all the enemy cavalry were in flight. The men on the flank furthest from the Bombay Lights’ charge had ridden on, their officers driving them past the British cavalry and towards the rearguard.</p>
				<p class="bt1-body-text">Jack saw the danger. Any notion of success was lost. He twisted, desperately looking for his trumpeter, yet knowing it was already too late. There was no sign of the boy; the melee with the Persian cavalry had separated him from his commander. Jack cursed and forced his horse around, turning it to face the sudden threat to the British rear.</p>
				<p class="bt1-body-text">He was not alone in spotting the danger. A small group of British officers were spurring hard as they saw the Persian horsemen racing towards the 4th Rifles’ undefended flank. They would be horribly outnumbered, but they rode at the attacking cavalry nonetheless, throwing themselves into their path in a courageous attempt to save the riflemen, who were still unaware of the danger, their thin defensive line dreadfully vulnerable to the marauding Persians.</p>
				<p class="bt1-body-text">Jack’s heels worked vigorously to force his exhausted mount back into the gallop. He had no choice but to risk everything on a madcap dash back across the plain. If he was too late, the British officers would die and the Persian cavalry would have a clear path to the rearguard’s undefended flank.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../qzj5e1.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Praise</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Map – 19th Century Persia</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-18">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-19">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-20">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-21">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-22">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-23">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-24">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-25">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-26">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-27">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-28">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-29">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-30">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-31">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-32">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-33">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-34">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-35">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-36">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-37">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-38">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-39">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-40">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-41">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-42">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-43">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-44">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-45">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-46">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-47">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-48">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-49">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-50">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-51">Epilogue</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-52">Historical Note</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-53">Acknowledgments</a>
    </li>
    <li>
      <a href="part0056.html#toc_marker-54">Read Jack Lark: Rogue, out now</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0038.html" class="calibreAPrev">previous page</a>
    

    <a href="../../qzj5e1.html" class="calibreAHome"> start</a>

    
      <a href="part0040.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
