<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472222701_EPUB-13.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../qzj5e1.html">The Devil's Assassin (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0012.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0014.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472222701_EPUB-13.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-12" class="toch-table-of-contents-main-head"><img class="image10" src="../images/00011.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="tsn-typesetter-designer-note">‘Arthur! Meet the girl I’m going to marry!’</p>
				<p class="bt1-body-text">Knightly staggered to where Jack sat in a salon just off the ballroom. It was hot in the club, but the anteroom was something of an oasis. The pankha-walas stationed around the room pulled diligently at the huge sail attached to the ceiling, producing a welcome breeze, whilst a dozen waiters stood around like so many bronze statues, ready to deliver a fresh drink at the crook of a patron’s little finger. The Byculla Club knew how to throw a party, and Jack had been happy enough to accompany Knightly to the evening’s entertainment. It certainly made a change not to gatecrash an event, and for once he would try to enjoy himself rather than just seek sustenance.</p>
				<p class="bt1-body-text">Jack looked up and scrutinised the dishevelled girl buried beneath Knightly’s arm. She was a winsome piece with pale gold hair arrayed in tight ringlets. He searched her eyes for some sparkle of mischief, but saw nothing but a pair of glazed hazel irises that peered back in dull myopic happiness.</p>
				<p class="bt1-body-text">By rights Jack should have loathed Knightly. His new acquaintance displayed every characteristic that Jack despised in the officer class. He thought nothing of languishing in Bombay when he should have been on his way to join his regiment, spending the days sleeping and the evenings cavorting around town. He came from wealth, so never doubted that his future was assured, his progress through the ranks guaranteed by a family who enjoyed both income and influence. He knew little of the men under his command, of what drove a man to accept the harsh conditions of a lifetime serving the Queen. Of battle he knew even less, and when Jack had talked gently of what it was really like, Knightly seemed to think of it as little more than a game of rugby, where one side beat the other before it was time for handshakes all round and a jolly good tea.</p>
				<p class="bt1-body-text">Yet despite his background, there was something in his rakish charm that was simply impossible to dislike. He was like a playful puppy. No matter how many times he was kicked, he simply got back on his feet and wanted to play again. Despite himself, Jack found himself liking the confident young officer.</p>
				<p class="bt1-body-text">‘What’s your name, love?’ He addressed the young girl in an attempt to find a redeeming spark behind the dull appearance.</p>
				<p class="bt1-body-text">‘Dorothy, Dorothy Squires.’</p>
				<p class="bt1-body-text">‘Dorothy.’ Jack pronounced the name carefully. He gave the girl a smile, but she was too busy staring up at her new beau to notice.</p>
				<p class="bt1-body-text">‘Isn’t she just the most beautiful creature you ever laid your eyes on?’ Knightly struggled with his words and Jack could see from the grin slapped across his face that he was already three sheets to the wind.</p>
				<p class="bt1-body-text">‘May I be the first to wish you both much happiness.’ Jack managed a smiled for the happy couple before returning his attention to his brandy and soda.</p>
				<p class="bt1-body-text">He heard them move off and was quite content to be alone. He just hoped Knightly did not try to bring the mousy Miss Squires back to the suite of rooms they now shared. He did not think he was ready to hear the sounds of his new friend’s nocturnal revelry.</p>
				<p class="bt1-body-text">‘Lieutenant Knightly appears to be enjoying himself.’</p>
				<p class="bt1-body-text">Jack turned and saw that a tall man wearing the uniform of a lieutenant colonel with the black cuffs and collar of the 64th Foot was addressing him.</p>
				<p class="bt1-body-text">‘He should be with his men, sir.’ Jack rose to his feet quickly, immediately respectful in the presence of a senior officer. Lieutenant colonels were not renowned for their patience.</p>
				<p class="bt1-body-text">‘Don’t I damn well know it.’ The colonel plonked himself down heavily in the club chair next to Jack’s and waved for Jack to join him. ‘Sit down, old chap.’ The senior officer sighed as he settled into his chair. ‘I will have a word with young Mr Knightly tomorrow and remind him of his duty, have no fear on that account.’</p>
				<p class="bt1-body-text">There were few other guests in the anteroom. Most were congregated in the large ballroom where the dancing and gossiping was taking place. The anteroom was a haven of relative tranquillity amidst the high excitement of the ball, and it seemed Jack was not alone in seeking some solitude from the noisy bedlam of the dance floor.</p>
				<p class="bt1-body-text">‘Draper, 64th Foot.’</p>
				<p class="bt1-body-text">‘Fenris, 24th.’ Jack shook the proffered hand. It was his first formal introduction. His heart beat a little faster and he wished he had not consumed so many pegs. This was the price of returning to society, and he needed to be on his mettle. He had known who the officer was the moment he had first been addressed, his badges of rank and the details of his uniform revealing his identity in a single glance. He just hoped Knightly was still capable of recognising his own commanding officer and was sensible enough to steer clear.</p>
				<p class="bt1-body-text">‘The Warwickshire lads, eh? A fine regiment indeed. A good friend of mine served with your lot. Got caught out at Chillianwala.’</p>
				<p class="bt1-body-text">‘Before my time, sir.’</p>
				<p class="bt1-body-text">‘I thought as much. You’re alive, for one thing. That damn shindig near killed the whole battalion.’</p>
				<p class="bt1-body-text">Jack watched Draper as he signalled to a waiting servant to bring him a drink. He judged the colonel to be in his mid forties. There were traces of grey in the black of his hair, with a wispy cloud gathered together on one side of his heavy beard. He was a tall man and he had the purposeful physique of a boxer, with wide shoulders and no sign of the paunch or double chins that affected so many senior officers.</p>
				<p class="bt1-body-text">‘So, young man, are you on furlough?’ Draper turned his attention back to Jack.</p>
				<p class="bt1-body-text">Jack felt his anxiety build as he faced the question. The bulk of the 24th Foot were serving up in the Punjab, but it would not have been unusual for a junior officer to be in Bombay, on his way either to or back from leave. Of course, neither applied to Jack.</p>
				<p class="bt1-body-text">‘I am on furlough, sir, or at least I am at the end of it. My colonel gave me shooting leave. I have only a week or so left before I must return to my battalion.’</p>
				<p class="bt1-body-text">‘Damned pity! You youngsters need to be let off the leash once in a while. Peacetime soldiering can take its toll on the young. Although things are never quite as peaceful as they seem, of course. I hear some of your boys got themselves into a fight up in the Bundelkhand whilst you were away.’</p>
				<p class="bt1-body-text">Jack did his best not to sit bolt upright. He had been in the thick of the fighting that had seen a single company of the 24th drawn into a desperate battle for survival when they were attacked by the local maharajah and his men.</p>
				<p class="bt1-body-text">‘I heard as much myself, sir. I believe it was Captain Kingsley’s company. They gave a good account of themselves, I am told.’</p>
				<p class="bt1-body-text">‘Kingsley?’ Draper considered the name. ‘I have not met him. I know Blachford. He’s a good friend of mine.’</p>
				<p class="bt1-body-text">Jack’s instincts for danger flared. Blachford was one of the senior officers in the regiment he had chosen as his own. It was time to beat a hasty retreat.</p>
				<p class="bt1-body-text">‘Well, sir, if you will excuse me.’ He made to leave, but his exit was blocked by the arrival of another red-coated officer.</p>
				<p class="bt1-body-text">‘Good evening, James, I’m glad I’m not the only one wasting my evening at this tiresome affair.’ The man pulled over a third club chair before taking a seat opposite Jack.</p>
				<p class="bt1-body-text">‘Don’t I know it.’ Draper turned and summoned the closest waiter to take the new arrival’s order. ‘But Sarah said we must come, so here we are.’</p>
				<p class="bt1-body-text">‘You are a good soldier, James. You do as your general orders!’</p>
				<p class="bt1-body-text">Both men barked with laughter at the remark. Jack did his best to smile gamely despite the icy flush running through his veins. There was to be no easy escape. This time he could not fight his way clear.</p>
				<p class="bt1-body-text">‘Fenris, this is Major Ballard. Works in the brain-tub. Ballard, this is Lieutenant Fenris of Blachford’s mob. Poor fellow is enjoying the last few days of his furlough, although quite why he would choose to waste his time at such an infernal affair as this is beyond me.’</p>
				<p class="bt1-body-text">Ballard smiled at the introduction before offering his hand. ‘Pleased to meet you, Fenris.’</p>
				<p class="bt1-body-text">Jack met Ballard’s gaze as coolly as he could as they shook hands. The smile on the major’s face did not meet the icy eyes that narrowed slightly as they looked Jack over. Ballard’s handshake was cold and his slim fingers glided smoothly out of Jack’s grip. He was clearly not a fighting officer, his soft, cool hands bereft of the dry coarseness of someone who fought for a living.</p>
				<p class="bt1-body-text">‘May I ask what the brain-tub might be, sir?’ Jack did his best to feign interest as he tried to find a way out of the uncomfortable encounter. The effect of the drinks he had consumed was slowing his thoughts, and it was taking an effort of willpower to fight through the fug of alcohol.</p>
				<p class="bt1-body-text">‘I work for General Stalker. For my sins, I am in command of his intelligence department.’</p>
				<p class="bt1-body-text">‘Ballard has his fingers in so many pies that it is a wonder he is not as fat as a cow in calf.’ Draper had clearly enjoyed a number of drinks himself that evening, and he chortled with delight at his own comment.</p>
				<p class="bt1-body-text">Certainly no one could have called Major Ballard fat. He was slim to the point of looking malnourished, with the same pinched face as so many of the army’s redcoats, although theirs was normally the product of grinding poverty rather than an aesthetic choice. His thin moustache was neatly clipped and his cheeks were immaculately shaven. It was clear he took great care with his appearance.</p>
				<p class="bt1-body-text">‘It is not quite like that. So, Fenris, when are you to return to the 24th?’</p>
				<p class="bt1-body-text">‘I’m to be back with the regiment by the beginning of November, sir.’ Jack picked what he considered a likely date, answering the question with as much confidence as he could muster. He would rather be facing the Maharajah’s famous lancers than the twin peril of two senior officers who would both know people who should be familiar to a lieutenant in the 24th Foot.</p>
				<p class="bt1-body-text">‘We were just discussing the affair up in Sawadh.’ Draper returned the conversation to the last area Jack wanted discussed. ‘Although I expect you know more about that than I do, Ballard.’</p>
				<p class="bt1-body-text">‘The 24th did well.’ Ballard watched Jack closely as he spoke. ‘I have the full dispatch on my desk. Written by a Captain Kingsley. A friend of yours?’ He arched a neatly plucked eyebrow in Jack’s direction as he posed the question.</p>
				<p class="bt1-body-text">Jack kept his face neutral. ‘No, sir. I believe he is newly arrived in the country. He went straight to the cantonment at Bhundapur, where his company was on detached duty. I serve with the rest of the regiment up in the Punjab.’</p>
				<p class="bt1-body-text">‘Well, if his account is to be believed, he did the 24th a great service. Sounds like he beat the Maharajah’s army all by himself.’</p>
				<p class="bt1-body-text">It was hard for Jack not to snort in derision. Kingsley was a useless popinjay whom he had been forced to knock to the ground to save the man’s company from destruction. Kingsley had spent the rest of the battle hiding with the sick and the wounded; Jack doubted he had even seen the Maharajah’s men, let alone fought any of them. The only success the British captain could claim was to have been the single white officer to survive the affair. Jack was not surprised to discover he had cast himself in the role of hero of the hour.</p>
				<p class="bt1-body-text">The thought of the bitter fighting made him shiver, despite his best attempts to guard his emotions. He looked into Ballard’s eyes. He had the feeling the intelligence officer was reading his very soul.</p>
				<p class="bt1-body-text">‘He had a fine company with him.’ He felt the calm he sometimes experienced in battle, the fear corralled and caged in the depths of his gut. ‘The men would’ve fought hard.’</p>
				<p class="bt1-body-text">Ballard’s eyes narrowed, as if assessing every word. ‘Which is your company, Lieutenant?’</p>
				<p class="bt1-body-text">‘Number three company.’ Jack gave the answer smoothly. The real Lieutenant Fenris had been in Kingsley’s company. He had tried to murder Jack in the aftermath of the battle and had died for his efforts, killed by another British officer. The memory chilled Jack and it took an effort of will to meet Ballard’s gaze.</p>
				<p class="bt1-body-text">‘There are a number of items in Captain’s Kingsley’s account that have me perplexed.’ Ballard sat back in his chair. His eyes left Jack’s for the first time as he summoned another round of drinks for the three officers. ‘I have only read the report briefly, but I am sure he lists you amongst the fallen.’</p>
				<p class="bt1-body-text">Jack kept his face calm. ‘You must be confused, sir. There is a Lieutenant Ferris who serves in Kingsley’s command. It must’ve been him, poor fellow.’ His expression was grave, as if registering the sombre news of a fellow subaltern’s death for the first time. He delivered the bluff smoothly, doing his best to betray no sign that he was lying through his teeth.</p>
				<p class="bt1-body-text">Ballard smiled. It was like watching a wolf trying to look friendly. ‘You must be correct, of course. I have only had the opportunity to read the report very briefly. It is rather out of my remit, after all. However, I do recall one other interesting item.’ He sat back and ran his forefinger along his moustache. ‘Kingsley goes to great lengths to describe the actions of a deserter, a man called Lark or something of that ilk. A charlatan by all accounts.’</p>
				<p class="bt1-body-text">The major seemed about to continue when there was a crash behind them. The three officers turned to see Lieutenant Knightly lying face down on the floor. Dorothy Squire stood beside him, her hand covering her mouth in shock.</p>
				<p class="bt1-body-text">‘Excuse me, gentlemen. I must see to my friend.’ Jack leapt to his feet, using Knightly’s dramatic collapse to cover his escape. His heart pounded as he made his way to the fallen lieutenant’s side, hoping that somehow Ballard had not seen the reaction his casual remark had caused.</p>
				<p class="bt1-body-text">It was clear that the intelligence officer was close to discovering the truth about Jack’s identity. He felt a frisson of fear. He knew it was time to move on, to find somewhere he could begin his life anew. Bombay was no longer a safe haven for an impostor.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../qzj5e1.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Praise</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Map – 19th Century Persia</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-18">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-19">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-20">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-21">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-22">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-23">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-24">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-25">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-26">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-27">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-28">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-29">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-30">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-31">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-32">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-33">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-34">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-35">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-36">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-37">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-38">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-39">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-40">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-41">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-42">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-43">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-44">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-45">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-46">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-47">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-48">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-49">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-50">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-51">Epilogue</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-52">Historical Note</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-53">Acknowledgments</a>
    </li>
    <li>
      <a href="part0056.html#toc_marker-54">Read Jack Lark: Rogue, out now</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0012.html" class="calibreAPrev">previous page</a>
    

    <a href="../../qzj5e1.html" class="calibreAHome"> start</a>

    
      <a href="part0014.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
