<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200280_EPUB-33.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../yftltn.html">The Maharajah's General (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0032.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0034.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200280_EPUB-33.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-33" class="awh1-artwork-head"><img class="image29" src="../images/00031.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">‘They are beautiful, are they not?’</p>
				<p class="ack-acknowledgement-text">Jack started as the words interrupted his thoughts. He had not heard anyone approach as he studied the series of astonishing paintings that adorned the grand room outside the Maharajah’s durbar. He had stolen an hour’s solitude and had thought to explore more of the fabulous palace that had become his home. He was fascinated by the magnificent works that were scattered with vulgar abandon throughout the public rooms, the fantastic pieces of art demoted to the role of mere props to impress visitors with the Maharajah’s phenomenal wealth.</p>
				<p class="ack-acknowledgement-text">There was something in the intricacy of so many of the objects that intrigued him. Each one had required exquisite skill to produce, and he wondered how their creators would feel to see their precious handiwork displayed on such a vast scale, the minutiae of their tantalising detail lost in the grand spectacle.</p>
				<p class="ack-acknowledgement-text">It appeared someone had noticed his fascination, and he turned to face the Maharajah’s only daughter, his heart pounding.</p>
				<p class="ack-acknowledgement-text">‘They are more beautiful than I could ever have imagined was possible.’</p>
				<p class="ack-acknowledgement-text">‘I love these paintings. They are my favourites.’ Lakshmi stood close enough that Jack could smell the delicate fragrance of her perfume. She was so small that she did not even reach his shoulder. She had all the delicacy of a small bird, but she possessed an aura of confidence that belied her tiny frame.</p>
				<p class="ack-acknowledgement-text">Jack did his best not to stare at her; instead he wrenched his eyes away and returned his gaze to the painting in front of him.</p>
				<p class="ack-acknowledgement-text">‘Do you understand what it is that you see?’ Lakshmi asked, lifting her finger so that it hovered close to the painting, tracing yet not touching the intricate artwork.</p>
				<p class="ack-acknowledgement-text">The many bangles she wore chimed as they slid down her bare arm, revealing the dusky skin beneath. To Jack’s fascination, her wrists and hands were decorated with patterns of black henna, an intricate web of fine tracery that curled and twisted across her flesh. It would have been easy to wonder what other surprises lay beneath the pure white sari that was bound tightly around her slight figure, and Jack had to force his mind to study the painting rather than dwell on the fascinating creature at his side.</p>
				<p class="ack-acknowledgement-text">A tiny monkey perched on her shoulder, its wide eyes fixing Jack with a knowing stare as if reading his lustful thoughts. The creature was dressed in a miniature crimson coat and its ankles were tethered by a delicate golden chain that was held in place by golden rings. The odd little creature chattered incessantly, as if affronted by Jack’s interest in its mistress, only hushing when Lakshmi lifted a slender finger and stroked it into gentle submission.</p>
				<p class="ack-acknowledgement-text">‘Do they tell a story?’ Jack felt his voice catch in his throat. He hoped Lakshmi could not tell how nervous she made him. ‘They are by the same hand. That much I can tell.’</p>
				<p class="ack-acknowledgement-text">‘They are of the Ramayana. They have been in my family for centuries. The Ramayana is a story, a poem, written by the great Valmiki long before the birth of the Christ that you Christians have chosen to worship.’</p>
				<p class="ack-acknowledgement-text">‘And these depict scenes from the poem?’ Jack was intrigued. He wanted to know more, to add to his meagre knowledge. And he wanted to prolong the encounter with the Maharajah’s beguiling daughter.</p>
				<p class="ack-acknowledgement-text">Lakshmi nodded. She stared at the picture for some time before speaking again, as if it had been a long time since she had contemplated its fine artistry. ‘This is from the Yuddha Kanda, one of seven books that make up the Ramayana. It tells us how Rama, the favourite son of the great king of Ayodhya, takes his army to fight Ravana, the king of Lanka.’</p>
				<p class="ack-acknowledgement-text">Jack wrestled with the strange foreign names that echoed in his head. Lakshmi’s accent rolled the sounds around, their rich timbre warm and fascinating.</p>
				<p class="ack-acknowledgement-text">He peered at the picture. ‘With an army of monkeys?’</p>
				<p class="ack-acknowledgement-text">Lakshmi laughed at his tone. ‘Yes! With an army of monkeys.’</p>
				<p class="ack-acknowledgement-text">Jack liked the way her face flushed as she laughed. ‘I wish I could remember all this.’</p>
				<p class="ack-acknowledgement-text">‘I will teach you. If you like. My brother can teach you how we ride. I can teach you of our history. You will need both if you are to prosper as a general in my father’s army.’</p>
				<p class="ack-acknowledgement-text">Jack watched Lakshmi as she spoke. He was mesmerised by her vitality. He did not think he had ever seen anyone so full of life.</p>
				<p class="ack-acknowledgement-text">‘Do all Englishmen stare at women in such a way?’ Lakshmi turned her head sharply, her eyes narrowing as she rebuked Jack for his intense scrutiny.</p>
				<p class="ack-acknowledgement-text">Jack blushed and hung his head at being so transparent. ‘I am sorry, Your Highness. I didn’t—’</p>
				<p class="ack-acknowledgement-text">Lakshmi reached forward and stopped his stuttering apology by placing a single, cool finger on his lips. The monkey chirruped and chattered for attention, jealous at seeing its mistress touch another.</p>
				<p class="ack-acknowledgement-text">Lakshmi smiled at the animal’s fuss. ‘What a silly creature. Getting all hot and bothered so very easily.’</p>
				<p class="ack-acknowledgement-text">Jack had a sneaking feeling the princess was talking about him, and not about the chattering monkey. He remained silent under her touch, every fibre of his being coming fully alive at the feel of her flesh pressed against his.</p>
				<p class="ack-acknowledgement-text">‘Do not apologise, General Lark.’ She withdrew her hand but continued to stare at Jack’s face, a frank look of obvious humour on her face. ‘I am quite used to such attention.’</p>
				<p class="ack-acknowledgement-text">Lakshmi laughed as she spoke. It was a soft sound that emanated from deep in her throat, and Jack immediately smiled in response.</p>
				<p class="ack-acknowledgement-text">‘You are the rajkumari.’ He stumbled over the recently learnt word, his clumsy attempt to use Lakshmi’s correct title sounding lame even to his own ears. ‘I am sure it is inevitable.’</p>
				<p class="ack-acknowledgement-text">Lakshmi pouted. ‘So you stare because of the accident of my birth? Not because you consider me beautiful?’</p>
				<p class="ack-acknowledgement-text">Jack saw the sparkle in her eye as she replied. He sensed the danger of talking so freely to the Maharajah’s only daughter. Yet he could not help his attraction. ‘You are as beautiful as the morning sun, Your Highness. I cannot imagine a day without the radiance of your presence.’</p>
				<p class="ack-acknowledgement-text">Lakshmi snorted in a very unladylike manner at Jack’s courtly tongue, causing her pet monkey to start and shriek. She stilled the startled creature with her hand before turning the full weight of her attention back on Jack. ‘My father was quite wrong. You would make a wonderful ambassador. You are wasted as a general.’</p>
				<p class="ack-acknowledgement-text">‘Your father does not truly know me, Your Highness.’</p>
				<p class="ack-acknowledgement-text">‘Does anyone?’ Lakshmi was suddenly serious. She reached forward and grazed the skin around his eyes with the tip of her finger. Her touch was as light as a feather, and Jack shivered. ‘I see pain in the lines on your face, General Lark,’ she continued, her finger sliding gently down his face so that it traced along his jawline. ‘The stain of suffering that should not scar a face as young as yours.’</p>
				<p class="ack-acknowledgement-text">Jack could not speak. His face tingled where her finger had been, the gossamer lightness of her touch inflaming his soul.</p>
				<p class="ack-acknowledgement-text">Lakshmi stepped back, Jack’s skin suddenly cold as she withdrew her touch. ‘You are an interesting man, General Lark. You intrigue me.’</p>
				<p class="ack-acknowledgement-text">Jack had to clear his throat before he could speak. He was certain Lakshmi could see the desire on his face, the lust that had charged into his eyes when he felt her touch on his skin.</p>
				<p class="ack-acknowledgement-text">‘I am pleased you find me so fascinating. But I am not a painting to be studied.’ His shame made him harsh.</p>
				<p class="ack-acknowledgement-text">‘Oh, I know that.’ Lakshmi flushed crimson as she spoke, her eyes suddenly downcast as if she was ashamed of her own behaviour. ‘No one will ever be able to own you.’</p>
				<p class="ack-acknowledgement-text">Without another word, she turned and walked quickly away, her small bare feet whispering across the marbled floor with barely a sound.</p>
				<p class="ack-acknowledgement-text">Jack watched her go, his emotions in turmoil. Lakshmi fascinated him. She was beautiful and exotic and he couldn’t help but be attracted to her. She beguiled him in a way that Isabel never could. But he had made his choice the moment he agreed to go on an afternoon’s picnic to visit a crumbling stone tower. His head might be turned but his heart could not be.</p>
				<p class="bt1-body-text-1-full-out">The sound of laughter echoed down the passageway, the hard marble floor and the wooden panels on the walls making the sound reverberate so that Jack heard it clearly even though he was still yards away from the source of the frivolity.</p>
				<p class="ack-acknowledgement-text">He turned the corner to see Prince Abhishek standing on one leg in front of a clearly delighted Isabel. The boy’s antics were obviously the source of the warm sound of amusement, and Isabel was clapping her hands together with glee at his jests.</p>
				<p class="ack-acknowledgement-text">‘What is going on here?’ Jack snapped the question in the commanding tone of a British army officer.</p>
				<p class="ack-acknowledgement-text">The prince started, the sudden interruption nearly causing him to lose balance. A fleeting look of guilt flashed across his face, like a schoolboy who had been caught cheating at a game of cards. Jack understood the expression at once. He made a mental note to keep a close eye on the Maharajah’s son.</p>
				<p class="ack-acknowledgement-text">‘Jack!’ Isabel bounced with girlish glee as Jack strode into view. ‘Prince Abhishek was imitating his uncle’s favourite pet monkey. The poor thing only has one leg and must hop everywhere!’</p>
				<p class="ack-acknowledgement-text">Jack had a pretty shrewd idea that the prince had been thinking of a different kind of antic, and the bright crimson flush on the boy’s cheeks confirmed his suspicions. He was not the only one becoming infatuated with a foreign woman.</p>
				<p class="ack-acknowledgement-text">The prince held his hands together in front of his body as Jack approached, nervous to have been discovered cavorting with his father’s guest. Jack made sure to look the younger man firmly in the eye, unconsciously straightening his spine to emphasis the difference in their heights.</p>
				<p class="ack-acknowledgement-text">‘Your Highness is a fine comedian.’ He spoke the words through gritted teeth. The boy recognised the tension in the words and dropped his eyes, suddenly fascinated by the intricate veins in the marbled floor beneath his feet.</p>
				<p class="ack-acknowledgement-text">Isabel laughed at Jack’s heavy flattery. She saw nothing of the challenge in his posture or in the veiled menace of his tone. ‘Prince Abhishek has been regaling me with so many stories! Why, Jack, you would not believe half of them.’</p>
				<p class="ack-acknowledgement-text">Jack smiled, keeping his eyes firmly on the top of the prince’s head. ‘I am certain the prince knows how to tell a story. All boys of his age have a fine imagination.’</p>
				<p class="ack-acknowledgement-text">The prince looked up and quailed as he saw the older man’s heavy scrutiny. ‘Please excuse me. I must attend on my father.’ He quickly muttered the polite phrase before scuttling away, his tail tucked firmly between his legs.</p>
				<p class="ack-acknowledgement-text">Jack watched him leave, a wry, mocking smile on his face. For the first time Isabel noticed his mood.</p>
				<p class="ack-acknowledgement-text">‘Have I done something wrong?’ She moved forward, placing a hand on Jack’s arm. He had unthinkingly taken a firm hold on the hilt of the sword at his hip.</p>
				<p class="ack-acknowledgement-text">‘You? No? But you should keep an eye on that boy.’</p>
				<p class="ack-acknowledgement-text">‘On Prince Abhishek? Why? He is charming. Why should I be concerned about him?’</p>
				<p class="ack-acknowledgement-text">‘I have a notion he would like to be not so charming. And he is no boy. He has the emotions of a man, and I rather fancy you have stirred some passion in him.’</p>
				<p class="ack-acknowledgement-text">‘Jack!’ Isabel stepped back as if horrified at the base observation, her mouth open in amazement. But the look on her face told Jack she was not totally put out at the notion of being the object of a prince’s desire. ‘How can you say such a thing?’</p>
				<p class="ack-acknowledgement-text">Jack snorted at the veiled innocence. ‘He is a young man. You are a blonde angel like no one he has ever seen. He cannot but be infatuated.’</p>
				<p class="ack-acknowledgement-text">Isabel stamped her foot. ‘That is not so. You are just saying it to be spiteful.’</p>
				<p class="ack-acknowledgement-text">‘Don’t be so ridiculous. I’m letting you know so you don’t encourage him.’</p>
				<p class="ack-acknowledgement-text">‘Encourage him! Why on earth would I encourage him?’ Isabel looked at Jack through hooded eyes. ‘Why, I think you are jealous!’</p>
				<p class="ack-acknowledgement-text">‘Jealous! Of a whippersnapper who has only just stopped having some nanny wipe his arse.’ Jack chuckled as if amused by the notion. ‘I’m not jealous. I’m simply concerned that you do not know what you are doing when you flutter your eyelashes at the poor boy.’</p>
				<p class="ack-acknowledgement-text">Isabel’s temper was rising. ‘How dare you! Why, it is at times like this that I am reminded of how coarse you really are.’</p>
				<p class="ack-acknowledgement-text">‘I may be coarse, but at least I’m able to see what is staring me right in my damn face.’</p>
				<p class="ack-acknowledgement-text">‘Oh, really.’ Isabel moved forward, wagging her finger inches in front of Jack’s nose. ‘So what of the princess? Don’t think I haven’t seen how you moon over her.’</p>
				<p class="ack-acknowledgement-text">‘Now who is jealous?’ He raised his hand and used it to push Isabel’s wagging finger to one side.</p>
				<p class="ack-acknowledgement-text">Isabel’s mouth opened and closed several times, but she was unable to speak. With a final grunt of barely suppressed anger, she turned sharply on her heel and stamped away down the passageway.</p>
				<p class="ack-acknowledgement-text">Jack felt a pang of regret. He had no desire to hurt Isabel, but his building infatuation with the beguiling Lakshmi had made him feel guilty. Mixed with a little jealousy, it fermented a cocktail that he had been powerless to control.</p>
				<p class="ack-acknowledgement-text">‘General Lark!’</p>
				<p class="ack-acknowledgement-text">A voice called his name, interrupting his train of thought. He pushed the difficult emotions away and forced a smile on to his face. It felt odd to be addressed as ‘general’ but he had a feeling he could get used to it.</p>
				<p class="ack-acknowledgement-text">‘So, you have been given my lancers!’</p>
				<p class="ack-acknowledgement-text">Count Piotr strode jauntily across the marble, the spurs on his high black boots jangling with every step. There was no trace of animosity in his words.</p>
				<p class="ack-acknowledgement-text">‘I have to learn to ride first.’</p>
				<p class="ack-acknowledgement-text">‘Yes, you must!’ The count laughed as he replied. ‘I cannot have my men led by a damn infantryman.’</p>
				<p class="ack-acknowledgement-text">‘I shall do my best.’</p>
				<p class="ack-acknowledgement-text">Count Piotr nodded in agreement. He was watching Jack closely, as if considering something.</p>
				<p class="ack-acknowledgement-text">‘Whatever you have to say, just say it.’ Jack was blunt. The confrontation with Isabel had worn his patience thin.</p>
				<p class="ack-acknowledgement-text">The count’s eyes narrowed. ‘Very well. You are an astute man, Jack, for all your attempts to portray yourself as nothing more than a humble soldier.’ He paused, his brow furrowed. ‘Did you stop to ask yourself why you have been given the command of the finest men in the Maharajah’s army?’</p>
				<p class="ack-acknowledgement-text">Jack smelt trouble. ‘No.’ His answer was wary but honest.</p>
				<p class="ack-acknowledgement-text">The count snorted once before he replied. ‘I thought so. It is a fitting reward for a man as brave as you, no?’</p>
				<p class="ack-acknowledgement-text">‘Perhaps.’</p>
				<p class="ack-acknowledgement-text">‘Did you think on what had happened to the man who had commanded them before you?’</p>
				<p class="ack-acknowledgement-text">‘No.’ Jack had been too wrapped up with his spectacular rise to give the matter serious thought. ‘What happened to him?’</p>
				<p class="ack-acknowledgement-text">‘He was deemed to be too old to continue in his command; past his usefulness. You have replaced him.’</p>
				<p class="ack-acknowledgement-text">Jack heard the bitterness in the revelation. ‘I’m sorry. I did not intend to force you from your position.’</p>
				<p class="ack-acknowledgement-text">To Jack’s surprise the count laughed again. ‘You are a quick-witted fellow, Jack. Perhaps you will do well in your new role.’ His face changed, his expression suddenly serious. ‘I do not begrudge you commanding my men. But you would do well to think on your life here. Are you being rewarded for valour? Or are you a bauble? An adornment that satisfies the Maharajah’s fancy.’ He waved his arm, indicating the dozens of fabulous objects scattered around the corridor in which they talked. ‘He has many trinkets. They interest him for a day, perhaps a week.’ He fixed Jack with an intense stare. ‘And then he tires of them.’</p>
				<p class="ack-acknowledgement-text">Jack understood immediately. The Polish count was warning him for a second time. ‘So what happens to you now?’</p>
				<p class="ack-acknowledgement-text">Again the count laughed. ‘You must not worry about an old man. I am still here. I shall still advise the great king although I am not so sure he will listen to me. But he has not fully tired of me. For the moment at least.’</p>
				<p class="ack-acknowledgement-text">He chuckled, as if amused at a joke only he had heard, before he turned on his heel and walked away.</p>
				<p class="ack-acknowledgement-text">Jack watched him go. He would heed the count’s warning. He would take nothing for granted. As long as he served the Maharajah, he would be on his guard.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../yftltn.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Dedication</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Acknowledgments</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Glossary</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Two</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Ten</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-52">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-53">Chapter Forty-five</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-54">Epilogue</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-55">Historical Note</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0032.html" class="calibreAPrev">previous page</a>
    

    <a href="../../yftltn.html" class="calibreAHome"> start</a>

    
      <a href="part0034.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
