<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200280_EPUB-27.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../yftltn.html">The Maharajah's General (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0026.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0028.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200280_EPUB-27.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-27" class="awh1-artwork-head"><img class="image23" src="../images/00025.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">‘We meet again, Captain Danbury. Or are you going to tell me your true name this time? I must confess I am finding this all rather confusing.’</p>
				<p class="ack-acknowledgement-text">The Maharajah lounged with his right leg draped over one arm of the simple wooden chair, completely at ease with his surroundings. He was dressed very simply in a loose-fitting white shirt and snug white breeches. A pair of blood-red Cossack boots reached to just below his knees, his sole concession to vanity. The fat man who had treated Jack with such disdain wore more jewellery on one pudgy finger than Jack could see on the whole of the Maharajah’s body. It was becoming clear, from both his appearance and the style of the durbar room itself, that the ruler of Sawadh paid little attention to the opulent finery that so embellished the rest of his palace.</p>
				<p class="ack-acknowledgement-text">Jack saw the smile on the Maharajah’s face as he spoke. He hoped it was a good sign.</p>
				<p class="ack-acknowledgement-text">‘My name is Jack Lark, sir. I am afraid the rest of it was just a pretence.’ Jack had no real idea how he should address the Maharajah. He had first met him dressed as an officer and so it seemed natural to continue with that approach.</p>
				<p class="ack-acknowledgement-text">‘I am glad you finally feel able to tell me your name.’ The Maharajah rubbed his hand vigorously against the bald dome of his head, as if physically clearing his mind. ‘So tell me, Jack Lark, why would you lie about who you are?’ His face showed intense interest, his eyes piercing into Jack’s own as if studying the very depths of his soul.</p>
				<p class="ack-acknowledgement-text">‘I was born poor. I could never hope to be an officer any other way.’</p>
				<p class="ack-acknowledgement-text">‘But you wanted it? You wanted the place in life that was denied to you?’</p>
				<p class="ack-acknowledgement-text">‘Yes, sir. I did.’</p>
				<p class="ack-acknowledgement-text">‘So you took it?’</p>
				<p class="ack-acknowledgement-text">‘Yes.’</p>
				<p class="ack-acknowledgement-text">‘And then you enjoyed living the high life of an officer?’</p>
				<p class="ack-acknowledgement-text">‘No. I went to war.’</p>
				<p class="ack-acknowledgement-text">The Maharajah seemed to approve of the reply, and for the first time Jack began to believe he might have a chance of convincing the ruler of Sawadh to let them stay.</p>
				<p class="ack-acknowledgement-text">‘So you freely admit you are a charlatan. Must I also assume you are a thief?’</p>
				<p class="ack-acknowledgement-text">‘Yes, sir.’ Jack felt his eyes drift to a spot six inches above the Maharajah’s head. It was easier than staring into the man’s uncompromising eyes.</p>
				<p class="ack-acknowledgement-text">‘And a deserter?’</p>
				<p class="ack-acknowledgement-text">‘Yes, sir.’</p>
				<p class="ack-acknowledgement-text">‘And a coward?’</p>
				<p class="ack-acknowledgement-text">Jack’s gaze snapped downwards. He looked hard into the Maharajah’s brown eyes. ‘No. I have never shirked from a fight.’</p>
				<p class="ack-acknowledgement-text">The Maharajah nodded slowly. ‘I accept your answer.’</p>
				<p class="ack-acknowledgement-text">With a lithe bound he got to his feet and walked to stand in front of Jack. They were of the same height, and the Maharajah came to a halt so close to him that Jack could feel the wash of his breath on his face.</p>
				<p class="ack-acknowledgement-text">‘So, Jack Lark. You are an impostor, a thief and a deserter. Why have you come to me?’</p>
				<p class="ack-acknowledgement-text">‘Because I had nowhere else to go.’</p>
				<p class="ack-acknowledgement-text">The Maharajah threw his head back and laughed. ‘Since when did it become known amongst the mighty sahibs that I take in any waif and stray who happens to pass by?’</p>
				<p class="ack-acknowledgement-text">‘I am not an ordinary waif. I came to offer you my service.’</p>
				<p class="ack-acknowledgement-text">‘Your Highness.’ The finely dressed fat man had moved forward to stand at his master’s side and now chose to intervene. ‘He is clearly a spy. He should be killed and his body thrown from the battlements.’ He stumbled over the words, obviously ill at ease speaking in English. But there was no mistaking the relish with which he called for Jack to be put to death.</p>
				<p class="ack-acknowledgement-text">The Maharajah never once took his eyes off Jack. ‘The vizier is quite correct. You are a spy and I will have you killed.’</p>
				<p class="ack-acknowledgement-text">Jack didn’t flinch despite the icy flush that hurtled down his spine. ‘So be it. But that would be a bit of a waste, don’t you think?’</p>
				<p class="ack-acknowledgement-text">‘A waste! Why would having you killed be a waste?’ The Maharajah threw the question back at him, a few flecks of his spittle landing on Jack’s face, such was the force of his words.</p>
				<p class="ack-acknowledgement-text">‘Because I may be a thief and an impostor, and a deserter come to that. But I was also a British officer. I fought the Russians in the Crimea and I have commanded a company of British soldiers. I would have thought a man in your position could have use of my service.’</p>
				<p class="ack-acknowledgement-text">‘A man in my position?’ The Maharajah seemed genuinely intrigued.</p>
				<p class="ack-acknowledgement-text">‘A king who chafes at being under the authority of a foreign power. A man who does everything he can to push against those put in charge of his kingdom but who stops short of open rebellion for fear of inciting a response stronger than he can bear. A ruler who fears for the future and for the rights of his descendants to rule in his place when he is dead and buried. I think a man like that would want to surround himself with those who know his enemy. Men who can help him.’</p>
				<p class="ack-acknowledgement-text">‘You presume a lot.’ There was ice in the Maharajah’s voice now.</p>
				<p class="ack-acknowledgement-text">‘I say what I see. I think you need me.’</p>
				<p class="ack-acknowledgement-text">‘Need you! I do not need you. And you are wrong, Mr Lark. I am not afraid.’</p>
				<p class="ack-acknowledgement-text">‘Perhaps you should be.’</p>
				<p class="ack-acknowledgement-text">Jack thought the Maharajah would lash out. His face was full of tension and Jack was certain he had gone too far.</p>
				<p class="ack-acknowledgement-text">The look of anger passed. ‘Perhaps I should be.’ The Maharajah turned on his heel and flopped heavily back into his chair. ‘Where is Miss Youngsummers?’</p>
				<p class="ack-acknowledgement-text">Jack turned and looked over his shoulder. ‘She is waiting dutifully at the rear of this room.’</p>
				<p class="ack-acknowledgement-text">‘So you stole her too?’</p>
				<p class="ack-acknowledgement-text">‘She rescued me.’</p>
				<p class="ack-acknowledgement-text">The Maharajah arched an eyebrow. ‘She must be an astonishing woman. I think I will find the time to get to know her better.’</p>
				<p class="ack-acknowledgement-text">‘I think I shall have to make sure that never happens, sir.’</p>
				<p class="ack-acknowledgement-text">The Maharajah gave a short laugh. ‘I suggest you never try to impersonate a diplomat. You really do not have enough oil on your tongue.’</p>
				<p class="ack-acknowledgement-text">‘I’ll take that as a compliment.’</p>
				<p class="ack-acknowledgement-text">For a second time the vizier intervened, impatient with a conversation he could barely understand.</p>
				<p class="ack-acknowledgement-text">‘He is a spy. Kill him and his woman. You have wasted enough of your time on him.’</p>
				<p class="ack-acknowledgement-text">The Maharajah took no offence at the interruption. It was clear he valued his vizier’s opinion.</p>
				<p class="ack-acknowledgement-text">‘So. What should I do with you? If I truly thought you a spy I would have you killed this very moment.’ The Maharajah drummed his fingers on his leg. ‘Count, what do you think?’</p>
				<p class="ack-acknowledgement-text">The Polish count did not reply immediately. After a moment’s thought he turned to face Jack.</p>
				<p class="ack-acknowledgement-text">‘Did you truly fight in the Crimea?’</p>
				<p class="ack-acknowledgement-text">‘I did.’</p>
				<p class="ack-acknowledgement-text">‘Where exactly?’</p>
				<p class="ack-acknowledgement-text">‘At the Alma. I commanded the Light Company of the King’s Royal Fusiliers. We were in the Light Division and we captured the great redoubt on our own.’</p>
				<p class="ack-acknowledgement-text">‘Did you kill many Russians?’</p>
				<p class="ack-acknowledgement-text">‘Yes.’</p>
				<p class="ack-acknowledgement-text">‘Were you a hero?’</p>
				<p class="ack-acknowledgement-text">‘No. My men were the heroes. I was simply fortunate enough to be with them.’</p>
				<p class="ack-acknowledgement-text">The count turned back to the Maharajah. ‘That is good enough for me, sire. I believe him.’</p>
				<p class="ack-acknowledgement-text">The Maharajah snorted. ‘You believe him because he claims to have killed a few Russian conscripts. He admits he is an impostor. Is he not lying now?’</p>
				<p class="ack-acknowledgement-text">‘I can see it in his eyes. He has fought in battle. He knows what it is to lead men. I believe him, sire.’</p>
				<p class="ack-acknowledgement-text">‘The count hates the Russians.’ The Maharajah offered the explanation to Jack. ‘He fought against them back in the thirties and he would fight against them now if he had half the chance.’</p>
				<p class="ack-acknowledgement-text">The count shrugged. ‘Of course, sire. We beat them at Stoczek and I would happily give my life to face them again. Yet I have a feeling I am more likely to have to fight these damn British first.’</p>
				<p class="ack-acknowledgement-text">The Maharajah nodded at the wise comment before smiling wolfishly at Jack. ‘How does that sound, Jack? Are you ready to go to war against your own countrymen?’</p>
				<p class="ack-acknowledgement-text">‘No.’ Jack had not even considered the idea. Yet here he was throwing himself on the mercy of the ruler of a land he knew the British authorities were planning to annex as soon as they got half a chance. If the Maharajah resisted, Jack could well find himself stuck on the wrong side. The redcoats could become his enemy.</p>
				<p class="ack-acknowledgement-text">‘Your honesty is refreshing. Perhaps you are the one who should be afraid,’ the Maharajah replied evenly.</p>
				<p class="ack-acknowledgement-text">‘Do you plan to fight?’</p>
				<p class="ack-acknowledgement-text">‘No. No sane man seeks to fight. No father wants his children to go to war.’</p>
				<p class="ack-acknowledgement-text">‘Whatever happens?’</p>
				<p class="ack-acknowledgement-text">The Maharajah’s eyes were suddenly moist. ‘I do not know the answer to that question.’ He turned to look out of the windows that gave a view on to a beautiful courtyard at the very heart of the fortress. ‘You may stay, Jack Lark. As may Miss Youngsummers. You can both stay here in safety.’</p>
				<p class="ack-acknowledgement-text">He turned back and fixed Jack with the intense stare that Jack found so unsettling. ‘But we must both think of the future. Of what might be. A man should know what lies in his heart so that when he must choose he is ready. For I fear we will both have to choose where our future will take us.’</p>
				<p class="ack-acknowledgement-text">He lolled back into his chair and closed his eyes.</p>
				<p class="ack-acknowledgement-text">‘Durbar is finished. Count, take Mr Lark and Miss Youngsummers to that Scottish fool who let them in here. Tell him that we have a new recruit for my lancers. He is to find them whatever they need and have this one ready to join us on our hunt tomorrow. He is charged with their safety until then. Now leave me. I have need of rest.’</p>
				<p class="ack-acknowledgement-text">The room was filled with sudden bustle and energy as it was quickly cleared of the members of the Maharajah’s court. The vizier shot Jack a hate-filled glare as he waddled past. Jack did his best to ignore the hostility that radiated from the pugnacious little man. By rights he should have felt nothing other than elation. After all, he had succeeded in securing a safe place for both himself and Isabel. Yet the Maharajah’s words had left him with a nagging sense of unease. The threat of war was suddenly very real.</p>
				<p class="bt1-body-text-1-full-out">Jack stood back and looked at himself in the long mirror. The sky-blue tunic was cut close, fitting him better than any uniform he had ever owned. Yet it had still not met the exacting standards of the sprightly old tailor whom Subedar Khan had brought to his room, and who had left promising to return later to work on the fit. The white breeches were tight around his thighs and he had self-consciously assessed the way they clung around his backside. He had no idea what rank the thick white epaulettes denoted, but he could not help the prick of vanity that arose unbidden as he studied his new appearance as a lancer in the service of the Maharajah.</p>
				<p class="ack-acknowledgement-text">‘You look most fine.’ Isabel walked into the room, the subtle waft of her perfume preceding her. She too had been able to change her soiled, grimy clothes. The gold sari she wore shimmered in the sunlight that poured through the enormous window overlooking a courtyard with a wonderful marble fountain at its centre. She looked radiant.</p>
				<p class="ack-acknowledgement-text">‘You’re not so bad yourself.’ Jack held out his hand and brought Isabel to his side so they could both look in the mirror at the same time. ‘It’s nice to see you looking like a lady again.’</p>
				<p class="ack-acknowledgement-text">Isabel blushed at the compliment. ‘Thank you. So, how does it feel to wear the uniform of the enemy?’ She posed the question to Jack’s reflection, noticing the grimace it caused on his face.</p>
				<p class="ack-acknowledgement-text">‘They are not the enemy.’</p>
				<p class="ack-acknowledgement-text">‘Not yet. But they might be tomorrow, or the next day. Or the day after.’</p>
				<p class="ack-acknowledgement-text">‘Let’s hope it doesn’t come to that.’</p>
				<p class="ack-acknowledgement-text">‘But it might, Jack. And what then?’</p>
				<p class="ack-acknowledgement-text">‘Then?’ Jack looked down at his new, brightly polished riding boots. ‘Then I don’t know.’</p>
				<p class="ack-acknowledgement-text">‘You cannot fight against us. That would be wrong.’ Isabel spoke with the earnest zeal of a young girl. For her, the world was black and white. Despite her desire to escape her father and the suffocating future he had planned for her, it was still unthinkable that she would ever turn traitor.</p>
				<p class="ack-acknowledgement-text">Jack lived in a world of grey and shadows. He did not have her certainty.</p>
				<p class="ack-acknowledgement-text">‘Let us hope it does not come to that,’ he repeated.</p>
				<p class="ack-acknowledgement-text">He let his hand fall to the new sword that hung at his left hip. It was a talwar, the native version of a British cavalry sabre. It hung lower than he was used to, the longer slings of the cavalry scabbard nudging against his thigh. He had been interested to discover that the scabbard was fashioned from leather rather than the metal favoured by the British officers. Subedar Khan had explained that the softer material would lessen damage to the blade; the harsh metal scabbards blunted the edges of the swords they were supposed to protect. Jack was pleased to have been trusted with a weapon, and it felt good to have a sword hanging at his hip once more.</p>
				<p class="ack-acknowledgement-text">‘You look lovely, Isabel.’ He did his best to change the subject. ‘You could well start a new fashion amongst the ladies of Bhundapur. They will all be green with envy the moment they see how fine you look.’</p>
				<p class="ack-acknowledgement-text">Isabel turned to one side and admired her profile in the mirror. ‘Do you truly think this thing suits me? Do you not think it makes me look rather . . .’ she paused as she summoned the courage to address the issue that had concerned her since she had first been wrapped in the folds of the wonderful silk, ‘large in the nether regions?’</p>
				<p class="ack-acknowledgement-text">Jack laughed at her vanity. ‘No, Isabel. Your nether regions look just fine to me.’</p>
				<p class="ack-acknowledgement-text">She brought the fan she held in her hand sharply down on Jack’s forearm as he made a great pretence of checking the area of her new attire that had so worried her. He yelped in pain and the look in his eyes made her laugh aloud.</p>
				<p class="ack-acknowledgement-text">Then he reached for her and she sank into his arms.</p>
				<p class="ack-acknowledgement-text">Jack held her tight, smelling her perfume, bending his head so that his face was resting against her hair.</p>
				<p class="ack-acknowledgement-text">She was right to question him. The Maharajah had been quite correct. Jack was an impostor, a deserter and a thief. But was he also a turncoat? He had certainly swapped his scarlet coat for one of blue. But did that make him a traitor?</p>
				<p class="ack-acknowledgement-text">He glanced down and saw Isabel looking back at him. He closed his eyes and leant forward to kiss her for the first time, losing himself in the taste of her lips. Yet a part of him remained detached, even as he felt her body pressing against his.</p>
				<p class="ack-acknowledgement-text">The winds of change had begun to blow. Soon they would stop, and when they did, he would have to decide which way he would turn.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../yftltn.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Dedication</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Acknowledgments</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Glossary</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Two</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Ten</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-52">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-53">Chapter Forty-five</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-54">Epilogue</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-55">Historical Note</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0026.html" class="calibreAPrev">previous page</a>
    

    <a href="../../yftltn.html" class="calibreAHome"> start</a>

    
      <a href="part0028.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
