<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200242_EPUB-23.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../_ypqte.html">The Scarlet Thief (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0022.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0024.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200242_EPUB-23.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-23" class="awh1-artwork-head"><img class="image13" src="../images/00022.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">Jack left the dismissal of the Light Company to Digby-Brown. He had borne the men’s despondency like a shackle round his neck during the weary trudge back to the battalion lines. The fusiliers had marched in a sullen silence, the confrontation with the Cossacks leaving them in no doubt about their captain’s ability to command them in battle. Indecision cost lives, their lives. It was unforgivable.</p>
				<p class="bt1-body-text">The Cossacks had outmanoeuvred the Light Company with the ease of a vicious child plucking the legs from a captured spider. Jack’s arrogant self-belief that he could lead a company into battle had brought him to this place. At the very first opportunity, he had shown himself to be completely lacking in any of the skills needed for such a task. He truly was a fraud.</p>
				<p class="bt1-body-text">‘Ah, Captain Sloames!’ Captain McCulloch spied his fellow company commander and called cheerily out in greeting.</p>
				<p class="bt1-body-text">Jack was too despondent and too weary to reply, so he simply pulled his greatcoat tighter round his body and waited to see what McCulloch wanted. He did not have to wait long to find out, as McCulloch’s short legs propelled their owner across the muddy ground.</p>
				<p class="bt1-body-text">‘Captain Sloames? Ah good, it is you. Bad news, I’m afraid. Still no tents! I cannot think what the commissariat is playing at. But still, no croaking, what? No one likes to hear a fellow griping on. We shall just have to make the best of it.’</p>
				<p class="bt1-body-text">Jack took in the news. No tents meant another night spent in the open, enduring whatever foul weather came their way. It was not news to lift his spirits.</p>
				<p class="bt1-body-text">‘However,’ McCulloch continued when it became clear that Jack was not going to respond, ‘we are told to expect a draft from the second battalion. Apparently they were meant to meet up with us back at Varna but, like most things, the army managed to lose them for a while.’</p>
				<p class="bt1-body-text">‘How many men?’ Jack’s interest awoke at the news of reinforcements.</p>
				<p class="bt1-body-text">‘I have not heard the exact details. Are you short?’</p>
				<p class="bt1-body-text">‘Of course. But who isn’t? I don’t think there is a single company that is up to strength.’</p>
				<p class="bt1-body-text">‘Well, let us hope the draft is not just made up of raw recruits.’ McCulloch rapped Jack’s arm with the kidskin gloves he carried in one hand to emphasise the point. ‘So I hear your company was in action.’ He tried to steer the conversation towards the real reason he had sought out the Light Company’s commander.</p>
				<p class="bt1-body-text">Jack’s brow furrowed. He was not surprised the news was already racing around the battalion. It was the first skirmish of the campaign and would be the talk of the brigade if not of the whole army.</p>
				<p class="bt1-body-text">‘The battalion will be quite famous. We are the first to fight.’</p>
				<p class="bt1-body-text">‘It wasn’t much of a fight. We formed square and drove them off.’ Jack was uncomfortable discussing the day’s events.</p>
				<p class="bt1-body-text">‘The company fought well from what I hear.’</p>
				<p class="bt1-body-text">Jack grunted in reply, refusing to be drawn.</p>
				<p class="bt1-body-text">McCulloch took the lack of reply as a rebuke. ‘Apologies. One mustn’t harp on about such things. So let us hope the draft brings us fresh blood.’ He hid his disappointment well.</p>
				<p class="bt1-body-text">‘Indeed.’ Jack struggled to shake off his apathy. ‘I could use a new colour-sergeant. Mine went down with the cholera before I even had a chance to meet him.’</p>
				<p class="bt1-body-text">‘Lieutenant Flowers did not say if there would be any such specimens in the draft, but you may be fortunate.’ McCulloch looked up as a few fat raindrops started to fall from the gloomy sky. ‘We could all use some luck.’</p>
				<p class="bt1-body-text">Jack could not have agreed more. As he took his leave of McCulloch, the heavens opened. Jack sloshed his way through the muddy quagmire underfoot, lost in a gloom that soaked his soul in misery more thoroughly than the deluge could soak his bedraggled greatcoat. He prayed the new draft contained an experienced sergeant, a veteran soldier he could rely on to prop up his faltering authority. Jack knew he needed assistance if he was to bring his company through the battles that surely lay ahead.</p>
				<p class="bt1-body-text-1-full-out">Jack shivered in the damp mist that heralded the arrival of dawn. A watery sun was rising slowly, ending another night of ceaseless discomfort and misery. The long and wretched hours of darkness had left them all weary, draining their already feeble reserves of strength. Jack, like his men, faced the dawn chilled to the bone, mud-splattered and clammy, his body fatigued and aching.</p>
				<p class="bt1-body-text">As soon as the battalion stood down, Jack ordered Digby-Brown to organise the men into the necessary working parties ready for the quartermaster’s instructions. Then, leaving his senior subaltern to manage things by himself, Jack squelched his way through the mud in search of Lieutenant Flowers, the battalion’s harassed adjutant.</p>
				<p class="bt1-body-text">Jack found Flowers perched on an ammunition crate, wrestling with three thick, black leather ledgers which Jack recognised as the company returns. It was a risk approaching the adjutant. Jack was well behind in the mountain of paperwork that the army expected him to keep up to date; his basic numeracy skills and dubious handwriting forced him to rely on his lieutenants to maintain the company accounts. He was not alone in his unwillingness to tackle the ledgers, many of his fellow captains put a great amount of effort into avoiding coming into contact with the thick black books.</p>
				<p class="bt1-body-text">This state of affairs drove Flowers to distraction. The staff officers at brigade headquarters perpetually harassed him for correctly completed returns, which he could only provide with properly kept company ledgers. It was a never-ending battle between himself and the captains that Flowers knew he would never win. Nevertheless, the resourceful lieutenant did his best, and he would try any means to ensure some of the record-keeping was at least partially completed. The result was that any request made of the adjutant came at a price, a quid pro quo arrangement that had to be carefully negotiated.</p>
				<p class="bt1-body-text">Jack arrived just in time to catch one of the ledgers as it slid from the adjutant’s lap, grabbing it by the corner before it fell to a muddy grave on the filthy ground.</p>
				<p class="bt1-body-text">‘Steady there, Flowers.’</p>
				<p class="bt1-body-text">Jack gave the cover of the ledger an exaggerated polish with his sodden sleeve. He generally enjoyed a battle of wits with the adjutant. Flowers was quite the dashing young officer and he sported a fine pair of whiskers that any cavalry officer would have worn with pride. By rights, Jack should have loathed him. Like Digby-Brown, Flowers came from a wealthy family, by the meagre standards of the King’s Royal Fusiliers at least. His passage through the junior ranks had been effortless, as would the climb on to the next rung. But whereas Digby-Brown carried himself with a precocious superiority, Flowers was charming, his easy company and propensity to share a joke smoothing any ruffled feathers among his fellow officers. He was impossible to dislike.</p>
				<p class="bt1-body-text">Jack grinned at him. ‘I cannot imagine Captain Devine would be happy to see his precious accounts ruined through your carelessness.’</p>
				<p class="bt1-body-text">Flowers greeted Jack with a warm smile. ‘I believe Captain Devine would give a loud sigh of relief if I somehow contrived to destroy his company’s books. It’s good to see you, Sloames. Somehow, we have managed to miss one another since we came ashore. Hard to believe, I know. It’s as if you are avoiding me.’</p>
				<p class="bt1-body-text">‘Never!’ Jack tried to look suitably shocked at the preposterous idea as if he hadn’t in fact ducked out of sight whenever he spotted the adjutant. ‘I’ve been rather preoccupied preparing my company to fight. You are aware that we’re about to fight the Russians, aren’t you?’</p>
				<p class="bt1-body-text">‘Very amusing, Sloames. Unfortunately, the staff officers at brigade do not think this should interrupt my returns so I really would be very grateful if you could get your company’s books in order. Then I will only have to make up around half the information brigade is requesting.’</p>
				<p class="bt1-body-text">‘Well, you do such a good job of it. What does it matter if you make it up or if I tell Digby-Brown to do it?’</p>
				<p class="bt1-body-text">‘The reason is very simple, as you well know. If you don’t provide me with your completed ledger and I am forced to guess, we may be left dangerously short of something we would rather like to have.’</p>
				<p class="bt1-body-text">‘Such as?’</p>
				<p class="bt1-body-text">‘Such as, oh, I don’t know, new blankets or new boots or some other necessity we cannot manage without.’</p>
				<p class="bt1-body-text">‘Like tents.’</p>
				<p class="bt1-body-text">‘Exactly. Imagine how awful having insufficient tents would be in this Godforsaken place!’</p>
				<p class="bt1-body-text">‘We don’t have any tents, Flowers.’</p>
				<p class="bt1-body-text">‘You see! It’s happening already. Perhaps if we had completed our records properly we might have enough tents by now.’</p>
				<p class="bt1-body-text">‘No one has any tents. No one. Not even General Brown.’</p>
				<p class="bt1-body-text">‘Then the whole damn army is probably guilty of incomplete accounting. I can’t think of any other reason why we would not be provided with the most essential equipment. Why, we might even run the risk of not having enough medical supplies or ammunition.’</p>
				<p class="bt1-body-text">‘Do we have enough medical supplies? Or ammunition?’</p>
				<p class="bt1-body-text">‘Now you come to mention it, that must be another item we have not properly accounted for as we seem to have barely any.’</p>
				<p class="bt1-body-text">‘Good grief.’ Jack grimaced, his jocularity faltering. ‘Very well. I’ll get Digby-Brown on the case. I even promise to help him spell the long words.’</p>
				<p class="bt1-body-text">‘You will?’ Flowers seemed surprised at such rapid capitulation. ‘Capital. Is there anything you wanted to see me about?’</p>
				<p class="bt1-body-text">‘No, nothing at all. It was just a social call. I thought we’d not spent enough time together recently.’</p>
				<p class="bt1-body-text">‘Bosh!’</p>
				<p class="bt1-body-text">‘Well, since you insist, there is one thing you can do for me. I was wondering if you knew the constituents of the draft that is due to arrive today.’</p>
				<p class="bt1-body-text">‘I do. What do you need?’</p>
				<p class="bt1-body-text">‘A sergeant. Preferably one with years of experience and a vast amount of patience.’</p>
				<p class="bt1-body-text">‘I see.’ Flowers placed the ledgers on another crate that had been pressed into service as part of his makeshift office. He carefully picked up a sheaf of papers that had been kept in place underneath his revolver. He flicked through the pile with an ink-stained thumb before plucking one short scrap of paper from the middle. He ran his finger down the list. ‘Forty-three other ranks, two corporals and, yes, you are in luck, one sergeant. I have no more information than that. Why are you so interested?’</p>
				<p class="bt1-body-text">‘Well, I only have three sergeants and I’ve a feeling I’m going to need more than that. I was hoping you could see your way to allocating any new arrival to the Light Company.’</p>
				<p class="bt1-body-text">‘It may not be so easy.’ Flowers looked pensive. ‘You’re not the only one short, after all. McCulloch has only got two, as has Captain Taylor and that’s only because we gave Corporal Jones his third stripe back. I’d planned to allocate him the new sergeant as Jones is almost certain to get into another fist fight before the week is out.’</p>
				<p class="bt1-body-text">‘I’d be very grateful, Flowers.’</p>
				<p class="bt1-body-text">Flowers looked up from his papers. Something in Captain Sloames’s tone caught his attention. As a rule, captains did not usually ask so nicely. ‘I’ll do all I can. Colonel Morris will have the final say but I’m sure I can make it happen.’</p>
				<p class="bt1-body-text">Jack passed Captain Devine’s ledger back to Flowers.</p>
				<p class="bt1-body-text">‘My thanks, Captain Sloames.’</p>
				<p class="bt1-body-text">Jack turned and left the adjutant to his bookkeeping.</p>
				<p class="bt1-body-text">Flowers watched him stride purposefully away. For the first time he noticed that Sloames marched rather than walked, his gait more regimented than the languid stroll of most officers. The commander of the Light Company was proving to be something of an enigma. He maintained a reserve quite unlike any of the other officers, as if he were hiding something of his real personality. Flowers pushed the thoughts from his mind; he had too much to do to waste time on idle reflection. He was satisfied to have succeeded in persuading at least one of the company’s captains to sort out his paperwork. It usually took days of threats and cajoling, and more often than not the colonel’s intervention, to make any sort of headway.</p>
				<p class="bt1-body-text">Flowers stood and placed the ledger Sloames had handed to him neatly on top of the other two. As he did so, he noticed the name on it.</p>
				<p class="bt1-body-text">It belonged to the Light Company. Sloames had humbugged him.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../_ypqte.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Acknowledgements</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Chapter One</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter Two</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Tenty-eight</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Forty</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Epilogue</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Historical Note</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Read on for a Preview of The True Soldier</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0022.html" class="calibreAPrev">previous page</a>
    

    <a href="../../_ypqte.html" class="calibreAHome"> start</a>

    
      <a href="part0024.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
