<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200280_EPUB-52.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../yftltn.html">The Maharajah's General (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0051.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0053.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200280_EPUB-52.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-52" class="awh1-artwork-head1"><img class="image44" src="../images/00050.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">Jack flinched as the revolver fired, every muscle tensing as he anticipated the impact of the bullet. The sound of the shot echoed in his head but he felt nothing. He glanced over his shoulder and saw Fenris’ body lying on the ground, blood pooling around his twisted corpse. The man who had come to hate Jack was dead, shot through the heart by a single bullet.</p>
				<p class="ack-acknowledgement-text">Proudfoot laughed. ‘Not you, Jack.’ He threw his head back and laughed at the sky. ‘You should see your face.’</p>
				<p class="ack-acknowledgement-text">Jack tried to swallow and found he couldn’t. He felt his body trembling, the shadow of death walking across his soul.</p>
				<p class="ack-acknowledgement-text">‘Why?’ His voice cracked as he forced out the question.</p>
				<p class="ack-acknowledgement-text">‘Because he was a party to all this. I wanted to finish it.’</p>
				<p class="ack-acknowledgement-text">Jack spat out a thick wad of phlegm. ‘Making everything neater.’</p>
				<p class="ack-acknowledgement-text">‘Something akin to that.’ Proudfoot was urbane in his reply.</p>
				<p class="ack-acknowledgement-text">‘So you are executioner as well as judge and jury.’</p>
				<p class="ack-acknowledgement-text">Proudfoot laughed at Jack’s bitterness. He plucked at the sleeve of his scarlet uniform. ‘I’m a redcoat. Isn’t that what we do? Besides, had I not interrupted you, I rather fancy you might have killed him yourself. I wanted that honour.’</p>
				<p class="ack-acknowledgement-text">‘So you got your war.’ Jack spat again, the words souring his mouth. ‘And we gave you your victory. I hope you think it was worth the cost.’</p>
				<p class="ack-acknowledgement-text">‘The cost?’ There was a trace of fire in Proudfoot’s voice now. ‘I would say that for bringing a whole kingdom under the Company’s control, it was a veritable bargain.’</p>
				<p class="ack-acknowledgement-text">‘You bastard.’</p>
				<p class="ack-acknowledgement-text">Proudfoot frowned, as if chewing on something unpalatable. ‘I wouldn’t quite put it like that.’ His face cleared, the joy of his success still too fresh to be soured by Jack’s condemnation. ‘But I have to thank you. I rather think we might have lost had it not been for you.’</p>
				<p class="ack-acknowledgement-text">Jack shuddered. It was akin to being thanked by the devil. He had done what he had believed to be his duty. The notion that he had been nothing more than Proudfoot’s pawn shamed him.</p>
				<p class="ack-acknowledgement-text">Proudfoot saw the look on his face. ‘Now, now. There is no need to be so modest. You are a killer, Jack. That is what you do. I saw you fight. You have a talent for it. Besides, I suspect you enjoy it.’</p>
				<p class="ack-acknowledgement-text">The words hit home. Jack shivered as he remembered the thrill of the battle, the soul-rending madness that had overwhelmed him. A part of him savoured the memory. Proudfoot had summed it up best. He wore a red coat. Killing was his trade.</p>
				<p class="ack-acknowledgement-text">‘I must ask you to do one last thing for me.’ Proudfoot absent-mindedly toyed with his revolver. Jack heard the gentle grind as the chamber moved around to bring a fresh cartridge under the hammer.</p>
				<p class="ack-acknowledgement-text">‘What?’ Jack felt the chill of fear.</p>
				<p class="ack-acknowledgement-text">‘Run.’ Proudfoot chuckled at the look of surprise on Jack’s face. ‘Come now, Jack. With Dutton and Fenris dead, you are the last man alive who knows all that has happened. Besides, you are a murderer. Didn’t I just witness you kill Lieutenant Fenris in cold blood? Added to your other crimes, there really is no other option. But I owe you a debt for what you did today, so I will allow you to try to escape.’ He lifted his arm, aiming the revolver at Jack’s heart. ‘Run, Jack, run.’</p>
				<p class="ack-acknowledgement-text">Jack’s mind raced. He was tempted to stand his ground, to let Proudfoot administer a solution to his despair. He thought of Isabel, of the dreams he had foolishly allowed to grow. Her words before the final battle haunted him. She did not deserve to live with the constant fear of discovery, with only a killer to turn to for love. She deserved much more than he could give her. He thought too of Lakshmi, sensing the emotions she had awakened. Despite everything he had endured, he felt the will to live like a knot in his belly. He was a charlatan, an impostor, a thief and a killer. He would never submit meekly to his fate.</p>
				<p class="ack-acknowledgement-text">Proudfoot barked with laughter as he read the play of emotions on Jack’s face. ‘You are a fool, man. Did you ever truly imagine a future with that girl? Would she really give up everything for you? You are cursed, Jack Lark. I believe you will come to a very sorry end.’</p>
				<p class="ack-acknowledgement-text">Jack shivered, the echo of the Tiger’s curse in Proudfoot’s verdict. He looked up into the major’s eyes. He saw nothing but death.</p>
				<p class="ack-acknowledgement-text">So he ran.</p>
				<p class="bt1-body-text-1-full-out">The ground was treacherous, the scree slope uneven and scattered with rocks lying ready to trip the unwary. Jack lurched into motion, his movements clumsy. He made it no more than half a dozen paces before he stumbled, his ankle twisting on the uncertain footing. He went sprawling, any last shred of dignity gone.</p>
				<p class="ack-acknowledgement-text">Proudfoot cackled wildly. ‘Run!’ He screamed the single command, his voice rising in pitch as he laughed at the sight of the proud charlatan scrabbling on the ground in his desperation to get away. Proudfoot feared the impostor. He had watched in awe as the man fought, terrified by the brutality as he hacked at the enemy. To reduce such a man, such a killer, to nothing more than a floundering fool desperate for life was as great a victory as the one he had won over the Maharajah of Sawadh.</p>
				<p class="ack-acknowledgement-text">He raised his revolver, aiming squarely at the back of the man who was trying so frantically to escape. He had had his amusement.</p>
				<p class="ack-acknowledgement-text">It was time to end the charade.</p>
				<p class="bt1-body-text-1-full-out">Jack sucked in a last breath, filling his lungs with the scorching air. He nearly choked on the dust his fall had kicked up, but he forced himself to still his quivering muscles. He slipped his hand across the front of his body, hiding the movement from Proudfoot. He heard the man’s laughter but ignored it, refusing to let the flare of anger overwhelm him. He had to be in control. He closed his eyes, summoning the calm he would need.</p>
				<p class="ack-acknowledgement-text">The holster was unbuckled and Jack slipped his revolver free.</p>
				<p class="ack-acknowledgement-text">In one motion he scrambled to his feet and brought his arm around. He saw the look of surprise on Proudfoot’s face as the barrel of the revolver appeared, heard his laughter cut off abruptly as the man he had believed to be fleeing for his life turned to fight.</p>
				<p class="ack-acknowledgement-text">Jack felt the tension of the trigger underneath his finger. He had seen too much death that day, enough to stain his soul for a lifetime. Yet he did not hesitate as Proudfoot’s terror-stricken face filled the simple sight at the end of the barrel.</p>
				<p class="ack-acknowledgement-text">He pulled the trigger.</p>
				<p class="ack-acknowledgement-text">The blast of the revolver was loud. Jack walked forward, emerging from the inevitable cloud of powder smoke, keeping the weapon pointed at the man who had been the cause of so much death. He fired again, the action instinctive, the second bullet following within a heartbeat of the first.</p>
				<p class="ack-acknowledgement-text">The echo of the twin shots reverberated around the high ground before silence once again reclaimed the deserted, lonely hillside.</p>
				<p class="ack-acknowledgement-text">Jack’s aim had been true. Proudfoot lay spread-eagled on the ground, striking as dramatic a pose in death as he had in life. Blood pooled around his body, which twitched as the last vestige of life escaped. Jack watched until at last Proudfoot lay still. The devil had taken another soul.</p>
				<p class="bt1-body-text-1-full-out">Jack stood over Proudfoot’s body. The first bullet had hit the major in the chest, killing him instantly. The second had taken off the political officer’s shoulder, the heavy bullet tearing a grotesque hole in what had been living flesh. The grey pallor of death had already laid claim to Proudfoot’s face, his last, dreadful look of horror now fixed for ever.</p>
				<p class="ack-acknowledgement-text">Jack felt no remorse at having killed a fellow countryman. The man had deserved to die. He turned and savoured the peace. He was quite alone, only dead men for company.</p>
				<p class="ack-acknowledgement-text">Proudfoot’s words settled in his heart, the echo of the Tiger’s curse hardening like lead in his soul. He knew then he was destined to be alone. To be the killer everyone expected him to be.	</p>
				<p class="ack-acknowledgement-text">It was time to leave.</p>
				<p class="ack-acknowledgement-text">He worked quickly. It did not take long to drag the two corpses to the horse that would carry them. Lifting them took more effort, but the lancer’s horse was well trained and stood still, even as its nostrils flared at the sweet tang of the blood that still poured from the dead bodies. With an effort, Jack draped the bloody corpses across the saddle, using the long stirrups to bind them in place.</p>
				<p class="ack-acknowledgement-text">He pulled himself into the saddle of Proudfoot’s sable mare, keeping a firm grip on the lead rope of the horse he had taken from the field of battle. He did not look at the body of the man he had just killed and that he now left behind for the vultures and the dozens of other animals that would relish a feast on such fresh flesh. He eased the mare’s head round, turning his back on Bhundapur. With a click of his tongue and a gentle nudge of his heels, he eased the horse into motion, settling down into the slow walk that would take him up the steep side of the valley and away from the scene of so much death.</p>
				<p class="bt1-body-text-1-full-out">The tower stood silently as Jack approached, watching his progress with serene indifference. The last moments of the long ride brought back memories. He saw again the place where the Tiger and his men had ambushed the picnic party. He recognised the spot where he had fought the black-robed bandit leader, a shiver running down his spine as he felt again the presence of death at his shoulder.</p>
				<p class="ack-acknowledgement-text">The village was empty. The few who had survived the Tiger’s ravaging horde had abandoned the place that had become a graveyard for their greed and their futile ambition. Jack rode along the dusty paths alone, only breaking the silence to click his tongue to urge on the pair of tiring horses, which strove to do his bidding despite their exhaustion.</p>
				<p class="ack-acknowledgement-text">The white-robed priest watched him approach. The man was old, his dark face creased and wrinkled with the passage of time. At his side was a boy. The youngster could not have been more than seven years old, the body under the simple langoti just sinew and bone. The priest laid a protective hand on the shoulder of his new apprentice before ushering him forward to help the white-faced stranger who had brought his dead to the tower.</p>
				<p class="ack-acknowledgement-text">Jack helped the boy with Fenris’ body, his nose wrinkling in distaste at the stench of dead flesh. Together they dragged the corpse to the door of the tower, the officer’s heels leaving twin trails in the sandy soil.</p>
				<p class="ack-acknowledgement-text">The white-robed priest did not say a word as the man walked away. Yet he stared for a long time at the back of the tall, lean officer with the hard grey eyes before he turned to the orphaned boy he had found hiding in the rubble of his grandfather’s house, his days of goat-herding ended with the slaughter of his meagre herd and the massacre of his family.</p>
				<p class="ack-acknowledgement-text">The British officer did not turn back.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../yftltn.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Dedication</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Acknowledgments</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Glossary</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Two</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Ten</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-52">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-53">Chapter Forty-five</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-54">Epilogue</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-55">Historical Note</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0051.html" class="calibreAPrev">previous page</a>
    

    <a href="../../yftltn.html" class="calibreAHome"> start</a>

    
      <a href="part0053.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
