<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200280_EPUB-41.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../yftltn.html">The Maharajah's General (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0040.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0042.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200280_EPUB-41.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-41" class="awh1-artwork-head"><img class="image36" src="../images/00039.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">The redcoats waited patiently in line, standing at ease now that they had been ordered to a halt. Colour Sergeant Hughes was on the far left of the line, so the redcoats who stood in the centre files could mutter to one another in low voices without being detected. The march had been short, but it had become increasingly wearing as the column marched and counter-marched, often retracing its own tracks as the commanders fussed about the position of their troops. They had finally settled on the current position just after the sun had begun to rise, the redcoats belatedly ordered into the two-man-deep line in which they would be expected to fight.</p>
				<p class="ack-acknowledgement-text">Jack approved of the officers’ choice of battlefield. The redcoats’ line stretched across a valley, its flanks securely tethered against sharply rising ground to either side. The ground to the front was open, with the well-worn path that led to Bhundapur meandering through the centre. It gave the thin red line a good field of fire, the Maharajah’s army forced to advance along the narrowing valley if they wanted to bring the smaller British force to battle. The steep sides acted like a funnel, compressing any attacking force whilst denying the opportunity for enemy cavalry to manoeuvre around the redcoats’ flanks. Dutton and Kingsley might not have agreed on how to fight, but they had at least chosen good ground.</p>
				<p class="ack-acknowledgement-text">The cantonment was only around half a mile to the south-west, with the walls of the city of Bhundapur a similar distance to the west. Once out of the valley, the ground opened to a wide plain, and Jack offered a silent prayer that the redcoats would be able to turn back the enemy tide without the need to retreat. Any withdrawal into the open ground would be fraught with danger. If the redcoats were forced to retreat, they faced destruction, the wide-open space the perfect killing ground for the vast numbers of enemy cavalry.</p>
				<p class="ack-acknowledgement-text">Dutton had got his wish. A makeshift company had been formed from the many supernumeraries in the cantonment. These rough-and-ready soldiers stood guard behind the walls of the temporary fortress Dutton’s sepoys had constructed around the 24th’s barracks. The storerooms had been packed with ammunition and the cantonment’s few women and children were safe in the barrack buildings. Dutton had planned for disaster with the same meticulous care that Proudfoot was putting into the preparation of his victory dispatch.</p>
				<p class="ack-acknowledgement-text">Jack wondered how Isabel would be coping with being confined. He knew she would rather have been allowed to ride with the fighting column, and it brought a smile to his face as he imagined her arguing with Proudfoot when she had been ordered to remain behind.</p>
				<p class="ack-acknowledgement-text">The thought of Isabel sent a spark of anger through Jack’s soul. They had both paid a high price for remaining loyal to the country of their birth. He pushed the rage down, storing it deep inside, searching for the patience he would need. He had witnessed the destructive power of battle before. Nothing was certain once the violent struggle began, and anything was possible in the chaos that would follow. He would have to bide his time and wait.</p>
				<p class="bt1-body-text-1-full-out">‘My eye, would you look at that? Kingsley looks like he needs a good shit.’</p>
				<p class="ack-acknowledgement-text">Jack kept his expression neutral as the man in the file next to him offered his judgement on the company’s new commander. Unaware of the acidic remark, Captain Kingsley slid from the saddle of his grey mare and took up the proper position for a company commander on the right of the redcoats’ line.</p>
				<p class="ack-acknowledgement-text">‘I’m sure Fenris would offer to wipe his fucking arse for him.’ Corporal Jones, in charge of that section of redcoats, added his own ribald observation.</p>
				<p class="ack-acknowledgement-text">Jack smiled. He found nothing odd in the men being so vocal in their criticism of their officer. Redcoats would always grumble the moment they got the chance. Just as they would fight with vicious determination when their officers removed the leash and sent them at the enemy.</p>
				<p class="ack-acknowledgement-text">‘So what do we call you now we aren’t supposed to call you “sir”?’ The soldier to Jack’s left nudged his arm, interrupting his thoughts. His sing-song accent reminded Jack of a Welshman who had fought in his company at the Alma.</p>
				<p class="ack-acknowledgement-text">‘Jack. My name’s Jack.’</p>
				<p class="ack-acknowledgement-text">The Welsh soldier clicked his tongue. ‘We can’t call you that, boyo. There’s already a Jack in the company. That bloody Englishman over there.’ He nodded in the direction of a ferret-faced man on the far right of the company.</p>
				<p class="ack-acknowledgement-text">‘There’s too many bloody Englishmen around here, if you ask me.’ Corporal Jones chuckled as he offered the barbed comment. Jack smiled, enjoying the banter. The transformation in Jones was fascinating. Around officers he had been ill at ease. Now, back in the ranks, he was clearly one of the company’s most popular non-commissioned officers, enjoying a warm rapport with the men under his command.</p>
				<p class="ack-acknowledgement-text">‘Corporal Jones never forgave his sister for marrying a boy from Bath.’ Jack’s new friend winked as he spoke confidingly. ‘Isn’t that right, Corp?’</p>
				<p class="ack-acknowledgement-text">‘You talk too much, Jenkins.’</p>
				<p class="ack-acknowledgement-text">The redcoat was not put out by his corporal’s instruction to be quiet. ‘So what did your mates call you before you went and started impersonating a bloody rupert?’ He was several inches shorter than Jack, as were most of the men in the company, with the pinched face that came from a childhood of hard work and not enough food, yet he had an open smile, and Jack was drawn to his good humour.</p>
				<p class="ack-acknowledgement-text">‘Mud. They called me Mud.’ It felt like a lifetime since he had heard the nickname, an obvious reference to the mudlarks who tried to eke out a living picking at the detritus that flowed down the River Thames.</p>
				<p class="ack-acknowledgement-text">Jenkins chuckled. ‘So you’re a bleeding Londoner!’ He leant forward so he could peer along the line. ‘Heh, Brown! We got one of your lot here.’</p>
				<p class="ack-acknowledgement-text">Jack saw another redcoat lean forward to join the conversation, his face creased into a scowl.</p>
				<p class="ack-acknowledgement-text">‘Keep your voice down, you dozy Welshman.’ Brown shook his head at the foolishness of his fellow redcoat. He fixed Jack with a rueful grin. ‘Most of this bloody company is from up north, apart from those two Welsh chumps. Us Londoners need to stick together. So where you from?’</p>
				<p class="ack-acknowledgement-text">‘Whitechapel. You?’</p>
				<p class="ack-acknowledgement-text">‘Bow. Right shit-hole it was.’</p>
				<p class="ack-acknowledgement-text">‘Private Brown! Silence in the ranks or you’ll be on a charge.’ Colour Sergeant Hughes stamped down on the idle conversation, his fierce glare settling on the last redcoat to speak.</p>
				<p class="ack-acknowledgement-text">Brown pulled his head back, but not before flashing Jenkins a filthy look.</p>
				<p class="ack-acknowledgement-text">Jack smiled at the exchange. It felt good to be back in the company of other soldiers. The red coat he had been given might not have been tailored to fit, nor was it made of the same fine scarlet weave as an officer’s uniform. But it didn’t come weighted with responsibility, the burden of command that accompanied the golden buttons and bullion epaulettes. For once, it was a relief to simply march in the ranks, following the directions of the officers and the sergeants.</p>
				<p class="ack-acknowledgement-text">‘Company! Company attention!’</p>
				<p class="ack-acknowledgement-text">Colour Sergeant Hughes called his men to readiness. A handful of Proudfoot’s vedettes were returning to the thin red line, their horses lathered in sweat from being ridden hard in the early-morning heat. They made straight for the gaggle of officers in the centre. The 24th were the right-most company in the line, with the three companies from the 12th Bengal Native Infantry arranged in order to their left. Dutton and Major Proudfoot stood in the middle of the four companies, with a handful of mounted native troopers waiting patiently behind them, ready to act as scouts or to deliver orders to the company commanders. Proudfoot had insisted that Lieutenant Fenris also remain mounted, and he had been ordered to stay at the political officer’s side. His subaltern’s abrupt promotion to aide-de-camp went some way to explain Captain Kingsley’s peevish expression.</p>
				<p class="ack-acknowledgement-text">‘Company! Company prepare to load!’ Colour Sergeant Hughes delivered the order with the clipped precision learnt in two decades of soldiering. ‘Load!’</p>
				<p class="ack-acknowledgement-text">The redcoats had stiffened to attention the moment they had heard their senior non-commissioned officer draw breath. With the final bellowed command still echoing around the confined valley, they began the process of loading their muskets.</p>
				<p class="ack-acknowledgement-text">Jack followed their lead without hesitation, his movements instinctive. In unison with the rest of the company he extracted a fresh cartridge from the pouch at his waist, lifting it to his lips. He bit off the bullet, the bitter, acrid taste of gunpowder just as he remembered, then spat the heavy metal ball into the barrel of his musket, following the procedure he had learnt through hours of repetitive practice. It had been many months since he had loaded a musket, but the memory came back without conscious thought, the drill buried into his very being.</p>
				<p class="ack-acknowledgement-text">With their weapons loaded and primed, the redcoats were ready to fight. They stared down the valley, looking away to the south. Waiting for the first sight of the enemy. Waiting for battle.</p>
				<p class="ack-acknowledgement-text">Around Jack the men fidgeted and worried, fiddling with their kit or picking at their uniforms. It was the time for fear to build and for nerves to be stretched thin. Jack remembered the feelings he had endured the night before the battle at the Alma River, the tension that had gnawed deep in his guts, the terror that had built so that when the redcoats stormed the Russians’ redoubt, he had been screaming his horror aloud.</p>
				<p class="ack-acknowledgement-text">Somehow he had contained his fear. In its place had been the dreadful rage that had driven him in a mad assault on the Russian columns. After the battle, he had been terrified by what he had done, yet alongside that emotion he felt pride at what had been unleashed, a sordid joy that he buried deep in his corroded soul. Only the Maharajah’s daughter had spied his rotten core. Lakshmi had told Jack that he hid his real self away, and she had been quite correct. To reveal his true nature would be to inspire repugnance. For only in the horror of battle could Jack show his true worth.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../yftltn.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Dedication</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Acknowledgments</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Glossary</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Two</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Ten</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-52">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-53">Chapter Forty-five</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-54">Epilogue</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-55">Historical Note</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0040.html" class="calibreAPrev">previous page</a>
    

    <a href="../../yftltn.html" class="calibreAHome"> start</a>

    
      <a href="part0042.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
