<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472222701_EPUB-50.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../qzj5e1.html">The Devil's Assassin (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0049.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0051.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472222701_EPUB-50.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-48" class="toch-table-of-contents-main-head"><img class="image43" src="../images/00048.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="tsn-typesetter-designer-note">Simon Montfort rushed into the tent, his weapon drawn. He had been summoned by Sarah’s dreadful scream and he came in fighting.</p>
				<p class="bt1-body-text">Ballard was no warrior. His hands fumbled clumsily for the sabre at his waist. He had never once drawn the weapon in anger, and now that danger loomed in front of him, he was terribly slow.</p>
				<p class="bt1-body-text">Montfort bellowed as he struck, giving Ballard no chance to defend himself. The blow speared through the major’s sparse flesh, the blade grating on the edge of a rib. Montfort recovered the sword immediately, his face contorted with the rage of battle as he prepared the next strike.</p>
				<p class="bt1-body-text">The commander of intelligence staggered to one side, his sabre undrawn, his hands clasping at the bloody tear in his side. The rapier came for him again as he stumbled away, but he was moving too fast and the sharpened steel only managed to gouge a deep crevice in the flesh of his upper arm. His balance failed him and he fell, sliding into the slick of blood already spilt across the tent’s floor.</p>
				<p class="bt1-body-text">Montfort was after him in a flash. Yet he held back the killing blow, giving his victim enough time to twist on the floor so that he lay on his back, his face lifting towards the man about to kill him.</p>
				<p class="bt1-body-text">Ballard looked up and saw Montfort looming over him. The younger man’s mouth twisted in a dreadful grimace as he prepared to thrust his sword into his opponent’s heart.</p>
				<p class="bt1-body-text">Montfort aimed the blow. His arm tensed and drew back as he gathered his strength for the killing strike. Ballard lifted his own arms, a final act of defiance as he saw his death reflected in the eyes of the man summoned to protect the spy. He watched the rapier coming for him, the tip aimed squarely at his heart, and he braced himself for the blow even as his mind recoiled from the thought that he was about to die.</p>
				<p class="bt1-body-text">But he had forgotten the charlatan.</p>
				<p class="bt1-body-text">Jack had dragged himself to his feet. The pain in his arm seared through his veins but he refused to stay down. He saw Montfort looming over Ballard in the moment before he attacked hard and fast. He hammered his talwar at Montfort’s rapier, driving the blade wide even as it reached for Ballard’s flesh.</p>
				<p class="bt1-body-text">‘Come on!’ Jack fanned the flames of his anger. He recovered his sword and attacked again. The blow missed but it drove Montfort backwards and Jack stepped into the space, putting himself between his foe and his fallen commander.</p>
				<p class="bt1-body-text">He cut his sword through the stale air, forcing the younger man into a desperate defence. He shouted again, his pain and anger released into one dreadful banshee wail as he flailed his sword at his latest enemy.</p>
				<p class="bt1-body-text">Sarah screamed as he went past her. He looked like a creature from a nightmare. Blood dripped from the wound to his arm, and he was coated in the grime and filth of the battlefield, the stains of combat covering his uniform. Yet worse was the look on his face. It was the look of a killer. The face of a man who had witnessed so much death that he lived in a world of ghosts and shadows. The man she had taken to her bed had returned, and he terrified her.</p>
				<p class="bt1-body-text">Montfort moved backwards. There was little room for manoeuvre and he could not retreat for long. Jack hammered blows forward, flowing through the impacts. He had killed so many men. Their faces flashed in his mind. He relived the moments when he had struck them down, when they realised they were about to die. He screamed as he fought, haunted by the memories, driven half mad by the legacy of the deaths he had caused.</p>
				<p class="bt1-body-text">He parried a half-hearted counter, twisting his wrist so that he deflected the rapier to one side. It gave him the opening he needed and he thrust his talwar forward, going for the killing stroke just as he had done so many times before.</p>
				<p class="bt1-body-text">But Montfort was young and fast, and Jack was hurting and slow. Montfort threw himself to one side, a final, despairing ploy to avoid the blade that reached for his flesh. Jack missed, his talwar hitting nothing but air. Montfort saw the opening and punched his sword’s guard into the wound to Jack’s arm.</p>
				<p class="bt1-body-text">The force of the merciless blow knocked Jack to the floor. His talwar fell from his hand, his arm losing all sensation, agony flaring across his vision. He cried out, the explosion of sound torn from his lips. He saw Montfort’s boots step forward, knowing the killing strike would follow.</p>
				<p class="bt1-body-text">‘No!’</p>
				<p class="bt1-body-text">Jack heard the cry but he did not know what it meant. He forced himself to move, levering himself to his feet, hearing his own sobs as the pain seared through him. His right arm was useless, so he snatched his talwar from the ground with his left hand, lifting it up in a pathetic attempt to be ready to fight.</p>
				<p class="bt1-body-text">But it was over.</p>
				<p class="bt1-body-text">Ballard had come to his aid. He had plunged his sabre deep into Montfort’s body, driving the steel in hard. Montfort’s mouth opened to scream, but no sound came out. He staggered, staying on his feet even with Ballard’s blade buried in his flesh. Still he tried to fight, bringing his rapier round, his eyes flaring wide as he thrust it forward one last time.</p>
				<p class="bt1-body-text">Jack saw the blow coming. Ballard’s sabre was stuck fast, the naïve mistake trapping the blade, leaving him defenceless. Jack would not watch another man die from the same feckless error. He lashed out, flailing his talwar in a clumsy parry. The blow was awkward, but it swatted aside Montfort’s rapier, blocking the thrust that would have struck Ballard’s heart.</p>
				<p class="bt1-body-text">Jack staggered, the impact jarring his battered body. But he had done enough. He forced himself to stand straight so that he was face-to-face with Montfort. The younger man’s features were screwed tight against the agony. For a moment he stared into Jack’s eyes, his hatred naked and exposed. Jack met the stare, not flinching from the younger man’s gaze until it glazed over, death arriving fast to steal another life away.</p>
				<p class="bt1-body-text">Montfort fell silently. As his body slipped to the floor, Jack saw Ballard’s grim, bloodied face. It wore a look of horror, the closeness of death and the enormity of having killed a man for the first time only now registering in the man’s mind.</p>
				<p class="bt1-body-text">But Jack knew the fight was not yet over.</p>
				<p class="bt1-body-text">He turned, ignoring the pain in his arm. He dropped his talwar as he spied the fallen revolver. He bent to snatch it from the floor, cursing as the motion set off fresh waves of agony. But the familiarity of the weapon tethered him to who he was and why he was there.</p>
				<p class="bt1-body-text">He stood straight. His right arm hung useless from his side, the searing, torture of his wound denying him its use. So he held the revolver in his left hand, just as he did in battle.</p>
				<p class="bt1-body-text">He walked forward, stepping carefully towards the cause of so much pain. He remembered the sight of the shattered bodies on the battlefield. The pathetic, twisted remains of men who had died at the hands of the enemy; an enemy who had been forewarned of the army’s movements. He saw again the bloodied face of Knightly as he died, the dreadful terror in the boy’s eyes as he rushed towards the nothingness of oblivion.</p>
				<p class="bt1-body-text">He took another step, and then another. He tried to calculate how many deaths could be laid at the door of the woman who now cowered away from him. He was close to her. He could see her sobs of terror. He could smell her fear. She raised her hands, trying to ward him away, but he would not be denied.</p>
				<p class="bt1-body-text">He lifted the revolver. He felt nothing, his emotions scoured away from his soul. He had killed so many times before. One more death would barely be a blot on his mind, one more stain amidst a thousand.</p>
				<p class="bt1-body-text">He aimed the gun, filling the simple sight with the face of a woman he had once kissed and caressed with lust and desire. The gun’s movement was still smooth and the chamber moved with greased precision to bring a fresh cartridge under the hammer. He felt the trigger beneath his forefinger, the metal cool against the heat of his flesh.</p>
				<p class="bt1-body-text">‘Stop!’</p>
				<p class="bt1-body-text">The order cut through the silence.</p>
				<p class="bt1-body-text">‘Do not shoot.’ The voice of authority wavered slightly as Ballard found the strength to get to his feet. ‘Jack Lark, I order you to hold your fire.’</p>
				<p class="bt1-body-text">It was the use of his own name that brought Jack up short. It resonated through his being, a tie to a past he barely remembered. The image of a young girl flashed into his mind. She was beautiful. A complex network of pins just about held her unruly curls in place. A few had escaped to whisper across her face. He savoured the image, his memory replaying her smile as she saw him watching her, her lips pursing as she blew the errant hairs away from her face. Yet the girl was dead, the vital spark of her life stolen away. Her eyes stared at him devoid of all life; the blank, sightless stare of death. The girl Jack had loved was dead and the memory of the grief surged through him.</p>
				<p class="bt1-body-text">The image fled and he looked at Sarah Draper. He pictured her face stricken with the same waxy pallor, the same lifeless eyes that would bore into his soul. He shuddered, the nightmare so real that he gasped. He lowered his weapon and closed his eyes against the vision, trying to blot the images from his mind.</p>
				<p class="bt1-body-text">Ballard stepped past him. He clasped his left hand against the sword cut to his side, the blood oozing past his fingers. Yet he gave no impression of caring about his wounds. He slipped on to the edge of the charpoy, sitting carefully, close to the woman he had come so far to denounce.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../qzj5e1.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Praise</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Map – 19th Century Persia</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-18">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-19">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-20">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-21">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-22">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-23">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-24">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-25">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-26">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-27">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-28">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-29">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-30">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-31">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-32">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-33">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-34">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-35">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-36">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-37">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-38">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-39">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-40">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-41">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-42">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-43">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-44">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-45">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-46">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-47">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-48">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-49">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-50">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-51">Epilogue</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-52">Historical Note</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-53">Acknowledgments</a>
    </li>
    <li>
      <a href="part0056.html#toc_marker-54">Read Jack Lark: Rogue, out now</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0049.html" class="calibreAPrev">previous page</a>
    

    <a href="../../qzj5e1.html" class="calibreAHome"> start</a>

    
      <a href="part0051.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
