<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472222701_EPUB-28.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../qzj5e1.html">The Devil's Assassin (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0027.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0029.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472222701_EPUB-28.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-26" class="toch-table-of-contents-main-head"><img class="image23" src="../images/00026.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="tsn-typesetter-designer-note">The 78th Highlanders arrived with glorious fanfare. To the skirl of their bagpipes they led the new division into the encampment outside Bushire, the locals looking on in astonishment as the kilted warriors marched in. The Highlanders were impressive. Their usual feather bonnets and hackles had been left behind at their barracks at Poona, but even in just their hummel bonnets they still looked imposing. The people of Bushire had never seen anything like the fabulous MacKenzie of Seaforth tartan that the Scottish soldiers wore, the dark green standing in vivid contrast to their red jackets with their bright buff facings.</p>
				<p class="bt1-body-text">The rest of the second division were less spectacular. The red-coated battalions of the 23rd and 26th Bombay Native Light Infantry marched to their allotted areas with calm order. With them came more artillery and more cavalry, the arrival of a second full division filling the encampment to capacity. For the weary redcoats of the first division, the new troops created a welcome spectacle, although few had any strength left to greet them. That day, the division had endured a twelve-mile route march to the town of Charkota, so that it was a drained and weary audience that watched the reinforcements arrive.</p>
				<p class="bt1-body-text">With the second division came the new commander-in-chief, Sir James Outram. Outram had been on convalescent leave in England, but his new appointment had led to a remarkable recovery, and he had arrived in time to sail from Bombay with the reinforcements. Major General Stalker, his ego sorely battered, remained to command the first division, with the sixty-two-year-old Major General Sir Henry Havelock arriving to take charge of the second. The new command structure took its place swiftly and with little fuss.</p>
				<p class="bt1-body-text">The encampment filled with rumour as quickly as it filled with fresh troops. The newly arrived redcoats told of a plan to advance almost immediately, Outram’s desire to get on with the campaign certain to force a rapid pace. For the men who had spent the last week digging and marching, it was exactly what they wanted to hear. Within hours of his arrival, Outram had dispatched a party of officers to reconnoitre the nearby town of Mohammerah, and the army saw this as confirmation of their new commander’s desire to get on with the second stage of the campaign.</p>
				<p class="bt1-body-text">Not all the rumours brought by the second division were so positive. Others predicted nothing but a bloody disaster for the expeditionary force. These stories told of an immense enemy horde – thousands upon thousands of infantrymen supported by countless regiments of cavalry and hundreds of pieces of artillery – waiting just inland and preparing to counter the invaders the moment they stepped away from the apron strings of their navy. The numbers grew with each retelling, until defeat seemed inevitable, followed by a harrowing evacuation if the British were to escape annihilation.</p>
				<p class="bt1-body-text">Yet one thing was clear, no matter which rumour held sway. The arrival of the fresh division meant that the period of inactivity was over. The next stage of the campaign was about to begin.</p>
				<p class="bt1-body-text-1-full-out">Jack lingered outside Sarah’s tent. He could see her shadowy form moving around inside and he took a moment to savour the image. He had anticipated the moment through the long, dull afternoon, thinking of little else but seeing her again. They had agreed he should come to her tent around midnight, and he had made sure to be there on time.</p>
				<p class="bt1-body-text">He heard a scuffle of boots on the ground and turned to see Simon Montfort staggering back from the bivouac’s designated latrines. The young man had clearly enjoyed the navy’s entertainment, and his footing was unsteady, as if he believed he was still on board ship rather than on the solidity of dry land. He looked up and spied Jack loitering outside his sister’s tent.</p>
				<p class="bt1-body-text">‘You!’</p>
				<p class="bt1-body-text">‘Good evening, Mr Montfort.’ Jack kept his voice even. He was not there to fight.</p>
				<p class="bt1-body-text">Montfort looked round, as if checking that he had not been followed. When he faced Jack again, he was vibrating with barely controlled anger.</p>
				<p class="bt1-body-text">‘I suggest you leave.’</p>
				<p class="bt1-body-text">Jack scowled at the suggestion. ‘That’s not very friendly.’</p>
				<p class="bt1-body-text">‘You are not welcome here.’ Montfort’s words were slurred by drink, but he stood steadier as he faced Jack.</p>
				<p class="bt1-body-text">‘I think your sister would disagree.’</p>
				<p class="bt1-body-text">‘She has foolish ideas. That is why I look after her. And I know that a damn pleb like you has no place here.’</p>
				<p class="bt1-body-text">‘I rather believe she knows her own mind.’ Jack tried to control his temper. Sarah had accused him of believing he understood everyone. It was time to see if he was wrong about her brother.</p>
				<p class="bt1-body-text">‘What the fuck would you know? Just because she chooses to rut with you . . .’</p>
				<p class="bt1-body-text">Jack felt his anger begin to simmer. ‘Mind your mouth, boy.’</p>
				<p class="bt1-body-text">‘Why? Are you going to shut it for me?’ Montfort’s hand fell to the rapier at his side.</p>
				<p class="bt1-body-text">‘If need be.’</p>
				<p class="bt1-body-text">Montfort laughed. ‘You really are nothing but a thug, but then my sister has a taste for a bit of rough. You are just her type.’</p>
				<p class="bt1-body-text">The talwar whispered from its scabbard. Jack had not fully formed the decision to draw his weapon before it appeared in his hand. The beautiful blade glimmered in the light of the campfires scattered through the bivouac. The fiery reflection seemed to glide up and down its length, making the steel shimmer, the tight script engraved on the blade coming alive.</p>
				<p class="bt1-body-text">He stepped forward, holding the sword out so that the point was aimed directly at Montfort’s throat.</p>
				<p class="bt1-body-text">‘You are quite right, Mr Montfort. I am a coarse bastard. I may not know how to behave in polite company, but I do know how to use this sword. I know how to batter any bugger to death with it.’</p>
				<p class="bt1-body-text">He stepped forward again, rotating his wrist so the talwar turned in the firelight. Montfort took a hesitant step backwards, and then another, his eyes focusing on the glimmering blade, his bravery silenced by the sight of the naked steel.</p>
				<p class="bt1-body-text">Montfort was forced to a halt by a stack of ammunition crates, and Jack stopped and straightened his arm so that the point of his sword was no more than a single inch from the young man’s throat.</p>
				<p class="bt1-body-text">‘I have killed so many men, Mr Montfort, that I have quite lost count.’ He snarled as he spoke, his mouth twisted as he talked of death. ‘I could kill you now and I would barely remember your name.’</p>
				<p class="bt1-body-text">An involuntary shudder ran down Jack’s spine. The face of the boy he had killed in the fort at Reshire sprang unbidden into his mind. The image haunted him.</p>
				<p class="bt1-body-text">Montfort saw the tremor on Jack’s face and it gave him courage. ‘You wouldn’t do it. It would be murder. You’d hang.’</p>
				<p class="bt1-body-text">The words brought Jack back to the present. He looked at Montfort’s face. He saw the fear in the boy’s pallid complexion, and he felt the bloodlust wash out of him. He could not kill another boy.</p>
				<p class="bt1-body-text">‘Arthur, is that you?’ Sarah Draper’s voice called out from behind them.</p>
				<p class="bt1-body-text">Jack turned and saw Sarah peering out from behind the entrance flap of her tent. She had already undressed, and was wearing nothing more than a simple cotton shift that clung to her body. With the light inside the tent behind her, he could make out every curve, and the sight made his breath catch in his throat.</p>
				<p class="bt1-body-text">‘What on earth do you think you are doing? Simon, what is going on?’ Sarah’s voice rose as she saw the drawn sword.</p>
				<p class="bt1-body-text">Montfort found the courage to knock the talwar away with the palm of his hand before pushing his way past Jack. He said nothing as he stalked past his sister and into the night.</p>
				<p class="bt1-body-text">‘Arthur, tell me what is going on this instant,’ Sarah demanded.</p>
				<p class="bt1-body-text">Jack sheathed his sword and walked towards her. ‘It was nothing.’</p>
				<p class="bt1-body-text">‘It didn’t look like bloody nothing.’</p>
				<p class="bt1-body-text">‘I was just giving your brother a piece of friendly advice.’</p>
				<p class="bt1-body-text">‘It looked to me like you were scaring the poor boy witless.’</p>
				<p class="bt1-body-text">‘It’s not your concern.’</p>
				<p class="bt1-body-text">‘Of course it’s my concern.’</p>
				<p class="bt1-body-text">‘It’s nothing.’ Jack growled the denial. He was not used to being with a woman. He had forgotten the nagging. He walked forward and took Sarah around the waist, pulling her to him, crushing her body against his. The confrontation with Montfort had made him angry, and he leant forward and pressed his lips against hers, not caring if he was rough.</p>
				<p class="bt1-body-text">Sarah pushed him away, her neck and throat flushed scarlet with anger. She opened her mouth to speak again, but before she could utter a sound, Jack kissed her again, this time with nothing but passion. He swept her into his arms and carried her into the tent.</p>
				<p class="bt1-body-text-1-full-out">‘How was your evening with Fetherstone?’ Jack asked as he pulled his boots on. The snug-fitting cavalry breeches were cutting into his thighs as he perched uncomfortably on the edge of a wooden travel chest, and he drew in a sharp breath as the action of tugging on the boots caused the fabric to tighten around his balls. ‘Did you manage to find anything out?’</p>
				<p class="bt1-body-text">Sarah sat on her travel cot and smiled at the sight. ‘I think I prefer you as a hussar. The uniform is much more becoming.’</p>
				<p class="bt1-body-text">Jack grimaced as he saw the target of her gaze. In his current position, the tight breeches revealed everything. ‘I asked you a question.’</p>
				<p class="bt1-body-text">Sarah threw her head back and laughed aloud. She was still naked, and Jack stopped what he was doing so he could take a last lingering look.</p>
				<p class="bt1-body-text">‘It was dull, if you must know.’ She pushed her hair back behind her ears as she studied Jack intently. ‘Fetherstone was rather boring.’</p>
				<p class="bt1-body-text">Jack had to force himself to stop staring at her nakedness. ‘Did you manage to steer the conversation around to the matter of the spy?’</p>
				<p class="bt1-body-text">‘I tried, but he was having none of it. I told you he was clever. You said I should be circumspect, so I did not press the issue.’ Sarah lolled on her back and stretched. ‘He may have said something of interest, but it was just a passing remark, nothing substantial.’</p>
				<p class="bt1-body-text">Jack tugged on his second boot and came to stand over her, his heart beating a little faster. ‘You heard everything. You always do.’</p>
				<p class="bt1-body-text">Sarah looked at his serious expression and laughed. ‘Look at you. Why, you appear quite cross.’</p>
				<p class="bt1-body-text">Jack snapped his arm forward and gripped her tight around the wrist. ‘Tell me what he said.’</p>
				<p class="bt1-body-text">‘You’re hurting me.’</p>
				<p class="bt1-body-text">‘I’m sorry.’ Jack apologised but did not let her go.</p>
				<p class="bt1-body-text">‘There is a teacher with the army.’ She tried to pull her arm free, but Jack held it fast. ‘A munshi. He is teaching some of the officers Persian.’</p>
				<p class="bt1-body-text">Jack let go at last and perched on the corner of the cot. ‘I’ve heard of him. Go on.’</p>
				<p class="bt1-body-text">Sarah drew away from him, nursing her wrist where he had grasped it. ‘He is passing messages to the Persians. He teaches a number of officers, including General Stalker. Fetherstone supposes he uses it as an opportunity to find out about their plans.’</p>
				<p class="bt1-body-text">‘Who else knows?’</p>
				<p class="bt1-body-text">‘No one. Fetherstone said he had only just discovered the information. The final link in the chain, he called it, or something like that. I didn’t hear it clearly.’</p>
				<p class="bt1-body-text">Jack recognised the importance of the news. He looked at Sarah. ‘Thank you.’</p>
				<p class="bt1-body-text">He saw her eyes flash with temper. ‘You hurt me.’</p>
				<p class="bt1-body-text">‘I’m sorry. It was important. I didn’t want to play games.’</p>
				<p class="bt1-body-text">Sarah’s eyes narrowed. ‘You used me. That hurts more than any damn bruise.’</p>
				<p class="bt1-body-text">‘I didn’t use you.’ Jack scoffed at the idea. ‘You helped me. You have my gratitude.’</p>
				<p class="bt1-body-text">‘Your gratitude.’ It was Sarah’s turn to scoff. ‘So I am well rewarded, then.’</p>
				<p class="bt1-body-text">Jack scowled. ‘I would have hoped you would help me willingly.’</p>
				<p class="bt1-body-text">‘Then why grab my arm?’</p>
				<p class="bt1-body-text">‘I . . .’ Jack searched for the reason. In truth, he was not sure he trusted her, though he did not know why.</p>
				<p class="bt1-body-text">‘I understand.’ Her voice changed. ‘I don’t trust easily either.’</p>
				<p class="bt1-body-text">Jack looked at her sharply. ‘Who says I don’t trust you?’</p>
				<p class="bt1-body-text">‘Come on, Arthur. I am not a naïve little girl. You never speak of your past or your future. You make no reference to family or friends, nor do you seem to care that you have no one in your life save Ballard and that thug of a bodyguard. I see how alone you are. I saw it the first moment I clapped eyes on you.’ She stood and came closer to him, her fingers reaching out to run through his hair. ‘You are not alone any more.’</p>
				<p class="bt1-body-text">Jack said nothing. He could not form the words. His loneliness was ever-present. It had been that way since he had first taken an officer’s uniform from its peg and placed it on his shoulders. He refused to ever think of it, for if he did, he knew it would crush him.</p>
				<p class="bt1-body-text">‘I know what it is to be alone.’ Sarah spoke softly. She bent forward, laying her cheek against the top of his head. ‘My life before I met James was . . .’ She paused, and Jack felt her body tremble. He slid his hands up, placing them around her waist and holding her tight. ‘My life was different before.’ Sarah took a breath, holding it for several long seconds before she continued. ‘I do not like to think on it.’</p>
				<p class="bt1-body-text">She said nothing more. They stayed close together, each taking much from the contact.</p>
				<p class="bt1-body-text">‘Now you should go.’ Sarah pulled away, her hands clasped together in front of her waist.</p>
				<p class="bt1-body-text">Jack stood up. He looked at the woman in front of him. He had seen her vulnerability. It drew him to her. He felt more than lust, and the strength of the emotion shocked him.</p>
				<p class="bt1-body-text">‘Sarah . . .’</p>
				<p class="bt1-body-text">‘Hush.’ She stopped him by placing a finger on his lips. ‘We have said enough for one night. Take the information to Ballard. Do your duty. I am not going anywhere. I will be here.’</p>
				<p class="bt1-body-text">Jack knew that she was right. He had to deliver the information she had gleaned from Fetherstone. For he now had what he needed. He had found the spy.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../qzj5e1.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Praise</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Map – 19th Century Persia</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-18">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-19">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-20">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-21">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-22">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-23">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-24">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-25">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-26">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-27">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-28">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-29">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-30">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-31">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-32">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-33">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-34">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-35">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-36">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-37">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-38">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-39">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-40">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-41">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-42">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-43">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-44">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-45">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-46">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-47">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-48">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-49">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-50">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-51">Epilogue</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-52">Historical Note</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-53">Acknowledgments</a>
    </li>
    <li>
      <a href="part0056.html#toc_marker-54">Read Jack Lark: Rogue, out now</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0027.html" class="calibreAPrev">previous page</a>
    

    <a href="../../qzj5e1.html" class="calibreAHome"> start</a>

    
      <a href="part0029.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
