<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200242_EPUB-42.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../_ypqte.html">The Scarlet Thief (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0041.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0043.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200242_EPUB-42.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-42" class="awh1-artwork-head"><img class="image32" src="../images/00041.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">Captain Brewer raised his sword. His Grenadier Company had been hard hit that day. Not much more than half his men were still able to fight. But Brewer was confident the brigade still had enough fight in it to see off the Russian column. After all, they had all witnessed the way the battalion volleys had repelled the first Russian column. The bigger the column, the bigger the mess it would leave on the ground.</p>
				<p class="bt1-body-text">At first, Brewer did not hear Major Peacock’s panicked shouts. The noise coming from the advancing column assaulted his senses, the rhythmic pounding of the drums filling his eardrums. He only became aware that something was awry when his covering sergeant tugged urgently at his arm and pointed towards the major’s frantic activity.</p>
				<p class="bt1-body-text">‘What the blazes?’ Brewer could barely credit Peacock’s flustered warning. ‘They’re not French! The fool! Grenadiers, ignore him! Ignore him, I say. The man is deranged! Present!’</p>
				<p class="bt1-body-text">Brewer’s grenadiers hesitated. Peacock continued to scream at the battalion, his warning spreading uncertainty throughout the ranks. Other companies were lowering their rifles, their captains standing open-mouthed in astonishment, bewildered by the rapid change of events.</p>
				<p class="bt1-body-text">‘Take aim, damn your eyes. Those bastards are Russian! Take aim!’ Brewer exhorted his command.</p>
				<p class="bt1-body-text">Towards the centre of the battalion, puzzled fusilier officers were stepping forward to peer through telescopes or field glasses to confirm the identity of the soldiers. Powder smoke still billowed across the battlefield, obscuring portions of the column.</p>
				<p class="bt1-body-text">Brewer looked at it again, doubt beginning to eat at him. Maybe his eyes had deceived him. But no, he was certain the column was Russian.</p>
				<p class="bt1-body-text">Brewer swallowed the knot of fear that formed in his throat. If he was wrong then he was on the point of causing a terrible catastrophe. But to let the enemy close unchallenged would bring about even greater disaster.</p>
				<p class="bt1-body-text">‘Fire! Fire!’ Brewer abandoned the usual pattern of orders, desperate to get his men firing at the enemy. He frantically pulled his revolver from its holster and fired in the general direction of the column. ‘Fire!’</p>
				<p class="bt1-body-text">The column was far out of the revolver’s range and the single shot would not even reach the closest ranks, but it was not wasted. Its loud report secured his men’s attention and confirmed his orders.</p>
				<p class="bt1-body-text">‘Fire, damn you!’ Brewer fired his revolver a second time and the grenadiers responded.</p>
				<p class="bt1-body-text">They might as well have saved their powder for all the effect their volley had. A handful of men in the foremost rank of the ponderous column staggered and fell but the following ranks flowed over the fallen, their pace unfaltering. It would take more than one battered company to have any impact on the immense column.</p>
				<p class="bt1-body-text">‘You fool, Brewer!’ Peacock yanked at the reins of Morris’s charger which fought him at every turn. The horse was barely under Peacock’s control as it pranced towards the grenadier company on the battalion’s right flank. ‘They are the French, I tell you! The French! Don’t fire!’</p>
				<p class="bt1-body-text">Brewer glanced at his major and for a second he saw the panic in his eyes. He looked away in disgust and screamed at his men to reload faster.</p>
				<p class="bt1-body-text">Peacock was astonished at the look of contempt and fury in Brewer’s expression. He pulled the charger’s head back, bringing the horse to an abrupt halt, his bowels loosening with a terrible feeling of dread. He looked again at the massive column. It was close now. Dangerously close. And the identity of the soldiers was obvious. Peacock could see the individual faces of the men in the first rank. He could make out details of their uniforms. Thousands of Russian infantry were bearing down on the redcoats’ depleted formation.</p>
				<p class="bt1-body-text">‘Retreat! Retreat!’ Peacock’s panic was complete. His disastrous error overwhelmed what little sanity remained in his terrified mind. ‘Sound the retreat! Save yourselves! Retreat!’ Peacock was raging, his voice shrieking in panic. The huge horse beneath him responded to its rider’s terror. It reared back on to its hind feet, its huge hooves lashing furiously at the air. Peacock was thrown from the saddle and hit the ground hard. The violent impact silenced his terrified screams.</p>
				<p class="bt1-body-text">But the men had already started to respond, obeying the order without hesitation. The battalion’s buglers had changed their call, replacing the order to cease fire with the order to pull back.</p>
				<p class="bt1-body-text">The right-hand third of the British line dissolved. The panic was infectious; men elbowed and pushed at each other in their haste to get away.</p>
				<p class="bt1-body-text">On the left, the remaining two battalions of Codrington’s command watched in horror as the King’s Royal Fusiliers ran in panic. One-third of the line was in full retreat. The regular battalion volleys, which should already have been flensing the compacted ranks of the Russian column, had been replaced by an uncontrolled rout. It left Codrington and the commanders of the 19th and the 23rd little choice. Within moments of the first fusiliers breaking, the rest of the brigade ordered their own buglers to sound the call to retire.</p>
				<p class="bt1-body-text">The British line disintegrated and the remnants of Codrington’s brigade gave up the great redoubt which had been captured at such a terrible price.</p>
				<p class="bt1-body-text-1-full-out">Jack watched appalled as the rest of the battalion broke and ran. The Russians were being allowed to recapture the vital strongpoint without a fight. Jack would not let that happen, even if it meant the Light Company facing the Russian column alone.</p>
				<p class="bt1-body-text">‘Stay where you are! Don’t any bastard move!’</p>
				<p class="bt1-body-text">The Light Company froze, heeding their captain without question. The men’s faces betrayed their confusion and their fear. Yet they stayed in their ranks.</p>
				<p class="bt1-body-text">‘Sloames! What’s happening?’ Captain McCulloch ran towards the Light Company. His men were still in place but they were wavering. It would take only one man to join the mad rush and the rest of the company would be certain to follow.</p>
				<p class="bt1-body-text">‘Those are Russians!’ Jack waved his arm frantically at the monstrous column.</p>
				<p class="bt1-body-text">McCulloch understood in an instant. ‘Second Company, form line! Form line! Stay with me!’</p>
				<p class="bt1-body-text">It would take precious seconds for McCulloch to get his men back under full control. Jack knew he could not wait.</p>
				<p class="bt1-body-text">‘Light Company!’ His mouth felt terribly dry, his tongue cleaving to the roof of his mouth as he tried to shout. ‘Fire!’</p>
				<p class="bt1-body-text">His men heard him. As one, they pulled their triggers. The heavy Minié bullets wrought a horrible destruction on the unfortunate souls who were unlucky enough to be hit but it was no more than a pinprick on the immense body of approaching men.</p>
				<p class="bt1-body-text">‘Reload! Reload!’ Jack screamed at his men. His voice was drowned out by a volley from McCulloch’s company, sharply followed by one from Brewer’s Grenadier Company.</p>
				<p class="bt1-body-text">Three battered companies were all that remained of the battalion. Just over one hundred men standing against thousands, a boulder in the torrent of a flooding river.</p>
				<p class="bt1-body-text">Alone they were never going to have enough firepower to stop the Russian column. They were attempting to achieve the impossible. It was brave. It was magnificent. It was also foolish.</p>
				<p class="bt1-body-text">As the Light Company fired a second volley, the leading ranks of the Russian column raised their muskets. Only the first two ranks could bring their weapons to bear but that still meant hundreds of muskets were aimed at the three companies of redcoats.</p>
				<p class="bt1-body-text">‘Dear God! For what we are about to receive—’ Fusilier Dodds never completed his sentence, his words drowned out by the thunderclap of the Russians’ volley.</p>
				<p class="bt1-body-text">Dozens of men fell to the ground, their screams of agony loud in the ears of the redcoats left standing. Their line was torn into fragments by the single volley. To stand in the face of such might was futile.</p>
				<p class="bt1-body-text">To his amazement, Jack was unharmed. The musket balls had whipped past his head with a terrifying crack but somehow, his luck was still holding out. He knew he now had no choice but to retreat and save as many of his men as he could.</p>
				<p class="bt1-body-text">‘Fusiliers! Follow me!’ Jack roared at his men, pulling at those closest to him. ‘This way, boys! It’s time to go.’</p>
				<p class="bt1-body-text">Slowly the fusiliers understood. Jack pushed and shoved them towards the security of a fold in the ground three hundred yards to the north-west. The path Jack had chosen would take his men away from the rest of the British army but at least it would get them out of the path of the Russian column, and at that moment that was all that mattered.</p>
				<p class="bt1-body-text">‘McCulloch! This way!’ Jack yelled at his fellow captain. The two companies were now hopelessly mixed together, cohesion forgotten in the rush to get away.</p>
				<p class="bt1-body-text">Captain McCulloch elbowed his way over to Jack. McCulloch’s uniform bore witness to just how close the enemy’s fire had come to injuring him. One epaulet hung by a thread where a bullet had scored the shoulder of his scarlet coat and a single round hole had been punched through the centre of his shako, smack in the middle of the battalion’s brass badge.</p>
				<p class="bt1-body-text">‘Which way, Sloames?’</p>
				<p class="bt1-body-text">Jack pointed to the shallow depression he hoped would offer the battered fusiliers some sanctuary.</p>
				<p class="bt1-body-text">‘Do you see it? The fold in the ground. Take the men there. I’ll bring up the rear.’</p>
				<p class="bt1-body-text">McCulloch nodded. ‘Right. Fusiliers, follow me!’</p>
				<p class="bt1-body-text">McCulloch pushed through the crush of men, shouting at them to follow him and windmilling his arm to signal the direction. The men closest to him followed immediately, while Jack stayed where he was, pushing and shoving any who hesitated or dawdled.</p>
				<p class="bt1-body-text">Dodds came past, a fleeting grin acknowledging his captain. With him came Dawson, Taylor and Welsh Davies, followed by the resolute form of Sergeant Baker who still looked as crisp as if it was time for morning parade. Jack was delighted to see so many familiar faces still present.</p>
				<p class="bt1-body-text">Lieutenant Digby-Brown staggered past, blood trickling from a thin wound across his forehead. He was hatless, grimy, bloodied and bedraggled but alive. There was no sign of Lieutenant Thomas, or of Tommy Smith. Jack had to force his fears for their safety from his mind. His sole concern had to be for the fusiliers who had made it.</p>
				<p class="bt1-body-text">There was no sign of Brewer or any of his grenadiers and Jack hoped to God they had been able to get away. Of the rest of the battalion, there was no sign. The two companies had been abandoned.</p>
				<p class="bt1-body-text">When the last of his men had passed him, Jack turned to make his own way to the fold in the ground.</p>
				<p class="bt1-body-text">He never saw the rifle butt that smashed into the back of his head. He was unconscious before his body hit the ground.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../_ypqte.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Acknowledgements</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Chapter One</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter Two</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Tenty-eight</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Forty</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Epilogue</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Historical Note</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Read on for a Preview of The True Soldier</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0041.html" class="calibreAPrev">previous page</a>
    

    <a href="../../_ypqte.html" class="calibreAHome"> start</a>

    
      <a href="part0043.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
