<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200280_EPUB-20.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../yftltn.html">The Maharajah's General (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0019.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0021.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200280_EPUB-20.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-20" class="awh1-artwork-head1"><img class="image16" src="../images/00018.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">‘Is it over?’</p>
				<p class="ack-acknowledgement-text">Isabel’s voice was timid. She still lay on the floor and her hands lifted to cover her face as she saw the British officer turn, his face still twisted in the awful snarl of a killer, blood dripping from the tip of the bayonet that he had wielded with such dreadful purpose. He was a figure from a nightmare, and Isabel felt fear flutter in her heart. The presence of death was so close that she could smell the sour tang of spilt blood and the sickly-sweet aroma of torn flesh. He had killed the men in a matter of seconds, dispatching their souls in front of her terrified gaze. Now he came towards her, and for a moment she thought the dreadful gore-smeared blade would reach for her.</p>
				<p class="ack-acknowledgement-text">Then she saw his face change. The tension left his expression, a trace of the familiar rueful smile returning.</p>
				<p class="ack-acknowledgement-text">‘My apologies. I didn’t mean to push you so hard.’</p>
				<p class="ack-acknowledgement-text">He offered her his hand to help her to his feet. The change in his manner was sudden; from killer to civilised gentleman in a single heartbeat. Yet Isabel hesitated, her heart still pounding as she contemplated the strong hand reaching down to her. She saw the blood that was already turning black on his skin, the spilt blood of his enemies staining his flesh. She could only wonder at what stain such a fight would leave on his soul.</p>
				<p class="ack-acknowledgement-text">She saw the flicker of annoyance flitter across his face when she did not immediately respond to his command. Ignoring the fear that squirmed inside her, she obeyed, placing her much smaller hand into his and allowing herself to be pulled to her feet. As she stood, she looked into his dark grey eyes. They met her scrutiny calmly as they stood within inches of each other. She saw then the life in his soul, the burning spark that belied the suffering and the burden she sensed he carried. She had watched him kill and he had terrified her with his merciless skill. Yet she was drawn to him like no other man she had known.</p>
				<p class="ack-acknowledgement-text">He pulled back, as if suddenly awkward to be so close to her.</p>
				<p class="ack-acknowledgement-text">‘Go back to your father. Tell him we are safe.’ He gave the order brusquely, yet she heard his breath catch in his throat. She knew then that she wanted him. She wanted the British captain to be hers.</p>
				<p class="bt1-body-text-1-full-out">Jack slid over the barricade, keeping the musket with its bloody bayonet in his right hand. He stepped carefully over the bodies of his fallen enemies before striding forward with a confidence that belied the dread settling deep in his gut.</p>
				<p class="ack-acknowledgement-text">A cry of alarm greeted his sudden appearance. The nearest blue-coated lancer spied him and immediately wrenched at the reins of his horse that were bundled into his left hand. Jack saw the lance blade twitch as the cavalryman brought the point up before he jabbed his spurs into his mount’s sides, urging it into a quick walk.</p>
				<p class="ack-acknowledgement-text">More lancers turned to stare at the white-faced redcoat who had emerged unannounced into their midst. Many had already dismounted and were going through the laborious task of checking that the many fallen bodies were indeed dead. Those that were not were quickly dispatched with a blade across the throat. There was to be no mercy that day.</p>
				<p class="ack-acknowledgement-text">Jack’s mouth went dry as the lancer increased his speed. The razor-sharp tip of the lance was aimed directly at his heart. It never wavered, even as the horse’s gait changed from a trot to a canter. Jack knew then what terror the bandits must have experienced as the lancers burst from the night. He had felt it once before, and the memory of a gloomy Crimean field surged into his mind. The lancers that day had been Russian Cossacks, but his fear of the wicked weapon was the same.</p>
				<p class="ack-acknowledgement-text">He stood tall, letting his confidence show in his bearing. He would not betray fear. He was a British officer and he faced the lancer with all the dignity that his assumed rank bestowed. He threw the musket to one side and lifted both hands, holding them palms facing forward, showing the lancer that he presented no threat.</p>
				<p class="ack-acknowledgement-text">The lancer gave no sign of recognising the gesture. Jack saw his body tense as the horse increased speed, the rider bending slightly at the waist as he lifted his weight from the saddle.</p>
				<p class="ack-acknowledgement-text">‘Stop!’ Jack shouted the command. More heads turned at the foreign word, yet the lancer plunged on regardless. The horse’s hooves drummed into the ground, the rhythm that Jack had heard earlier now reserved for him alone. His body trembled as he saw the lance point rushing towards him, his flesh twitching in expectation, as though he could already feel the icy blade sinking in. Yet he refused to turn, to throw himself to safety. He stood in the rider’s path, as still as a training-ground mannequin, his pride his only defence.</p>
				<p class="ack-acknowledgement-text">The rhythmic pounding of the horse’s hooves stopped abruptly in a harsh jangle of tackle as the lancer reined in hard, bringing his mount to a noisy, breathless halt.</p>
				<p class="ack-acknowledgement-text">The two men stared at each other.</p>
				<p class="ack-acknowledgement-text">‘You are a brave man, Englishman.’</p>
				<p class="ack-acknowledgement-text">The voice was full of obvious humour, the words reverberating as the lancer chuckled.</p>
				<p class="ack-acknowledgement-text">Jack pulled hard at the flanks of his scarlet coat, straightening the thickly woven cloth that had ridden up as he had clambered over the barricade. It dawned on him that the lancer’s charge had been a test of his courage. He hoped he had passed. The point of the lance was no more than six inches away from his breast, the deadly blade held completely still. With heart still pounding, he looked up into the grinning face of the lancer.</p>
				<p class="ack-acknowledgement-text">‘And you are a fair rider. I commend your skill.’ He spoke the words as calmly as he could, ignoring the vicious point that trembled as its owner laughed aloud at Jack’s sangfroid.</p>
				<p class="ack-acknowledgement-text">The horseman pulled back the lance, turning to toss the long weapon to a bearer who had rushed up the moment he had stopped. For the first time Jack noticed that the man who had come so close to killing him was dressed differently from the rest of the blue-coated lancers. The white pouch-belt was missing, replaced instead with golden frogging that covered the front panel of the lancer’s blue coat. His shoulder boards carried thick bullion epaulets and his helmet was missing the thick white plume that Jack had noticed all the other lancers wearing.</p>
				<p class="ack-acknowledgement-text">‘Good morning, Englishman. I am the Maharajah of Sawadh, and you owe me your life.’</p>
				<p class="bt1-body-text-1-full-out">‘Did you see the bastard escape?’</p>
				<p class="ack-acknowledgement-text">‘I did.’</p>
				<p class="ack-acknowledgement-text">‘Damn it. Damn it all to hell!’ The Maharajah cursed as Jack gave him the news that the black-robed leader of the bandits had given him the slip. The ruler of Sawadh spoke fluent English without a trace of an accent, and he clearly relished the opportunity to converse with a British officer. The two men sat perched on the barricade that Jack had hidden behind, whilst the lancers went around the bloody business of clearing the hilltop of its gruesome debris.</p>
				<p class="ack-acknowledgement-text">The Maharajah pulled off his heavy helmet, wiping a hand across his forehead to slick away a thick band of sweat. To Jack’s surprise, he was completely hairless, his bald crown criss-crossed with a network of scars, a map of a life of hard-earned experience. The rest of his body was compact and powerful. He was clearly not the kind of ruler to live the decadent lifestyle of popular imagination. He was a warrior, and he carried himself with the calm poise of a man assured of his own power.</p>
				<p class="ack-acknowledgement-text">Jack sensed the Maharajah looking at him. He was finding it easy to like the foreign ruler, whose brown eyes twinkled with hidden mirth, as if he was party to a special joke that only he found amusing. He was an engaging man, and Jack had to remind himself to stay on his guard. The Maharajah could well soon be an enemy of the Crown, something Jack would do well to remember.</p>
				<p class="ack-acknowledgement-text">‘So what is your name, Englishman?’ The Maharajah’s gaze never left Jack’s as he spoke, as if he was searching the Englishman’s soul.</p>
				<p class="ack-acknowledgement-text">‘La— Danbury.’ The words stuck in Jack’s throat. For reasons he did not truly understand, he had been about to reveal his given name. The Maharajah’s scrutiny was unsettling, and even telling the habitual lie was made hard. Jack swallowed his anxiety and forced himself to concentrate. As intimate as the situation was, he had a notion that his life was still in danger.</p>
				<p class="ack-acknowledgement-text">His hesitation was not lost on the Maharajah. The warm smile faded as the ruler of Sawadh contemplated Jack’s stumble.</p>
				<p class="ack-acknowledgement-text">‘Well met, Captain Danbury.’ The smile returned with all its former force. ‘I had heard you had arrived. But I didn’t expect to meet you so soon. Welcome to Sawadh.’</p>
				<p class="ack-acknowledgement-text">‘Do you greet all your visitors so?’ The memory of the bitter fight with the bandits was still very real in Jack’s mind.</p>
				<p class="ack-acknowledgement-text">‘I’m truly sorry you were attacked. The Tiger and his filthy band have been a thorn in my side for too long.’</p>
				<p class="ack-acknowledgement-text">‘Not any more.’</p>
				<p class="ack-acknowledgement-text">‘We shall see. I’ll not rest until that bastard is dead.’ The Maharajah spat as he cursed the bandit leader.</p>
				<p class="ack-acknowledgement-text">‘I’ve a feeling he’ll be a hard man to run down.’</p>
				<p class="ack-acknowledgement-text">The Maharajah looked at Jack sharply. ‘Did you fight him?’</p>
				<p class="ack-acknowledgement-text">Jack met the unrelenting stare. ‘I did.’ He paused before continuing. ‘I lost.’</p>
				<p class="ack-acknowledgement-text">The Maharajah nodded in understanding. ‘He fights hard. The local people will tell you that he is invincible. That he is a prince of darkness that no mortal man can slay. Oh, how I look forward to proving them wrong. If he ever stays around long enough to fight me, he will die with my bloody lance rammed up his damned arse.’</p>
				<p class="ack-acknowledgement-text">Jack remembered the power in the black-robed leader’s blows, the speed with which he had thrust and parried. Mortal or not, he was a deadly adversary. ‘I wish you luck.’</p>
				<p class="ack-acknowledgement-text">‘Luck! I don’t need luck. Give me my lance and my horse and I’ll see him dead.’</p>
				<p class="ack-acknowledgement-text">The smile was gone, replaced instead with a look of iron determination. Jack shuddered involuntarily as he remembered facing the Maharajah’s charge. It would be a rare spectacle indeed if the two warriors ever did meet in combat.</p>
				<p class="ack-acknowledgement-text">‘So why today?’ Jack asked the question that had been in his mind ever since he had first spotted the organised attack on the bandits.</p>
				<p class="ack-acknowledgement-text">‘Because of you, of course.’ The Maharajah leant forward to clap his hand on Jack’s thigh. ‘I have been chasing the Tiger and his cursed band for weeks now. I would not have found him had he not attacked you. One of my patrols heard the gunfire and happily I was close enough to get here before the bastards disappeared again. It was good fortune for us both, I think. Besides, I couldn’t let some bloody bandits kill three British subjects. That damned man Proudfoot would’ve made too much of it.’</p>
				<p class="ack-acknowledgement-text">‘Then I must thank you.’</p>
				<p class="ack-acknowledgement-text">‘Yes, you must!’ The Maharajah laughed aloud at the notion. ‘You must sing my praises and tell that bloody man that he would do well to leave me alone. I suffer his presence, as I must. I have my father to thank for that. But he grows too puffed up with importance for his own good and for the good of you all. He works here. He does not rule.’</p>
				<p class="ack-acknowledgement-text">‘You should tell him that yourself. You are more than eloquent enough. You speak English as well as any of us.’</p>
				<p class="ack-acknowledgement-text">‘Well that’s the benefit of an English education, old man.’ The Maharajah was relaxed. If he found it odd to be sitting chatting whilst only a matter of yards away his troops were gathering up the remains of men who just an hour before had been living and breathing, it did not show in his bonhomie and easy manner. ‘My father insisted. He’d been forced to sign away some of his power to you damn British, so he wanted to make sure I was educated in your ways and in your language. Knowing your enemy, he called it, and I thank him daily for his foresight.’</p>
				<p class="ack-acknowledgement-text">The Maharajah turned away as two of his lancers approached. He slid off the barricade and issued a series of firm commands before turning back to face Jack once more.</p>
				<p class="ack-acknowledgement-text">‘We have captured more of the Tiger’s men, but there is no sign of the bastard himself. He has flown the coop.’ He smiled, relishing his use of English idiom.</p>
				<p class="ack-acknowledgement-text">More lancers appeared, dragging a motley collection of bedraggled bandits with them. The unfortunate souls had been well beaten, none able to hold their heads up or take much notice of their surroundings. The Maharajah issued further commands, his orders delivered with crisp authority. His men hurried to obey, immediately starting to strip the clothes from their bloodied captives.</p>
				<p class="ack-acknowledgement-text">‘What will happen to them?’ Jack asked as he slid from his perch, walking forward to stand at the Maharajah’s side. The two men watched in silence as the lancers quickly stripped the surviving bandits naked before dragging them off towards the village.</p>
				<p class="ack-acknowledgement-text">‘They will die.’ The Maharajah fixed Jack with a firm glare, daring him to disapprove.</p>
				<p class="ack-acknowledgement-text">‘How will they die?’ Jack was not easily cowed. Even by a king.</p>
				<p class="ack-acknowledgement-text">‘They will be taken to the village so that those poor wretches who survived their attentions can witness their fate. They will be tied to the ground and left as food for the wild dogs, but only after we have removed their manhood.’ The Maharajah searched Jack’s face for reaction.</p>
				<p class="ack-acknowledgement-text">Jack wrestled with his emotions, doing his best to keep his expression neutral. The transformation in the Maharajah was sudden and shocking. One moment he was a civilised gentleman, talking with all the ease of a member of a London club. The next he was a savage warrior king who could crook a single finger and order a man’s death in a heartbeat.</p>
				<p class="ack-acknowledgement-text">‘Do you disapprove, Danbury? Do you find my orders barbaric?’ The Maharajah dared Jack to speak out.</p>
				<p class="ack-acknowledgement-text">Jack did not disappoint him. ‘I do.’ He took a deep breath before speaking his mind, unable to stay silent. ‘If they deserve to die, then why submit them to such foul torture? I understand the need for death. But I don’t see the need for suffering.’</p>
				<p class="ack-acknowledgement-text">The Maharajah acknowledged his words with a nod. ‘It takes courage to gainsay a king, Danbury. You, at least, are not all powder and no balls, unlike so many of your damned countrymen.’ He sighed. ‘You know nothing of our ways, you damned English. You think you can apply your customs and your laws even though you are thousands of miles from home. I admire that. Your conceit and arrogance is something to respect. But it also makes you dangerous.’</p>
				<p class="ack-acknowledgement-text">‘We want what is best. For you and for your people.’</p>
				<p class="ack-acknowledgement-text">‘What is best? And who are you to say what is best? Who appointed the English as the arbitrator of what is right and what is wrong? Do we not know what is best for ourselves? Do I not know what is best for my people?’</p>
				<p class="ack-acknowledgement-text">The Maharajah shook his head to compose himself. His passion had risen as he had spoken, and it took a moment for him to bring his rising temper back under control.</p>
				<p class="ack-acknowledgement-text">‘These men are punished as an example to their kind and as a warning to their bastard leader. He will know what manner of man I am.’</p>
				<p class="ack-acknowledgement-text">‘He didn’t strike me as the kind of man who would be easily frightened.’ Jack dared to respond forcefully. ‘Not even by that.’</p>
				<p class="ack-acknowledgement-text">But the Maharajah did not seem the least bit offended. He smiled at Jack’s forthright opinion. ‘I will rid the world of the Tiger, Danbury. This is my land. It is my people who suffer at his hands. I will find him, I will kill him, and I will drag his carcass through every town and every village so that my people may know that I killed the man who could not be killed. They will see that their ruler still protects them and that my army still guards their future. They will see that it is I who rule here and not some white-faced strangers who think they can buy my kingdom and bind me up in all those bits of paper that they set such stock by. These are my people. You English would do well to remember that.’</p>
				<p class="ack-acknowledgement-text">Jack saw the passion on the Maharajah’s face as he spoke. He thought of Proudfoot and his plans to annex the state of Sawadh regardless of his legal right to do so. He knew then that any such plan would result in conflict; the Maharajah would never surrender the future of his kingdom without a fight. Dutton would get his wish.</p>
				<p class="ack-acknowledgement-text">If Proudfoot were intent on annexation, then there would surely be war in Sawadh.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../yftltn.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Dedication</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Acknowledgments</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Glossary</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Two</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Ten</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-52">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-53">Chapter Forty-five</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-54">Epilogue</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-55">Historical Note</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0019.html" class="calibreAPrev">previous page</a>
    

    <a href="../../yftltn.html" class="calibreAHome"> start</a>

    
      <a href="part0021.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
