<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472222701_EPUB-14.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../qzj5e1.html">The Devil's Assassin (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0013.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0015.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472222701_EPUB-14.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-13" class="toch-table-of-contents-main-head"><img class="image11" src="../images/00012.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="tsn-typesetter-designer-note">‘Oh God.’ Lieutenant Knightly contemplated the puddle of vomit on the ground between his legs. He was sitting in an alleyway a hundred yards from the main entrance to the Byculla Club. The two officers had not gone far, but Jack was relieved to have put some distance between himself and the uncompromising scrutiny of Major Ballard.</p>
				<p class="bt1-body-text">‘Sorry, Arthur.’</p>
				<p class="bt1-body-text">Jack barely heard Knightly’s mumbled apology. His mind was fully engaged on escaping Bombay. He knew he would have to leave the city that very night. He did not know where he would go, but that did not concern him. He had drifted for months. To do so again held no fears. He would see what life held for him elsewhere, either far away in Calcutta or even in Madras. He would learn from his mistakes.</p>
				<p class="bt1-body-text">‘You must regret ever befriending me.’ Knightly had lapsed into melancholy. ‘I’m a complete wastrel.’</p>
				<p class="bt1-body-text">Jack was barely listening. He had one pressing concern: he was penniless. He had been getting by on Knightly’s charity, the young officer accepting the story of a botched money draft without a murmur. Before he quit Bombay he would need to secure some funds. His thoughts turned to Abdul El-Amir and the Hotel Splendid. To the ruby he had abandoned when he fled the assassins. Its loss grated. And Abdul had tried to have him murdered. He owed the hotel owner a visit.</p>
				<p class="bt1-body-text">‘You must be sick of the sight of me.’ Knightly raised his hands to support the weight of his head. ‘<span class="bt1-body-text-1-italic">I’m</span> sick of the sight of me.’</p>
				<p class="bt1-body-text">Jack wondered where Abdul kept his valuables. He was certain it had to be in the office where the hotel’s owner hid from his guests. He was no expert burglar, but he could think of half a dozen ways he could sneak into the hotel unnoticed. Once inside, he would make his way to the office and see if he could retrieve the ruby. If he managed to find other valuables, or even some ready money, he would feel no qualms in taking them too. It would be a fitting revenge.</p>
				<p class="bt1-body-text">‘You’re not even listening to me,’ Knightly accused in a voice laced with self-pity.</p>
				<p class="bt1-body-text">‘What’s that?’ Jack looked down at the pathetic sight. Vomit had splattered the riding boots Knightly insisted on wearing even though he rarely rode in the cramped confines of the city, and he stank, the sour stench of vomit catching in Jack’s throat.</p>
				<p class="bt1-body-text">‘I sicken you. I can see it in your eyes.’ Knightly was wallowing in his misery. ‘I need a bloody drink.’</p>
				<p class="bt1-body-text">‘No. You need to stop pissing around and go to your battalion,’ Jack growled, his patience wearing thin.</p>
				<p class="bt1-body-text">Knightly recoiled at the fierce words. ‘You sound like my father.’</p>
				<p class="bt1-body-text">‘Then stop behaving like a damn child.’ Jack’s veneer was cracking. ‘You’re an officer. You should start acting like one.’</p>
				<p class="bt1-body-text">Knightly fixed Jack with a look of abject misery before he bent his head and heaved what remained in his guts on to the ground. When he looked up again, his face was red and blotchy, thick strands of saliva gumming his mouth. ‘Help me, Arthur. Please don’t scold me,’ he groaned.</p>
				<p class="bt1-body-text">Jack was spared answering the pitiful plea as a couple walked past the end of the alleyway. His heart fell when they stopped and peered into the darkness, the sight of the two British officers attracting their attention.</p>
				<p class="bt1-body-text">‘You there! That man there.’ The booming voice of Colonel Draper echoed down the confines of the alley. ‘Make yourself known.’ The colonel’s hand went to the hilt of his sword.</p>
				<p class="bt1-body-text">‘It is Lieutenant Fenris, sir. Lieutenant Knightly has been taken ill.’</p>
				<p class="bt1-body-text">Jack saw the senior officer hesitate, clearly torn between the need to protect his spouse from the sight of a drunken officer and his duty to address the needs of one of his subalterns. After a moment’s delay, Draper led his wife into the alley. Even in the gloom, Jack could see the disgust etched on her face. He watched her closely as they approached, and smiled as her nose twitched in distaste.</p>
				<p class="bt1-body-text">‘Lieutenant Knightly, this is badly done. Badly done indeed.’ Draper patted his wife’s arm to reassure her as he addressed his errant lieutenant.</p>
				<p class="bt1-body-text">Knightly lifted his head and saw his colonel looming over him. ‘Dear Lord.’</p>
				<p class="bt1-body-text">‘Dear Lord indeed.’ Draper was clearly fighting to control his temper. Jack was certain that only the presence of his wife was preventing a violent tongue-lashing from being brought down on the head of the hapless lieutenant. ‘You will report to me in the morning, Mr Knightly. I am going to say my goodbyes to the battalion before I take up a staff appointment here in Bombay, and I insist that you join me so that I can deliver you safely to Major Sterling, who will be commanding the regiment during my absence. If you fail to do so, I shall order you to be immediately cashiered and your commission to be sold. Is that clear?’</p>
				<p class="bt1-body-text">Knightly’s head moved in an approximation of a nod.</p>
				<p class="bt1-body-text">Whilst the colonel addressed himself to dealing with Knightly, Jack was carefully inspecting Draper’s wife. Sarah Draper was clearly several years younger than her husband. She was far prettier than he had first thought, with slim, elegant features that had been delicately emphasised by a subtle application of make-up. Her nose was a little crooked, but it only served to emphasise the perfect symmetry of the rest of her face. Yet it was her mouth that entranced him most. Her lips were thin but shaped like those of a porcelain doll. They were perfect, and he imagined what it would be like to kiss her.</p>
				<p class="bt1-body-text">As he studied her, he saw her returning his scrutiny. Her eyes were dark blue, and Jack saw the sparkle of life deep within them. He matched her calm appraisal, feeling the flicker of desire deep within. They stared at one another for several long moments before Jack forced himself to tear his eyes away, lest Draper discover him staring at his wife.</p>
				<p class="bt1-body-text">‘Mr Fenris, I would be grateful if you would escort Mr Knightly to his accommodation.’</p>
				<p class="bt1-body-text">‘Certainly, sir.’ Jack’s voice was husky. He glanced back at Sarah Draper and saw her mocking smile. She had recognised his desire.</p>
				<p class="bt1-body-text">‘I am obliged to you.’ Draper’s voice was clipped and he showed no sign of being aware of Jack’s reaction to his wife. ‘I shall write to your colonel and commend your sensible actions. I only wish my own lieutenant could conduct himself with similar decorum.’</p>
				<p class="bt1-body-text">Jack did his best to hide his amusement at the remark. He wondered what the 24th’s colonel would make of a letter praising an officer who had vanished several months earlier. Out of the corner of his eye he noted the impish grin that had appeared on Sarah Draper’s face as she listened to her husband’s pompous gratitude. He was clearly not alone in finding entertainment in the late-night encounter. He risked a final glance in her direction and felt a warm flush as he saw that she was staring straight at him. For the first time, the icy facade slipped and she smiled before looking away, fixing her gaze on her husband and dipping her head demurely.</p>
				<p class="bt1-body-text">Jack stood silent, watching as Draper escorted his wife back down the alley. He stared for a long time at the tight behind moving under the folds of the soft blue dress, wondering if he was reading too much into the silent exchanges. Then with a sigh he forced the matter from his mind and reluctantly turned his attention towards the vomit-smeared lieutenant he had befriended. But even as he heaved Knightly to his feet, his mind savoured the image of the colonel’s wife. He would dearly like to meet Sarah Draper under other, more intimate circumstances.</p>
				<p class="bt1-body-text">Tucking his arm around the bedraggled Knightly, he began the long walk back to their hotel, forcing the lustful thoughts from his mind. For better or worse, his time in Bombay was done. As tantalising as Sarah Draper might be, he knew it was nothing more than a passing fancy, one he would have to ignore if he were to ensure his own safety. He could not afford to stay in the city in the hope of seeing her again, not now that he sensed Ballard had scented his trail of lies. There was one last act he wanted to perform, Then it would be time to quit Bombay and try his luck elsewhere.</p>
				<p class="bt1-body-text-1-full-out">The Hotel Splendid was still in the quiet hours before dawn. The trellis was old, and it creaked as Jack gingerly placed his full weight on its lowest spur. A thousand insects erupted from the dense foliage of the ancient jasmine that had made the rickety structure its home, and he paused, letting the cloud disperse, his mouth and eyes screwed tight shut lest they offer an attractive oasis to any of the multitude of flying creatures.</p>
				<p class="bt1-body-text">When the crowd of insects had passed, he took in a last deep breath before trusting his luck once again on the aged wood that reached up to the single window high above him. He had spent the day preparing for the expedition as best he could. Knightly had wisely obeyed his colonel and was now finally on his way to join his regiment, so at least Jack had been able to get ready without having to explain himself to his friend. Knightly had very kindly paid for his rooms for another few days, allowing Jack to stay on a little longer if he so wished. But Jack intended to be on his way long before he was forced to leave the comfortable suite. There was just time to secure his own funds and restore his independence before he disappeared.</p>
				<p class="bt1-body-text">His lieutenant’s uniform was not perhaps the most common dress for a burglar, but Jack wanted the security of his officer’s rank should he be discovered in or around the hotel. He had left his revolver behind, trusting to the talwar hanging at his hip and a stout cudgel that he had bought that day in the bazaar. He did not expect to have to fight, but he could not have considered risking the escapade without his sword. He would have felt more naked without the sharpened blade than he had facing the would-be assassins wearing nothing at all.</p>
				<p class="bt1-body-text">The spars of the trellis creaked alarmingly as he scaled the wall. The scent of the jasmine was making his eyes water, the pungent aroma catching at the back of this throat. The heady smell tickled his nostrils and he felt the beginnings of a sneeze. He stopped climbing and tried to stifle the sensation. The situation suddenly felt absurd, and he had to control the urge to laugh out loud, the sheer folly of the midnight escapade catching up with him. He had imagined his career as an impostor ending in so many ways. Being caught sneezing halfway up a trellis whilst trying to burgle a fourth-rate hotel had not been one of them.</p>
				<p class="bt1-body-text">A sharp splinter scratched at his hand and concentrated his mind on his task. He decided it was time to gamble, and ignoring the ominous cracks as his weight snapped some of the bars of the old wood, he tried to move faster, reaching up as far as he could, ignoring the burning in his arms as he hauled himself up the wall.</p>
				<p class="bt1-body-text">Handhold by handhold he clawed his way up to the single window that overlooked the alleyway. When he reached the stone lintel, he hauled himself up the last few feet, his hands taking a firm grip on the cold stone, and with a final effort heaved his backside on to the ledge, where he sat sucking at the cut on his palm and calming his ragged breathing. The alleyway beneath him looked no more than a few feet away, and he could barely credit the effort he had expended to climb such a short distance. The weeks in Bombay had softened him.</p>
				<p class="bt1-body-text">Carefully he pushed back the simple grass screen that was all that covered the opening. The landing inside was dark, but enough moonlight was filtering through other grass-screened windows to let him see. All was quiet. He slid himself inside, taking care to land gently on the tiled floor. He made sure to shut the tattie, ignoring the temptation to wipe away the sticky red handprint he had left on the stone ledge. There was no time to dally.</p>
				<p class="bt1-body-text">He walked swiftly through the sleeping hotel. He had no need to be silent: there were always people walking around the hotel, even in the depths of the night, and it was unlikely that any of the night servants would challenge someone they would naturally assume was a guest.</p>
				<p class="bt1-body-text">He took the stairs two at a time, his boots loud on the whitewashed stone. The inner depths of the hotel were cool after the exertion of his climb, but he was still forced to wipe away the thick band of sweat that covered his face. He wondered again at the sanity of his decision to add burglary to his list of crimes. He had known a few thieves in his time – his first orderly had been a regular Jack Sheppard – but he had never expected to be forced into the role himself.</p>
				<p class="bt1-body-text">A servant bustled past carrying a bucket that stank of fresh piss. Jack simply ignored his presence and kept walking, careful not to even glance at the young boy, who scurried on as quickly as he could, his attention focused on not spilling any of the noxious liquid he carried rather than on the guest wandering the hotel in the small hours of the night.</p>
				<p class="bt1-body-text">It did not take long to reach Abdul’s private sanctum. Jack remembered that there was a small anteroom outside the office itself. He paused, taking a moment to compose his thoughts and to steel his mind as he prepared to force his way inside, then tried the handle of the outer door.</p>
				<p class="bt1-body-text">It was locked. Had he been a proper burglar, he would have known how to pick the lock, a basic requirement for any practitioner of the pannie. It was the sensible course of action, the need to remain quiet of more importance now that he was out of the areas where the hotel’s guests would be expected to reside. He turned the handle a few more times in the vague hope that somehow the lock would magically decide to yield. It did not.</p>
				<p class="bt1-body-text">He stepped back. There was only one solution. It was time for the tried and tested method of entry employed by the British redcoats. He lifted his leg, aiming the heel of his boot at the space just above the lock, then took a deep breath and slammed his foot against the wood.</p>
				<p class="bt1-body-text">The door crashed back on its hinges. Jack was in the room before it had stopped moving. He saw the scuffed and battered desk where Abdul’s clerk worked for more than a dozen hours a day, but he had no interest in the neat, copperplate-filled ledgers littering the desk. He looked up and saw the door to Abdul’s private room, and made straight for it.</p>
				<p class="bt1-body-text">It was time to retrieve what was his.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../qzj5e1.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Praise</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Map – 19th Century Persia</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-18">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-19">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-20">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-21">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-22">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-23">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-24">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-25">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-26">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-27">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-28">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-29">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-30">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-31">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-32">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-33">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-34">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-35">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-36">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-37">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-38">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-39">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-40">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-41">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-42">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-43">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-44">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-45">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-46">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-47">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-48">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-49">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-50">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-51">Epilogue</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-52">Historical Note</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-53">Acknowledgments</a>
    </li>
    <li>
      <a href="part0056.html#toc_marker-54">Read Jack Lark: Rogue, out now</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0013.html" class="calibreAPrev">previous page</a>
    

    <a href="../../qzj5e1.html" class="calibreAHome"> start</a>

    
      <a href="part0015.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
