<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200242_EPUB-34.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../_ypqte.html">The Scarlet Thief (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0033.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0035.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200242_EPUB-34.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-34" class="awh1-artwork-head"><img class="image25" src="../images/00033.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">The Alma was a river in name only. In most places, the local Tartar children could happily splash across from bank to bank, their passage barely troubled by the shallow water. In places, the river bent and twisted back on itself, forming deeper, more forbidding eddies and dark pools but even the laziest of peasants could divert around them with little effort. What minor inconvenience the river created could be avoided altogether via a single stone bridge that had stood for centuries. The old post road it carried made its way through the centre of the valley, heading, in a roundabout way, towards the great naval base at Sevastopol. The local Tartars only bothered to use the bridge when they needed to transport the harvest in their rickety arabas carts to the larger towns.</p>
				<p class="bt1-body-text">Two small villages called the river valley home. The inhabitants of Burliuk and Almatamack spent most of their lives within the confines of the valley, the only visitor to their remote homes the local mullah who taught the children the stories of the Koran, and who fought to save their parents’ souls from the few temptations of the flesh that could be found in such remote villages.</p>
				<p class="bt1-body-text">Away from the river, the ground was barren, the wide expanse of grasslands left uncultivated, good for little more than grazing for the Tartars’ flocks of sheep and herds of cattle. Scattered across the vast grassland stood ancient piles of stones. Local legend spoke of hidden treasure buried under the carefully constructed piles yet no villager had ever summoned enough courage to disturb the work of their ancestors. A terrible black horse was said to guard the treasure, keeping it safe through the centuries.</p>
				<p class="bt1-body-text">The legend of the black horse could not keep the valley safe from the violation of war. The bridge and shallow river were of enough strategic value to tempt the Russian army away from the secure defences of Sevastopol, thrusting thousands of soldiers into the lives of the local Tartars. They found themselves evicted from their villages, their herds requisitioned to feed the gargantuan host, their vineyards and orchards plundered. The lives of a few hundred Tartar peasants were of no consequence in the mighty struggle to secure victory over the invading armies of the British, French and Turkish governments.</p>
				<p class="bt1-body-text">For Prince Menshikov, the Russian commander, the terrain around the Alma River was a defender’s paradise. To the west, where the land met the sea, huge cliffs soared up from the coast, one hundred and fifty feet high and thought to be impassable to the invading army and most especially to their cumbersome artillery. These massive natural buttresses gave way to a long ridge that stretched inland for many miles along the southern bank of the Alma before it abruptly terminated in a high pinnacle that jutted out into the open plains to the east.</p>
				<p class="bt1-body-text">The ridge’s rugged slopes led down to the southern bank of the Alma. Here the riverbank was at its highest and most formidable, in many places several feet above the slow-moving water. The natural folds in the ground along the slope formed a succession of natural terraces which were perfect for positioning defensive infantry and artillery.</p>
				<p class="bt1-body-text">Opposite, on the north side of the river, the ground was open and sloped gently down to the Alma. It offered no shelter and no cover. It was an attacker’s nightmare.</p>
				<p class="bt1-body-text">Menshikov would not, however, rely on the terrain alone to win him victory. The allied army might have been allowed to land on Rusian soil unmolested, but their slow advance had given the Russian general ample time in which to pick his ground and strengthen the position he had chosen. The two villages were cleared, the houses and mud walls demolished, denying the attackers cover. Huge bundles of straw were positioned in the ruins, ready to be fired to hamper any troops advancing through the debris. All cover near the riverbanks was uprooted or burnt, the many trees cut down and taken away. The enemy was to be given nowhere to hide, no place where they could shelter from the lethal storm that Menshikov intended to bring down against them.</p>
				<p class="bt1-body-text">Artillery officers paced the distances and measured ranges. They laid down markers for the gunners, calculated overlapping fields of fire to maximise the power of the massed artillery batteries. The Russians applied the rules of mathematics and physics to the business of administering death. Nothing would be left to chance.</p>
				<p class="bt1-body-text">Two great earthworks were constructed on the heights on the Russians’ side of the river. The largest, the great redoubt, had a breastwork four feet high fashioned from huge tree trunks. Hundreds of sandbags and wide wicker gabions packed full of earth would protect the defenders from the enemy’s fire. Crude embrasures had been hacked out of the southern face, creating openings for a dozen guns which could be brought to bear on any attacker coming across the river. Further to the east, a second redoubt was constructed to protect the open flank, with another battery of guns sited behind its protective barricade.</p>
				<p class="bt1-body-text">Menshikov’s chosen position ran for six miles from the coast to the smaller redoubt. Forty thousand Russian soldiers, hundreds of pieces of artillery and thousands of cavalry waited for the invading army to arrive. Menshikov was confident. The invaders could send wave after wave of men to try to breach his mighty defences. None would get through. The British, French and Turkish soldiers would be massacred.</p>
				<p class="bt1-body-text">Menshikov boasted to all who would listen that he could not be defeated. Such was his confidence that the people of Sevastopol journeyed along the coast to watch the might of Britain and France waste its strength against Menshikov’s defences. The invasion was reduced to entertainment, a pleasing diversion for the good ladies and gentlemen of Sevastopol to observe in safety.</p>
				<p class="bt1-body-text-1-full-out">‘Good Lord, now why are we stopping?’</p>
				<p class="bt1-body-text">‘The good Lord is the best person to ask, Mr Digby-Brown. Perhaps Raglan thinks we are too fatigued to continue. The man is a damn fool!’ Jack growled in frustration as the fusiliers were ordered to come to yet another maddening halt.</p>
				<p class="bt1-body-text">‘Sir!’</p>
				<p class="bt1-body-text">Jack laughed at Digby-Brown’s reaction. ‘I apologise. I really should learn to moderate my language.’</p>
				<p class="bt1-body-text">‘Thank you, sir.’</p>
				<p class="bt1-body-text">‘But even you, Mr Digby-Brown, must admit that this is yet another total balls-up!’</p>
				<p class="bt1-body-text">‘Yes, sir.’</p>
				<p class="bt1-body-text">Jack smiled and clapped his subaltern on the shoulder. ‘Good fellow. We’ll make a radical of you yet.’</p>
				<p class="bt1-body-text">‘I hope not, sir.’</p>
				<p class="bt1-body-text">Lieutenant Thomas made his way over to join them. All along the column bad-tempered officers gathered to discuss this latest infuriating delay. The King’s Royal Fusiliers marched in the centre of the Light Division’s column, too far from the front to benefit from the clean breeze that swept across open plain from the sea only a few miles to the west. Instead, they were forced to march in the midst of the choking cloud of dust that was kicked up by the boots of those further ahead. Their throats were clogged with dust, they were thirsty and their tempers were fraying at the exasperating regularity with which the column came to a halt.</p>
				<p class="bt1-body-text">The King’s Royal Fusiliers served the 1st Fusilier Brigade alongside the 7th Royal Fusiliers and the 23rd Royal Welsh Fusiliers. The brigade was commanded by Major General William Codrington, and it was one of the two brigades that formed the Light Division. Raglan’s plan was simple. Four divisions would attack the Russian position. They would cross the river directly in front of the huge Russian army, precisely where they were strongest. The divisions would form up in two long lines stretching from west to east. The Light Division would fight on the left of the front line, with the 2nd Division under Major General de Lacy Evans on the right. The 1st Division, commanded by the queen’s cousin, the Duke of Cambridge, would follow the Light Division, while the 3rd Division, commanded by Sir Richard England, would be behind the 2nd Division.</p>
				<p class="bt1-body-text">Four Divisions. Twenty-five battalions. Nigh on twenty thousand redcoats.</p>
				<p class="bt1-body-text-1-full-out">The Light Company’s three officers stood together in companionable silence as each contemplated the enemy force. The fusiliers had been ordered to halt yet again on a low-crested rise two miles short of the Alma River. The raised ground gave them a clear view of the Russian position. It stretched for miles across the higher ground to the south of the Alma. Even from such a distance the difficulties facing the attackers were obvious. The redcoats would be marching into a corridor of death.</p>
				<p class="bt1-body-text">‘I must say, there does seem to be an awful lot of them.’ Lieutenant Thomas broke the silence, his face pale, his voice cracking as he spoke, the squeak of adolescence betraying his youth.</p>
				<p class="bt1-body-text">Jack looked at his junior officer’s wan expression and wondered what kind of country took their young boys from school and sent them to fight thousands of miles from home.</p>
				<p class="bt1-body-text">‘Don’t concern yourself about them, Thomas. Our job is to look after the men. Let the generals worry about the enemy.’</p>
				<p class="bt1-body-text">‘Besides, we outnumber them,’ Digby-Brown sought to add to his captain’s reassurance. ‘We have to share those Russkis with the French and the Turks. I hope there are enough to go round.’</p>
				<p class="bt1-body-text">Jack turned away from the formidable Russian host so that he was facing his two subalterns. ‘Today is not about fulfilling any childish dreams you may have of chasing glory. I want you to concentrate on bringing as many of our men out of here as possible. And whatever we face, we face it together. As a company. Do you understand?’</p>
				<p class="bt1-body-text">‘Yes, sir,’ both subalterns replied firmly and in unison.</p>
				<p class="bt1-body-text">‘Good. I’m glad you have learnt not to mumble, Mr Thomas. It’s nice to see you making progress at last.’</p>
				<p class="bt1-body-text">The sound of artillery opening fire echoed along the valley. Far away on the right flank puffs of smoke rose into the still air. The French army had begun its attack in front of the cliffs that formed Menshikov’s left flank. The cliffs were a formidable obstacle and Menshikov had decided that only a thin screen of soldiers was needed to keep the allies from turning the flank. The bulk of the Russian artillery and infantry was in the centre and on the right flank, where the British infantry waited to begin their own assault.</p>
				<p class="bt1-body-text">Lieutenant Flowers walked his horse over to join the Light Company officers. As one of the battalion’s field officers, Flowers was required to be mounted, a rather dubious honour since it made him an ideal target for Russian sharpshooters.</p>
				<p class="bt1-body-text">Flowers sat his horse well but the bony nag he was riding rather spoiled his fine appearance. The horse stood several hands too small to suit the adjutant’s tall frame, its threadbare coat and prominent ribs testifying to its poor condition.</p>
				<p class="bt1-body-text">‘Goodness me, I’m glad the French are attacking those cliffs and not us,’ Flowers observed. ‘That they think they can get up there astonishes me.’</p>
				<p class="bt1-body-text">Jack was pleased to see the adjutant. His two subalterns needed distraction. ‘It wouldn’t surprise me if the damn Frogs believe they can win the battle all on their own,’ he said.</p>
				<p class="bt1-body-text">‘Still, attacking the flanks, however pointless it may appear, suggests strategy. That perhaps their general has actually thought up a plan.’ Flowers tugged at the reins of his horse which had lowered its head to crop at the tufts of grass around its hooves.</p>
				<p class="bt1-body-text">‘Are you implying that Lord Raglan has no plan?’ Jack replied. ‘That his decision to commit us to a frontal attack against prepared defences after advancing over nearly a mile of open, coverless terrain is somehow lacking in forethought?’</p>
				<p class="bt1-body-text">Flowers yanked hard on the reins of his recalcitrant steed. The horse was determined to feast on the moist grass. ‘I’m sure his thorough reconnaissance led him to conclude there was no other course of action open to him.’</p>
				<p class="bt1-body-text">‘His reconnaissance?’ Jack raised his eyebrows. ‘I must have missed that. Did either of you two happen to notice any cavalrymen out in front?’</p>
				<p class="bt1-body-text">‘No, sir.’</p>
				<p class="bt1-body-text">An uncomfortable silence followed. In Wellington’s time, the British exploring officers had been lauded throughout the army. The intelligence they provided had been vital to the duke’s preparations. For Raglan to have chosen not to send out similar outriders was an appalling indictment of his ability as a general.</p>
				<p class="bt1-body-text">Flowers tried to lighten the sombre mood. ‘Well, I think I can say my duty to spread gloom and despair is complete. Should you need any more of my encouraging words then please do not hesitate to summon me.’</p>
				<p class="bt1-body-text">‘I think we’ve had all of the encouragement we can stomach for the moment.’ Jack smiled despite the censure in his words, and he was glad to see his two subalterns relax a little.</p>
				<p class="bt1-body-text">Flowers turned his head towards the distant sounds of battle which had increased in tempo. ‘Perhaps, as you suggested, the French will win the day without our help.’</p>
				<p class="bt1-body-text">‘Well, that would be nice.’ As Jack replied, the bugles sounded and the drums rattled. ‘But I rather fancy Raglan has other ideas.’</p>
				<p class="bt1-body-text">  All along the British line, the redcoats stirred into life once again. The battalions were ordered to form line. Staff officers swarmed around the column as it slowly broke up, and in the measured step of the parade ground the men moved into the new formation to the beat of the drums. The order came to jettison knapsacks, final confirmation that the wait was nearly over.</p>
				<p class="bt1-body-text">An uneasy lull fell over the troops. The bugles and drums fell silent. The shouts of the sergeants and corporals ceased now that the men stood in line, their spacings regular, the files ordered. The staff officers rode back to their commanders, their orders delivered.</p>
				<p class="bt1-body-text">The King’s Royal Fusiliers stood in the centre of the Light Division, the 23rd Royal Welch to their left, the 7th Fusiliers to their right.</p>
				<p class="bt1-body-text">‘King’s Royal Fusiliers! Prepare to load!’ thundered the battalion sergeant major’s voice, dispelling the temporary hush. ‘Load!’</p>
				<p class="bt1-body-text">The waiting was over.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../_ypqte.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Acknowledgements</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Chapter One</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter Two</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Tenty-eight</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Forty</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Epilogue</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Historical Note</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Read on for a Preview of The True Soldier</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0033.html" class="calibreAPrev">previous page</a>
    

    <a href="../../_ypqte.html" class="calibreAHome"> start</a>

    
      <a href="part0035.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
