<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472222701_EPUB-37.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../qzj5e1.html">The Devil's Assassin (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0036.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0038.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472222701_EPUB-37.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-35" class="toch-table-of-contents-main-head"><img class="image33" src="../images/00035.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="tsn-typesetter-designer-note">‘A door?’</p>
				<p class="bt1-body-text">‘I’m not jesting, I swear.’</p>
				<p class="bt1-body-text">‘Why would anyone think a door posed a threat?’ Ballard steepled his fingers and contemplated the outrageous tale.</p>
				<p class="bt1-body-text">Jack had sought out his former commander and had discovered him in a corner of Stalker’s operations tent, half hidden behind a stack of paperwork. He had greeted Ballard with the tale of a vedette from the Poona Horse that had nearly set the whole camp to alarm when one of their nervous troopers mistook a discarded door as an enemy about to attack. It made for a better tale than the one about a foolish cavalry officer who had come close to charging headlong into a vedette from his own side.</p>
				<p class="bt1-body-text">‘It was pitch black.’ He sighed as he was forced to explain the story, quite spoiling its effect. ‘They couldn’t see what it was. God, you do know how to suck the life out of a tale. It was meant to be amusing.’</p>
				<p class="bt1-body-text">‘Still.’ Ballard shook his head. He was obviously not convinced that Jack’s story was true, and he clearly found nothing remotely humorous in a tale of such rank incompetence. ‘Not even I would think of a door as a threat.’</p>
				<p class="bt1-body-text">Jack sighed at the major’s ability to pick the bones out of everything he heard. He had hoped the light-hearted story would put a smile on Ballard’s face, but he had been disappointed.</p>
				<p class="bt1-body-text">‘I take it things haven’t improved here, then?’ He pulled over a camp chair and sat down heavily. ‘Is it bad?’</p>
				<p class="bt1-body-text">‘Bad?’ Ballard tasted the bland word; it was sour. ‘It’s not bad. It’s bloody awful. They don’t even invite me in when Fetherstone arrives to deliver his reports. They’ve cut me dead.’</p>
				<p class="bt1-body-text">‘But you are still called on to advise on the enemy’s movements?’</p>
				<p class="bt1-body-text">‘What enemy! The buggers appear to have disappeared. They are hiding up in the hills daring us to attack them.’</p>
				<p class="bt1-body-text">‘Will we?’ Jack was all ears. Now that he was back at the army’s sharp end, he was keen to know if he faced a fight.</p>
				<p class="bt1-body-text">‘No. That much I do know.’ Ballard tossed his steel pen to one side and pushed his chair back. ‘We are going back to Bushire. The orders are being drafted even as we speak. We will march tomorrow, taking what supplies we can. The rest will be blown to high heaven to deny it to the enemy.’</p>
				<p class="bt1-body-text">‘So we scurry back to Bushire with our tails between our legs.’</p>
				<p class="bt1-body-text">‘Nonsense!’ Ballard stood up and grabbed his cap from the corner of his desk. In camp, the officers wore their undress uniform, which meant that the two officers could forgo the heavy busby that made the hussars so distinctive. The small light cap with its scarlet top was much more comfortable for daily wear. The busby would only be worn if they went back into action, something that seemed to have become a great deal less likely now that the Persian general had retreated into the hills.</p>
				<p class="bt1-body-text">‘I’ve seen Outram’s dispatch.’ Ballard stood beside his desk, as if reluctant to leave the reports he had been working on. ‘This has been a glorious expedition that has put a serious dent in our enemy’s ambition to counter our presence here. It is a success, Jack. A resounding success.’ He closed his eyes, as if in sudden pain. When he opened them again, he fixed Jack with a hard, flat stare. ‘Come on. Let’s go and find a drink. I need some fresh air.’</p>
				<p class="bt1-body-text">The two officers made their way out of the bell tent that was the centre of Stalker’s divisional operations. Outside, the early-morning light was warming away the chill of the night and the army was waking to a day of hard toil as they prepared to march back to Bushire. If Ballard was indeed correct, the next few hours would be spent loading whatever provisions they could on to the collection of mismatched carts and wagons that was all the commissariat could find in the local villages. The infantry would be pressed into service as temporary porters, and for the first time Jack was glad that he now served in a cavalry regiment.</p>
				<p class="bt1-body-text">‘You understand this spy business is not finished.’ Ballard opened the conversation as they made their way from the bustling encampment and headed towards the major’s private tent. ‘I didn’t want to talk of it back there. There are too many beady eyes and eager ears.’</p>
				<p class="bt1-body-text">‘I thought it had all been passed to Fetherstone.’ Jack was wary in the face of Ballard’s statement. The commander of the intelligence department had a worrying intensity about him. Jack had been in the army long enough to know that was never a good sign in a senior officer.</p>
				<p class="bt1-body-text">‘And what if it has?’ Ballard was gruff as Jack was quick to remind him of the shame of their failure.</p>
				<p class="bt1-body-text">‘Do you think it wise to become involved in something that no longer concerns you?’ Jack asked the question pointedly. He wanted no part in the scheme he sensed Ballard was dreaming up.</p>
				<p class="bt1-body-text">‘Of course it still damn well concerns me.’ Ballard shook his head as Jack questioned his reasoning. ‘Just because Stalker stomps and shouts doesn’t mean I have to let it all go.’</p>
				<p class="bt1-body-text">‘I rather think he made his point of view clear.’ Jack sensed danger. Ballard was clearly close to disobeying Stalker’s orders. ‘He has given the whole damn thing to Fetherstone. You are a fool if you intend to meddle.’</p>
				<p class="bt1-body-text">Ballard looked sharply at Jack. ‘I am no fool. You would do well to remember that.’</p>
				<p class="bt1-body-text">Jack saw something of the man who had abducted him from the streets of Bombay. It was a reminder of how precarious his position was. It was easy to forget that he owed everything, including his continued survival, to the intelligence officer. ‘I apologise. I am merely concerned for your career.’</p>
				<p class="bt1-body-text">Ballard waved the remark away, but Jack knew he had been warned.</p>
				<p class="bt1-body-text">‘So what do we know?’ Jack asked the question gingerly.</p>
				<p class="bt1-body-text">For the first time, Ballard smiled. ‘I have discovered a little. I may be out of favour, but Captain Hunter is a good fellow and he tells me what he can.’</p>
				<p class="bt1-body-text">The mention of Stalker’s aide made Jack think of Sarah’s gossip. Hunter’s family had been disgraced. Was that enough to make a man turn his coat and spy for the enemy? He shook his head to clear his mind of the notion. It was not the time for idle speculation. He tried to concentrate on Ballard’s news.</p>
				<p class="bt1-body-text">‘I have learnt that the enemy have a Russian officer in their ranks.’ Ballard continued to share what he had discovered. ‘We don’t know his name, but we think he comes direct from the Tsar. We know very little about him, although rumour has it that he is a hard bastard who fought us in the Crimea. He makes no attempt to hide; he serves on the staff of the Persian general, Shooja-ool-Moolk. We think he is the ringleader. The spymaster, if you will. Whoever our spy is, he sends his reports direct to this man, who can then pass on whatever he pleases to the Persian command.’ Ballard scowled as he summarised the situation for Jack’s benefit. ‘The presence of this Russian complicates matters. It means that not only do the Persians seem to know our every move but they get the information from the Russians, which can only further increase their damned influence here.’</p>
				<p class="bt1-body-text">‘Perhaps we should pop over to the Persian camp and ask the bugger what he is playing at.’ Jack chuckled at the idea, but the look on Ballard’s face silenced him quickly. He would not put it past the intelligence officer to be contemplating exactly that.</p>
				<p class="bt1-body-text">‘No, we cannot do that.’ Ballard eventually conceded the idea. ‘But we can finish the job we were given. This is my mess. I fully intend to be the one who sorts it out.’</p>
				<p class="bt1-body-text">They arrived outside Ballard’s tent, where Palmer was seated on a stool, sharpening a knife. The bodyguard looked up as they approached, a wry smile on his face as he saw Jack.</p>
				<p class="bt1-body-text">‘So, you’re back.’</p>
				<p class="bt1-body-text">‘He is not staying.’ Ballard was quick to reply.</p>
				<p class="bt1-body-text">Palmer grunted. He clearly did not care one way or the other.</p>
				<p class="bt1-body-text">Ballard turned to face Jack. His face was serious. ‘Just because you have buggered off to the Bombay Lights doesn’t mean this isn’t your fight too. Do not think I have forgotten your role in apprehending the spy. If you had not rushed in, perhaps we would have unravelled this whole sorry mess.’</p>
				<p class="bt1-body-text">‘You do not know that. And the poor bastard revealed nothing when your man there got his hands on him.’</p>
				<p class="bt1-body-text">‘Perhaps.’ Ballard frowned. ‘We shall never know. So, your orders—’</p>
				<p class="bt1-body-text">‘I am not sure I can help,’ Jack interrupted. He could sense where the conversation was headed. He may have been seconded to the light cavalry, but he had been wrong to think his tie to Ballard had been severed. Like it or not, the major still held the reins to his future.</p>
				<p class="bt1-body-text">‘You cannot wash your hands of me that easily.’ Ballard flashed his thin, wolfish excuse for a smile. ‘Or have you forgotten who you really are?’</p>
				<p class="bt1-body-text">Jack grimaced as he felt his past tighten around him. ‘I see.’</p>
				<p class="bt1-body-text">‘I’m glad you do. Now, when we get our arses back to Bushire, I want you to talk to Sarah Draper or her brother. They seem to have Fetherstone’s ear. See what they know.’</p>
				<p class="bt1-body-text">Jack smiled at the notion. He had missed Sarah more than he’d thought possible. His thoughts were no longer solely lustful. He had begun to sense that they shared more than just a physical connection. The idea of seeing her again, and asking her to help him once more, sat well in his mind. ‘I’ll try.’</p>
				<p class="bt1-body-text">‘You had better do a damn sight more than that!’ Ballard scowled at Jack’s meek answer. ‘I’ll be damned if I leave that bloody webfoot to make a mess of this. You and I will discover the identity of these bloody spies and then you can do what I brought you here to do.’ He fixed Jack with a determined stare. ‘We will find out who is betraying us and you will kill them.’</p>
				<p class="bt1-body-text-1-full-out">The army marched that night. The screech of the ungreased axles on the simple peasant carts grated on the ears of the redcoats, the dreadful cacophony underscoring the sound of hundreds of men marching. Every type of conveyance had been pressed into service as the British attempted to take away as much of the vast amount of supplies as they possibly could. The carts and wagons slowed progress, the heavily laden transport dictating the pace so that the column was forced to halt repeatedly, the delays adding to the frustration of the men who had marched so far to fight only to be denied by the enemy’s refusal to meet them in battle.</p>
				<p class="bt1-body-text">The long trudge back to the main force’s base at Bushire began in silence, every man aware of the long, difficult route they must follow over the coming days and nights. Their officers had promised an easy pace, the need for speed long since gone, yet the redcoats were wise to the ways of their commanders and knew how quickly the situation could change.</p>
				<p class="bt1-body-text">They had spent the day piling up the supplies they could not carry into a single heap in the very middle of the enemy’s meagre encampment. It was enormous, a man-made mountain. At its base were stacked the hundreds of barrels of black powder they could not hope to take back to Bushire. The whole lot was to be fired, Outram ordering its destruction to garner some credit from the wasted march.</p>
				<p class="bt1-body-text">The detonation was entrusted to two officers from the engineers, Lieutenant Gibbard and Lieutenant Hassard. They planned to use a pair of Jacob’s shells, a new type of exploding ammunition, the brainchild of Major John Jacob. A copper percussion tube filled with fulminate of mercury was contained in the fore part of the bullet and would explode on impact, igniting the shell behind. The new ammunition promised much. If it worked, it would allow riflemen to annihilate any field battery of artillery from a distance, something that would revolutionise the battlefield. <span class="bt1-body-text-1-italic">If</span> it worked. The ammunition was still very much at an experimental stage, and this would be one of the first occasions it had been used in anger.</p>
				<p class="bt1-body-text">The British might be retreating, but they would at least depart with a bang.</p>
				<p class="bt1-body-text-1-full-out">The blast split the night asunder, the roar rolling over the marching redcoats in a dreadful explosion of violence. As one, the column halted, turning to stare at the spectacle.</p>
				<p class="bt1-body-text">A single column of flame leapt into the sky, like a fiery finger pointing in accusation at the gods who had denied the British the battle they had so desired. It seared through the darkness, banishing the night and lighting the sky so that the world was bathed in a warm orange glow. Cloud after cloud of bright silvery smoke billowed from the base of the flames, rolling out at a terrific rate so that it smothered the entire encampment, before rushing on to blanket the town of Borãzjoon. Explosions punctured the smoke cloud as the enemy’s store of ammunition went up. Each burst like a sky rocket in a shower of sparks and flame, punching a hole in the heavy smoke for a single heartbeat before disappearing, only the flicker of falling shards a legacy of its brief but vibrant display.</p>
				<p class="bt1-body-text">The concussion of the massive explosion shook the ground. The soil under the redcoats’ boots seemed to shimmer, the very fibre of the earth shaken by the power of the exploding black powder. The weary infantry looked at the fabulous scene created by their engineers and saw nothing but shame, their failure displayed to the world.</p>
				<p class="bt1-body-text">The order to resume the march echoed down the column. The redcoats ignored the fiery mountain and trudged on into the night, turning their backs on the legacy of their daring incursion into the enemy’s heartland.</p>
				<p class="bt1-body-text-1-full-out">The Persian army watched the British depart. They had seen their supplies go up in flame, their encampment laid waste by the single massive explosion. They saw the men who had invaded their homeland marching away, the long column snaking for miles across the flat, barren landscape. They sensed fear in the retreat, the hated pale-faced foreigners and their native levies lacking the courage to face them in battle.</p>
				<p class="bt1-body-text">As the invaders’ column made its way away from Borãzjoon, the Persian army appeared from the safety of the hills and set off after the enemy, huge blocks of infantry marching in close column whilst vast swarms of cavalry led them forward and pressed close to the rear of the retreating British.</p>
				<p class="bt1-body-text">The force the Shah had assembled was easily twice the size of the British column. Five thousand infantrymen of the Karragoozloo, Shiraz and Sabriz regiments, the best soldiers in the Persian army, marched with pride, their ranks dressed and ordered just as their British instructors had once taught them. Nigh on two thousand cavalrymen of the Sufenghees, the Shiraz Cavalry and the Eilkhanne Horse were ready to pounce on the enemy, the handful of cavalry at the foreign general’s disposal a mere morsel that could be snapped up and devoured before the Persians took their sabres against the broken ranks of the red-coated infantry.</p>
				<p class="bt1-body-text">Shooja-ool-Moolk would not let the invaders skulk away unmolested. He had bided his time, waiting for the moment to strike. Now he watched the undefended column and the tiny rearguard that protected it. He saw the opportunity and he thought of the victory his master the Shah so desired.</p>
				<p class="bt1-body-text">The British army would not be left to retreat in peace. They would get the battle they had marched so far to find.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../qzj5e1.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Praise</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Map – 19th Century Persia</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-18">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-19">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-20">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-21">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-22">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-23">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-24">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-25">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-26">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-27">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-28">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-29">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-30">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-31">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-32">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-33">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-34">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-35">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-36">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-37">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-38">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-39">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-40">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-41">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-42">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-43">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-44">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-45">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-46">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-47">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-48">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-49">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-50">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-51">Epilogue</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-52">Historical Note</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-53">Acknowledgments</a>
    </li>
    <li>
      <a href="part0056.html#toc_marker-54">Read Jack Lark: Rogue, out now</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0036.html" class="calibreAPrev">previous page</a>
    

    <a href="../../qzj5e1.html" class="calibreAHome"> start</a>

    
      <a href="part0038.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
