<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200242_EPUB-25.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../_ypqte.html">The Scarlet Thief (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0024.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0026.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200242_EPUB-25.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-25" class="awh1-artwork-head"><img class="image18" src="../images/00024.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">The hastily erected tent already smelt musty, the gloomy interior thick with the stink of sun-warmed canvas. Jack stood back, politely holding the tent flap open so that his fellow captains could enter first.</p>
				<p class="bt1-body-text">The darkness of the Russian steppe enveloped the British camp; the few flickering watch fires the men had managed to get started created menacing shadows in the surrounding darkness. The army’s piquets stared anxiously outwards, seeing danger in every shifting shadow, their nerves fraying, their fragile confidence eroding as the minutes of their duty ticked slowly by.</p>
				<p class="bt1-body-text">The single tent would normally have been the temporary residence of one officer. Tonight it would hold four. Jack would be sharing the small space with McCulloch and Captain Brewer, the commander of the battalion’s Grenadier Company. The three captains would also have to find room for Major Peacock, the battalion’s second-in-command, a proposition made all the more onerous due to Brewer’s sizeable girth.</p>
				<p class="bt1-body-text">It was traditional that the Grenadier Company was formed of the tallest men in the battalion and many of them measured over six foot. Brewer was half a dozen inches shorter but made up for his lack of height by being very, very fat. It would be a tight squeeze in the confines of the tent but Jack appreciated how lucky they were to be spending a night with some shelter from the elements. The junior officers and their men would not be so lucky, forced to spend a third night exposed in the freezing night air. It was not lost on Jack that, as ever, the senior officers claimed the best of the scarce resources, their privileged lifestyle extending even to the furthest reaches of the campaign trail.</p>
				<p class="bt1-body-text">Brewer carelessly tossed his shako, knapsack and scabbard to one side. He lowered himself awkwardly to the floor, the muddy ground covered by a creased and mildewed groundsheet, letting out an enormous explosion of wind as he did so. Unrepentant and ignoring the looks of disgust on the faces of his fellow captains, Brewer lay flat on his back and groaned in satisfaction.</p>
				<p class="bt1-body-text">‘Do you know, this is the first time I’ve actually lain down since we came ashore. I’m exhausted already and we have yet to move more than a damn mile.’</p>
				<p class="bt1-body-text">‘Now, now. No croaking.’ McCulloch was carefully arranging his knapsack to one side of the tent. When it was lined up to his satisfaction, he unbuckled his sword and scabbard, which he placed meticulously alongside it, followed by his holstered revolver. He produced a handkerchief from his trouser pocket and laid this on the floor of the tent, then delicately sat down, using the crumpled linen to act as a barrier between the seat of his trousers and the soiled groundsheet.</p>
				<p class="bt1-body-text">Jack watched McCulloch’s fussy preparations with wry amusement before he slung his own knapsack on to the ground on the opposite side of the tent, following it with his weapons. He tossed his shako to one side and sat on his knapsack. A spasm seared up his aching spine and his hand automatically went to the small of his back in a vain attempt to massage away the worst of the pain.</p>
				<p class="bt1-body-text">‘Curry,’ announced Brewer suddenly as he lay supine on the floor, his arms crossed behind his head. ‘Nothing would hit the spot, right now, better than a curry.’</p>
				<p class="bt1-body-text">‘Curry?’ snorted McCulloch who was rooting through his knapsack. ‘Vile foreign muck! I’ve only had the misfortune to endure it once when I visited a cousin in London. Why anyone would want to eat such a loathsome concoction is beyond my powers of comprehension.’</p>
				<p class="bt1-body-text">‘Nonsense, man.’ Brewer scratched hard at his full beard. ‘It may be a heathen food, I’ll grant you that, but there are few things better.’ Brewer lifted one hefty buttock as he broke wind for a second time. ‘Excuse the old boiler. Now, a good steak and kidney pudding might just win the day. Or perhaps a well-crafted game pie.’ Brewer was warming to his favourite subject. ‘Sloames, care to venture an opinion?’</p>
				<p class="bt1-body-text">Jack started at hearing the name. His mind had been elsewhere, his thoughts dwelling on the return of Sergeant Slater into his life. He tasted the emotions that had stirred at the sight of the brutal sergeant. Hatred. Fear. Grief. Slater’s appearance had brought back all the memories he had wished to hide away in the darkest recesses of his mind. Now they rose to the fore like the scum on an old keg of ale, bitter and sour for having been kept in the dark for so long.</p>
				<p class="bt1-body-text">‘Jellied eels.’ Jack offered the suggestion curtly, attempting to convey his intention to stay out of the discussion.</p>
				<p class="bt1-body-text">‘You have the taste of a costermonger! Jellied eels, indeed. Now, pie and liquor, that I would understand if you must indulge a fancy for the food of London’s less salubrious parts. Or perhaps—’</p>
				<p class="bt1-body-text">The tent flap was violently snatched open and Major Peacock stormed inside. He surveyed the interior of the tent with obvious distaste. His prominent Adam’s apple bobbed up and down as he swallowed a mouthful of the ripe air.</p>
				<p class="bt1-body-text">Peacock smoothed his razor-thin moustache with a thumb and forefinger. ‘Goodness me, could you not have at least allowed us a moment’s rest before you fill the air with your noxious flatulence, Brewer?’ The major immediately turned round to shout to his orderly who was hovering just behind him. ‘Coffee, Spalding,’ he snapped. ‘Bring it as soon as you have it ready.’ Peacock cautiously sniffed the air. ‘I shall dine outside tonight.’</p>
				<p class="bt1-body-text">Jack hid the look of distaste that crossed his face. Peacock represented much that he disliked in the officer class. Overbearing, bombastic, small-minded, ignoble and arrogant, Peacock was universally disliked throughout the battalion. To the men he was a bullying tyrant, an officer who gained immense satisfaction from his rank and his right to command. To his fellow officers he was unprofessional and discourteous. He enjoyed his position due to his constant toadying to Colonel Morris, the only man in the regiment who had not found cause to dislike the supercilious major.</p>
				<p class="bt1-body-text">In peacetime Peacock had thrived on the army’s many rules and regulations which he viciously enforced, ensuring that the lives of both officers and men were made as unpleasant as possible. Any misdemeanours were ruthlessly pursued, no matter how trivial. For the men that meant punishment, for the officers it led to public censure and ridicule.</p>
				<p class="bt1-body-text">The major removed his shako and ran the palm of his hand over the bald dome of his head. ‘Has no one given a thought to arranging some furniture? We cannot all be expected to sprawl on the floor, can we, Brewer?’ Peacock nudged him with the toe of his boot, which the grenadier captain chose to ignore.</p>
				<p class="bt1-body-text">‘I can arrange for something if you insist,’ volunteered McCulloch, a barely discernible hint of disdain in his voice.</p>
				<p class="bt1-body-text">‘Good fellow, McCulloch. Then we can make ourselves as comfortable as the circumstances will allow.’</p>
				<p class="bt1-body-text">McCulloch rose to his feet and Peacock made a point of clapping him on the shoulder as he left the tent.</p>
				<p class="bt1-body-text">‘You see, Brewer. Not everyone is as slothful as you. You really should follow McCulloch’s example or even take a leaf out of Sloames’s book. He has already engaged the enemy, while you, lazy good-for-nothing that you are, lumbered around the battalion cadging food.’</p>
				<p class="bt1-body-text">‘I resent that, Peacock,’ Brewer said mildly, refusing to be drawn by the major’s hectoring. Traditionally officers addressed each other by name rather than by rank when they were not in front of the men. Colonel Morris was the only exception; he was only ever addressed as ‘Sir’ or ‘Colonel’. ‘My grenadiers are in tip-top condition, as we shall prove when we finally get off our collective firmament and take on the damn Russkis.’</p>
				<p class="bt1-body-text">‘Bravo, Brewer. Bravo. <span class="bt1-body-text-1-italic">Aut vincere aut mori</span>. That’s the spirit. What do you say, Sloames?’</p>
				<p class="bt1-body-text">Jack did his best to look composed in the face of Peacock’s schoolboy Latin. He had no idea what it meant. The knowledge of ancient, long dead languages had been lacking in the rudimentary education that he had received from his mother, yet for an officer it would be unthinkable to have no knowledge of it whatsoever. His usual tactic of hiding his lack of education behind a curt reply would not deflect someone like Peacock.</p>
				<p class="bt1-body-text">‘What do you say, man? To conquer or to die?’</p>
				<p class="bt1-body-text">‘I’d sooner do the conquering than the dying,’ Jack replied with more honesty than he intended, something he was immediately made to regret.</p>
				<p class="bt1-body-text">‘Come now, Sloames. <span class="bt1-body-text-1-italic">Deficit omne quod nasciture</span>. Surely it is better to die gloriously than to live your life in the shadows and die wondering what you could have achieved if only you had dared to live a little.<span class="bt1-body-text-1-italic"> Qui audit adipiscitur</span>!’</p>
				<p class="bt1-body-text">Jack had a fair idea that dying gloriously meant having your body shredded, your insides spilling on to the ground while you writhed in unimaginable agony, an opinion he felt sure the major would not take kindly to hearing. Fortunately, he was saved from having to reply by the timely return of Captain McCulloch who came into the tent followed by half a dozen fusiliers carrying an assortment of ammunition crates and ration boxes.</p>
				<p class="bt1-body-text">‘It is the best I could find,’ McCulloch announced. ‘At least we shall have something to sit on.’</p>
				<p class="bt1-body-text">The private soldiers deposited their burdens and scurried out of the tent, each man keen to avoid being given any more unwanted errands.</p>
				<p class="bt1-body-text">Peacock perched on the edge of one of the crates and looked round at his companions for the night. All were avoiding his eye, busying themselves with routine tasks or, in Brewer’s case, simply lying in an exhausted stupor.</p>
				<p class="bt1-body-text">Peacock sniffed in disapproval. None of the captains was offering him any sort of entertainment so he determined to make his own.</p>
				<p class="bt1-body-text">‘Well, then. I trust you and your companies are ready for the off.’ Peacock spoke far louder than was necessary. He was pleased to see Sloames look up from cleaning his revolver while McCulloch sat down on a crate and appeared to be giving him his full attention. Brewer gave no sign of having heard him, but Peacock was reasonably certain that the captain of grenadiers would be listening if he were not already asleep.</p>
				<p class="bt1-body-text">‘The colonel and I have been told we should be ready to move in a day or so.’ Peacock continued. ‘The French are eager to move inland as early as tomorrow but Raglan will not let us go until he is satisfied that we are ready. Quite rightly, the general does not intend to allow us to be ordered around by that decrepit old crone, Saint-Arnaud. Raglan will not order an advance until he is certain that we have adequate supplies. I expect that is something he learnt from the old duke.’</p>
				<p class="bt1-body-text">Peacock spoke confidingly, as if Raglan had offered the opinions to him personally. It was typical of Peacock’s conceit to speak in such a self-important manner. Jack went back to cleaning his revolver.</p>
				<p class="bt1-body-text">McCulloch, however, was intrigued. ‘I wonder why the French seem so much better prepared for the campaign than we do. Their soldiers have their own tents, the army is well served by a commissariat brought with them from France and they have more than enough transport, having brought that with them too. They even have a number of these new-fangled “ambulances” to move the sick.’</p>
				<p class="bt1-body-text">‘I’m sure the general has everything in hand.’ Peacock disapproved of McCulloch’s negative comments. It would never dawn on the major to think ill of his betters, even if their incompetence was staring him in the face.</p>
				<p class="bt1-body-text">‘I’m not croaking, merely observing that our allies seem a great deal better prepared for the campaign than we appear to be.’</p>
				<p class="bt1-body-text">‘<span class="bt1-body-text-1-italic">Per aspera ad astra</span>, McCulloch. I admit we may not appear to be as prepared as our allies are. However, remember this. A Frenchman cannot survive for two minutes without his comforts. They are a nation of dancing masters. We British, on the other hand, function far better when confronted with adversity.’</p>
				<p class="bt1-body-text">Jack gave up the unequal struggle to remain silent in the face of Peacock’s crass comments. ‘What utter claptrap! I have yet to find a soldier who fights better when he is wet and exhausted. Are you seriously saying that driving the men to breaking point is part of some grand strategy?’</p>
				<p class="bt1-body-text">‘Sloames! <span class="bt1-body-text-1-italic">Cave quid dicis, quando et cui</span>. I cannot, and will not, tolerate such talk.’</p>
				<p class="bt1-body-text">Jack may not have understood Peacock’s Latin but the message was clear. He rebuked himself for getting involved in such pointless pontificating. Slater’s arrival had shaken him to the core and he was letting his carefully constructed character slip.</p>
				<p class="bt1-body-text">‘My apologies. I did not mean to sound disrespectful. I’m sure our commanders are fully in control of the situation.’</p>
				<p class="bt1-body-text">Peacock was not about to let him off the hook so easily. This was just the kind of entertainment he had hoped the officers would provide. ‘I would remind you, Sloames, that you are a captain in one the finest regiments in this army. You hold a position that comes with onerous responsibility. A responsibility that requires you to set an example to the officers and men under your command.’ Peacock was enjoying himself. This was the first time he had been given an opportunity to give the captain of the Light Company a dressing-down. He gave every impression of being a capable and competent officer but the man kept himself to himself far too much for Peacock’s liking. He needed to be reminded of his place in the battalion’s pecking order.</p>
				<p class="bt1-body-text">‘As officers we must maintain a character that is without blemish,’ Peacock continued. ‘A character <span class="bt1-body-text-1-italic">nulli secondus</span>. Without it, you will be unable to command the respect of the men. Respect, Sloames. You must earn respect. It is not given freely. The men are the scum of the earth, as the late duke so eloquently put it. Without gentlemen to lead them they are no more than a rabble.’</p>
				<p class="bt1-body-text">Jack bridled at Peacock’s words. ‘The men are not scum. If you only took the time to get to know your bloody command you would know that. Of course that would mean taking your head out of your own damn arse first.’</p>
				<p class="bt1-body-text">‘Sloames!’ McCulloch cried out at Jack’s outburst. Even Brewer was shocked enough to push himself to his elbows to stare at the source of such a scandalous eruption of anger.</p>
				<p class="bt1-body-text">The reaction of the two captains was as nothing compared to Peacock’s outrage. Sloames had barely spoken in the weeks since joining the battalion. This sudden transformation was startling.</p>
				<p class="bt1-body-text">‘How dare you!’ Peacock shouted. ‘The colonel shall hear of this!’ He rose to his feet and so did Jack. It looked as if the two officers would charge at each other. McCulloch leapt up, physically interposing himself between the two officers who continued to shout at each other.</p>
				<p class="bt1-body-text">‘Jesus Christ! What are you going to tell the colonel? That I dared to speak the truth?’ Jack no longer tried to hold back the flood of emotion that surged through him. He felt the charade that shackled him fall away and was glad of it.</p>
				<p class="bt1-body-text">‘Why, you devil! I am your senior officer and you will speak to me with respect.’</p>
				<p class="bt1-body-text">‘Respect?’ Jack spat the word out with venom. ‘Respect has to be earned, remember. I have no more respect for you than I do for the fleas in a whore’s drawers.’</p>
				<p class="bt1-body-text">Peacock was dumbstruck, his mouth hung open as he tried to speak through his fury. He was not silent for long. ‘You swine! Never have I been spoken to like that. Never! You viper! There is no place for scum like you in the King’s Royal Fusiliers. I shall see to that. <span class="bt1-body-text-1-italic">Aut viam inveniam aut faciam!</span> When the colonel finds out about this, you will be damn lucky to keep your commission! If you were a private soldier, I’d have you flogged until I could see your spine and—’</p>
				<p class="bt1-body-text">‘Alarm! To arms! To arms!’</p>
				<p class="bt1-body-text">The call to arms resounded through the army. Something had stirred in the darkness of the Russian steppe, scaring the already nervous sentries and triggering mayhem. ‘To arms! To arms!’</p>
				<p class="bt1-body-text">Men scrambled from their bivouacs, redcoats rushed to find their weapons, officers came stumbling from their tents undressed and unprepared. Sergeants rapidly formed their men into some kind of rough order before their officers dragged them off to where the line of piquets had begun firing into the night.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../_ypqte.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Dedication</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Acknowledgements</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Glossary</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Chapter One</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter Two</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Three</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Four</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Five</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Six</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Seven</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Eight</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Nine</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Ten</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Tenty-eight</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Forty</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Epilogue</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Historical Note</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Read on for a Preview of The True Soldier</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0024.html" class="calibreAPrev">previous page</a>
    

    <a href="../../_ypqte.html" class="calibreAHome"> start</a>

    
      <a href="part0026.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
