<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>9781472200280_EPUB-31.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../yftltn.html">The Maharajah's General (Jack Lark)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Paul Fraser Collard

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0030.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0032.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		<div id="x9781472200280_EPUB-31.html" xml:lang="en-US" class="calibre1">
			<div class="calibre1">
				<p class="tsn-typesetter-designer-note"/>
				<p id="toc_marker-31" class="awh1-artwork-head"><img class="image27" src="../images/00029.jpeg" alt="Chapterheads.pdf"/></p>
				<p class="ht-half-title"/>
				<p class="tsn-typesetter-designer-note">‘Get ready, boy.’ Jack spat a wad of phlegm to one side as he growled the words. ‘Let’s see if you can fight as well you can talk.’</p>
				<p class="ack-acknowledgement-text">He saw the boy swallow hard, his Adam’s apple bobbing up and down as he pushed down his fear. The youngster raised his talwar. He held the blade low, ready to rip out the guts of the first man to charge him, handling the sword with obvious familiarity. Someone had trained him well. Jack nodded in encouragement as he saw the boy’s weight move to the balls of his feet as he found his balance. His talwar was a thing of beauty, its long blade decorated with a fine tracery of swirling lines so that it seemed to pulse with life as the sun caught it. It was a fabulous weapon, the kind only the very wealthy could afford.</p>
				<p class="ack-acknowledgement-text">The surviving bandits faced the two hunters with obvious confidence. There was no haste in their movements, no sign of panic despite the sight of so many of their brethren struck to the ground. At their centre the black-robed leader walked calmly to the fore, bringing his enormous two-handed sword round as he readied himself to fight on.</p>
				<p class="ack-acknowledgement-text">‘He cannot be killed.’ The boy whispered the words, his voice cracking as he recognised the bandit leader.</p>
				<p class="ack-acknowledgement-text">‘Bollocks.’ Jack spat out the word. The pause in the fight was starting to stretch his nerves.</p>
				<p class="ack-acknowledgement-text">‘He is the Tiger. He is a prince of the darkness. He cannot be killed.’ The boy sounded close to panic.</p>
				<p class="ack-acknowledgement-text">Jack quickly counted off the bandits. The black-robed leader had five men left, less than half the number he had been able to command when he unleashed the ambush, but still too many for Jack to fight on his own. He looked across at the boy. He could see the youngster’s terror, the point of his sword beginning to twitch as the fear took hold of him. He would not be able to fight.</p>
				<p class="ack-acknowledgement-text">‘Fuck it!’ Jack screamed the words, trying to summon the madness he knew he needed. He took a deliberate pace forward, lifting one bloodstained hand so that it pointed straight at the Tiger.</p>
				<p class="ack-acknowledgement-text">‘You!’ He shouted the word, jabbing his finger so there could be no doubt who he was addressing. ‘You, you black-robed arsehole. Just you and me.’</p>
				<p class="ack-acknowledgement-text">He stalked forward, his talwar hanging casually at his side. The madness he craved stayed stubbornly distant, but there was something in the sheer folly of what he was trying to do that was intoxicating.</p>
				<p class="ack-acknowledgement-text">‘Just me and you. You understand?’ He lifted his talwar, taking a firm two-handed grip on the handle as he saw the black-robed man raise his hand and gesture for his men to hold. ‘That’s it, you bastard.’</p>
				<p class="ack-acknowledgement-text">Jack’s heart hammered in his chest. His fear flared bright, the foolishness of his action screaming through his mind. Yet even as his emotions started to burn, a part of his mind remained calculated and calm, planning the fight he was summoning, seeking a path to victory despite the violent emotions that stirred in his soul.</p>
				<p class="ack-acknowledgement-text">He looked into the pitiless black eyes of the Tiger and he felt his confidence wane. He remembered the intensity of the bandit leader’s attack, the speed of his sword and the dreadful power of his blows. He could feel fear beginning to win the battle for his soul, the madness he craved swamped by the icy rush of terror that was surging up from the pit of his belly.</p>
				<p class="ack-acknowledgement-text">‘That’s it. Just you and me.’ The words calmed him, his own voice reassuring. The Tiger kept coming, his men obeying his command to hang back.</p>
				<p class="ack-acknowledgement-text">‘Time to dance, you bastard!’ Jack screamed the words aloud and threw himself forward. He would have to banish his fear. This time he would not submit. He would kill the man who could not be killed.</p>
				<p class="ack-acknowledgement-text">Or he would die.</p>
				<p class="bt1-body-text-1-full-out">Jack’s talwar scythed through the air. He kept the movement controlled, his muscles already braced for the Tiger’s parry. The blades came together, the noise of metal grinding on metal loud in the enclosed space in which they fought. Jack recovered his blade just as he planned, twisting his wrist before slashing his sword backhanded, battering it against the huge talwar that flickered out to meet it.</p>
				<p class="ack-acknowledgement-text">Again and again the two men slashed and parried, their swords glittering in the dappled sunlight as they flashed back and forth. Jack fought with restraint, concentrating on his speed, never once trying to land a telling blow but flowing through the impacts, trying to find a gap in the Tiger’s defence.</p>
				<p class="ack-acknowledgement-text">He grunted as the Tiger parried, the huge sword meeting every attack, the man matching his speed with ease. He could see the smile behind the mass of beard that covered so much of his enemy’s face, the black eyes that gleamed with perverse enjoyment, as if the two men were contestants in a hard-fought sport rather than deadly foes fighting for their lives.</p>
				<p class="ack-acknowledgement-text">Jack took a half-step back, pretending to give ground. The Tiger came after him in a heartbeat, the talwar slashing hard at his guts. But Jack had planned the feint and he twisted past the fast-moving blade, driving off his heel and stabbing his own talwar forward with a lightning-quick jab. He yelled as he felt the tip of his sword tear into the black-robed man’s flesh, the sweet roar of victory surging through him. But the Tiger was fast, quicker than any man Jack had ever fought. Before Jack could thrust his full weight behind the blow, the bandit leader brought his sword back in a frantic parry. The wild blow knocked Jack’s talwar aside, the sharpened tip only able to score a deep gouge across the Tiger’s front rather than the killing blow Jack had hoped for.</p>
				<p class="ack-acknowledgement-text">The tantalising glimpse of blood flecking the tip of his sword gave Jack hope. But the Tiger recovered quickly from the momentary lapse. His great sword rose to deflect Jack’s next riposte before driving forward and forcing him to parry quickly lest he be caught himself.</p>
				<p class="ack-acknowledgement-text">Now the Tiger began to chant, his deep, melodic voice clear despite the animal grunts as the two men kept up the pace of the fight. It was just as Jack remembered, the rhythmic resonance of the words sending a shiver down his spine. There was no pause in the bandit leader’s attack as he chanted; indeed, he began to push Jack backwards with a series of blows even faster than before. Jack parried one after another, his arm beginning to feel like lead as the onslaught continued. Again and again the Tiger attacked, the blows ringing down. Jack’s defence began to falter, and twice the Tiger nearly had him, the tip of the talwar whispering past, his weakening parries only just doing enough to deflect the merciless assault.</p>
				<p class="ack-acknowledgement-text">The Tiger bellowed the last word of the chant, his voice rising in a crescendo loud enough to wake the dead. His sword flashed past Jack’s face, a final mighty sweep of the blade before he lifted it above his head, readying the killing blow.</p>
				<p class="ack-acknowledgement-text">One Jack had seen before.</p>
				<p class="ack-acknowledgement-text">He dived forward, hitting the ground with his shoulder. He sensed the Tiger’s sword scything down, the dreadful edge reaching for him, the heavy talwar cutting through the air where he had just been standing. He scrabbled on the ground, twisting around in the matted undergrowth before driving his boot forward and smashing the heavy heel into the huge man’s groin.</p>
				<p class="ack-acknowledgement-text">The Tiger grunted in pain but his sword continued its descent, hunting for its prey. The blade cut into the undergrowth, missing Jack by no more than an inch, and stuck fast in the spongy ground. Jack rolled away and stabbed his own talwar upwards. It had been badly battered but the point was still sharp, and it punched into the Tiger’s body, tearing through flesh and gristle as Jack drove it deep. Blood ran down the blade, washing over his wrist and arm and falling to stain the front of his blue uniform coat, yet still he twisted it, tearing the life from his foe.</p>
				<p class="ack-acknowledgement-text">With the blade still buried deep in his body, the black-robed bandit leader toppled to one side. He made no sound as he fell, his huge sword dropping to the ground as his nerveless hands lost their strength.</p>
				<p class="ack-acknowledgement-text">Jack scrambled to his feet, never once taking his eyes off the huge man he had just defeated. Unable to comprehend that he had won.</p>
				<p class="bt1-body-text-1-full-out">With their leader struck down, the bandits fled into the jungle, running for their lives despite the fact that Jack was battered and exhausted. At that moment a washerwoman with a kitchen knife could have defeated him, but the bandits clawed at each other in their haste to get away, the jungle hiding them from view as they scattered in every direction.</p>
				<p class="ack-acknowledgement-text">Jack walked to stand over the body of the black-robed Tiger. He looked down at the face of the man who could not be killed. He did not see a prince of the darkness. Nor did he see a man who had been feared and hated in equal measure. He simply saw the lonely face of someone moments from death. The Tiger’s eyes were open, the vitality of life still alive in the blackness. They moved as Jack stood beside him, fixing him with a hard, flat stare of hatred.</p>
				<p class="ack-acknowledgement-text">The Tiger’s lips began to move. At first the words were barely audible, but from deep in his soul he found the strength to speak louder. As he did so, he kept his eyes fixed on Jack. The words flowed from him, their pace and tone steady, with the same deep, melodic rhythm that had so unsettled Jack when they fought.</p>
				<p class="ack-acknowledgement-text">Jack sensed the presence of the nobleman he had saved. The youngster came to look down at the man who had so terrified him.</p>
				<p class="ack-acknowledgement-text">‘He is cursing you.’ The boy spoke in no more than a whisper, his fear still very real.</p>
				<p class="ack-acknowledgement-text">Jack felt a shiver run down his spine as he met the Tiger’s merciless stare, the terror he had kept contained for so long once more writhing deep in his belly.</p>
				<p class="ack-acknowledgement-text">‘What does he say?’ He spoke firmly, wrestling with his emotions as if they were a demon to be fought and imprisoned. He felt the calmness begin to return as he regained control, the fear forced to the recesses of his mind, committed to the darkness in his soul.</p>
				<p class="ack-acknowledgement-text">‘He is condemning you to a life without hope. A life alone.’ The boy’s voice trembled as he told Jack the meaning of the foreign words, translating them with reverence and no trace of vindictive pleasure.</p>
				<p class="ack-acknowledgement-text">The Tiger stopped abruptly. Jack never once let his eyes move from the bandit’s unwavering stare, and he saw the glimmer of life flicker, then leave the pitiless black eyes for ever.</p>
				<p class="ack-acknowledgement-text">The man who could not be killed was dead.</p>
				<p class="bt1-body-text-1-full-out">The crowd jostled around him. Jack felt his exhaustion build, his body craving rest. The bewildering hubbub continued unabated, shouts and questions bellowed back and forth in the language of the Maharajah’s court that Jack did not understand. The young noble he had saved stood at the centre of the melee, surrounded by a crowd of men who were all talking at once. Jack recognised the urgency of their words, the hurried interrogation of people desperate to find out what had happened so they could either claim some share in the victory or steer well clear of the blame.</p>
				<p class="ack-acknowledgement-text">The young noble’s higher-pitched tones cut through the deeper voices of the men who challenged him, carrying an authority that silenced them. He spoke quickly and firmly and the crowd pressed forward as they listened to his hurried account, captivated by the drama.</p>
				<p class="ack-acknowledgement-text">Jack wanted no part of the inquest. He had done what he had felt to be his duty. Now that the vicious fight was over, he wanted nothing more than to fade back into the background.</p>
				<p class="ack-acknowledgement-text">The Maharajah and his entourage arrived, the ruler’s huge white stallion flecked with mud and sweat; it had clearly been ridden hard to get here. Jack saw the distress on the Maharajah’s face, the strained expression of someone seeking news they knew could change their life for ever.</p>
				<p class="ack-acknowledgement-text">The entrance of their king silenced the throng that had gathered at the site of the ambush. With an athletic bound the ruler of Sawadh leapt from the saddle and rushed towards the young noble who now owed his life to the white-faced foreigner he had treated with such disdain. Without stopping, the Maharajah reached forward and crushed the boy to his chest, enveloping him in a fierce embrace, the bright prick of tears in his eyes.</p>
				<p class="ack-acknowledgement-text">Finally Jack realised who the youngster was, and why his comrades had been so ready to laugh loudly at his quips. Jack had just done the British government a great disservice.</p>
				<p class="ack-acknowledgement-text">He had saved the life of the Maharajah’s heir.</p>
				<p class="bt1-body-text-1-full-out">‘There are no words to convey my thanks, Jack.’</p>
				<p class="ack-acknowledgement-text">Jack could not meet the Maharajah’s intense stare. He looked to his boots but the Maharajah reached forward, lifting Jack’s hands and enclosing them in both of his own. The touch was intimate, the Maharajah’s hands warm and the feel of his flesh shocking. Jack felt intensely uncomfortable at the contact, his natural reaction to withdraw, but the Maharajah held him firm.</p>
				<p class="ack-acknowledgement-text">‘You saved my son. I am in your debt.’</p>
				<p class="ack-acknowledgement-text">‘I did what had to be done, sir.’ Jack’s reaction was stilted.</p>
				<p class="ack-acknowledgement-text">‘You English. You are so bloody stuck up!’ The Maharajah dropped Jack’s hands, smiling at the obvious relief on his face. ‘I thank you anyway. Whatever you say, I owe you a great deal. My son has told me what happened here.’ He turned and looked at the dead bandits that his men were dragging unceremoniously into a grotesque heap. ‘You certainly do know how to fight.’</p>
				<p class="ack-acknowledgement-text">‘I’m a redcoat. It’s what we are trained to do.’</p>
				<p class="ack-acknowledgement-text">‘My son said he has never seen anyone quicker.’ The Maharajah’s voice was full of admiration. ‘You killed that black-robed bastard. For that alone I owe you a reward.’</p>
				<p class="ack-acknowledgement-text">‘I do not ask one, sir. You have already shown me favour by allowing me to stay in your court.’</p>
				<p class="ack-acknowledgement-text">‘One of the best bloody decisions I ever made.’ He turned and gestured for his son to come to him. ‘I am forgetting my manners. I suspect you have not been properly introduced. Jack, this is my son, Abhishek. He will rule after I am dead and gone. Thanks now to you.’</p>
				<p class="ack-acknowledgement-text">Jack looked the boy in the eye. The earlier childlike arrogance was gone. Abhishek’s privileged background had been no protection from the brutal reality that so many boys his age would already have experienced. Jack hoped the bitter knowledge would teach him well.</p>
				<p class="ack-acknowledgement-text">‘Thank you.’ The boy’s voice was small, the moment clearly embarrassing him. But he was also the rajkumar, and he pulled himself upright, standing with a stiff back in front of the man he had insulted so cruelly but who had saved his life. ‘You have done our country a great service.’</p>
				<p class="ack-acknowledgement-text">The Maharajah whooped with delight at his son’s pomposity. ‘You see, Jack. I have bred a fine boy. He has the grace of a king. He is not like me at all.’</p>
				<p class="ack-acknowledgement-text">Jack inclined his head to acknowledge the boy’s thanks. ‘It was my pleasure to be of service, sir. I can only hope that my disgusting stench no longer offends you as once it did.’ He could not resist the barbed comment. The boy might have been a prince, but that would not stop Jack twisting his tail.</p>
				<p class="ack-acknowledgement-text">Abhishek’s mouth opened but no sound came out. He glanced across at his father before bowing his head.</p>
				<p class="ack-acknowledgement-text">The Maharajah clapped his hands with enjoyment. ‘You are priceless, Jack, absolutely bloody priceless. Now then, let us speak of your reward.’</p>
				<p class="ack-acknowledgement-text">‘Sir, there is no need for a reward.’</p>
				<p class="ack-acknowledgement-text">The Maharajah flapped his hands to silence Jack’s protest. ‘Enough of your bloody English modesty. I wish for you to become my adviser.’</p>
				<p class="ack-acknowledgement-text">Jack laughed at the notion. ‘Sir, you most certainly do not need my advice.’</p>
				<p class="ack-acknowledgement-text">‘That is my decision, not yours. You will also assume command of my lancers. As of this moment, you are my general.’</p>
				<p class="ack-acknowledgement-text">Jack shook his head in denial. The promotion was meteoric indeed but the idea that he could be a general was laughable. ‘I cannot accept, sir. As your son here will attest, I cannot even ride a horse properly.’</p>
				<p class="ack-acknowledgement-text">‘I will not be gainsaid. Not even by a hero. Abhishek will teach you to ride. It can be his punishment for not treating one of my guests with the right amount of courtesy.’ The Maharajah was clearly delighted by the idea. ‘Now we must leave this place.’ His face twisted with distaste as he surveyed the scene where his son had come so close to death.</p>
				<p class="ack-acknowledgement-text">Jack stood back as the Maharajah left. Like most ambitious men, he had come to India to seek his fortune. He had never dreamt it would lead him here. It might only be in the service of a wilful maharajah, but Jack had been made a general.</p>
				<p class="ack-acknowledgement-text">It was quite a step up for an urchin from the East End of London.</p>
			</div>
		</div>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../yftltn.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#toc_marker-1">Title Page</a>
    </li>
    <li>
      <a href="part0001.html#toc_marker-2">Copyright Page</a>
    </li>
    <li>
      <a href="part0003.html#toc_marker-3">About the Book</a>
    </li>
    <li>
      <a href="part0004.html#toc_marker-4">About the Author</a>
    </li>
    <li>
      <a href="part0005.html#toc_marker-5">Also By Paul Fraser Collard</a>
    </li>
    <li>
      <a href="part0006.html#toc_marker-6">Dedication</a>
    </li>
    <li>
      <a href="part0007.html#toc_marker-7">Acknowledgments</a>
    </li>
    <li>
      <a href="part0008.html#toc_marker-8">Glossary</a>
    </li>
    <li>
      <a href="part0009.html#toc_marker-9">Chapter One</a>
    </li>
    <li>
      <a href="part0010.html#toc_marker-10">Chapter Two</a>
    </li>
    <li>
      <a href="part0011.html#toc_marker-11">Chapter Three</a>
    </li>
    <li>
      <a href="part0012.html#toc_marker-12">Chapter Four</a>
    </li>
    <li>
      <a href="part0013.html#toc_marker-13">Chapter Five</a>
    </li>
    <li>
      <a href="part0014.html#toc_marker-14">Chapter Six</a>
    </li>
    <li>
      <a href="part0015.html#toc_marker-15">Chapter Seven</a>
    </li>
    <li>
      <a href="part0016.html#toc_marker-16">Chapter Eight</a>
    </li>
    <li>
      <a href="part0017.html#toc_marker-17">Chapter Nine</a>
    </li>
    <li>
      <a href="part0018.html#toc_marker-18">Chapter Ten</a>
    </li>
    <li>
      <a href="part0019.html#toc_marker-19">Chapter Eleven</a>
    </li>
    <li>
      <a href="part0020.html#toc_marker-20">Chapter Twelve</a>
    </li>
    <li>
      <a href="part0021.html#toc_marker-21">Chapter Thirteen</a>
    </li>
    <li>
      <a href="part0022.html#toc_marker-22">Chapter Fourteen</a>
    </li>
    <li>
      <a href="part0023.html#toc_marker-23">Chapter Fifteen</a>
    </li>
    <li>
      <a href="part0024.html#toc_marker-24">Chapter Sixteen</a>
    </li>
    <li>
      <a href="part0025.html#toc_marker-25">Chapter Seventeen</a>
    </li>
    <li>
      <a href="part0026.html#toc_marker-26">Chapter Eighteen</a>
    </li>
    <li>
      <a href="part0027.html#toc_marker-27">Chapter Nineteen</a>
    </li>
    <li>
      <a href="part0028.html#toc_marker-28">Chapter Twenty</a>
    </li>
    <li>
      <a href="part0029.html#toc_marker-29">Chapter Twenty-one</a>
    </li>
    <li>
      <a href="part0030.html#toc_marker-30">Chapter Twenty-two</a>
    </li>
    <li>
      <a href="part0031.html#toc_marker-31">Chapter Twenty-three</a>
    </li>
    <li>
      <a href="part0032.html#toc_marker-32">Chapter Twenty-four</a>
    </li>
    <li>
      <a href="part0033.html#toc_marker-33">Chapter Twenty-five</a>
    </li>
    <li>
      <a href="part0034.html#toc_marker-34">Chapter Twenty-six</a>
    </li>
    <li>
      <a href="part0035.html#toc_marker-35">Chapter Twenty-seven</a>
    </li>
    <li>
      <a href="part0036.html#toc_marker-36">Chapter Twenty-eight</a>
    </li>
    <li>
      <a href="part0037.html#toc_marker-37">Chapter Twenty-nine</a>
    </li>
    <li>
      <a href="part0038.html#toc_marker-38">Chapter Thirty</a>
    </li>
    <li>
      <a href="part0039.html#toc_marker-39">Chapter Thirty-one</a>
    </li>
    <li>
      <a href="part0040.html#toc_marker-40">Chapter Thirty-two</a>
    </li>
    <li>
      <a href="part0041.html#toc_marker-41">Chapter Thirty-three</a>
    </li>
    <li>
      <a href="part0042.html#toc_marker-42">Chapter Thirty-four</a>
    </li>
    <li>
      <a href="part0043.html#toc_marker-43">Chapter Thirty-five</a>
    </li>
    <li>
      <a href="part0044.html#toc_marker-44">Chapter Thirty-six</a>
    </li>
    <li>
      <a href="part0045.html#toc_marker-45">Chapter Thirty-seven</a>
    </li>
    <li>
      <a href="part0046.html#toc_marker-46">Chapter Thirty-eight</a>
    </li>
    <li>
      <a href="part0047.html#toc_marker-47">Chapter Thirty-nine</a>
    </li>
    <li>
      <a href="part0048.html#toc_marker-48">Chapter Forty</a>
    </li>
    <li>
      <a href="part0049.html#toc_marker-49">Chapter Forty-one</a>
    </li>
    <li>
      <a href="part0050.html#toc_marker-50">Chapter Forty-two</a>
    </li>
    <li>
      <a href="part0051.html#toc_marker-51">Chapter Forty-three</a>
    </li>
    <li>
      <a href="part0052.html#toc_marker-52">Chapter Forty-four</a>
    </li>
    <li>
      <a href="part0053.html#toc_marker-53">Chapter Forty-five</a>
    </li>
    <li>
      <a href="part0054.html#toc_marker-54">Epilogue</a>
    </li>
    <li>
      <a href="part0055.html#toc_marker-55">Historical Note</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0030.html" class="calibreAPrev">previous page</a>
    

    <a href="../../yftltn.html" class="calibreAHome"> start</a>

    
      <a href="part0032.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
