<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Di que sí</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../h93fli.html">Di que sí
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Flor M. Urdaneta

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_016.html" class="calibreAPrev">previous page</a>
        

        
          <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_018.html" class="calibreANext"> next page</a>
        
      </div>
    

    
<div class="calibre1">
<p class="calibre4"><br class="calibre1"/><a></a><a></a><a></a><a></a><a id="filepos246274"><span><span class="calibre6"><span class="bold"><span class="italic">Capítulo 12</span></span></span></span></a><span><span class="calibre6"><span class="bold"><span class="italic">
</span></span></span></span></p>
<p class="calibre4"><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a><span><span class="calibre6"><span class="bold"><span class="italic">¡La encontré!</span></span></span></span></a></p>
<p class="calibre2"><span><span class="calibre8"><span class="italic"> </span></span></span></p>
<p class="calibre2"><span><span class="calibre8"><span class="bold"> </span></span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold">CHARLES </span></span></span></p>
<p class="calibre7"><span><span class="calibre8"> </span></span></p>
<p class="calibre7"><span><span class="calibre8">Llegamos a un apartamento en New Jersey, por insistencia de Vivian, quien sigue diciendo que es mejor estar al margen de New York  por un tiempo y evitar a los periodistas que están a la espera de noticias. Según ella, quieren que les cuente cómo logré salvar a todas las personas en el avión y que no estoy preparado para tanta presión. </span></span></p>
<p class="calibre7"><span><span class="calibre8">El lugar es pequeño,  es uno de esos espacios abiertos donde ves la cocina, sala, el comedor y la cama, desde la entrada.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">La decoración es un poco femenina y comienzo a dudar de mi hombría. Si este apartamento es mío y luce así, todo sigue apuntando a que soy gay.  Aunque, si lo fuera, no tuviera novia. ¿Cierto? </span></span></p>
<p class="calibre7"><span><span class="calibre8">En algunas partes al azar hay fotos mías junto a Stefany y en muchas estamos sonriendo. Hay que darle tiempo al tiempo, no debería presionarme tanto por recordar. Aunque es muy raro, siento que algo me falta y no sé qué o quién es. </span></span></p>
<p class="calibre7"><span><span class="calibre8">De momento, solo he conocido a Vivian, a Franck y a Stefany. Quizás, a medida que los vaya conociendo, mi cabeza haga clic y vuela a la realidad. </span></span></p>
<p class="calibre7"><span><span class="calibre8">  Varios silencios incómodos más tarde,  mis “padres” se marchan a un hotel, pero se olvidaron llevarse a la loca pelirroja que parece desesperada por desvestirme. </span></span></p>
<p class="calibre7"><span><span class="calibre8"> ¡Excelente! Me dejaron en un apartamento que no recuerdo, con una novia que no recuerdo —quien además me tiene cansado con sus insistencia de colgar de mi cuello como un chimpancé—. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Stefany no para de hablar, ni de mostrarme fotos para ayudarme a “recordar”, pero cada vez me confundo más. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Deja eso ya. Necesito dormir —murmuro al tiempo que me levanto del sofá rosa en el que me obligó a sentarme. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Bebé, te extrañé tanto —musita, colgándose de nuevo a mí. La mona ha vuelto—. Llévame a la cama. Quiero que hagamos el amor hasta caer desmayados. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Camino con la loca encima y la tumbo en la cama como un saco de patatas. Stefany enreda sus piernas a las mías y me hace caer sobre ella. La beso directo en la boca, de forma muy hábil, por cierto.  Charles es bueno besando. </span></span></p>
<p class="calibre7"><span><span class="calibre8">La chica abandona mi boca y juega un rato con mi oreja. De ahí, va bajando con besos aleatorios por mi mandíbula hasta llegar a mi pecho. Mientras sus manos curiosas se meten debajo de mi camiseta, sigo esperando algo, una reacción, alguna manifestación de mi hombría ahí abajo pero nada. Nada. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Lo siento,  Stefany. Estoy muy cansado por el viaje, quisiera descansar —Me siento a su lado y me deshago de mis zapatos deportivos antes de intentar dormir. Ese era mi plan, pero mi supuesta novia se acomoda en mi pecho. Desearía deshacerme de ella también. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Mientras trato de conciliar el sueño, se vienen a mi mente un par de ojos grises muy hermosos e intensos. Algo en esa imagen inquieta a mi corazón y lo acelera a un ritmo apremiante. ¿De quién son esos ojos? Sin duda significan algo. Necesito encontrar el rostro que los acompaña. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Stefany finalmente se queda dormida y es mi momento de escapar. No sé a dónde, pero cualquier lugar es mejor que estas cuatro paredes rosas.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">No me toma mucho encontrar un local abierto. Vivian me dejó un poco de efectivo y una vieja identificación que me viene bien esta noche. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Es un pequeño bar con una barra y al menos cinco mesas. Me siento en uno de los taburetes y pido una cerveza, no sé a qué sabe pero parece que todos aquí tienen una en la mano así que es mi mejor opción.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Me gusta tomar </span></span><span><span class="calibre8"><span class="italic">gin-tonic</span></span></span><span><span class="calibre8"> —dice una rubia a mi derecha. Es bastante sexy y tiene uno ojos muy lindos.    </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Amigo, sírvele un </span></span><span><span class="calibre8"><span class="italic">gin-tonic</span></span></span><span><span class="calibre8"> a… </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Taylor —Completa mientras juguetea con un mechón de su cabello. Mi vista alterna entre sus enormes pechos y sus lindos  ojos celestes. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Yo soy Charles. ¿Te han dicho que tienes unos ojos hermosos? </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Algunas veces. Aunque es lo menos en lo que se fijan los hombres —Sé de lo que habla. Yo soy uno de esos que está mirando más que sus ojos.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">Después de varias bebidas, la rubia, de quien ya olvidé el nombre, me invita a su apartamento. Creo que a Charles se le da bien el levante y seguro me lo agradecerá cuando recupere la memoria.  </span></span></p>
<p class="calibre4"><span><span class="calibre8">***</span></span></p>
<p class="calibre7"><span><span class="calibre8">Estoy demasiado borracho para detenerme a mirar los detalles de su apartamento y tampoco me importa mucho,  prefiero ocuparme de su boca, de sus pechos… ¡No puede ser! Esta mujer me está besando con ansías, me está tocando con deseo, pero mi cuerpo sigue muerto.   </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Lo siento… yo… Me tengo que ir —balbuceo mientras me recojo la camiseta del suelo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¡Qué pérdida de tiempo! —se queja la rubia. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Me toma un poco más de una hora regresar al apartamento con Stefany. No es fácil ir a un lugar del que no sabes ni el nombre, pero por suerte miré algunos letreros de camino, así que llegué. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Se puede saber dónde estabas? —Me interroga la mona, con las manos en las caderas. Paso por su lado sin darle una respuesta y me tumbo en la cama sin hacer ningún esfuerzo por desvestirme.  </span></span></p>
<p class="calibre2"><span><span class="calibre8">***</span></span></p>
<p class="calibre7"><span><span class="calibre8">Tengo delante de mí a tres personas que sigo sin reconocer, Vivian dice que son mis hermanos. Ellos están muy felices de verme, pero mi cabeza sigue en blanco. Todos los recuerdos de mi vida están perdidos dentro de mi mente. Necesito recordar algo. Lo que sea. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Te compré un teléfono para que podamos hablar —dice Betsy, una de mis dos hermanas. Es morena como yo y sus ojos son marrones. Lauren —mi hermana menor— se parece mucho a ella. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Anota también mi número, Charles —añade Lauren. </span></span></p>
<p class="calibre7"><span><span class="calibre8">A pesar de no conocerlos, los noto muy tensos, como si ocultaran un gran secreto. Es extraño. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Tú siempre fuiste muy travieso. Te montabas en los árboles y gritabas: «puedo volar». Mamá se moría del susto pensando que saltarías. Siempre decías que querías ser piloto —me cuenta Betsy, emocionada. </span></span></p>
<p class="calibre7"><span><span class="calibre8">»Aunque también te gustaba gastarme muchas bromas. Todavía no te perdono la que me hiciste con Richard  —dice, cambiando el gesto y cruzando los brazos sobre su pecho. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Richard? —pregunto confundido. Mi madre niega con la cabeza y dice: </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Era un amigo tuyo —No insisto en preguntar. Todo lo que me dicen se vuelve lo mismo para mí: nada.   </span></span></p>
<p class="calibre7"><span><span class="calibre8">Luego de dos horas de historias y anécdotas, mis hermanos se despiden con un abrazo. El último en salir es Josep, quién no habló ni una vez por estar haciendo algo en su teléfono. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Antes de irse, se despide con un abrazo y me susurra al oído «ella no es tu novia». </span></span></p>
<p class="calibre7"><span><span class="calibre8"> ¿Cómo que no es mi novia? Ella me ha mostrado nuestras fotos juntos y hasta algunos regalos que le hice. En cuanto todos salen del apartamento, interrogo a mi supuesta novia. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Stefany, ¿cuánto tiempo llevamos juntos? —Ella enseguida entorna los ojos y camina hacia mí para colgarse de mi cuello como acostumbra.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Somos novios desde la secundaria. Ya va llegando la hora de que nos casemos, Charl —insinúa. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¡Estás loca! ¿Casarme yo? Perdí la memoria, no la razón. No hay forma de que yo te pida matrimonio. Si estás esperando eso de mí, es mejor que te marches —Quito sus manos de mi cuello y camino al refrigerador para ver si consigo alguna cerveza o lo que sea. Esta mujer me pone de cabeza. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Lo siento, bebé. No te enojes —murmura, abrazando mi torso con sus brazos. Me tiene harto. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Lo que dijo Josep debe ser verdad. Yo no puedo estar enamorado de esta loca. Sé que hay alguien más, mi mente ha estado tratando de recordármelo porque lo único que veo al cerrar los ojos son dos irises grises mirándome con dulzura. </span></span></p>
<p class="calibre4"><span><span class="calibre8">***</span></span></p>
<p class="calibre7"><span><span class="calibre8">Temprano en la mañana, recibo unos mensajes inquietantes de parte de mi hermana.  </span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold">Betsy:</span></span></span><span><span class="calibre8"> No se encuentra lo que no se busca. Búscala, Charles. </span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold">Yo: </span></span></span><span><span class="calibre8">¿De quién hablas? </span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold">Betsy:</span></span></span><span><span class="calibre8"> De tu felicidad. Vuelve a New York. </span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold">Yo: </span></span></span><span><span class="calibre8">¿Qué sabes? </span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold">Betsy:</span></span></span><span><span class="calibre8"> Solo ve allá, Charles. Es todo lo que te puedo decir.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">¿Por qué no me puede decir más? ¿Qué se lo impide? </span></span></p>
<p class="calibre7"><span><span class="calibre8">No sé ni por donde comenzar a buscar. Aunque, si soy piloto como aseguran, el mejor lugar debe ser el aeropuerto. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Meto el teléfono en el bolsillo trasero de mis vaqueros, me pongo la gorra  y los lentes que me dio Vivian en Lisboa, y me encamino a la puerta. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Charles, ¿a dónde vas? —pregunta la voz chillona de mi acosadora. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Al  aeropuerto J.F. Kennedy —Mascullo  antes de salir del apartamento del terror. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Espera, voy contigo —¡Mierda!</span></span></p>
<p class="calibre7"><span><span class="calibre8">Stefany maneja su auto hasta el aeropuerto, escuchando una canción que me está comenzando a martillar la cabeza, dice algo de hacer rogar a alguien. </span></span></p>
<p class="calibre7"><span><span class="calibre8">¡Dios, si es que creo en ti, ten piedad de mí! </span></span></p>
<p class="calibre7"><span><span class="calibre8">Me bajo del auto en el estacionamiento, sin esperar a la mona. Mis pies me llevan solos a una cafetería llamada </span></span><span><span class="calibre8"><span class="italic">Marcus</span></span></span><span><span class="calibre8">, seguro me gustaba comer aquí. Mientras espero en una mesa para que me atiendan, veo venir a la maniática con el ceño fruncido.</span></span></p>
<p class="calibre7"><span><span class="calibre8">—Bebé, me hiciste correr. ¿Por qué tanto apuro? —No le respondo, no quiero hablar más con ella.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">Una mesonera se acerca en ese momento, salvándome de la entrometida de Stefany. Diez minutos después, estoy tomando el café delicioso que me sirvió la mesonera. Ya entiendo porqué mi subconsciente me trajo aquí, este café es demasiado bueno. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Trato de disfrutar del café, de verdad lo intento, pero Stefany ha iniciado un monologo de  los viajes que planea que hagamos y de lo romántico que debe ser Paris en navidad. Estoy al borde del suicidio. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Aparto la vista de esa mujer insufrible y me quedo embobado mirando a una rubia que camina por el pasillo. Es la mujer más bella que recuerde haber visto. La rubia levanta la mirada hacia aquí y se me queda mirando fijo, atónita.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">¡Mierda! Se dio cuenta que la estaba mirando. Pero algo va mal, su gesto ha cambiado, parece que en cualquier momento se va desmayar. Corro lo más rápido que puedo para alcanzarla, pero no me da tiempo. La rubia se precipita en el suelo, la levanto en mis brazos y solo con ese contacto mi corazón bombea sangre a borbollones en mi pecho. </span></span></p>
<p class="calibre7"><span><span class="calibre8"> —Señorita, despierte por favor. Señorita —Ella parpadea un par de veces antes de dejarme ver sus ojos grises, son dulces y hermosos, son los ojos que recuerdo. ¡Es increíble, la encontré!</span></span></p>
<div class="mbppagebreak" id="calibre_pb_17"></div>
</div>


  </div>

  
  <div class="calibreToc">
    <h2><a href="../h93fli.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_004.html">Índice</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_005.html">Prólogo</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_006.html">Capítulo 1</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_007.html">Capítulo 2</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_008.html">Capítulo 3</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_009.html">Capítulo 4</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_010.html">Capítulo 5</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_011.html">Capítulo 6</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_012.html">Capítulo 7</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_013.html">Capítulo 8</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_014.html">Capítulo 9</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_015.html">Capítulo 10</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_016.html">Capítulo 11</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_017.html">Capítulo 12</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_018.html">Capítulo 13</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_019.html">Capítulo 14</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_020.html">Capítulo 15</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_021.html">Capítulo 16</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_022.html">Capítulo 17</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_023.html">Capítulo 18</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_024.html">Capítulo 19</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_025.html">Capítulo 20</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_026.html">Capítulo 21</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_027.html">Capítulo 22</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_028.html">Capítulo 23</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_029.html">Capítulo 24</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_030.html">Capítulo 25</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_031.html">Capítulo 26</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_033.html">Capítulo 27</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_034.html">Capítulo 28</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_035.html">Capítulo 29</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_036.html">Capítulo 30</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_037.html">Capítulo 31</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_038.html">Capítulo 32</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_039.html">Capítulo 33</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_040.html">Epílogo</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_041.html">Agradecimientos</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_042.html">Sobre la Autora</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_043.html">Libros de la Autora</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_016.html" class="calibreAPrev">previous page</a>
    

    <a href="../h93fli.html" class="calibreAHome"> start</a>

    
      <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_018.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
