<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Di que sí</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../h93fli.html">Di que sí
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Flor M. Urdaneta

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_033.html" class="calibreAPrev">previous page</a>
        

        
          <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_035.html" class="calibreANext"> next page</a>
        
      </div>
    

    
<div class="calibre1">
<p class="calibre4"><br class="calibre1"/><a></a><a></a><a></a><a></a><a id="filepos442636"><span><span class="calibre6"><span class="bold"><span class="italic">Capítulo 28</span></span></span></span></a><span><span class="calibre6"><span class="bold"><span class="italic">
</span></span></span></span></p>
<p class="calibre4"><a></a><a></a><a></a><a></a><a></a><a></a><a><span><span class="calibre6"><span class="bold"><span class="italic">Sala de Emergencias</span></span></span></span></a></p>
<p class="calibre2"><span><span class="calibre8"><span class="bold"><span class="italic"> </span></span></span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold"> </span></span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold"><span class="italic">ELIZABETH </span></span></span></span></p>
<p class="calibre7"><span><span class="calibre8"> </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Busca en mi maleta un vestido —le digo calmada, entrar en pánico no nos ayudará de nada. </span></span></p>
<p class="calibre7"><span><span class="calibre8">»¡Ahora mismo, Charles! — Le grito al ver que no reacciona. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Sí, mi amor. Tranquila, todo saldrá bien —Lo veo caminar tembloroso hasta la maleta, la abre y empieza a rebuscar entre la ropa. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Toma cualquiera, Charles —Me pasa un vestido floreado, junto a unas zapatillas bajas. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Hermano, ¿sigues en el hotel? Necesito que vayas al estacionamiento y nos esperes junto al ascensor. Busca a Lilian y no le digas a nadie más. Es urgente. </span></span></p>
<p class="calibre7"><span><span class="calibre8">El rostro de Charles se ve inexpresivo cuando se voltea mirarme. Frunzo los labios y reprimo las lágrimas, porque no quiero asustarlo más de lo que está. Luego me toma de la mano, salimos de la habitación y caminamos hasta al ascensor. Los diez pisos hacia abajo se me hacen eternos; quiero llegar cuanto antes al hospital para saber si todo está bien… es lo único que quiero escuchar. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Cuando las puertas del ascensor se abren, Richard ya está esperándonos en el auto junto a Lil. Nos subimos en el puesto de atrás y Charles le pide que nos lleve a urgencias. No hay que decir más, saben que algo va mal con el bebé. </span></span></p>
<p class="calibre4"><span><span class="calibre8">***</span></span></p>
<p class="calibre7"><span><span class="calibre8">Una vez en urgencias, le digo al médico de turno lo  del sangrado y el dolor. Él decide hacerme una ecografía y algunos exámenes de emergencia. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Charles está muy afligido y nervioso, yo también lo estoy, pero no lo demuestro; sabía que algo así podía pasar, lo presentía… era lo que más temía. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Cuando perdí a Oliver, sentí que mi mundo se despedazaba, estaba sola en el mundo; ahora es distinto porque tengo a Charles. Aunque eso empeora las cosas porque, si lo pierdo, él también sufrirá y no quiero que pase por algo así. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Estoy aquí, mi amor —susurra, tomando mi mano. </span></span></p>
<p class="calibre7"><span><span class="calibre8"> El médico se sienta a mi lado, esparce el gel en mi vientre, pasa el transductor por él y entonces lo escucho, es el sonido armónico de su corazón, el que esperaba escuchar. Pero, aunque sus latidos son altos y claros, sigo esperando que el médico lo confirme. Le pido a Dios con toda mi fe que mi hijo permanezca dentro de mí el tiempo suficiente para que pueda nacer saludable.</span></span></p>
<p class="calibre7"><span><span class="calibre8"> —¿Está bien? —Le pregunto, expectante. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Su bebé está en perfectas condiciones de salud, pero la placenta está cubriendo parcialmente la abertura hacia el cuello uterino, lo que medicamente se conoce como placenta previa. Eso fue lo que provocó el sangrado.</span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Qué tan grave es? —pregunta Charles. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—La placenta previa puede ser peligrosa tanto para la madre como para el bebé. Deberá guardar reposo, reducir sus actividades y no practicar relaciones sexuales hasta que el embarazo llegue a termino. Le pondré un tratamiento preventivo y revisiones más frecuentes</span></span></p>
<p class="calibre7"><span><span class="calibre8">—Gracias, doctor. Haremos todo lo necesario por cuidar a nuestro bebé —balbuceo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Respecto a eso, ¿quieren saber el sexo? —Charles y yo nos miramos y decimos sí al unísono. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Es una niña.</span></span></p>
<p class="calibre7"><span><span class="calibre8">—Una hermosa princesa, mi amor —musita mi esposo, conmovido.  </span></span></p>
<p class="calibre4"><span><span class="calibre8">***</span></span></p>
<p class="calibre2"><span><span class="calibre8">¡Charles! —Grito en la oscuridad—. ¡Charles, ayúdame!</span></span></p>
<p class="calibre7"><span><span class="calibre8"> Un frío recorre mi cuerpo mientras camino a tientas por un largo pasillo. Consigo el interruptor, enciendo la luz y me veo rodeada por espejos en cada una de las paredes. Mi vestido de novia luce andrajoso y sucio. Miro hacia atrás y me horrorizo al ver un rastro de sangre en el suelo, toco mi vientre y comienzo a llorar, no hay nada, está vacío. La perdí. </span></span></p>
<p class="calibre7"><span><span class="calibre8">¡No, por favor! </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Elizabeth, mi amor. Despierta —Abro los ojos y me encuentro con la mirada aterrada de Charles. Mi pequeña bebé se mueve en mi vientre, confirmando que aquello se trató de una terrible pesadilla. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No quiero volver a soñar eso, Charles. Es horrible —sollozo, escondida en su pecho. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Todo estará bien, mi amor. Yo te cuidaré y a nuestra niña. Estoy contigo —Mi esposo acaricia mi espalda con mimo, llenando de paz mi corazón </span></span></p>
<p class="calibre7"><span><span class="calibre8">Me despierto tarde en la mañana, casi a las diez. Charles está sentado en la cama, leyendo algo en su tableta, velando mis sueños. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Buenos días, esposo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Buenos días, esposa —responde y me besa.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Tengo un hambre terrible. La bebé hará que ruede en vez de caminar.</span></span></p>
<p class="calibre7"><span><span class="calibre8"> Charles se ríe, como si fuera una broma, pero hablo en serio; estoy comiendo demasiado. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Te traeré el desayuno, mi rubia hermosa y glotona. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¡Charles! —lo reto.</span></span></p>
<p class="calibre7"><span><span class="calibre8">Me devoro los </span></span><span><span class="calibre8"><span class="italic">hot cakes</span></span></span><span><span class="calibre8"> que me trajo Charles, junto con un enorme batido de fresas, y luego me levanto de la cama para darme una ducha. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Me tengo que ir, mi amor. Volveré en la noche, Lil te acompañará hasta que vuelva. ¿Necesitas algo antes de que me vaya? </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Sí, necesito que no te vayas —digo con un puchero. Charles sonríe, me da un beso y se va. ¡Me ha abandonado! </span></span><a></a><a></a><a><div class="mbppagebreak" id="calibre_pb_34"></div>
</a></p>
</div>


  </div>

  
  <div class="calibreToc">
    <h2><a href="../h93fli.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_004.html">Índice</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_005.html">Prólogo</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_006.html">Capítulo 1</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_007.html">Capítulo 2</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_008.html">Capítulo 3</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_009.html">Capítulo 4</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_010.html">Capítulo 5</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_011.html">Capítulo 6</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_012.html">Capítulo 7</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_013.html">Capítulo 8</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_014.html">Capítulo 9</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_015.html">Capítulo 10</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_016.html">Capítulo 11</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_017.html">Capítulo 12</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_018.html">Capítulo 13</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_019.html">Capítulo 14</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_020.html">Capítulo 15</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_021.html">Capítulo 16</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_022.html">Capítulo 17</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_023.html">Capítulo 18</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_024.html">Capítulo 19</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_025.html">Capítulo 20</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_026.html">Capítulo 21</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_027.html">Capítulo 22</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_028.html">Capítulo 23</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_029.html">Capítulo 24</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_030.html">Capítulo 25</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_031.html">Capítulo 26</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_033.html">Capítulo 27</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_034.html">Capítulo 28</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_035.html">Capítulo 29</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_036.html">Capítulo 30</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_037.html">Capítulo 31</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_038.html">Capítulo 32</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_039.html">Capítulo 33</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_040.html">Epílogo</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_041.html">Agradecimientos</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_042.html">Sobre la Autora</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_043.html">Libros de la Autora</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_033.html" class="calibreAPrev">previous page</a>
    

    <a href="../h93fli.html" class="calibreAHome"> start</a>

    
      <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_035.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
