<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Di que sí</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../h93fli.html">Di que sí
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Flor M. Urdaneta

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_030.html" class="calibreAPrev">previous page</a>
        

        
          <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_032.html" class="calibreANext"> next page</a>
        
      </div>
    

    
<div class="calibre1">
<p class="calibre4"><br class="calibre1"/><a></a><a></a><a></a><a></a><a id="filepos405994"><span><span class="calibre6"><span class="bold"><span class="italic">Capítulo 26</span></span></span></span></a></p>
<p class="calibre4"><a></a><a></a><a></a><a></a><a></a><a></a><a><span><span class="calibre6"><span class="bold"><span class="italic">Estamos embarazados</span></span></span></span></a></p>
<p class="calibre2"><span><span class="calibre8"><span class="italic"> </span></span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold"> </span></span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold">CHARLES</span></span></span></p>
<p class="calibre7"><span><span class="calibre8"> </span></span></p>
<p class="calibre7"><span><span class="calibre8">¡Dios mío! Creo que he consentido demasiado a esa pequeña rabiosa. Si ella tuviera al menos una idea de lo mucho que deseo hacerle el amor no se enojaría. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Elizabeth… ábreme la puerta, amor.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No quiero verte, Charles. Déjame sola. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Qué haces ahí? —Me pregunta Lilian al verme apostado frente a la puerta de mi  malcriada novia. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Ella… Eh… Me odia, creo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Ya se le pasará. Tengo algo para ti, con todo lo que pasó se me había olvidado entregártela —Saca un sobre blanco de su bolso y me lo entrega en la mano—. Me la dio antes de irse a Boston. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Gracias, Lilian. Tengo que… Necesito ir por unas cosas y pasar por la aerolínea.  Si pregunta por mí, le dices que volveré más tarde. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Ve tranquilo, Charles, que yo te la arreglo para cuando vuelvas —bromea. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Dile que la quiero, ¿si? —Lilian gira los ojos mientras niega con la cabeza. Sé que soy demasiado cursi, pero qué le puedo hacer. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Antes de ir a mi apartamento, paso por la oficina de la aerolíne;  wl señor Wells me recibe felicitándome por la forma en que maniobré el avión para amerizar sin daños mayores. Luego me entrega una carpeta negra, que contiene el informe del accidente. La conclusión fue: “Falla de motores provocado por falta de presión en tornillos de sujeción”. El señor Wells agrega que me comporté a la altura de la situación, cumplí con todos los protocolos y salvé a la mayoría de los pasajeros; algunos murieron por inmersión.</span></span></p>
<p class="calibre7"><span><span class="calibre8">—Entonces, ¿puedo volver a volar? </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Sin duda alguna, Jones. Eres uno de nuestros mejores pilotos. —Le estrecho la mano y le agradezco por la oportunidad. </span></span></p>
<p class="calibre4"><span><span class="calibre8">***</span></span></p>
<p class="calibre7"><span><span class="calibre8">Una vez en mi apartamento, me siento en el sofá, abro el sobre y comienzo a leer la última carta que me escribió Elizabeth. </span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="italic"> </span></span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="italic">Querido Charles</span></span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="italic">Cuando nos conocimos, mi corazón estaba roto y sin esperanzas, pero tú me rescataste, cambiaste mi forma de ver la vida, me enseñaste que el amor verdadero existe. Traté con todas mis fuerzas de no amarte, pero se me hizo imposible, conquistaste cada parte de mi corazón. Te dije adiós hace unas horas, pero te estaré esperando, Charles. Por siempre y para siempre.</span></span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="italic">Posdata: Si un día me recuerdas, mi respuesta es sí. </span></span></span></p>
<p class="calibre7"><span><span class="calibre8">¡Me dijo que sí!  Esto es… me dijo que sí. La emoción no me cabe en el pecho, es tanta que me hace llorar como un pendejo. Si Richard me viera se mofaría de mí el muy imbécil. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Me apresuro a armar una maleta con varios cambios de ropa para ir con Elizabeth. Cuando todo está dentro, abro el primer cajón de mi armario y saco el anillo que le compré hace muchos meses atrás. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Subo a mi auto por primera vez en semanas y conduzco a casa de mi futura esposa. Cuando llego ahí, todo oscuro. Enciendo la luz y me encuentro con cientos de globos multicolores danzando en la sala. Elizabeth se abre paso entre ellos, adornando su hermoso rostro con la sonrisa que me derrite el corazón. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Perdóname, amor. Soy una tonta —susurra mientras me abraza. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No hay nada que perdonar —Acaricio su hermoso cabello dorado con mis dedos, disfrutando de este dulce momento. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Por siempre tuya, para siempre mío —musita en mi oído. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Por siempre, mi rubia hermosa. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Sellamos nuestra promesa con un beso apasionado y febril. Separo mis labios de los suyos, saco el anillo que guardaba en el bolsillo de mi pantalón, me arrodillo en el suelo y le hago de nuevo la pregunta. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Elizabeth McColl, mujer hermosa y apasionada, la luz de mi oscuridad y amor de mi vida, ¿te casarías conmigo? Di que sí. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¡Sí! —Sus mejillas están bañadas en lágrimas para cuando responde. </span></span></p>
<p class="calibre7"><span><span class="calibre8">»Es perfecto, mi amor, como tú —pronuncia, mirando el anillo de zafiro azul que deslicé en su dedo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No soy perfecto, Elizabeth, simplemente te quiero. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Y yo a ti, morenito —Sus labios se apoderan de los míos con propiedad; son suyos para toda la vida. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Interrumpo el beso —antes de terminar llevándomela a la cama y hacerle el amor como quiero— y le muestro la bolsa que contiene su dulce favorito: helado de chocolate con chispas de chocolate. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Como lo dije, perfecto. </span></span></p>
<p class="calibre7"><span><span class="calibre8">En menos de dos minutos, ya tiene una cuchara en una mano y el pote de helado en la otra. La sigo hasta la sala y me siento junto a ella en el sofá. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Te traje algo más. Sé cuánto te preocupas por nuestro hijo, así que compre un </span></span><span><span class="calibre8"><span class="italic">Doppler fetal. </span></span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Qué es eso, amor? —me pregunta antes de llevarse una cuchara de helado a la boca. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Es un aparatito que pasas por tu vientre y puedes escuchar los latidos del bebé. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Es en serio? ¡Oh mi Dios! Quiero escucharlo.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Por qué tanto alboroto? —pregunta Lilian al salir de su habitación. Creo que llegó el momento de darle la noticia, será la primera en saberlo. Ya se lo habría dicho a Richard, pero no lo he visto en persona. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Lilian, hay algo que te queremos contar. Pero por favor, no grite —Le advierte Elizabeth.</span></span></p>
<p class="calibre7"><span><span class="calibre8">—Trataré. No te prometo nada. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Estamos embarazados —revela mi prometida. Lilian comienza a saltar por todo el apartamento, explotado algunos globos en el proceso.</span></span></p>
<p class="calibre7"><span><span class="calibre8">—¡Felicidades! Eso es… Ustedes se lo merecen. De verdad que sí —balbucea mientras llora. Sí, está llorando. </span></span></p>
<p class="calibre7"><span><span class="calibre8">»¿Abrazo grupal? —propone, con los brazos extendidos. Nos  levantamos del sofá y abrazamos a la loca de Lilian.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Sabes, eres la primera en saberlo y también serás la primera en escucharlo</span></span></p>
<p class="calibre7"><span><span class="calibre8">—¡Oh mi Dios! —grita. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Primero lo primero —Anuncio, mientras saco el instructivo del aparato para leerlo con detenimiento. </span></span></p>
<p class="calibre7"><span><span class="calibre8"> —Deja de leer, Charles. Quiero escuchar a mi bebé. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Falta poco, amor —Ella bufa y no tengo que mirarla para saber que está haciendo un enorme puchero de malcriada. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Cuando el aparato tiene las baterías instaladas, le pido que se tumbe en el sofá, coloco el gel en su vientre y luego paso el transductor. En las instrucciones decía que es necesario encontrar el corazón del bebé para poder escucharlo. Me toma varios minutos localizar su corazoncito, pero ahí está el </span></span><span><span class="calibre8"><span class="italic">bum-bum-bum, </span></span></span><span><span class="calibre8">fuerte y claro. Es el sonido más hermoso que he escuchado en mi vida. </span></span><a></a></p>
<p class="calibre7"><span><span class="calibre8">Aparte de los latidos del corazoncito de nuestro bebé, la sala se ha llenado de sollozos y lágrimas. Somosun trío, pero de llorones</span></span><span><span class="calibre8">.</span></span><span><span class="calibre8">  </span></span><a></a><a></a><a></a></p>
<div class="mbppagebreak" id="calibre_pb_31"></div>
</div>


  </div>

  
  <div class="calibreToc">
    <h2><a href="../h93fli.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_004.html">Índice</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_005.html">Prólogo</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_006.html">Capítulo 1</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_007.html">Capítulo 2</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_008.html">Capítulo 3</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_009.html">Capítulo 4</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_010.html">Capítulo 5</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_011.html">Capítulo 6</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_012.html">Capítulo 7</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_013.html">Capítulo 8</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_014.html">Capítulo 9</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_015.html">Capítulo 10</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_016.html">Capítulo 11</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_017.html">Capítulo 12</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_018.html">Capítulo 13</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_019.html">Capítulo 14</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_020.html">Capítulo 15</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_021.html">Capítulo 16</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_022.html">Capítulo 17</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_023.html">Capítulo 18</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_024.html">Capítulo 19</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_025.html">Capítulo 20</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_026.html">Capítulo 21</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_027.html">Capítulo 22</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_028.html">Capítulo 23</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_029.html">Capítulo 24</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_030.html">Capítulo 25</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_031.html">Capítulo 26</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_033.html">Capítulo 27</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_034.html">Capítulo 28</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_035.html">Capítulo 29</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_036.html">Capítulo 30</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_037.html">Capítulo 31</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_038.html">Capítulo 32</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_039.html">Capítulo 33</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_040.html">Epílogo</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_041.html">Agradecimientos</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_042.html">Sobre la Autora</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_043.html">Libros de la Autora</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_030.html" class="calibreAPrev">previous page</a>
    

    <a href="../h93fli.html" class="calibreAHome"> start</a>

    
      <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_032.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
