<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Di que sí</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../h93fli.html">Di que sí
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Flor M. Urdaneta

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_024.html" class="calibreAPrev">previous page</a>
        

        
          <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_026.html" class="calibreANext"> next page</a>
        
      </div>
    

    
<div class="calibre1">
<p class="calibre4"><br class="calibre1"/><a></a><a></a><a></a><a></a><a id="filepos335010"><span><span class="calibre6"><span class="bold"><span class="italic">Capítulo 20</span></span></span></span></a></p>
<p class="calibre4"><a></a><a></a><a></a><a></a><a></a><a></a><a><span><span class="calibre6"><span class="bold"><span class="italic">La amo</span></span></span></span></a></p>
<p class="calibre2"><span><span class="calibre8"><span class="italic"> </span></span></span></p>
<p class="calibre7"><span><span class="calibre8"> </span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold"><span class="italic">CHARLES</span></span></span></span></p>
<p class="calibre7"><span><span class="calibre8"> </span></span></p>
<p class="calibre7"><span><span class="calibre8">Paso ese día en Texas con mis hermanos, la mayoría del tiempo era ellos hablando de nuestra niñez y de aquellas travesuras que ningún padre debería saber. La pasamos bien, me gustó saber más de ellos y darme cuenta de que son buenos chicos. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Mis padres intentaron conversar conmigo, pero me negué, sigo dolido con ellos por mentirme y más aún por obligar a mis hermanos a hacerlo. Soy un hombre y no pueden meterse en mi vida, decidiendo quién es mejor para mí. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Me despedí de todos temprano en la mañana y me fui al aeropuerto. Tengo que ver a Elizabeth, decirle lo que siento y de pedirle perdón, si es posible de rodillas. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Las palabras cruzan mi mente como una tormenta y necesito plasmarlas en algún lado. Le pido a la azafata papel y lápiz, lo trae unos minutos después y comienzo a escribir. </span></span></p>
<p class="calibre7"><span><span class="calibre8"> </span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="italic">Elizabeth</span></span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="italic">Lamento tanto como acabaron las cosas, y más lamento no poder recordarte, pero debo confesarte que, en los pocos días que he compartido contigo, me he dado cuenta de que las pruebas no hacen falta; que, aunque mi mente no te recuerda, mi corazón sí lo hace. Cierro los ojos y te veo a ti. Y cuando los abro, espero encontrarte delante y no estás. Solo han pasado horas desde que nos dijimos adiós, pero se me han hecho eternas. No dejo de pensar en ti, en tus ojos, en tus hermosos labios… Puede que parezca absurdo e ilógico, y quizás no me puedas creer, pero la verdad es que estoy enamorado de ti. No te recuerdo, pero igual te quiero. ¿Puedes perdonarme? Di que sí. </span></span></span></p>
<p class="calibre7"><span><span class="calibre8">No tengo idea de cómo pude escribir todas esas cosas, pero lo hice sin ningún esfuerzo, sin siquiera detenerme a pensar. Seguí a mi corazón y estoy convencido de que ella es mi única verdad entre tanta mentira.</span></span></p>
<p class="calibre4"><span><span class="calibre8">***</span></span></p>
<p class="calibre7"><span><span class="calibre8">—Hola, bebé —me saluda Stefany con voz ronca mientras se cuelga de mi cuello. Me quito sus manos de encima y la aparto, no soporto tenerla cerca, su perfume me ahoga y su voz me marea. </span></span></p>
<p class="calibre7"><span><span class="calibre8">»Bebé, ¿por qué me tratas así? </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No me digas bebé y no te hagas la inocente. Sé que no somos novios, sé todo lo que planeaste para separarme de Elizabeth y que manipulaste a mi madre para crear toda esta farsa.</span></span></p>
<p class="calibre7"><span><span class="calibre8">—No dejes que te engañen, Charles. No le creas a la zorra de Elizabeth. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No la vuelvas a llamarla así —le exijo, realmente molesto. No tiene derecho a hablar mal de ella y no se lo voy a permitir.</span></span></p>
<p class="calibre7"><span><span class="calibre8">—Charles… Lo hice por nosotros. Merecíamos una segunda oportunidad y quise que… </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No, Stefany. Yo quiero a Elizabeth, no a ti. Entiéndelo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¡Eso es mentira! Tú no la quieres, no sabes ni quién es —replica, mientras tira de mi camiseta para intentar abrazarme. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No te denigres de esa forma, Stefany. Sé que puedes encontrar a alguien que te quiera, pero ese alguien no soy yo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No, yo te quiero a ti, Charles. Por favor, no me dejes —suplica de rodillas, delante de mí. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Deja de actuar y levántate del suelo. Vine aquí solo por una cosa: las cartas de  Elizabeth. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No sé de qué hablas. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Me crees tan estúpido? Sé que fuiste tú. Ahora, si no quieres entregármelas, yo mismo las buscaré —Camino hacia la cocina y comienzo a abrir las puertas de las alacenas. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Tengo pruebas de Elizabeth acostándose con otro mientras tú estabas perdido.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">La enfrento y le digo que deje de mentir, que no le creo. Entonces ella camina hasta la cama y saca algo del cajón de su mesita de noche. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Aquí están, Charles. Yo si tengo pruebas de que Elizabeth es una zorra. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Me entrega un sobre blanco, que contiene más de veinte fotos de Elizabeth en el aeropuerto con un tipo rubio. Otra en un restaurant con él, unas más de los dos en un vestíbulo y por último una serie de instantáneas del sujeto entrando a una habitación. ¿Qué significa esto? La duda se instala directo en mi corazón. Si esto es verdad, entonces Elizabeth también me mintió. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No caeré de nuevo en tus trampas. Elizabeth tendrá una explicación para esto. Quizás sean de antes de conocerme, no tiene sentido. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No, Charles. Yo misma las tomé.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Quieres decir que eres una psicópata que la ha perseguido hasta Lisboa para tomar estas fotos?  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Eso no es cierto —balbucea. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Camino hasta la mesita junto a la cama y abro el mismo cajón del que ella sacó las fotos. Stefany trata de impedírmelo, pero logro tumbarla a la cama. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Lo sabía. ¡Fuiste tú la que entró a su apartamento! —le grito, </span></span><a><span><span class="calibre8">cuando me hago de las cartas. </span></span></a></p>
<p class="calibre7"><span><span class="calibre8">—Te quiero, Charles. Créeme —ronronea, al tiempo que intenta abrazarme. La empujo contra el colchón y le ordeno que nunca más se acerque a nosotros, que lo lamentará si lo hace. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Luego salgo de su apartamento, cerrando la puerta con un azote. Espero no ver a esa loca nunca más. </span></span></p>
<p class="calibre14"><a></a><a></a><a><div class="mbppagebreak" id="calibre_pb_25"></div>
</a></p>
</div>


  </div>

  
  <div class="calibreToc">
    <h2><a href="../h93fli.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_004.html">Índice</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_005.html">Prólogo</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_006.html">Capítulo 1</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_007.html">Capítulo 2</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_008.html">Capítulo 3</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_009.html">Capítulo 4</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_010.html">Capítulo 5</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_011.html">Capítulo 6</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_012.html">Capítulo 7</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_013.html">Capítulo 8</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_014.html">Capítulo 9</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_015.html">Capítulo 10</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_016.html">Capítulo 11</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_017.html">Capítulo 12</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_018.html">Capítulo 13</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_019.html">Capítulo 14</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_020.html">Capítulo 15</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_021.html">Capítulo 16</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_022.html">Capítulo 17</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_023.html">Capítulo 18</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_024.html">Capítulo 19</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_025.html">Capítulo 20</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_026.html">Capítulo 21</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_027.html">Capítulo 22</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_028.html">Capítulo 23</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_029.html">Capítulo 24</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_030.html">Capítulo 25</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_031.html">Capítulo 26</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_033.html">Capítulo 27</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_034.html">Capítulo 28</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_035.html">Capítulo 29</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_036.html">Capítulo 30</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_037.html">Capítulo 31</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_038.html">Capítulo 32</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_039.html">Capítulo 33</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_040.html">Epílogo</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_041.html">Agradecimientos</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_042.html">Sobre la Autora</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_043.html">Libros de la Autora</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_024.html" class="calibreAPrev">previous page</a>
    

    <a href="../h93fli.html" class="calibreAHome"> start</a>

    
      <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_026.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
