<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Di que sí</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../h93fli.html">Di que sí
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Flor M. Urdaneta

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_019.html" class="calibreAPrev">previous page</a>
        

        
          <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_021.html" class="calibreANext"> next page</a>
        
      </div>
    

    
<div class="calibre1">
<br class="calibre1"/>
<blockquote class="calibre16"><p class="calibre4"><a></a><a></a><a></a><a></a><a id="filepos281106"><span><span class="calibre6"><span class="bold"><span class="italic">Capítulo 15</span></span></span></span></a></p></blockquote>
<blockquote class="calibre16"><p class="calibre4"><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a><span><span class="calibre6"><span class="bold"><span class="italic">Te deseo</span></span></span></span></a></p></blockquote>
<p class="calibre2"><span><span class="calibre8"><span class="italic"> </span></span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold"> </span></span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold">CHARLES </span></span></span></p>
<p class="calibre7"><span><span class="calibre8"> </span></span></p>
<p class="calibre7"><span><span class="calibre8">Una oleada de excitación recorre mis venas como si de un río se tratara, como aguas bravías y temerarias que se derraman en mi entrepierna. La deseo como a ninguna otra, como a nadie más. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Besar sus labios es como beber un néctar dulce. Tocar su cuerpo es como despertar de un sueño de miles de años. Ella es… fuego, una hoguera que se enciende con la leña de mi pasión. La deseo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Recorro la silueta de su cuerpo con mis manos mientras me deleito en esa boca carnosa y sedienta de mí. Ninguna me había entregado tanto con un beso. Es una experiencia extra-corpórea, va más allá de lo que puedo tocar con mis manos. ¿Qué significa esto? </span></span></p>
<p class="calibre7"><span><span class="calibre8">Mientras mis manos se adentraban por debajo del dobladillo de su blusa, ella me empuja contra el ascensor, me aparta de su lado y algo en mí duele, no sé que es. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Charles, que sientes por mí? —me pregunta con la voz entrecortada. </span></span></p>
<p class="calibre7"><span><span class="calibre8">¿Qué siento? No tengo claro mis sentimientos, no tengo nada claro con respecto a mi vida, lo único que es seguro es que la deseo como nunca había deseado a nadie. Elizabeth es como un descubrimiento exótico y enigmático, es la pasión y la lujuria hecha carne. </span></span></p>
<p class="calibre7"><span><span class="calibre8">No puedo ser otra cosa con ella más que sincero, pero, esa sinceridad, la ha herido al punto de hacerla llorar. ¿Qué clase de maldito egoísta soy? ¿Cómo le dije todo eso? </span></span></p>
<p class="calibre7"><span><span class="calibre8">Le digo que lo siento mientras trato de acercarme. Quiero abrazarla y deshacer mis últimas palabras, quiero borrar sus lágrimas y dibujarle una sonrisa, una igual a la que me regaló al verme en el aeropuerto. Pero respeto su distancia y entiendo sus motivos, le hice daño. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Mientras ella camina delante de mí, trato de descifrar el dolor que se instaló en mi estómago cuando me alejó de su lado. Sentí como si un muro inmenso se construyera, uno que desearía derribar antes de que se eleve más alto. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Cuando entramos a su apartamento, nos encontramos con un caos total. Los muebles están de cabeza, hay papeles en el suelo, parece que un huracán hubiera entrado por la ventana. Elizabeth corre a su habitación y vuelve a salir, su rostro muestra desesperación y mucha tristeza. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Se lo llevaron todo, Charles. No hay ninguna prueba, no hay nada —balbucea, entre hipos. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Elizabeth se deja caer en el sofá mientras oculta su rostro detrás de sus manos. Está llorando muy fuerte. No sé qué carajos hacer para consolarla. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No te preocupes, Elizabeth. Ya lo resolveremos —Le hablo, sentándome a su lado. Quiero abrazarla, pero a la vez le quiero dar su espacio, dejar que sea ella quien se acerque. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Cuanto daría para que me recordaras, Charles. Tú y yo nos amamos tanto. No tienes idea de cuánto —pronuncia con la mirada dolorida y triste. Verla así me conmociona, odio verla sufrir. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Acerco mis manos a las suyas y las acaricio con ternura. Hay algo en ella que hipnotiza, una fuerza de atracción a la que no me puedo resistir. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Te creo, Elizabeth. Lamento tanto no poder recordarte, lamento no poder corresponder a tu amor y lamento mucho más hacerte llorar.</span></span></p>
<p class="calibre7"><span><span class="calibre8">—¡Charles, estás vivo! —Grita una voz masculina. Me incorporo del sofá y veo a un tipo rubio, en el umbral de la puerta, junto a una castaña. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Su efusividad me toma por sorpresa. ¿Este tipo me está abrazando? </span></span></p>
<div class="mbppagebreak" id="calibre_pb_20"></div>
</div>


  </div>

  
  <div class="calibreToc">
    <h2><a href="../h93fli.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_004.html">Índice</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_005.html">Prólogo</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_006.html">Capítulo 1</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_007.html">Capítulo 2</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_008.html">Capítulo 3</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_009.html">Capítulo 4</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_010.html">Capítulo 5</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_011.html">Capítulo 6</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_012.html">Capítulo 7</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_013.html">Capítulo 8</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_014.html">Capítulo 9</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_015.html">Capítulo 10</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_016.html">Capítulo 11</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_017.html">Capítulo 12</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_018.html">Capítulo 13</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_019.html">Capítulo 14</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_020.html">Capítulo 15</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_021.html">Capítulo 16</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_022.html">Capítulo 17</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_023.html">Capítulo 18</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_024.html">Capítulo 19</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_025.html">Capítulo 20</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_026.html">Capítulo 21</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_027.html">Capítulo 22</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_028.html">Capítulo 23</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_029.html">Capítulo 24</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_030.html">Capítulo 25</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_031.html">Capítulo 26</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_033.html">Capítulo 27</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_034.html">Capítulo 28</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_035.html">Capítulo 29</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_036.html">Capítulo 30</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_037.html">Capítulo 31</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_038.html">Capítulo 32</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_039.html">Capítulo 33</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_040.html">Epílogo</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_041.html">Agradecimientos</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_042.html">Sobre la Autora</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_043.html">Libros de la Autora</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_019.html" class="calibreAPrev">previous page</a>
    

    <a href="../h93fli.html" class="calibreAHome"> start</a>

    
      <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_021.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
