<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Di que sí</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../h93fli.html">Di que sí
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Flor M. Urdaneta

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_031.html" class="calibreAPrev">previous page</a>
        

        
          <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_033.html" class="calibreANext"> next page</a>
        
      </div>
    

    
<div class="calibre1">
<p class="calibre14"><br class="calibre1"/></p>
<p class="calibre2"><span><span class="calibre6"><span class="bold"><span class="italic">Capítulo 26</span></span></span></span></p>
<p class="calibre2"><a></a><a></a><a></a><a></a><a></a><a></a><a><span><span class="calibre6"><span class="bold"><span class="italic">Feliz Cumpleaños</span></span></span></span></a></p>
<p class="calibre2"><span><span class="calibre8"><span class="italic"> </span></span></span></p>
<p class="calibre7"><span><span class="calibre8"> </span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold">13 DE JUNIO DE 2015</span></span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold">ELIZABETH </span></span></span></p>
<p class="calibre7"><span><span class="calibre8"> </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Cumpleaños feliz, te deseamos a ti, cumpleaños querido Charles, cumpleaños feliz —Canto, mientras sostengo en mi mano una torta de chocolate y fresas que compré para los dos, porque también es mi cumpleaños—. Pide un deseo, mi amor. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Qué más podría pedir si los tengo a ustedes —pronuncia antes de  besar mi vientre abultado. Estoy entrando a la semana veinte del embarazo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Luego de comer el primer postre, vamos por el siguiente, el que me gusta más que el chocolate, hacer el amor con mi prometido. Pasaron casi dos meses desde el disparo antes de que Charles y yo tuviéramos relaciones, aunque ningún médico había ordenado ese tipo de abstinencia. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Pasamos el día tumbados en la cama, haciéndonos mimos y viendo mis películas favoritas. Ya eran las nueve de la noche para cuando Charles sale de la habitación y regresa poco después con una guitarra acústica en sus manos. No me esperaba ningún regalo para ese día de su parte, él era suficiente para mí, pero me sorprendió cantándome </span></span><span><span class="calibre8"><span class="italic">Make You Feel My Love</span></span></span><span><span class="calibre8"> de </span></span><span><span class="calibre8"><span class="italic">Bob Dylan,</span></span></span><span><span class="calibre8"> la misma canción que grabó en aquel video. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Verlo ahí, delante de mí, cantando con su voz ronca y sensual, me hace sentir una mezcla de nostalgia, tristeza, alegría… </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Siento tu amor, Charles. Lo siento tanto que me toma entera. Nunca más me dejes —le pido, abrazándolo. Me da miedo despertar de este hermoso sueño. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No planeo ir a ningún lugar que no sea a tu lado, mi amor —Sus manos acarician mi espalda con dulzura. Sentir su calor abrasando mi cuerpo no puede ser un sueño, es real. Nuestro amor es real. </span></span></p>
<p class="calibre4"><span><span class="calibre8">***</span></span></p>
<p class="calibre7"><span><span class="calibre8">Me levanto a las cinco de la mañana para prepararle el desayuno a Charles, antes de que salga al aeropuerto. Volvió a trabajar dos semanas después de nuestro regreso a New York, pero solo hace vuelos nacionales porque no quiere estar muy lejos de nosotros por si algo se presenta. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Debo admitir que adoro que me cuide, pero está cada vez más sobreprotector; no quiere que salga sola, ni que lave un solo plato. Le he dicho hasta el cansancio que una mujer embarazada no es una inútil, pero no parece comprenderlo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Aunque, en nuestra consulta anterior, la doctora nos dijo que todo estaba perfecto,  que no hay ningún impedimento para que haga mi vida normal y, al parecer, la opinión de una experta logró tranquilizarlo, solo un poco.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">Charles sale media hora después de la habitación, duchado y vistiendo su uniforme, se ve tan apuesto usándolo. De pronto la idea de encerrarlo en la habitación y secuestrarlo para mí parece muy tentadora. Pero no, necesito que se vaya para poder preparar la súper sorpresa de cumpleaños que le tengo.   </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Cómo puedes verte tan bello a estas horas de la mañana? </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Tú sabes, soy todo un galán —bromea. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Ven a desayunar, </span></span><span><span class="calibre8"><span class="italic">galán. </span></span></span></p>
<p class="calibre7"><span><span class="calibre8">Luego de tomar el desayuno, se despide de nosotros como acostumbra. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Bebé, cuida a mamá. Tú sabes que ella es un poco torpe y descuidada. Si se porta mal, dale unas pataditas fuertes —Le habla, pegadito a mi panza. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Torpe, eh? Hoy no te daré mi beso de despedida —mascullo, fingiendo enojo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Charles me abraza, al tiempo que me acaricia el rostro con la punta de su nariz, y luego dice: «Tú te lo pierdes, mi rubia hermosa». Elevo los hombros, me doy la vuelta y camino rumbo a nuestra habitación.  No he dado tres pasos cuando Charles tira de mi mano, me rodea y me planta un beso en la boca. No es un beso suave y tierno de despedida, es uno candente y lujurioso, tan profundo que no lo siento en la boca si no en todo el cuerpo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No querrás llegar tarde al trabajo, </span></span><span><span class="calibre8"><span class="italic">galán</span></span></span><span><span class="calibre8">
</span></span><span><span class="calibre8"><span class="italic">—</span></span></span><span><span class="calibre8">le digo, separándome de él. Tendrá que aguantarse hasta la noche si quiere algo más  de este cuerpo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Eres malvada, Elizabeth —murmura con la voz entrecortada.</span></span></p>
<p class="calibre7"><span><span class="calibre8">—La venganza es dulce, mi amor —respondo con picardía. </span></span></p>
<p class="calibre4"><span><span class="calibre8">***</span></span></p>
<p class="calibre7"><span><span class="calibre8">—Lilian, el ave salió del nido —Anuncio, al entrar a su habitación. Mi amiga está acostada sobre su estómago, envuelta con una frazada que le cubre casi todo el cuerpo, solo veo su cabello castaño revuelto.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿De qué hablas, Lissy? —me pregunta, saliendo de su escondite y con cara de pocos amigos. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Que el ave salió del nido. ¿Acaso olvidaste el código? Tú misma lo creaste. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Quiero dormir —Contesta, abrazando su almohada. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Nada de dormir. Levántate o serás víctima de las cosquillas. —En cuanto digo la palabra con “C”, se levanta de la cama como un resorte. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¡No! Odio las cosquillas. Mira, ya estoy despierta —asegura, abriendo mucho los ojos. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Bien, date una ducha y ve a la cocina, ahí te espera un</span></span><span><span class="calibre8"><span class="italic"> Latte</span></span></span><span><span class="calibre8"> y pan tostado.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">Cuando Lilian está lista, ponemos en marcha el plan “Regalo de Cumpleaños”. Revisamos que todo esté en orden: invitados, torta, vestido, traje, flores, grupo musical, comida, cócteles... solo falta buscar su regalo y arreglarnos para esta noche.</span></span></p>
<p class="calibre7"><span><span class="calibre8">—Si ya tenías todo listo, ¿para qué me hiciste madrugar? </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Pues porque eres mi hermana y tienes que apoyarme, Lil. Además, no es tan temprano.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Sí lo es —replica, con los brazos cruzados sobre su pecho. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Por qué estás tan amargada, Lil? Tú no eres así. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Es verdad, hoy es un día especial para ustedes. Te prometo que luego de la ducha, seré la Lilian loca y sonriente de siempre. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Te quiero, mi loquita. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Yo también, Lissy —responde, abrazándome. Hasta creo que está llorando. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Oye, Lil. Aquí la embarazada melancólica soy yo, no me puedes robar ese puesto.</span></span></p>
<p class="calibre7"><span><span class="calibre8">—Tonta</span></span></p>
<p class="calibre4"><span><span class="calibre8">***</span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Cómo me veo? —Le pregunto a Lilian y a mi mamá cuando salgo del vestidor. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¡Oh, cariño! Luces espectacular pareces una diosa —pronuncia mamá, con los ojos aguados.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¡Oh mi Dios! —grita Lil. Se ve muy emocionada, por fin dejó atrás su mal humor de hace unas horas—. Eres tan bella, Lissy. Si no me gustaran los hombres te juro que serías mía. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Qué cosas dices, muchachita? —replica mi madre, escandalizada. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Lil y yo nos miramos y comenzamos a reír; tenía mucho tiempo sin reírme tanto. Mi madre nos mira ceñuda, mientras niega con la cabeza. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Elizabeth, ya llegué a casa. ¿Dónde estás? ¿Están bien? ¿Le pasó algo al bebé? —me pregunta Charles al teléfono. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Eres tan olvidadizo. Te dije que me iba a preparar en el hotel para tu fiesta. Tu traje está sobre la cama, tienes que llegar a las siete en punto. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Me asusté mucho, mi amor. Es que…</span></span></p>
<p class="calibre7"><span><span class="calibre8">—No hay nada de que asustarse, estamos muy bien. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Te amo, mi rubia hermosa. Nos vemos al rato. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Luego de despedirme de Charles la ansiedad comienza a destrozar mi valentía. Espero que todo salga bien o me moriré de la vergüenza. </span></span></p>
<blockquote class="calibre16"><div class="mbppagebreak" id="calibre_pb_32"></div>
</blockquote>
</div>


  </div>

  
  <div class="calibreToc">
    <h2><a href="../h93fli.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_004.html">Índice</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_005.html">Prólogo</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_006.html">Capítulo 1</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_007.html">Capítulo 2</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_008.html">Capítulo 3</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_009.html">Capítulo 4</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_010.html">Capítulo 5</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_011.html">Capítulo 6</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_012.html">Capítulo 7</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_013.html">Capítulo 8</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_014.html">Capítulo 9</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_015.html">Capítulo 10</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_016.html">Capítulo 11</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_017.html">Capítulo 12</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_018.html">Capítulo 13</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_019.html">Capítulo 14</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_020.html">Capítulo 15</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_021.html">Capítulo 16</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_022.html">Capítulo 17</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_023.html">Capítulo 18</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_024.html">Capítulo 19</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_025.html">Capítulo 20</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_026.html">Capítulo 21</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_027.html">Capítulo 22</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_028.html">Capítulo 23</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_029.html">Capítulo 24</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_030.html">Capítulo 25</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_031.html">Capítulo 26</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_033.html">Capítulo 27</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_034.html">Capítulo 28</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_035.html">Capítulo 29</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_036.html">Capítulo 30</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_037.html">Capítulo 31</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_038.html">Capítulo 32</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_039.html">Capítulo 33</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_040.html">Epílogo</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_041.html">Agradecimientos</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_042.html">Sobre la Autora</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_043.html">Libros de la Autora</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_031.html" class="calibreAPrev">previous page</a>
    

    <a href="../h93fli.html" class="calibreAHome"> start</a>

    
      <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_033.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
