<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Di que sí</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../h93fli.html">Di que sí
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Flor M. Urdaneta

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_038.html" class="calibreAPrev">previous page</a>
        

        
          <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_040.html" class="calibreANext"> next page</a>
        
      </div>
    

    
<div class="calibre1">
<p class="calibre4"><br class="calibre1"/><a></a><a></a><a></a><a></a><a id="filepos504344"><span><span class="calibre6"><span class="bold"><span class="italic">Capítulo 33</span></span></span></span></a><span><span class="calibre6"><span class="bold"><span class="italic">
</span></span></span></span></p>
<p class="calibre4"><a></a><a></a><a></a><a></a><a></a><a></a><a><span><span class="calibre6"><span class="bold"><span class="italic">Ella es mi hogar</span></span></span></span></a><span><span class="calibre6"><span class="bold"><span class="italic">
</span></span></span></span></p>
<p class="calibre2"><span><span class="calibre8"><span class="italic"> </span></span></span></p>
<p class="calibre7"><span><span class="calibre8"> </span></span></p>
<p class="calibre7"><span><span class="calibre8">Esa misma tarde, Elizabeth fue trasladada a una habitación privada. Me acurruco a su lado, queriendo depositar en ella un poco de mi propia vida mientras la abrazo. Puede que suceda, los milagros existen, lo sé.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Vas a despertar, verdad? ¿Lo harás por mí? ¿Lo harás por Charlotte? Lucha, mi amor. Lucha por regresar —le ruego. Le cuento de nuestra hija, de sus hermosos ojos, de cómo sonríe cuando le hablo y de lo mucho que la necesita. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Buenas noches, mi amor —le digo, antes de quedarme dormido. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Abro los ojos cuando siento una suave caricia recorrer mi brazo. El corazón galopa con furia en mi pecho al pensar que puede ser ella, mi rubia hermosa. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Cariño, necesitas comer algo —me dice mamá, con dulzura.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No tengo hambre, mamá. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Charles, tienes que pensar en tu hija. No puede perderlos a los dos, lo sabes. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Ella no ha perdido a nadie, mamá. Elizabeth sigue aquí, escuché sus latidos. ¿Quieres escuchar? </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Hijo, no lo hace por sí misma. Son esos aparatos. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Por qué pasó eso? Ella es la mujer más dulce, cariñosa, amable… No lo merece, mamá. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Lo sé, cariño. Lo sé —susurra, abrazándome—. Ve a casa, Charles. Descansa y vuelve mañana. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Elizabeth es mi casa. Ella es mi hogar, mamá. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Charles… —Mi madre baja la cabeza y sale de la habitación. Sé que está llorando, pero no quiere que la vea hacerlo. A pesar de todo lo que pasó entre ellas, ha aprendido a querer a Elizabeth. Sé cuánto le duele verla así. </span></span></p>
<p class="calibre4"><span><span class="calibre8">***</span></span></p>
<p class="calibre7"><span><span class="calibre8">—Te quiero desde la primera vez que te vi. Fue mucho antes de que me conocieras. Cada vez que te veía, desde mi mesa en el café de </span></span><span><span class="calibre8"><span class="italic">Marcus</span></span></span><span><span class="calibre8">, quería correr hasta ti y decirte que estaba para ti. Notaba tu vulnerabilidad y esa mirada triste. No entendía cómo una mujer tan hermosa y joven podía verse tan desdichada. </span></span></p>
<p class="calibre7"><span><span class="calibre8">»Era un cobarde por no hablarte, lo fui hasta ese día. Tenerte en mis brazos fue una revelación para mí, despertaste emociones y sentimientos que jamás había vivido. Lo supe en ese instante, quería arrodillarme y darte un anillo, quería llevarte al altar y hacerte mi esposa. Te pedí que te casaras conmigo, fue loco e inesperado, pero necesitaba hacerlo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">»Ahora te pido, con el corazón en la mano, que no me dejes, que no te vayas, que vuelvas a nosotros, Elizabeth. El mundo no será lo mismo sin ti. Me siento vacío, incompleto, no tengo vida, mi amor. Te necesito —Lloro en su regazo, suplicándole a Dios por otra oportunidad, una más. </span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold"> </span></span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold">TERCER DÍA DE NACIDA</span></span></span></p>
<p class="calibre7"><span><span class="calibre8">—Que hermosa estás, princesita. Papá está enamorado de ti. ¿Lo sabes? Sí, lo sabes. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Tienes que hablarle así? La vas a traumatizar, hermano. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Rich… No seas idiota —lo reta Lilian. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Le estás pidiendo peras al olmo, Lil —bromeo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Oye —se queja mi amigo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Ya les dije que estoy bien, no necesito que estén sobre mí.  En serio. ¿No tienen alguna cosa qué hacer?</span></span></p>
<p class="calibre7"><span><span class="calibre8">—Yo solo vine por los apetitivo, Betsy cocina tan bien... </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Vamos, payaso, dejemos solo a Charles —Lilian se lo lleva y al fin me dejan solo con mi pequeña. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Mi preciosa hija me mira con esos hermosos ojos grises que me dicen tanto; me dan esperanza, alegría y paz. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Sabes quién te ama mucho más? Tu mami. Está luchando por volver, lo sé.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">Mi pequeña cambia el gesto de su rostro y comienza a llorar. No entiendo porqué lo hace, llora sin parar. Trato de darle biberón pero lo rechaza, reviso su pañal y está limpio. No hay nada que la calme, necesito ayuda. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¡Mamá, ven aquí! —grito desde la habitación. Ella llega poco después y carga a Charlotte.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Creo que tiene cólicos —¿Cólicos? Eso suena muy mal. Es muy pequeña para tener cólicos ¿o no? </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Llamaré a urgencias —Es lo único que puedo hacer. </span></span></p>
<p class="calibre7"><span><span class="calibre8">En diez minutos, llegan los paramédicos y revisan a mi pequeña; mamá tenía razón, eran cólicos. El pediatra le da un medicamento y poco a poco deja de llorar. Es un enorme alivio, estaba por volverme loco. Odio escucharla llorar. </span></span></p>
<p class="calibre7"><span><span class="calibre8"> </span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold">CUARTO DÍA DE NACIDA </span></span></span></p>
<p class="calibre7"><span><span class="calibre8">Las mañanas las paso junto a mi pequeña glotona; no ha sufrido de cólicos  desde ayer y es un gran alivio, algo menos de que preocuparme. El resto del día estoy junto a mi rubia hermosa. </span></span></p>
<p class="calibre7"><span><span class="calibre8">El corazón se me vuelve un puño cada vez que sostengo su mano, escuchando aquellos aparatos que según los médicos la mantienen con vida. Pero, aunque digan que Elizabeth ya no está ahí, que su cuerpo está vivo artificialmente, no lo acepto. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Le he rogado a Dios por otra oportunidad. Sé que nos ha bendecido en repetidas ocasiones —salvándome a mí, a Elizabeth y a Charlotte, justo al nacer— por eso me atrevo a pedirle, a suplicarle, que lo haga de nuevo, que nos permita compartir la vida juntos. No puedo perder la fe, no ahora… no hoy.</span></span></p>
<p class="calibre7"><span><span class="calibre8">—Buenos días, mi amor. Te traje una sorpresa —Acuno en mis brazos a nuestra hija, beso su frente y la coloco a su lado. </span></span></p>
<p class="calibre7"><span><span class="calibre8">»Charlie, ella es mamá. Está dormida pero pronto va a despertar,  va a llenarte de mimos y besos —Mi princesita sonríe, como si reconociera a su mamá. En todos estos días nunca la había visto tan tranquila y feliz.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Lissy, soy Lilian. Te amo mucho y no quiero que me dejes. Tú me enseñaste que el amor es incondicional, que la lealtad existe y que nunca hay que rendirse. No te rindas, Lissy. Tienes que despertar, te lo ordeno —Lilian abraza a Elizabeth y luego sale de la habitación, llevándose a Charlotte con ella. Solo me dieron diez minutos para tenerla aquí. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Señor, Jones —Me llama un doctor que nunca había visto. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Qué desea?</span></span></p>
<p class="calibre7"><span><span class="calibre8">—Disculpe que lo moleste, pero debemos hablar de un tema delicado con respecto a su esposa —¿Qué es más delicado que lo que quieren hacerle? </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Dígalo —mascullo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Estábamos esperando el momento oportuno y como la van a desconectar. Creo que… </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Termine de hablar. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Sabe si su esposa quería donar los órganos?  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Me estás hablando en serio?  ¡Mi esposa sigue viva aún y tú me vienes a decir que quieres sus órganos! —grito, con las manos empuñadas—. ¡Lárgate de aquí, ahora mismo!</span></span></p>
<p class="calibre7"><span><span class="calibre8">—Disculpe, pero es el protocolo —Contengo las ganas de golpearlo directamente en su rostro y hacerle tragar sus jodidas palabras. </span></span></p>
<p class="calibre7"><span><span class="calibre8"> —No me importa ningún protocolo. Ella es mi esposa, no un banco de órganos. No mientras esté viva. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Cuando creo que nada puede ser peor, entonces escucho eso. No creo que pueda resistirlo más. La fe, la esperanza… todo se ha nublado. Me siento derrotado, sin fuerzas… sin alma. </span></span></p>
<p class="calibre7"><span><span class="calibre8"> </span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold">QUINTO DÍA DE NACIDA. </span></span></span></p>
<p class="calibre7"><span><span class="calibre8">—Necesitamos un milagro, Charlotte. Necesitamos rogar por uno. ¿Le puedes pedir a Dios un milagro? Eres un pequeño ángel, Sé que a ti te escucharía. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Charles, tenemos que irnos —habla Lilian desde el umbral de la habitación. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Te amo, princesita —Me despido de mi hija con un beso, la acuesto en su cuna y salgo de la habitación. </span></span></p>
<p class="calibre7"><span><span class="calibre8">No quería que este día llegara, esperaba que el tiempo se detuviera y que el mundo dejara de girar solo para que no sucediera. ¿Qué se supone que haga sin mi amor, sin la mujer que ocupa mi corazón? No quiero una respuesta para ello, solo la quiero a ella conmigo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No estoy preparado, doctor Da Silva. Ella necesita más tiempo, sé que si dejan que su cuerpo se recupere lo logrará. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Señor Jones, se lo advertí hace unos días, hoy será desconectada.</span></span></p>
<p class="calibre7"><span><span class="calibre8">—¡No! —grito— ¡No la toquen!</span></span></p>
<p class="calibre7"><span><span class="calibre8">—Hay dos maneras de hacer esto: una es usted acompañándola, la otra es usted siendo escoltado por seguridad y no estará con ella en sus últimos momentos.</span></span></p>
<p class="calibre7"><span><span class="calibre8">—¡No son sus últimos momentos! —La mirada del doctor Da Silva me dice que lo lamenta, pero no puedo aceptar que está muerta, me niego. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Puede despedirse de ella ahora —susurra una enfermera. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No tengo que despedirme —digo con la voz quebrada. No puedo despedirme. ¿Por qué no lo entienden? </span></span></p>
<p class="calibre7"><span><span class="calibre8">Los padres de Elizabeth se acercan y le dicen que la quieren, que ya puede descansar. Me contengo de decirles algo porque tienen derecho de despedirse si quieren. Aunque eso no quiere decir que yo lo haga. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No lo hagas, Lilian. No te despidas —le pido.</span></span></p>
<p class="calibre7"><span><span class="calibre8">—Charles, tienes que dejarla ir —dice, sollozando.</span></span></p>
<p class="calibre7"><span><span class="calibre8">El doctor se acerca a mi esposa, para quitarle el respirador. Sostengo la mano de Elizabeth mientras sigo rogando por un milagro,  lo esperaré hasta el último segundo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Llegó el momento —indica la enfermera. Siento que mi cuerpo está suspendido en el tiempo, cada movimiento es surrealista.  Esto es una pesadilla, tengo que despertarme, nada de esto puede ser verdad.   </span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="italic">Pip pip pip</span></span></span><span><span class="calibre8">, se escuchan sus latidos. Mi mirada alterna entre Elizabeth y las líneas del monitor cardiaco. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Quédate conmigo, mi amor. Respira, Elizabeth. No me dejes, por favor —Presiono mis labios con los suyos, la beso suave y delicadamente. Quiero que entregarle mi vida a cambio de la suya. Ella tiene que vivir, merece vivir. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Soplo en su boca mi aliento, descargo el contenido de mis pulmones en ella. Me olvido del </span></span><span><span class="calibre8"><span class="italic">pip</span></span></span><span><span class="calibre8">, me olvido de los que están a mi alrededor, solo me importa ella, solo quiero que viva. Descargo varias veces mi aliento en su boca, lo sigo haciendo a pesar de  las voces que me dicen que me detenga. Y entonces lo siento,  sus labios se mueven, me besan. ¿En verdad me está besando o estoy alucinando? </span></span></p>
<p class="calibre7"><span><span class="calibre8">Me separo de ella, miro sus ojos, pero están cerrados. Acerco mi oído a su pecho y escucho los latidos, escucho su respiración. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Elizabeth, ¿me escuchas? Di algo, mi amor, lo que sea. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Imbécil —balbucea. Nadie más pudo llamarme así, fue ella. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¡Oh mi Dios! —pronuncia Lilian, conmocionada. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Acuno su hermoso rostro y beso a mi esposa, sabía que no podía dejarme, que el milagro llegaría. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No entiendo cómo puede estar viva. Esto no puede ser —dice Da Silva mientras la examina. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Los milagros no se entienden, solo se creen  —le digo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Todo el llanto y sufrimiento son recompensados con la inmensa alegría de verla respirar, consciente, viva… Mi vida está completa de nuevo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Estás atada a mí, Elizabeth. Por siempre y para siempre.</span></span></p>
<div class="mbppagebreak" id="calibre_pb_39"></div>
</div>


  </div>

  
  <div class="calibreToc">
    <h2><a href="../h93fli.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_004.html">Índice</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_005.html">Prólogo</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_006.html">Capítulo 1</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_007.html">Capítulo 2</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_008.html">Capítulo 3</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_009.html">Capítulo 4</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_010.html">Capítulo 5</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_011.html">Capítulo 6</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_012.html">Capítulo 7</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_013.html">Capítulo 8</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_014.html">Capítulo 9</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_015.html">Capítulo 10</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_016.html">Capítulo 11</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_017.html">Capítulo 12</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_018.html">Capítulo 13</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_019.html">Capítulo 14</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_020.html">Capítulo 15</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_021.html">Capítulo 16</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_022.html">Capítulo 17</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_023.html">Capítulo 18</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_024.html">Capítulo 19</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_025.html">Capítulo 20</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_026.html">Capítulo 21</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_027.html">Capítulo 22</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_028.html">Capítulo 23</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_029.html">Capítulo 24</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_030.html">Capítulo 25</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_031.html">Capítulo 26</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_033.html">Capítulo 27</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_034.html">Capítulo 28</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_035.html">Capítulo 29</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_036.html">Capítulo 30</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_037.html">Capítulo 31</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_038.html">Capítulo 32</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_039.html">Capítulo 33</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_040.html">Epílogo</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_041.html">Agradecimientos</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_042.html">Sobre la Autora</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_043.html">Libros de la Autora</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_038.html" class="calibreAPrev">previous page</a>
    

    <a href="../h93fli.html" class="calibreAHome"> start</a>

    
      <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_040.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
