<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Di que sí</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../h93fli.html">Di que sí
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Flor M. Urdaneta

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_018.html" class="calibreAPrev">previous page</a>
        

        
          <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_020.html" class="calibreANext"> next page</a>
        
      </div>
    

    
<div class="calibre1">
<p class="calibre4"><br class="calibre1"/><a></a><a></a><a></a><a></a><a id="filepos271475"><span><span class="calibre6"><span class="bold"><span class="italic">Capítulo 14</span></span></span></span></a><span><span class="calibre6"><span class="bold"><span class="italic">
</span></span></span></span></p>
<p class="calibre4"><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a><span><span class="calibre6"><span class="bold"><span class="italic">¿Qué pasó aquí?</span></span></span></span></a></p>
<p class="calibre2"><span><span class="calibre8"><span class="italic"> </span></span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold"> </span></span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold">ELIZABETH</span></span></span></p>
<p class="calibre7"><span><span class="calibre8"><span class="bold"> </span></span></span></p>
<p class="calibre7"><span><span class="calibre8">Charles volvió por mí, no me dejó llorando. Sé que lo recordará, cuando vea el panorama completo, cuando estemos los dos solos, entonces me recordará. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Necesito que vengas conmigo. En mi apartamento tengo todo lo que has dado: las cartas, el video, las fotos…</span></span></p>
<p class="calibre7"><span><span class="calibre8">—Iré contigo  a dónde quieras, nena —¿De dónde sacó eso de llamarme </span></span><span><span class="calibre8"><span class="italic">nena? </span></span></span><span><span class="calibre8">Charles habla como si fuera otra persona. Y la forma como me mira es… extraña. Estoy agradecida de que esté vivo, de verdad, pero asimilar todo esto no es fácil. Hace unas semanas yo era el centro de su vida y ahora solo soy una desconocida a la que le dice nena. Es duro de afrontar.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">Pedimos un taxi en la salida del aeropuerto para ir a mi apartamento. Hay tantas cosas que quiero preguntarle, pero me cohíbo para no abrumarlo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Entonces, ¿somos novios desde hace un año? —me pregunta, mirando directo mis ojos. Es difícil concentrarme en una respuesta mientras me mira así.  Pero tengo que dejar de lado mi necesidad de abrazarlo, besarlo y rogarle como loca que me recuerde, para responder a su pregunta. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—El diez de mayo cumplimos un año —Se siente extraño tener que decirle cosas que él recordaba mejor que yo.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Y por qué mi madre dice que Stefany es mi novia? Dice que lo somos desde la secundaria. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Me hierve la sangre de ira.  Yo suelo ser una mujer pacífica, pero Vivian ha rebasado todos los límites de mi paciencia. Lleno mis pulmones de aire y luego lo expulso lentamente para calmarme antes de hablar.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Charles, todo eso es mentira. Y, con respecto a Stefany, nunca me la habías nombrado, no tengo idea de quién es —Lo digo de la forma más tranquila que puedo, pero en mi interior todo se derrumba.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Esto es muy difícil para mí —dice, apartando la mirada.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Lo entiendo, Charles. Para mí también lo es. Estuve más de dos semanas en Lisboa buscándote por cada hospital y clínica que existe y para mi sorpresa estás aquí. Veo todos los días las noticias y nunca mencionaron que habías aparecido —Charles escucha atentamente, con el ceño fruncido. Lo noto pensativo y tenso, nunca lo había visto tan serio.</span></span></p>
<p class="calibre7"><span><span class="calibre8">—Vaya, Elizabeth. No sé qué decir —Lo entiendo. Si es confuso para mí, para él debe ser una pesadilla. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Una vez en mi edificio, subimos al ascensor hasta el piso quince, donde queda mi apartamento. Mis pulsaciones se aceleran al tiempo que me quedo sin aliento cuando sus ojos verdes me miran de esa forma oscura, ardiente… cargada de deseo.   </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Eres tan hermosa. Tienes los ojos más bellos que he visto. Y esos labios… Me gustaría tanto besarte —murmura, mientras acaricia mi rostro con sus dedos. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Respirar se vuelve imposible y controlar los latidos de mi corazón trabajoso. Quiero besarlo, quiero hacerle el amor y acariciar cada parte de su labrado torso. Lo he anhelado tanto. Extrañé su contacto, su olor, su piel, su roce… Lo extrañaba a él.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">No sé en qué momento me acorraló contra la pared del ascensor, y mucho menos cuándo sus labios tocaron los míos, solo sé que estoy flotando mientras su lengua se apodera de mi boca, embotando mis sentidos. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Su cuerpo caliente presiona el mío con intensidad pasional; con lujuria y hambre… ¿Dónde está el amor? No es así como recuerdo sus besos. Cuando nuestros labios se juntaban, la magia iniciaba. Había colores y palabras, muchas palabras de amor. Palabras que no se decían, solo se sentían. Y en este beso hay silencio, mucho silencio. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Mis manos están en su pecho, sintiendo lo enardecido que late su corazón; sus manos están en todas partes y en ninguna. Él desea mi cuerpo como yo deseo su amor. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Lo alejo de mí, empujándolo. No puedo besarlo mientras soy consciente de lo que ese beso significa para él, nada. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Charles, que sientes por mí? —Tengo que preguntarle, tengo que estar segura de que hay algo más. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Él me mira, dubitativo, con un enorme desconcierto en sus ojos.  ¿Cómo pude preguntarle algo así? Él no me conoce, es decir, no se acuerda de mí. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Te deseo. Haces que mi cuerpo se encienda… Ninguna otra lo ha logrado, Elizabeth. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿A qué te refieres con ninguna otra? —formulo, con el estómago revuelto. ¿Estará hablando de esa pelirroja? ¡Dios! </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Yo… Eh… —balbucea mientras se rasca la cabeza con la mano. Odiaré lo que dirá, lo sé—. Me he visto con algunas mujeres. Tú entiendes... </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No, no entiendo —interpongo. Me está rompiendo el corazón sin darse cuenta. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Han sido solo besos, Elizabeth. Besos que no han logrado lo que tú hiciste en mí —Se refiere a su excitación, la sentí. Y es todo lo que siente por mí, deseo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Asiento débilmente mientras las lágrimas se forman en mis ojos. Trato de no llorar, pero no puedo evitarlo. Estuve soñando cada noche con él, con verlo de nuevo, y ahora… El amor se esfumó, se desvaneció en su memoria. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Lo siento, Elizabeth —pronuncia al tiempo que se acerca para intentar consolarme. Niego con la cabeza. </span></span></p>
<p class="calibre7"><span><span class="calibre8">«No, Charles. No quiero lástima. No quiero condescendencia». </span></span></p>
<p class="calibre7"><span><span class="calibre8"> El sonido del ascensor que indica que llegamos a mi piso me hace reaccionar. Me seco las lágrimas mientras salgo del aparato.  Charles camina detrás de mí por el pasillo. Hago una oración silenciosa mientras me acerco a la puerta de mi apartamento, mi petición es que vuelva a mí, que recuerde lo que fuimos. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Estar ahí con él detrás parece irreal. Me gustaría cerrar los ojos un instante y olvidar la razón por la que está aquí. Charles busca pruebas, algo que le diga quién soy yo para él. ¿No fue suficiente con mirar mis ojos? ¿No pudo ver en ellos todo el amor que albergo para él?</span></span></p>
<p class="calibre7"><span><span class="calibre8">—¡Oh mi Dios! ¿Qué pasó aquí? </span></span></p><div class="mbppagebreak" id="calibre_pb_19"></div>
</div>


  </div>

  
  <div class="calibreToc">
    <h2><a href="../h93fli.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_004.html">Índice</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_005.html">Prólogo</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_006.html">Capítulo 1</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_007.html">Capítulo 2</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_008.html">Capítulo 3</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_009.html">Capítulo 4</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_010.html">Capítulo 5</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_011.html">Capítulo 6</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_012.html">Capítulo 7</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_013.html">Capítulo 8</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_014.html">Capítulo 9</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_015.html">Capítulo 10</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_016.html">Capítulo 11</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_017.html">Capítulo 12</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_018.html">Capítulo 13</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_019.html">Capítulo 14</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_020.html">Capítulo 15</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_021.html">Capítulo 16</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_022.html">Capítulo 17</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_023.html">Capítulo 18</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_024.html">Capítulo 19</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_025.html">Capítulo 20</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_026.html">Capítulo 21</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_027.html">Capítulo 22</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_028.html">Capítulo 23</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_029.html">Capítulo 24</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_030.html">Capítulo 25</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_031.html">Capítulo 26</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_033.html">Capítulo 27</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_034.html">Capítulo 28</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_035.html">Capítulo 29</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_036.html">Capítulo 30</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_037.html">Capítulo 31</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_038.html">Capítulo 32</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_039.html">Capítulo 33</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_040.html">Epílogo</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_041.html">Agradecimientos</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_042.html">Sobre la Autora</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_043.html">Libros de la Autora</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_018.html" class="calibreAPrev">previous page</a>
    

    <a href="../h93fli.html" class="calibreAHome"> start</a>

    
      <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_020.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
