<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Di que sí</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../h93fli.html">Di que sí
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Flor M. Urdaneta

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_021.html" class="calibreAPrev">previous page</a>
        

        
          <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_023.html" class="calibreANext"> next page</a>
        
      </div>
    

    
<div class="calibre1">
<p class="calibre2"><br class="calibre1"/><a></a><a></a><a></a><a></a><a id="filepos303996"><span><span class="calibre6"><span class="bold"><span class="italic">Capítulo 17</span></span></span></span></a></p>
<p class="calibre2"><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a><span><span class="calibre6"><span class="bold"><span class="italic">No es suficiente</span></span></span></span></a></p>
<p class="calibre2"><span><span class="calibre6"><span class="italic"> </span></span></span></p>
<p class="calibre14"><span><span class="calibre8"><span class="bold"><span class="italic">ELIZABETH </span></span></span></span></p>
<p class="calibre7"><span><span class="calibre8"> </span></span></p>
<p class="calibre7"><span><span class="calibre8">Tenía la esperanza de que el dolor y la tristeza se irían por la cañería, que el agua tibia me serviría de aliciente. Pero las penas no se ahogan con agua ni con lágrimas; esas siguen ahí dentro, en el corazón, en el alma, en los pensamientos. Se clavan en el corazón y se esparcen por las venas como un veneno que te mata lentamente.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">Quiero a mi Charles, al verdadero, a aquel hombre que me miraba con dulzura y amor, al hombre que luchó incansablemente por ganarse mi amor. ¿Será que ahora me toca luchar a mí? Si él lo hizo, ¿por qué yo no? </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Ya se fue. ¿Estás bien? —me pregunta Lil, mientras me acompaña en la cama. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No —Le respondo, sentada contra la cabecera de la cama, con los brazos rodeando mis rodillas. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Lissy, tienes que tener paciencia. No es fácil para él. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Lo sé, Lil. Le agradezco a Dios que esté bien, pero me duele que sus ojos no estén llenos de amor hacia mí, que no brillen cuando me miran. Y lo peor es que me dijo que se está besando con otras y hasta quizás… ¡Dios! Esto es muy duro, Lilian. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No pienses así, Charles te ama demasiado. Sé que tarde o temprano lo va a recordar —Asiento, al tiempo que me seco las lágrimas con el dorso de la mano. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Él nunca me habló de esa tal Stefany. No sé qué pensar. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Sí, es raro. Quizás su madrecita querida metió las garras. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Lil… </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Es la verdad, Lissy. Ella lo trajo a hurtadillas a Estados Unidos, le dijo que aquella era su novia y lo escondió en su apartamento. Tal vez hasta fue Vivian quien se robó todo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No imagino a la madre de Charles haciendo eso. Aunque tal vez… Fue Stefany. Ella escuchó cuando le dije a Charles que tenía pruebas y luego desapareció. Llegó antes que nosotros y se robó todo.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">Le hablo al encargado de seguridad del edificio y le pido que revise las cámaras de vigilancia, algo debió haber captado. No dejaré que esa mujer se salga con la suya. Lucharé por Charles contra ella, contra Vivian… contra quien sea. </span></span></p>
<p class="calibre7"><span><span class="calibre8">A la una de la mañana, sigo dando vueltas en mi cama sin poder dormir. El beso que me dio Charles sigue ardiendo en mis labios. Sus manos se siguen sintiendo en mi cintura… hasta sigo percibiendo su olor varonil. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¡Elizabeth! —Ya esto es demasiado. Creo que estoy escuchando su voz—. ¡Elizabeth, ábreme la puerta! </span></span></p>
<p class="calibre7"><span><span class="calibre8">Me levanto de la cama de un salto y corro a la puerta de la entrada. Al abrirla me encuentro con Charles. Tiene un aspecto terrible y apesta a alcohol ¿Qué fue lo que le pasó? </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Perdóname, Elizabeth —balbucea.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¿Estás borracho, Charles? ¡Oh Dios! —Rodeo su cintura con mis brazos y camino con él hasta el sofá, donde se queda dormido una vez que lo tumbo sobre él.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">Busco una frazada en el armario, lo cubro y le quito los zapatos. Nunca lo había visto borracho. Odio verlo así. ¿Por qué bebió tanto? ¿Y por qué me pidió perdón? No lo sé, tendré que esperar que despierte para saberlo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Estás aquí, morenito. Me has hecho tanta falta, mi amor —le digo, arrodillada en el suelo mientras le acaricio el rostro. Le doy un beso suave en los labios antes de irme a mi habitación, necesito descansar al menos unas horas. </span></span></p>
<p class="calibre4"><span><span class="calibre8">***</span></span></p>
<p class="calibre7"><span><span class="calibre8">Me despierto temprano en la mañana, me doy una ducha y me pongo un vestido blanco con estampado de rosas —en tonos rojos y rosados—, junto a unas zapatillas marrones. Me suelto el cabello y me perfumo antes de salir, quiero que Charles me vea hermosa. </span></span></p>
<p class="calibre7"><span><span class="calibre8">El sonido de una notificación en mi teléfono me hace regresar, ya estaba cerca de la salida. Lo agarro de la mesita y reviso de qué va. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—¡Oh Dios, Charles! —Hay una noticia de él saliendo de un club junto a una mujer de cabello castaño. La nota dice: “Piloto de Royal Airlines celebra su regreso a New York”. Cuando Charles desapareció, programé su nombre en las alertas de </span></span><span><span class="calibre8"><span class="italic">Google. </span></span></span><span><span class="calibre8">Pero</span></span><span><span class="calibre8"><span class="italic">
</span></span></span><span><span class="calibre8">no esperaba encontrarme con algo así y menos después de nuestro beso. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Sé que no lo hace con intención, pero su comportamiento me lástima, me hiere el corazón y me destroza el alma. No sé si pueda seguir viéndolo y saber que no siente amor por mí. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Seco las lágrimas que se escurrieron de mis ojos, antes de salir a la sala. Charles está sentado, con los codos apoyados en las rodillas y el rostro escondido entre sus manos. Pero enseguida cambia de postura y mira hacia mí, como si hubiera notado mi presencia. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Buenos días, Elizabeth —Me saluda con una sonrisa, mientras se incorpora del sofá. Se ve recompuesto y sereno. El color negro de su camiseta tipo </span></span><span><span class="calibre8"><span class="italic">Polo</span></span></span><span><span class="calibre8">, destaca el color de sus ojos verdes.  Hasta recién despierto luce atractivo. Pero, a pesar del maremoto de emociones que se desató en mi corazón, lo saludo con un simple hola. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Te lo puedo explicar, Elizabeth. Yo… —Intenta justificarse por la noticia, pero no tiene porqué, él es libre. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No tienes que explicarme nada, Charles. Lo entiendo, de verdad que sí, pero…  —Se pone en pie y, en cuatro pasos, lo tengo frente a mí, encantándome con su perfume de cedro y frutas, inmovilizándome con sus ojos verdes… No puedo resistirme a él. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Hay algo en ti que me hace sentir vivo. Nadie, ninguna de esas chicas, enciende mis deseos como tú —El aire caliente de su aliento danza delante de mí, invitándome a besarlo. Si las circunstancias fueran otras ya lo estaría haciendo, pero tengo que detener esto. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Eso es lo que soy para ti, Charles, la rubia que te pone —Su mirada lo confirma, es lo único que despierto en él, lujuria.  </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Pero eso puede ser una señal. ¿Cierto? —dice, emocionado. Sus ojos brillan, pero no de amor, no de sentimientos hacia mí. Él solo está buscando saciar sus deseos. ¿Y después qué?  Se irá, me dejará sola… No podría resistirlo. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—No se trata de señales, Charles. Yo te amo y no es suficiente con que me desees, necesito saber que sientes lo mismo por mí. Esto no es justo para ti y tampoco lo es para mí. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Elizabeth, yo... —Niego con la cabeza. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Estoy agradecida con Dios porque estás vivo, Charles. Y eso es lo único que debería importarme. No te sientas obligado a estar conmigo, yo le haré frente, seguiré adelante. No será fácil, porque te amo con mi vida, pero estaré bien solo con saber que estás vivo.     </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Elizabeth, no quiero hacerte daño. Ojalá pudiera decirte que te quiero, recordarte y corresponder a tus sentimientos, pero no hay nada claro en mi cabeza. Solo sé que me gustas mucho. </span></span></p>
<p class="calibre7"><span><span class="calibre8">—Quiero que me quieras, pero el amor no se puede forzar. Así que lo mejor es que nos despidamos aquí. Verte me lastima, Charles. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Esas fueron las palabras más difíciles que he tenido que pronunciar. Quiero al Charles romántico, al que me mira con amor y dulzura, al del alma pura que me enamoró; al que le abrí mi corazón y le mostré mis heridas… Sé que dije que lucharía por él, pero sería injusto que lo ate a mí cuando su corazón quiere libertad. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Charles aparta un mechón de cabello de mi rostro, me da un beso suave en la frente y luego dice—: Lo siento mucho, Elizabeth.</span></span></p>
<p class="calibre7"><span><span class="calibre8">Adiós, mi amor —respondo en mi mente. </span></span></p>
<p class="calibre7"><span><span class="calibre8">Al cruzar esa puerta, está dejándome desolada e incompleta;  en un mar de incertidumbres y de dolor. Pero no puedo retenerlo, tengo que dejar que extienda las alas y vuele libre a dónde quiera, así sea lejos de mí. </span></span></p>
<div class="mbppagebreak" id="calibre_pb_22"></div>
</div>


  </div>

  
  <div class="calibreToc">
    <h2><a href="../h93fli.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_004.html">Índice</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_005.html">Prólogo</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_006.html">Capítulo 1</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_007.html">Capítulo 2</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_008.html">Capítulo 3</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_009.html">Capítulo 4</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_010.html">Capítulo 5</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_011.html">Capítulo 6</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_012.html">Capítulo 7</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_013.html">Capítulo 8</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_014.html">Capítulo 9</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_015.html">Capítulo 10</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_016.html">Capítulo 11</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_017.html">Capítulo 12</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_018.html">Capítulo 13</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_019.html">Capítulo 14</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_020.html">Capítulo 15</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_021.html">Capítulo 16</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_022.html">Capítulo 17</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_023.html">Capítulo 18</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_024.html">Capítulo 19</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_025.html">Capítulo 20</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_026.html">Capítulo 21</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_027.html">Capítulo 22</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_028.html">Capítulo 23</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_029.html">Capítulo 24</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_030.html">Capítulo 25</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_031.html">Capítulo 26</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_033.html">Capítulo 27</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_034.html">Capítulo 28</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_035.html">Capítulo 29</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_036.html">Capítulo 30</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_037.html">Capítulo 31</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_038.html">Capítulo 32</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_039.html">Capítulo 33</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_040.html">Epílogo</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_041.html">Agradecimientos</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_042.html">Sobre la Autora</a>
    </li>
    <li>
      <a href="CR!ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_043.html">Libros de la Autora</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_021.html" class="calibreAPrev">previous page</a>
    

    <a href="../h93fli.html" class="calibreAHome"> start</a>

    
      <a href="CR%21ZBXV11JKVX6AD5Q5PGVD16KBN2K7_split_023.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
