<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Naturales</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../stylesheet.css" rel="stylesheet" type="text/css"/>
<link href="../page_styles.css" rel="stylesheet" type="text/css"/>

  


<link href="../calibreHtmlOutBasicCss.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="calibreMeta">
  <div class="calibreMetaTitle">
  
  
    
    <h1>
      <a href="../../wpubr6.html">Corazones indomables - Vol. 1 (Spanish Edition)
</a>
    </h1>
    
    
  
  </div>
  <div class="calibreMetaAuthor">
    Emma M. Green

  </div>
</div>

<div class="calibreMain">

  <div class="calibreEbookContent">
    
      <div class="calibreEbNavTop">
        
          <a href="part0010.html" class="calibreAPrev">previous page</a>
        

        
          <a href="part0012.html" class="calibreANext"> next page</a>
        
      </div>
    

    
		
		<h1 class="titre"><span class="numero_chapitre">5. </span>Naturales</h1>
		<p class="normal">Debí haber desconfiado de esta promoción <em class="calibre9">Menos cincuenta porciento: ¡dos habitaciones por el precio de una!</em>. El motel en donde tuve el cuidado de reservar en línea la víspera parece aún más patético que lo que mostraban las fotos. La luz neón roja de la gran pancarta crepita y solo muestra una luz de cada dos, el estacionamiento parece casi un terreno baldío y la fachada del inmueble no infunde nada de confianza.</p>
		<p class="normal"><em class="calibre9">¿Alguien dijo Bates Motel?</em></p>
		<p class="normal">Con mi bolsa de viaje que pesa una tonelada sobre el hombro, cierro el Chevy y ruego por encontrarlo intacto mañana por la mañana. Dante toma su mochila de tela kaki como si levantara una pluma y se dirige hacia el motel sin hacer comentarios. Ignoro si mi nerviosismo es la causa, pero hace de nuevo un calor sofocante. Abanicándome con una mano (técnica completamente inútil y contraproducente ya que el hecho de agitarme me acalora más), sigo a mi compañero de viaje. En el camino, paso la cabeza por encima de una valla de madera y descubro una pequeña piscina que, contrariamente a todo lo demás, parece más o menos limpia debido al olor a cloro que de ella emana.</p>
		<p class="normal">Observo el agua turquesa con deseo, me pierdo en los reflejos del neón rojo sobre el azul de laguna, luego me doy cuenta de que mi hermoso moreno ha emprendido la huida. No tengo ganas de deambular sola, en este lugar. Me resigno a alcanzarlo al trote en el lúgubre edificio.</p>
		<p class="dialog">- Bienvenida al RedLight Motel, -masculla el viejo hombre detrás del mostrador-. ¿Es por algunas horas o para toda la noche?</p>
		<p class="dialog">- La noche. Dos cuartos. Tenemos una reservación, -replica Dante-.</p>
		<p class="dialog">- ¿A qué nombre?</p>
		<p class="dialog">- Stone, -digo poniendo mi bolsa sobre la alfombra mugrienta-.</p>
		<p class="dialog">- Stone... Stone... –repite el hotelero inclinándose sobre su pantalla de otro tiempo-. Ah sí, la promoción. La seis y la once.</p>
		<p class="dialog">- Necesitaríamos dos habitaciones contiguas, -aclara el moreno-.</p>
		<p class="normal">Lo miro fijamente, con el corazón que late fuertemente. Su mirada apunta hacia el mostrador de la recepción, sin embargo sabe probablemente que lo observo. Y que estoy inmensamente agradecida de que se ocupe de mi seguridad. El viejo hombre sacude la cabeza, con un gesto profundamente cansado, y responde:</p>
		<p class="dialog">- Eso será más caro.</p>
		<p class="dialog">- Dante... –intervengo dulcemente para disuadirlo, aunque no me siento muy segura-.</p>
		<p class="dialog">- No importa. Lo pagaré, -dice el moreno-.</p>
		<p class="dialog">- ¡Lo compartiremos a mitades! –insisto-.</p>
		<p class="dialog">- No vamos a discutir horas por un puñado de dólares, -gruñe sacando la cartera de su bolsillo trasero-.</p>
		<p class="normal">El viejo hombre se apodera de dos llaves y las ofrece a quien le entrega los billetes. ¿Yo? Yo asisto a la escena, sin saber a ciencia cierta si me siento conmovida o herida en mi amor propio. No me gusta que tomen decisiones en mi lugar.</p>
		<p class="dialog">- Ella tomará la once, -decreta mi salvador de ojos negros-. Yo la doce.</p>
		<p class="dialog">- Gracias, me imagino que...</p>
		<p class="dialog">- De nada, -murmura alzándose de hombros y tomando la dirección de la salida que lleva a los bungalós.</p>
		<p class="normal"><em class="calibre9">En fin, imagino que si realmente él fuera mi «salvador» cargaría mi bolsa...</em></p>
		<p class="etoile">***</p>
		<p class="normal">La noche ha caído y la habitación que vigila la piscina mantiene sus promesas. Es decir, ninguna. El aire es poco y sofocante, el aire acondicionado es arcaico y ruidoso. La cama es grande pero rechina y es incómoda, cubierta por una tela verdosa ligeramente pegajosa. Me atrevo a tocarla con la punta de mis dedos, luego la colcha sale volando hacia el otro lado de la habitación. La blanca sábana lavada miles de veces con blanqueador me agrada más.</p>
		<p class="normal">La pequeña televisión funciona, pero emite un silbido estridente cada vez que cambio de canal. Me dolían los ojos a causa del papel tapiz rustico iluminado por unos focos demasiado potentes, ahora me duelen los oídos por culpa de la estruendosa tele.</p>
		<p class="normal">En el baño hay paredes color rosa salmón, mosaicos azul noche, bañera de patas y un espejo fisurado: me río sin poder detenerme, agotada nerviosamente por este primer día de <em class="calibre9">road trip</em>. De repente, escucho un ruido curioso y me incita a regresar a la habitación para pegarme a la ventana. Alguien acaba de hundirse en la piscina iluminada. Un hombre. Su larga silueta nada bajo el agua luego sube a la superficie.</p>
		<p class="normal">Cabellos negros, amplios hombros, piel mate y brazos tatuados.</p>
		<p class="normal">Dante.</p>
		<p class="normal"><em class="calibre9">Dios, cómo hace calor.</em></p>
		<p class="dialog">- ¿Y por qué carajos olvidé empacar un maldito traje de baño?</p>
		<p class="normal">Muerdo una manzana, me quito mis tenis blancos, desabotono mi pantalón de mezclilla... Todo esto sin dejar de mirarlo a través de mi ventana. El cuerpo humano tiene algo de diabólico y de inocente, de puramente estético, a tal punto que éste se vuelve hipnotizante. Sobre todo cuando está tan perfectamente dibujado y que puedo discernir cada una de sus líneas, de sus curvas, cada uno de sus abdominales a la distancia. Dante es una obra de arte... Un llamado a los sentidos. Su piel bronceada, mojada que se ofrece a mi mirada, destella en la noche. Sus músculos se tensan con cada movimiento. Sus tatuajes atraen irresistiblemente mi mirada, acentuando su lado <em class="calibre9">bad boy</em>, peligroso, prohibido. Debería voltearme. No lo hago.</p>
		<p class="normal">Lo que explica por qué observo a mi compañero de viaje mordiendo tan fuerte mi manzana golden.</p>
		<p class="normal">El enorme bloque que es el aire acondicionado y que está situado encima de mi puerta empieza a quejarse, como si lo torturaran a muerte. Y luego... nada. Ni un solo sonido. Nada de aire. Me apodero del control remoto, aprieto diez, veinte, treinta veces el botón de encendido pero el aparato se rehúsa a volver a funcionar.</p>
		<p class="normal"><em class="calibre9">¡Maldito motel inútil!</em></p>
		<p class="dialog">- Bueno. No tengo otra opción.</p>
		<p class="normal">No soy particularmente púdica. Los años en la danza, vestidores y conjuntos que formaban una «segunda piel» me enseñaron a aceptar mi cuerpo tal como es y a no sentir la necesidad de protegerlo de la mirada de los demás. Sin complejos (uno solo: mi cicatriz) y sin timidez inútil. Me quito mi pantalón de mezclilla, mi top, verifico que mis bragas negras y mi sostén de puntos están en su lugar y regreso al baño para enrollarme en una toalla. Sin darme el tiempo para pensarlo dos veces, tomo la llave número once y azoto la puerta detrás de mí. Bajo las escaleras, empujo la valla de madera, extiendo mi toalla sobre una tumbona perforada y salto al agua cubriéndome la nariz.</p>
		<p class="normal"><em class="calibre9">Sí, el detalle matador.</em></p>
		<p class="normal">El agua está fresca, las sensaciones son deliciosas, embriagantes. Nado y doy vueltas bajo el agua hasta que mi cabeza da vueltas sola. Cuando vuelvo a la superficie, Dante está sentado en el borde de la piscina, con las palmas de sus manos planas sobre la piedra, sus piernas musculosas colgando dentro del agua y su mirada oscura apuntada hacia mí.</p>
		<p class="dialog">- No pude resistirme, -le sonrío, sin aliento por mi sesión de apnea-.</p>
		<p class="dialog">- ¿Tampoco sirve el aire acondicionado en la once?</p>
		<p class="dialog">- Te dejaré escoger el próximo motel... –articulo nadando hasta la orilla-.</p>
		<p class="dialog">- Tal vez iremos también a comprarte un verdadero traje de baño, -dice mirando sus rodillas-.</p>
		<p class="normal">Las gotas de agua escurren sobre su piel ambarina. Sus tatuajes cobran vida en la noche y creo reconocer un ave y unas llamas sobre su bíceps izquierdo. ¿Un ave fénix? Cuando mi mirada sube a sus ojos, me doy cuenta que me mira atentamente, con las mandíbulas apretadas y frunciendo el ceño.</p>
		<p class="dialog">- ¿Un traje de baño? –retomo escondiendo mi escote con mis manos-. ¿Y para qué? ¿Qué te dice que esto que traigo puesto no es uno?</p>
		<p class="dialog">- Algunos años de experiencia en lencería femenina... –sonríe insolente-.</p>
		<p class="normal">Lentamente, su largo cuerpo escultural se desliza de nuevo en el agua y parte en dirección opuesta. Me doy cuenta de que no pude contener una sonrisa con su último comentario, ni sentir algo extraño, y me odio por eso. La culpa me domina mientras salgo de la piscina y tomo mi toalla.</p>
		<p class="normal">Coquetear, no lo había vuelto a hacer desde Preston. Estoy olvidando mi promesa. Traicionar al único hombre que he amado y que ya no está aquí para pelear por mí. Mi corazón se estruja, la tristeza me invade. Sin una palabra, sin mirar atrás, regreso a la habitación once y paso veinte minutos bajo el débil chorro de una ducha fría. Dejando correr mis lágrimas.</p>
		<p class="etoile">***</p>
		<p class="normal">Decidí domesticarlo. Volverme su amiga. Así, sin ambigüedad, sin incomodidad y sin coqueteo inapropiado entre el moreno melancólico y yo. Nuestras relaciones serían más naturales, nuestras conversaciones más ligeras. Nos quedan cuatro mil setecientos kilómetros por recorrer uno al lado del otro, en un transporte sin aire acondicionado ni suspensiones, entonces qué mejor que entendernos bien.</p>
		<p class="normal">Golpeo a su puerta un poco antes de las veintiún horas sin saber cómo voy a ser recibida. Me abre, en pantalón de mezclilla entallado y una toalla sobre los hombros, y vacilo por un instante en dar media vuelta o pedirle un striptease completo. Dante me inspecciona de pies a cabeza con mis mini shorts, como para verificar que estoy entera, luego me indica que entre.</p>
		<p class="dialog">- Mi televisión no funciona y <em class="calibre9">El Silencio de los Inocentes</em> ya va a empezar... –balbuceo-.</p>
		<p class="dialog">- Deberías dormir, ¿no?</p>
		<p class="dialog">- Imposible. ¡Necesito mi dosis de Hannibal Lecter!</p>
		<p class="dialog">- ¿Eso es tu droga? ¿Las películas que dan miedo?</p>
		<p class="dialog">- ¿Te sorprende? –le sonrío-.</p>
		<p class="dialog">- Realmente no, de hecho...</p>
		<p class="normal">Observo su habitación y descubro que está todavía peor que la mía. Su alfombra es naranja y sus paredes violetas. En cuanto a su aire acondicionado éste sólo sirve para arrojar aire caliente. Después de un largo suspiro, Dante me indica que me siente en donde quiera y desaparece en el baño. Me contengo para no seguirlo con los ojos y pongo mis viandas sobre su cama. Una bolsa de Circus Peanuts, una lata de Milk Duds y una botella de Cherry Coke, directamente comprados al distribuidor que se encuentra al lado de mi cuarto.</p>
		<p class="normal"><em class="calibre9">Sí, me gusta el azúcar, ¿alguien tiene algún problema con eso?</em></p>
		<p class="normal"><em class="calibre9">Preston trató de convertirme en un smoothie. Eso sólo agravó mi caso.</em></p>
		<p class="normal">Me apodero de uno de los dos cojines, lo lanzo al borde de la cama y me extiendo con el vientre sobre ella frente a la televisión.</p>
		<p class="normal">En el baño, el agua de la llave corre, pero me parece escuchar a Dante que habla en voz baja. Cuando extiendo la oreja ya no escucho más. La película empieza y me concentro en Clarice y mis botanas de cacahuate. El moreno misterioso reaparece al cabo de un cuarto de hora, con una camiseta negra.</p>
		<p class="dialog">- ¿Ya estás bien instalada? –dice con su voz grave al verme desparramada sobre su cama-.</p>
		<p class="dialog">- ¡Hay bastante espacio para los dos! –replico con una sonrisa golpeando sobre la sábana a mi lado-.</p>
		<p class="normal">Sin juegos. Sin tentativas de coqueteo. Soy la inocencia personificada. Todo lo que quiero es domesticarlo. Pero el salvaje ignora mi invitación y se sienta sobre el sillón, muy cerca de la cama.</p>
		<p class="dialog">- Ni siquiera conozco tu apellido... –le digo repentinamente-.</p>
		<p class="dialog">- Si es para averiguar sobre mi padre, esto no te llevará a ninguna parte, -responde sin mirarme-. No llevamos el mismo apellido.</p>
		<p class="dialog">- Nada que ver. Tú eres quien me interesa, no tu famoso padre.</p>
		<p class="normal">Muerdo una botana esperando que se decida a hablar. Un ángel pasa, seguido de un enésimo suspiro:</p>
		<p class="dialog">- Salinger. Mi nombre es Dante Salinger.</p>
		<p class="dialog">- Salinger, -repito-. Me suena.</p>
		<p class="dialog">- Me encanta que te guste, -masculla inclinándose hacia adelante para robarme un caramelo-.</p>
		<p class="normal">Los minutos desfilan. Su mirada se queda fija en la televisión. La mía va y viene entre la pantalla y su rostro iluminado.</p>
		<p class="dialog">- ¿Dante? –susurro-.</p>
		<p class="dialog">- ¿Mmm?</p>
		<p class="dialog">- Te doy toda la lata si me revelas quién es tu padre.</p>
		<p class="dialog">- Cállate, mira la película o sal de mi cuarto, -gruñe el moreno melancólico mientras suelto una carcajada-.</p>
		<p class="normal">Por más que he visto este thriller diez veces, que he tenido una relación simbiótica con Hannibal y fantaseado con ser una agente del FBI, me dejo sorprender y aterrorizar cada vez que la veo. De ahí mis gritos que deben despertar a todos los bungalós del perímetro... y molestar <em class="calibre9">ligeramente</em> a mi vecino de cuarto.</p>
		<p class="dialog">- ¡Tranquila, van a terminar por llamar a la policía!</p>
		<p class="dialog">- Lo siento, me cuesta un poco de trabajo contener mis emociones, siempre me lo han dicho. ¡¿Pero viste su expresión?! ¡¿Y viste lo que estaba comiendo?!</p>
		<p class="dialog">- ¿Por qué te sometes a esto si sufres de esta forma? –me pregunta Dante levantándose de su sillón-.</p>
		<p class="dialog">- No sé. Debe de haber un caníbal que vive en mí... –me río sola-.</p>
		<p class="dialog">- Maldición, no tengo por que soportar esta mierda, -murmura-.</p>
		<p class="normal">Con un movimiento decidido, apaga la televisión y va a abrir la puerta. Lo miro, un poco asombrada para comprender lo que está maquinando.</p>
		<p class="dialog">- Buenas noches, Solveig.</p>
		<p class="dialog">- ¿Qué? ¡Pero la película no ha terminado!</p>
		<p class="dialog">- Buenas noches, Solveig, -insiste frunciendo el ceño-.</p>
		<p class="dialog">- ¡No había ningún toque de queda en el contrato! –respondo al levantarme-.</p>
		<p class="dialog">- No, pero aprecio mi vida. Tú eres quién conduce, necesitas dormir.</p>
		<p class="normal">Lo fusilo por un instante con la mirada, luego me doy cuenta de que no está completamente equivocado. Además, ya casi no hay Circus Peanuts, tengo la voz quebrada por haber gritado tanto y me siento tan exhausta que si continúo, voy a dormirme en su cama. Y eso sería una <em class="calibre9">muy</em> mala idea.</p>
		<p class="dialog">- Si no me hubieras echado de tu cuarto, te hubiera dejado el final de los Milk Duds, -murmuro pasando frente a él-., Buenas noches, Salinger.</p>
		<p class="dialog">- Buenas noches... Clarice, -gruñe imitando la voz y el acento de Anthony Hopkins.</p>
		<p class="etoile">***</p>
		<p class="normal">La noche fue corta. O, mejor dicho, agitada.</p>
		<p class="normal">Primero, me dormí a pesar de los treinta grados, los resortes del colchón y el hombre del ave fénix acostado justo del otro lado de la pared. Es como si mi cuerpo estuviera despertándose, lentamente, a su contacto, después de dos años de atravesar el desierto. De hibernación. O de duelo, llámenlo como quieran.</p>
		<p class="normal">Enseguida, Hannibal me persiguió en mi sueño, proponiéndome beber de su botella. En medio de la noche, la recámara número diez se convirtió en el campo de juego de una pareja, digamos... caliente. Muy caliente. Alrededor de las cinco de la mañana, mi televisión se encendió completamente sola, al mismo tiempo que el aire acondicionado. Sospecho que las dos máquinas diabólicas trabajan en una banda organizada. A las seis de la mañana, ya no pude más y me arrastré hasta el baño para estudiar los daños en el espejo.</p>
		<p class="normal"><em class="calibre9">Una ruina. Como mi rostro.</em></p>
		<p class="normal">Después de una buena ducha, recargo mi teléfono y aprovecho para borrar los tres mensajes de Patsy Camden. No tengo ganas de preocuparme por eso hoy. Me reinstalo en la cama, cambio de canales hasta caer en uno de noticias y lo dejo sin realmente escucharlo. Cuando mi teléfono celular se pone a vibrar, mi sonrisa regresa.</p>
		<p class="normal">¡Ali!</p>
		<p class="normal1">[Dime que ya estás<br class="calibre10"/>
		de regreso. ¡Y que dejaste las instrucciones<br class="calibre10"/>de tu lavadora en alguna parte!]</p>
		<p class="normal2">[Instrucciones, en el cajón de la cómoda de la entrada.<br class="calibre10"/>¡De regreso en dos meses!]</p>
		<p class="normal1">[¡Esto va a ser muy largo sin ti!]</p>
		<p class="normal2">[Tú tienes mi planta. Te autorizo para que la consientas.]</p>
		<p class="normal1">[Aún así, cuídate mucho...]</p>
		<p class="normal2">[Estoy bien acompañada, no corro ningún riesgo.]</p>
		<p class="normal">Me alisto para abundar en los detalles cuando unos golpes retumban haciendo casi temblar las paredes. Voy y abro apenas la puerta, sólo mi cabeza se asoma.</p>
		<p class="dialog">- ¿Podemos ya largarnos de aquí? –casi me suplica Dante-. ¡No puedo estar más en este nido de ratas!</p>
		<p class="dialog">- ¡Sí! Bueno, dame el tiempo para vestirme...</p>
		<p class="normal">Sus ojos bajan a lo largo de mi cuerpo y me desnudan con la mirada. La tarea es sencilla: sólo traigo puesto un top escotado y unas bragas.</p>
		<p class="dialog">- Ok, -se voltea la fiera, aclarándose la garganta-. Te espero en el coche.</p>
		<p class="dialog">- ¿Sigue en donde lo dejamos? –me inquieto repentinamente-.</p>
		<p class="dialog">- Sí. Ya hace más de una hora que lo vigilo...</p>
		<p class="dialog">- ¡Mi héroe! –exclamo lanzándome hacia adelante y fingiendo que me cuelgo a su cuello-.</p>
		<p class="normal">No lo toco sin embargo retrocede como si la menor tentativa de contacto estuviera por principio prohibida. Me disculpo por mi movimiento un poco «espontáneo», él masculla algo que no distingo y se aleja.</p>
		<p class="normal">Siete minutos más tarde, con nuestras bolsas en la cajuela y nuestros cuerpos exhaustos en el Chevy, abandonamos Luzerne para <em class="calibre9">siempre</em>. Al cabo de una pequeña media hora, nuestros estómagos gritan por el hambre y nos detenemos en un <em class="calibre9">diner</em> que se encuentra en la Interestatal 80.</p>
		<p class="normal">Rita, como lo estipula su gafete, anota nuestra comanda y le dirige un guiño a Dante antes de regresar a la cocina con su mandil tan rosa como la sombra en sus ojos.</p>
		<p class="dialog">- Eso a la larga debe ser muy tedioso, ¿no?</p>
		<p class="dialog">- ¿Qué? –me pregunta el moreno bajando su taza de café-.</p>
		<p class="dialog">- El coqueteo, los guiños, las chicas que se esfuerzan demasiado para que las mires...</p>
		<p class="dialog">- No lo sé. ¿A ti te cansa? –revira su ronca voz, ligeramente burlona-.</p>
		<p class="dialog">- Eso no me sucede.</p>
		<p class="dialog">- ¿Bromeas?</p>
		<p class="dialog">- No.</p>
		<p class="dialog">- Solveig, todos los hombres que hemos cruzado te observan. ¡Ni siquiera él puede dejar de verte!</p>
		<p class="normal">Me volteo y me topo con la mirada aturdida de un chiquillo que debe tener unos... nueve meses.</p>
		<p class="dialog">- Muy chistoso.</p>
		<p class="dialog">- En serio. Tú no te das cuenta pero no pasas desapercibida.</p>
		<p class="dialog">- Eso debe ser por que soy <em class="calibre9">extraordinariamente fotogénica</em>, -le sonrío al tiempo que recibo mi plato gigantesco de panqueques.</p>
		<p class="dialog">- Nunca dije <em class="calibre9">extraordinariamente</em>, -gruñe desviando la mirada-.</p>
		<p class="dialog">- No, pero lo pensaste.</p>
		<p class="dialog">- Falso.</p>
		<p class="dialog">- Come y deja de contradecirme, -mascullo mientras hago bizcos sobre su tocino-.</p>
		<p class="normal">Al final de la comida mientras rehago mi minúscula cola de caballo, Dante saca su cámara y me dispara varias veces. Un poco halagada, sobre todo molesta, no puedo evitar comentar:</p>
		<p class="dialog">- Son diez dólares.</p>
		<p class="dialog">- No acostumbro pagar.</p>
		<p class="dialog">- Entonces te propongo otra clase de compensación.</p>
		<p class="dialog">- Te escucho... –murmura entornando sus hermosos ojos negros-.</p>
		<p class="dialog">- Tu tocino. En mi plato.</p>
		<p class="normal">Con la punta de los dedos, Dante se apodera de la última rebanada restante, la aproxima a mi plato y luego, con un movimiento brusco y calculado, lo mete en su boca. Y el provocador sonríe. Por fin.</p>
		<p class="dialog">- Te prefiero con el cabello suelto, -agrega una vez que ha tragado su tocino-.</p>
		<p class="normal">Un poco desconcertada, lo interrogo con la mirada, pero no veo nada sospechoso. No quiere seducirme. O si ese fuera el caso, lo esconde endiabladamente bien. Entonces me abro a él, esperando que eso nos ayude a convertirnos en... «amigos».</p>
		<p class="dialog">- Mi marido me llamaba salvaje. Tenía el cabello largo, antes, y éste no era siempre muy... disciplinado. Por eso él lo prefería atado.</p>
		<p class="dialog">- Yo prefiero lo que es espontáneo, natural. No me gusta particularmente el orden, -sonríe dulcemente mi copiloto-.</p>
		<p class="dialog">- Mi rubio platinado no es completamente natural, pero todo el resto de mí lo es, -aclaro entonces-.</p>
		<p class="dialog">- Creo que lo noté, sí.</p>
		<p class="normal"><em class="calibre9">Mi cuerpo mojado, en ropa interior, en esa piscina... Él vio todo...</em></p>
		<p class="normal">Mientras mis mejillas se transforman en un brasero, él le indica a Rita que cobre nuestra cuenta. Ésta última está ocupada en otra mesa pero la despacha rápido para poder atender a su bello desconocido. Completamente aturdida, la mesera de grandes atributos vuelve a la caja y trata de encontrar la cuenta correcta.</p>
		<p class="normal">Los ojos de Dante se posan sobre mí, leen mi perplejidad, tal vez incluso la punta de deseo que trato de reprimir. Nuestras miradas quedan imantadas por largos segundos, hasta que el encanto se rompe... por mi nueva mejor amiga y su voz empalagosa.</p>
		<p class="dialog">- ¡Son veinticuatro dólares! ¡Más mi propina! –coquetea hacia mi compañero de ruta-.</p>
		<p class="normal">Dante le extiende tres billetes de diez y le indica que se quede con todo. Muerde una tostada ya tibia, la deja caer en su plato y luego se levanta estirando su camiseta gris. El desayuno ha terminado.</p>
		<p class="normal">Y yo, me sorprendo encontrando todas esas pequeñas cosas anodinas que dice o hace de manera increíblemente sexy. Y ese misterio que se cierne alrededor de él increíblemente intrigante. Adivino que Dante esconde algo. Probablemente un pasado pesado, doloroso, que le pisa los talones. Uno no se refugia en el silencio por nada. Y a pesar de esta maldita curiosidad que me corroe, no escarbo más para no presionarlo. Todavía no.</p>
		<p class="dialog">- Si alguna vez vuelve por aquí... –murmura Rita escribiendo su número de teléfono sobre la nota-. Llámeme.</p>
		<p class="normal">Me obligo a reír y evito sentir cualquier cosa cuando veo al moreno deslizar el papel en su bolsillo. Luego lanzarlo a la basura cuando se encuentra a una distancia prudente de la mesera ninfómana.</p>
		<p class="dialog">- ¿Por qué tomaste la nota si la ibas a tirar? –pregunto sonriendo por dentro-.</p>
		<p class="dialog">- No me gusta humillar a las personas.</p>
		<p class="normal">Lo sigo hasta el auto, me siento detrás del volante, arranco el motor y no puedo evitar agregar:</p>
		<p class="dialog">- No quisiera decirlo, pero su escote no tenía nada de natural...</p>
		<p class="normal">Mi copiloto oscuro y misterioso me regala un gruñido pintado de sonrisa, antes de voltear hacia la ventanilla para amurallarse en el silencio.</p>
	

  </div>

  
  <div class="calibreToc">
    <h2><a href="../../wpubr6.html"> Table of contents</a></h2>
     <div>
  <ul>
    <li>
      <a href="part0000.html#0-ec00deaa355d462c9cf0af13e3c302c7">Cover</a>
    </li>
    <li>
      <a href="part0007.html#6LJU0-ec00deaa355d462c9cf0af13e3c302c7">1. Completamente sola</a>
    </li>
    <li>
      <a href="part0008.html#7K4G0-ec00deaa355d462c9cf0af13e3c302c7">2. Un nuevo comienzo</a>
    </li>
    <li>
      <a href="part0009.html#8IL20-ec00deaa355d462c9cf0af13e3c302c7">3. Completamente amordazado</a>
    </li>
    <li>
      <a href="part0010.html#9H5K0-ec00deaa355d462c9cf0af13e3c302c7">4. Romper el hielo</a>
    </li>
    <li>
      <a href="part0011.html#AFM60-ec00deaa355d462c9cf0af13e3c302c7">5. Naturales</a>
    </li>
    <li>
      <a href="part0012.html#BE6O0-ec00deaa355d462c9cf0af13e3c302c7">6. Espíritu de contradicción</a>
    </li>
    <li>
      <a href="part0013.html#CCNA0-ec00deaa355d462c9cf0af13e3c302c7">7. Saltos de ciervo</a>
    </li>
    <li>
      <a href="part0014.html#DB7S0-ec00deaa355d462c9cf0af13e3c302c7">8. Bragas amarillas y pantalón de mezclilla negra</a>
    </li>
    <li>
      <a href="part0015.html#E9OE0-ec00deaa355d462c9cf0af13e3c302c7">9. Sobre la carretera</a>
    </li>
  </ul>
</div>


  </div>
  

  <div class="calibreEbNav">
    
      <a href="part0010.html" class="calibreAPrev">previous page</a>
    

    <a href="../../wpubr6.html" class="calibreAHome"> start</a>

    
      <a href="part0012.html" class="calibreANext"> next page</a>
    
  </div>

</div>

</body>
</html>
