{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>Panels test</title>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'prueba/test.css' %}" />-->



    <link rel="stylesheet" type="text/css" href="{% static 'monocle/styles/monocore.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'monocle/styles/monoctrl.css' %}" />



    <style type="text/css">
      .readerInfo {
        width: 300px;
        float: left;
        padding-right: 20px;
      }
      .reader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      #part1, #part2 {
        display: none;
      }
    </style>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script type='text/javascript' src="{% static 'js/clickable.js' %}"></script>
    <script type="text/javascript" src="{% static 'monocle/scripts/monocore.js' %}"></script>
    <script type="text/javascript" src="{% static 'monocle/scripts/monoctrl.js' %}"></script>




    <script type="text/javascript">

    {% load static %}
    Monocle.DEBUG = true;
    var global_data;
    function htmlreplace(a, b, element, last_node, first_node) {
                            if (!element) element = document.body;
                            //var nodes = element.childNodes;

                            var innerDocFinal = element;    //with maxChildNumber look for the max child number, which will be in fact the nex innerDoc
                            var innerDoc = element;
                        for (i=0; i < innerDoc.childNodes.length; i++){
                            var innerDocSub = innerDoc.childNodes[i]
                            console.log(innerDoc.childNodes[i]);
                            if (innerDocFinal.childNodes.length < innerDocSub.childNodes.length){
                                innerDocFinal = innerDocSub;
                                }

                            for (j=0; j < innerDocSub.childNodes.length; j++){
                                var innerDocSubSub = innerDocSub.childNodes[j]
                                console.log(innerDocSubSub.childNodes[j]);
                                if (innerDocFinal.childNodes.length < innerDocSubSub.childNodes.length){
                                    innerDocFinal = innerDocSubSub;
                                    }
                                console.log(innerDocFinal.childNodes.length)
                                }
                            console.log(innerDocFinal.childNodes.length)
                            }







                            var nodes = innerDocFinal.childNodes;
                            for (var n= first_node; n<last_node; n++) {
                                if (nodes[n].nodeType == Node.TEXT_NODE) {
                                    var r = new RegExp('\\b' + a + '\\b', 'gi');
                                    nodes[n].textContent = nodes[n].textContent.replace(r , b);
                                    } else {
                                        htmlreplaceelement(a, b, nodes[n], last_node, first_node);
                                        }
                                }
                            }
    function htmlreplaceelement(a, b, element, last_node, first_node) {
                            if (!element) element = document.body;
                            var nodes = element.childNodes;
                            for (var n= 0; n<nodes.length; n++) {
                                if (nodes[n].nodeType == Node.TEXT_NODE) {
                                    var r = new RegExp('\\b' + a + '\\b', 'gi');
                                    nodes[n].textContent = nodes[n].textContent.replace(r , b);
                                    } else {
                                        htmlreplaceelement(a, b, nodes[n], last_node, first_node);
                                        }
                                }
                            }
    function textSelected(evt) {
          console.log("Selection: "+evt.m.string);
          console.log(evt.m);
          var st = document.getElementById('statusSelect');
          var sel = evt.m.string;
          //st.innerHTML = sel;
          //st.style.visibility = 'visible';
          //copypaste
          sel = sel.replace(/ /g,'')
          var datoajax = {palabra:sel.toLowerCase()};
          console.log(first_child);
	                   console.log(last_child);
          console.log(datoajax);

          console.log("here comes global_data in selection");
          console.log(global_data);
          $.ajax({
            url: '/wordselectionajax/' ,
            type: 'GET', // This is the default though, you don't actually need to always mention it
            data: datoajax,
            success: function(data) {
                    console.log(data);
                    console.log(data.spanish_text);



                    if(data.length > 0 ){
                    var replacement = data[0].spanish_text;
                    var iframe = document.getElementsByClassName("monelem_component");
                        var innerDoc1 = iframe[0].contentDocument.getElementsByClassName("CalibreEbookContent");
                        var innerDoc = innerDoc1[0];
                    htmlreplace(sel, replacement, innerDoc, last_child, first_child);
                    }
            },
            failure: function(data) {
                alert('Got an error dude');
            }
        });
        }
        function textDeselected(evt) {
          console.log("Deselection.");
          var st = document.getElementById('statusSelect');
          st.style.visibility = 'hidden';
        }
    var placeSaver = new Monocle.Controls.PlaceSaver('placesaver');
    place_book = placeSaver.savedPlace()    //to fixed problems with the placesaver

    if(isNaN(place_book)==1){
    if(place_book.percent==null){place_book.percent=0}
    if(isNaN(place_book.percent)){place_book.percent=0}
    }
    var book_config = { panels: Monocle.Panels.Marginal, flipper: Monocle.Flippers.Instant, place: place_book}; // , place: place_book

    if(isNaN(place_book)==1){

    if(place_book.percent==null){place_book.percent=0}
    if(isNaN(place_book.percent)){place_book.percent=0}
    }
    var book_config = { panels: Monocle.Panels.Marginal, flipper: Monocle.Flippers.Instant, place: place_book };

    console.log(book_config);
    var bookData = {
        getComponents: function () {
        return [


            '{% static '/static/components/demo.html' %}'


            ];
        },
        getContents: function () {
        return [

                 {
            title: "The Hau3nte1d Hou8se",
            src: "{% static '/letlassen_app/static/components/demo.html' %}",
                }


      ]
    },
    getComponent: function (componentId) {
      return { url: componentId }
    },
    getMetaData: function(key) {
      return {
        title: "Three Ghost Stories",
        creator: "Charles Dickens"
      }[key];
    }
  }
      // Initialize the reader element.
        Monocle.Events.listen(
            window,
            'load',
            function () {
                window.reader2 = Monocle.Reader(
                'marginal',
                bookData,
                book_config,
                function(rdr) {
                    window.reader2 = rdr;
                    alertIfComponentNotFound(rdr);
                    rdr.listen('monocle:selection', textSelected);
                    rdr.listen('monocle:deselection', textDeselected);
                    rdr.addControl(placeSaver, 'invisible');
                    /* PAGE NUMBER RUNNING HEAD */
                    var pageNumber = {
                        runners: [],
                        createControlElements: function (page) {
                            var cntr = document.createElement('div');
                            cntr.className = "pageNumber";
                            var runner = document.createElement('div');
                            runner.className = "runner";
                            cntr.appendChild(runner);
                            this.runners.push(runner);
                            this.update(page);
                            return cntr;
                        },
                    update: function (page, pageNumber) {
                        if (pageNumber) {
                        this.runners[page.m.pageIndex].innerHTML = pageNumber;
                            }
                        }
                    }
                    /* box_scrapping */
                    var box_scrapping = {
                        createStencil: function (rdr) {
                            var stencil = new Monocle.Controls.Stencil(rdr);
                            rdr.addControl(stencil);
                            // This line is useful mostly for testing:
                            // it highlights the stencil's link cutouts.
                            //stencil.toggleHighlights();
                            //stencil.draw();
                            return stencil;
                        },
                    getVisibleElem: function (rdr) {
                        var pageDiv =rdr.visiblePages()[0];
                        //stencil.addBehavior({maskTagName: "p"});
                        var boxes = stencil.boxesForComponent(pageDiv);
                        var text = new Array();
                        var text_send = new Array();
                        var text_send_string ="";
                        offset = stencil.getOffset(pageDiv);
                        visibility = false; //to enter the loop
                        n=0;
                        i=0;
                        while(visibility == false){
                            visibility = stencil.boxVisible(boxes[n] , offset.l, offset.l + offset.w);
                            n++;
                            }
                        text[0] = boxes[n].element.innerHTML;
                        console.log(text[0]);
                        while(visibility == true){
                            if(boxes[n].element.innerHTML != boxes[n-1].element.innerHTML){
                                //if(boxes[n].element.innerHTML[1] != text[i][1]){
                                //console.log(text[i][1]);
                                    visibility = stencil.boxVisible(boxes[n] , offset.l, offset.l + offset.w);
                                    n++;
                                    i++;
                                    text[i] = boxes[n].element.innerHTML;
                                    console.log(n);
                                   // }
                                }
                            else{
                                visibility = stencil.boxVisible(boxes[n] , offset.l, offset.l + offset.w);
                                n++;
                                console.log(n);
                                }
                            }
                        console.log("text");
                        console.log(text);
                        text_send[0]=text[0]
                        n=0;


                        //TO DETECT WHERE IS THE TEXT. DIFFERENT BOOKS HAVE THEIR OWN STRUCTURE

                        if ( text[i].length = 1 ){
                            for(i = 1; i < text.length; i++){
                                if(text[i]==text[i-1]){
                                    console.log("repeated");
                                }
                                else{
                                    n++;
                                    text_send[n]=text[i];
                                    }
                                }
                            }


                        else{
                            for(i = 1; i < text.length; i++){
                                if(text[i][1]==text[i-1][1]){
                                    console.log("repeated");
                                }
                                else{
                                    n++;
                                    text_send[n]=text[i];
                                }
                            }
                           }
                         for(i = 0; i < text_send.length; i++){
                            text_send_string = text_send_string + text_send[i]
                         }
                        var url      = window.location.href;
	                    console.log(url);
	                    var iframe = document.getElementsByClassName("monelem_component");
                        var innerDoc1 = iframe[0].contentDocument.getElementsByClassName("calibreEbookContent");
                        var innerDoc = innerDoc1[0];
                        console.log("debug");
                        console.log(innerDoc);
                        console.log(innerDoc.childNodes.length);
                        var innerDocFinal = innerDoc;    //with maxChildNumber look for the max child number, which will be in fact the nex innerDoc

                        for (i=0; i < innerDoc.childNodes.length; i++){
                            var innerDocSub = innerDoc.childNodes[i]
                            console.log(innerDoc.childNodes[i]);
                            if (innerDocFinal.childNodes.length < innerDocSub.childNodes.length){
                                innerDocFinal = innerDocSub;
                                }

                            for (j=0; j < innerDocSub.childNodes.length; j++){
                                var innerDocSubSub = innerDocSub.childNodes[j]
                                console.log(innerDocSubSub.childNodes[j]);
                                if (innerDocFinal.childNodes.length < innerDocSubSub.childNodes.length){
                                    innerDocFinal = innerDocSubSub;
                                    }
                                console.log(innerDocFinal.childNodes.length)
                                }
                            console.log(innerDocFinal.childNodes.length)
                            }



                        console.log(innerDoc1);

                        innerDoc = innerDocFinal;   //after book location algorithm
                        childNo = innerDoc.childNodes;
                        console.log("location of text");
	                    for (j=0; j < childNo.length; j++){
	                       text_con = childNo[j].textContent;
	                       if (text_con.length > 6){
                                text_match = text_send[0].indexOf(childNo[j].innerHTML);
                                if (text_match != -1){
                                  first_child = j
                                     }
	                            }
	                    }
	                    for (j=0; j < childNo.length; j++){
	                       text_con = childNo[j].textContent;
	                       if (text_con.length > 6){
                                text_match = text_send[text_send.length-1].indexOf(childNo[j].innerHTML);
                                if (text_match != -1){
                                  last_child = j
                                     }
	                            }
	                    }
	                   console.log("first and last");
	                   console.log(first_child);
	                   console.log(last_child);
                        var datoajax = {text: text_send_string,  urlsend:url};
                        $.ajax({
                            url: '/bookscrapping/' ,
                            type: 'GET', // This is the default though, you don't actually need to always mention it
                            traditional: true,
                            data: datoajax,
                            success: function(data) {
                                console.log("success");
                                console.log(data);
                                global_data = data;
                                //var iframe = document.getElementsByClassName("monelem_component");
                                //var innerDoc1 = iframe[0].contentDocument.getElementsByClassName("calibreEbookContent");
                                //var innerDoc = innerDoc1[0];
                                console.log(innerDoc);
                                //!!CAUTION!! ELEMENT DELETED
                                var monelem_controls_stencil_container = document.getElementsByClassName("monelem_controls_stencil_container");
                                while (monelem_controls_stencil_container[0].hasChildNodes()) {
                                    monelem_controls_stencil_container[0].removeChild(monelem_controls_stencil_container[0].firstChild);
                                    }
                                    console.log("cleaned");
                                for(i = 1; i < data.length; i++){
                                    if(data[i].words_status =="LK"){
                                        replacement = data[i].english_text;
                                        htmlreplace(data[i].spanish_text, replacement, innerDoc, last_child, first_child)
                                    }
                                    if(data[i].words_status =="HK"){
                                        replacement = data[i].english_text;
                                        htmlreplace(data[i].spanish_text, replacement, innerDoc, last_child, first_child)
                                    }
                                    if(data[i].words_status =="ST"){
                                        replacement = data[i].spanish_text + "·" + data[i].english_text;
                                        htmlreplace(data[i].spanish_text, replacement, innerDoc, last_child, first_child)
                                    }
                                    if(data[i].words_status =="UN"){
                                        replacement = data[i].spanish_text + "·" + data[i].english_text;
                                        htmlreplace(data[i].spanish_text, replacement, innerDoc, last_child, first_child)
                                    }
                                }
                                },
                            failure: function(data) {
                                alert('Got an error dude');
                                }
                        });
                        function htmlreplace(a, b, element, last_node, first_node) {
                            if (!element) element = document.body;
                            var nodes = element.childNodes;
                            for (var n= first_node; n<last_node; n++) {
                                if (nodes[n].nodeType == Node.TEXT_NODE) {
                                    var r = new RegExp('\\b' + a + '\\b', 'gi');
                                    nodes[n].textContent = nodes[n].textContent.replace(r , b);
                                    } else {
                                        htmlreplaceelement(a, b, nodes[n], last_node, first_node);
                                        }
                                }
                            }
                        function htmlreplaceelement(a, b, element, last_node, first_node) {
                            if (!element) element = document.body;
                            var nodes = element.childNodes;
                            for (var n= 0; n<nodes.length; n++) {
                                if (nodes[n].nodeType == Node.TEXT_NODE) {
                                    var r = new RegExp('\\b' + a + '\\b', 'gi');
                                    nodes[n].textContent = nodes[n].textContent.replace(r , b);
                                    } else {
                                        htmlreplaceelement(a, b, nodes[n], last_node, first_node);
                                        }
                                }
                            }
                        return;
                        }
                    }
                stencil = box_scrapping.createStencil(rdr);
                box_scrapping.getVisibleElem(rdr);
                reader2.addControl(pageNumber, 'page');
                console.log("here comes global_data");
                console.log(global_data);

                reader2.listen(
                    'monocle:turn',
                    function (evt) {
                        box_scrapping.getVisibleElem(rdr);
                        $.ajax({
                            url: '/wordajax/' ,
                            type: 'GET', // This is the default though, you don't actually need to always mention it
                            data: datoajax,
                            success: function(data) {
                                console.log("success");
                                },
                            failure: function(data) {
                                alert('Got an error dude');
                                }
                        });
                    }
                );
                 var iframe = document.getElementsByClassName("monelem_component");
                        var innerDoc1 = iframe[0].contentDocument.getElementsByClassName("calibreEbookContent");
                        var innerDoc = innerDoc1[0].children;;
                 //var iframe = document.getElementsByClassName("monelem_component");
    //var innerDoc = iframe[0].contentDocument.body.children;
    $(innerDoc).mouseup(function(e){
        console.log('click');
        var clicked = $(e.currentTarget);
        console.log(window.frames.length);
         s = window.frames[0].getSelection();
         var range = s.getRangeAt(0);
         var node = s.anchorNode;
         while(range.toString().indexOf(' ') != 0) {
            range.setStart(node,(range.startOffset -1));
         }
         range.setStart(node, range.startOffset +1);
         do{
           range.setEnd(node,range.endOffset + 1);
        }while(range.toString().indexOf(' ') == -1 && range.toString().trim() != '');
        var str = range.toString().trim();
        console.log(str);
        sel =str
        sel = sel.replace(/ /g,'')
          var datoajax = {palabra:sel.toLowerCase()};
          console.log(first_child);
	                   console.log(last_child);
          console.log(datoajax);
          $.ajax({
            url: '/wordselectionajax/' ,
            type: 'GET', // This is the default though, you don't actually need to always mention it
            data: datoajax,
            success: function(data) {
                    console.log(data);
                    console.log(data.spanish_text);

                    //LET'S TAKE THE VALUE FROM THE GLOBAL DATA INSTEAD FROM AJAX

                    for(i = 0; i < global_data.length; i++){
                      if ( data[0].english_text == global_data[i].english_text){
                        data[0].spanish_text = global_data[i].spanish_text;
                        }
                      }


                    if(data.length > 0 ){
                    var replacement = data[0].english_text + "·" + data[0].spanish_text ;
                    var iframe = document.getElementsByClassName("monelem_component");
                        var innerDoc1 = iframe[0].contentDocument.getElementsByClassName("calibreEbookContent");
                                var innerDoc = innerDoc1[0];







                    htmlreplace(sel, replacement, innerDoc, last_child, first_child);
                    }
            },
            failure: function(data) {
                alert('Got an error dude');
            }
        });
        });
                reader2.listen(
                    'monocle:pagechange',
                    function (evt) {
                        if (isNaN (evt.m.pageNumber)){evt.m.pageNumber = 0}
                        pageNumber.update(evt.m.page, evt.m.pageNumber);
                        var info = evt.m;
                        var page_place = reader2.getPlace();
                        console.log("page_place info");
                        var position_percentage = page_place.percentAtTopOfPage();
                        if (isNaN (position_percentage)){position_percentage =0}
                        console.log(position_percentage);
                        var page_percentage = page_place.pageSizePercentage();
                        console.log(page_percentage);
                        var datoajax = {position_percentage:position_percentage, page_percentage:page_percentage};
                        console.log("datoajax");
                        console.log(datoajax);
                        //box_scrapping.getVisibleElem(rdr);
                        $.ajax({
                            url: '/wordajax/' ,
                            type: 'GET', // This is the default though, you don't actually need to always mention it
                            data: datoajax,
                            success: function(data) {
                                console.log("success");
                                },
                            failure: function(data) {
                                alert('Got an error dude');
                                }
                        });
                    }
                );
                function alertIfComponentNotFound(rdr) {
                    rdr.listen('monocle:notfound', function () { alert('Not found.') });
                    }
                }
                );
            }
        );
    </script>

    <script type="text/javascript">
     // Monocle.DEBUG = true;
      //var bookData = Monocle.bookDataFromIds(['part1', 'part2']);
      // Initialize the reader element.
      /*
      Monocle.Events.listen(
        window,
        'load',
        function () {
          // MARGINAL
          /*
          window.reader2 = Monocle.Reader(
            'marginal',
            bookData,
            { panels: Monocle.Panels.Marginal, flipper: Monocle.Flippers.Instant }
          );
          */
          /*
          // I-MODE
          window.reader3 = Monocle.Reader(
            'imode',
            bookData,
            { panels: Monocle.Panels.IMode }
          );
          // EINK
          window.reader3 = Monocle.Reader(
            'eInk',
            bookData,
            { panels: Monocle.Panels.eInk, flipper: Monocle.Flippers.Instant }
          );
          // MAGIC
          window.reader4 = Monocle.Reader(
            'magic',
            bookData,
            { panels: Monocle.Panels.Magic }
          );
          */
        //}
     // );
    </script>

  </head>

  <body>



    <div class="readerInfo">
      <h2>Marginal</h2>
      <div class="reader" id="marginal"></div>
      <p>
        Two panels, the same width as the page margins.
      </p>
    </div>


</body>
</html>