{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>Panels test</title>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'prueba/test.css' %}" />-->

    <link rel="stylesheet" type="text/css" href="{% static 'monocle/styles/monocore.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'monocle/styles/monoctrl.css' %}" />

    <style type="text/css">
      .readerInfo {
        width: 300px;
        float: left;
        padding-right: 20px;
      }
      .reader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      #part1, #part2 {
        display: none;
      }
    </style>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script type='text/javascript' src="{% static 'js/clickable.js' %}"></script>
    <script type="text/javascript" src="{% static 'monocle/scripts/monocore.js' %}"></script>
    <script type="text/javascript" src="{% static 'monocle/scripts/monoctrl.js' %}"></script>




    <script type="text/javascript">


    Monocle.DEBUG = true;

    var book_config = { panels: Monocle.Panels.IMode, flipper: Monocle.Flippers.Instant };
    var bookData = {
        getComponents: function () {
        return [
            '/static/components/1.html',
            '/static/components/2.html',
            '/static/components/3.html'
            ];
        },
        getContents: function () {
        return [
        {
          title: "The Signal Man",
          src: "/static/components/1.html"
        },
        {
          title: "The Haunted House",
          src: "/static/components/2.html",

        },
        {
          title: "The Trial for Murder",
          src: "/static/components/3.html"
        }
      ]
    },
    getComponent: function (componentId) {
      return { url: componentId }
    },
    getMetaData: function(key) {
      return {
        title: "Three Ghost Stories",
        creator: "Charles Dickens"
      }[key];
    }
  }
      // Initialize the reader element.
        Monocle.Events.listen(
            window,
            'load',
            function () {
                window.reader2 = Monocle.Reader(
                'marginal',
                bookData,
                book_config,
                function(rdr) {


                    alertIfComponentNotFound(rdr);
                    createStencil(rdr);



                    /* PAGE NUMBER RUNNING HEAD */
                    var pageNumber = {
                        runners: [],
                        createControlElements: function (page) {
                            var cntr = document.createElement('div');
                            cntr.className = "pageNumber";
                            var runner = document.createElement('div');
                            runner.className = "runner";
                            cntr.appendChild(runner);
                            this.runners.push(runner);
                            this.update(page);
                            return cntr;
                        },
                    update: function (page, pageNumber) {
                        if (pageNumber) {
                        this.runners[page.m.pageIndex].innerHTML = pageNumber;
                            }
                        }
                    }



                reader2.addControl(pageNumber, 'page');
                reader2.listen(
                    'monocle:pagechange',
                    function (evt) {
                        pageNumber.update(evt.m.page, evt.m.pageNumber);
                        var info = evt.m;
                        var page_place = reader2.getPlace();
                        console.log("page_place info");


                        var position_percentage = page_place.percentAtTopOfPage();
                        console.log(position_percentage);

                        var page_percentage = page_place.pageSizePercentage();
                        console.log(page_percentage);

                        var datoajax = {position_percentage:position_percentage, page_percentage:page_percentage};

                        console.log("datoajax");
                        console.log(datoajax);

                        $.ajax({
                            url: '/wordajax/' ,
                            type: 'GET', // This is the default though, you don't actually need to always mention it
                            data: datoajax,
                            success: function(data) {
                                console.log("success");
                                },
                            failure: function(data) {
                                alert('Got an error dude');
                                }
                        });
                    }
                );

                function alertIfComponentNotFound(rdr) {
                    rdr.listen('monocle:notfound', function () { alert('Not found.') });
                    }


                function createStencil(rdr) {
                    var stencil = new Monocle.Controls.Stencil(rdr);
                    rdr.addControl(stencil);
                    // This line is useful mostly for testing:
                    // it highlights the stencil's link cutouts.
                    stencil.toggleHighlights();

                    stencil.draw();

                    var pageDiv =rdr.visiblePages()[0];
                    var boxes = stencil.boxesForComponent(pageDiv);
                    console.log(boxes);




                    //stencil.draw()
                    }
                }


                );
            }
        );

    </script>

    <script type="text/javascript">
     // Monocle.DEBUG = true;
      //var bookData = Monocle.bookDataFromIds(['part1', 'part2']);
      // Initialize the reader element.
      /*
      Monocle.Events.listen(
        window,
        'load',
        function () {
          // MARGINAL
          /*
          window.reader2 = Monocle.Reader(
            'marginal',
            bookData,
            { panels: Monocle.Panels.Marginal, flipper: Monocle.Flippers.Instant }
          );
          */
          /*
          // I-MODE
          window.reader3 = Monocle.Reader(
            'imode',
            bookData,
            { panels: Monocle.Panels.IMode }
          );
          // EINK
          window.reader3 = Monocle.Reader(
            'eInk',
            bookData,
            { panels: Monocle.Panels.eInk, flipper: Monocle.Flippers.Instant }
          );
          // MAGIC
          window.reader4 = Monocle.Reader(
            'magic',
            bookData,
            { panels: Monocle.Panels.Magic }
          );
          */
        //}
     // );
    </script>

  </head>

  <body>



    <div class="readerInfo">
      <h2>Marginal</h2>
      <div class="reader" id="marginal"></div>
      <p>
        Two panels, the same width as the page margins.
      </p>
    </div>


</body>
</html>