{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>Panels test</title>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'prueba/test.css' %}" />-->

    <link rel="stylesheet" type="text/css" href="{% static 'monocle/styles/monocore.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'monocle/styles/monoctrl.css' %}" />

    <style type="text/css">
      .readerInfo {
        width: 300px;
        float: left;
        padding-right: 20px;
      }
      .reader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      #part1, #part2 {
        display: none;
      }
    </style>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script type='text/javascript' src="{% static 'js/clickable.js' %}"></script>
    <script type="text/javascript" src="{% static 'monocle/scripts/monocore.js' %}"></script>
    <script type="text/javascript" src="{% static 'monocle/scripts/monoctrl.js' %}"></script>




    <script type="text/javascript">


    Monocle.DEBUG = true;

    function htmlreplace(a, b, element, last_node, first_node) {
                            if (!element) element = document.body;
                            var nodes = element.childNodes;

                            for (var n= first_node; n<last_node; n++) {
                                if (nodes[n].nodeType == Node.TEXT_NODE) {
                                    var r = new RegExp('\\b' + a + '\\b', 'gi');
                                    nodes[n].textContent = nodes[n].textContent.replace(r , b);
                                    } else {
                                        htmlreplaceelement(a, b, nodes[n], last_node, first_node);
                                        }
                                }
                            }

    function htmlreplaceelement(a, b, element, last_node, first_node) {
                            if (!element) element = document.body;
                            var nodes = element.childNodes;

                            for (var n= 0; n<nodes.length; n++) {
                                if (nodes[n].nodeType == Node.TEXT_NODE) {
                                    var r = new RegExp('\\b' + a + '\\b', 'gi');
                                    nodes[n].textContent = nodes[n].textContent.replace(r , b);
                                    } else {
                                        htmlreplaceelement(a, b, nodes[n], last_node, first_node);
                                        }
                                }
                            }


    function textSelected(evt) {
          console.log("Selection: "+evt.m.string);
          console.log(evt.m);
          var st = document.getElementById('statusSelect');
          var sel = evt.m.string;
          //st.innerHTML = sel;
          //st.style.visibility = 'visible';
          //copypaste
          sel = sel.replace(/ /g,'')
          var datoajax = {palabra:sel.toLowerCase()};

          console.log(first_child);
	                   console.log(last_child);

          console.log(datoajax);
          $.ajax({
            url: '/wordselectionajax/' ,
            type: 'GET', // This is the default though, you don't actually need to always mention it
            data: datoajax,
            success: function(data) {
                    console.log(data);
                    console.log(data.spanish_text);
                    if(data.length > 0 ){

                    var replacement = data[0].spanish_text;

                    var iframe = document.getElementsByClassName("monelem_component");
                        var innerDoc = iframe[0].contentDocument.body;






                    htmlreplace(sel, replacement, innerDoc, last_child, first_child);
                    }


            },
            failure: function(data) {
                alert('Got an error dude');
            }
        });
        }
        function textDeselected(evt) {
          console.log("Deselection.");
          var st = document.getElementById('statusSelect');
          st.style.visibility = 'hidden';
        }

    var book_config = { panels: Monocle.Panels.Marginal, flipper: Monocle.Flippers.Instant };
    var bookData = {
        getComponents: function () {
        return [
            '/static/components/1.html',
            '/static/components/2.html',
            '/static/components/3.html'
            ];
        },
        getContents: function () {
        return [
        {
          title: "The Signal Man",
          src: "/static/components/1.html"
        },
        {
          title: "The Haunted House",
          src: "/static/components/2.html",

        },
        {
          title: "The Trial for Murder",
          src: "/static/components/3.html"
        }
      ]
    },
    getComponent: function (componentId) {
      return { url: componentId }
    },
    getMetaData: function(key) {
      return {
        title: "Three Ghost Stories",
        creator: "Charles Dickens"
      }[key];
    }
  }
      // Initialize the reader element.
        Monocle.Events.listen(
            window,
            'load',
            function () {
                window.reader2 = Monocle.Reader(
                'marginal',
                bookData,
                book_config,
                function(rdr) {

                    window.reader2 = rdr;
                    alertIfComponentNotFound(rdr);



                    rdr.listen('monocle:selection', textSelected);
                    rdr.listen('monocle:deselection', textDeselected);







                    /* PAGE NUMBER RUNNING HEAD */
                    var pageNumber = {
                        runners: [],
                        createControlElements: function (page) {
                            var cntr = document.createElement('div');
                            cntr.className = "pageNumber";
                            var runner = document.createElement('div');
                            runner.className = "runner";
                            cntr.appendChild(runner);
                            this.runners.push(runner);
                            this.update(page);
                            return cntr;
                        },
                    update: function (page, pageNumber) {
                        if (pageNumber) {
                        this.runners[page.m.pageIndex].innerHTML = pageNumber;
                            }
                        }
                    }

                    /* box_scrapping */
                    var box_scrapping = {


                        createStencil: function (rdr) {
                            var stencil = new Monocle.Controls.Stencil(rdr);
                            rdr.addControl(stencil);
                            // This line is useful mostly for testing:
                            // it highlights the stencil's link cutouts.
                            //stencil.toggleHighlights();

                            //stencil.draw();

                            return stencil;
                        },
                    getVisibleElem: function (rdr) {
                        var pageDiv =rdr.visiblePages()[0];
                        //stencil.addBehavior({maskTagName: "p"});
                        var boxes = stencil.boxesForComponent(pageDiv);
                        var text = new Array();
                        var text_send = new Array();
                        var text_send_string ="";


                        offset = stencil.getOffset(pageDiv);

                        visibility = false; //to enter the loop

                        n=0;
                        i=0;
                        while(visibility == false){
                            visibility = stencil.boxVisible(boxes[n] , offset.l, offset.l + offset.w);
                            n++;
                            }
                        text[0] = boxes[n].element.innerHTML;
                        console.log(text[0]);



                        while(visibility == true){
                            if(boxes[n].element.innerHTML != boxes[n-1].element.innerHTML){
                                //if(boxes[n].element.innerHTML[1] != text[i][1]){
                                //console.log(text[i][1]);
                                    visibility = stencil.boxVisible(boxes[n] , offset.l, offset.l + offset.w);
                                    n++;
                                    i++;
                                    text[i] = boxes[n].element.innerHTML;
                                    console.log(n);
                                   // }
                                }
                            else{
                                visibility = stencil.boxVisible(boxes[n] , offset.l, offset.l + offset.w);
                                n++;
                                console.log(n);
                                }
                            }
                        console.log("text");
                        console.log(text);
                        text_send[0]=text[0]
                        n=0;
                        for(i = 1; i < text.length; i++){
                            if(text[i][1]==text[i-1][1]){
                                console.log("repeated");
                            }
                            else{
                                n++;
                                text_send[n]=text[i];
                            }
                        }

                         for(i = 0; i < text_send.length; i++){

                            text_send_string = text_send_string + text_send[i]
                         }

                        var url      = window.location.href;
	                    console.log(url);


	                    var iframe = document.getElementsByClassName("monelem_component");
                        var innerDoc = iframe[0].contentDocument.body;
                        childNo = innerDoc.childNodes;


                        console.log("location of text");


	                    for (j=0; j < childNo.length; j++){
	                       text_con = childNo[j].textContent;
	                       if (text_con.length > 6){
                                text_match = text_send[0].indexOf(childNo[j].innerHTML);
                                if (text_match != -1){
                                  first_child = j
                                     }
	                            }
	                    }

	                    for (j=0; j < childNo.length; j++){
	                       text_con = childNo[j].textContent;
	                       if (text_con.length > 6){
                                text_match = text_send[text_send.length-1].indexOf(childNo[j].innerHTML);
                                if (text_match != -1){
                                  last_child = j
                                     }
	                            }
	                    }

	                   console.log("first and last");
	                   console.log(first_child);
	                   console.log(last_child);




                        var datoajax = {text: text_send_string,  urlsend:url};

                        $.ajax({
                            url: '/bookscrapping/' ,
                            type: 'GET', // This is the default though, you don't actually need to always mention it
                            traditional: true,
                            data: datoajax,
                            success: function(data) {
                                console.log("success");
                                console.log(data);

                                var iframe = document.getElementsByClassName("monelem_component");
                                var innerDoc = iframe[0].contentDocument.body;

                                console.log(innerDoc);

                                //!!CAUTION!! ELEMENT DELETED

                                var monelem_controls_stencil_container = document.getElementsByClassName("monelem_controls_stencil_container");
                                while (monelem_controls_stencil_container[0].hasChildNodes()) {
                                    monelem_controls_stencil_container[0].removeChild(monelem_controls_stencil_container[0].firstChild);
                                    }
                                    console.log("cleaned");





                                for(i = 1; i < data.length; i++){

                                    if(data[i].words_status =="LK"){
                                        replacement = data[i].english_text;
                                        htmlreplace(data[i].spanish_text, replacement, innerDoc, last_child, first_child)
                                    }
                                    if(data[i].words_status =="ST"){
                                        replacement = data[i].spanish_text + "·" + data[i].english_text;
                                        htmlreplace(data[i].spanish_text, replacement, innerDoc, last_child, first_child)


                                    }
                                    if(data[i].words_status =="UN"){
                                        replacement = data[i].spanish_text + "·" + data[i].english_text;
                                        htmlreplace(data[i].spanish_text, replacement, innerDoc, last_child, first_child)

                                    }
                                }

                                },
                            failure: function(data) {
                                alert('Got an error dude');
                                }
                        });

                        function htmlreplace(a, b, element, last_node, first_node) {
                            if (!element) element = document.body;
                            var nodes = element.childNodes;

                            for (var n= first_node; n<last_node; n++) {
                                if (nodes[n].nodeType == Node.TEXT_NODE) {
                                    var r = new RegExp('\\b' + a + '\\b', 'gi');
                                    nodes[n].textContent = nodes[n].textContent.replace(r , b);
                                    } else {
                                        htmlreplaceelement(a, b, nodes[n], last_node, first_node);
                                        }
                                }
                            }

                        function htmlreplaceelement(a, b, element, last_node, first_node) {
                            if (!element) element = document.body;
                            var nodes = element.childNodes;

                            for (var n= 0; n<nodes.length; n++) {
                                if (nodes[n].nodeType == Node.TEXT_NODE) {
                                    var r = new RegExp('\\b' + a + '\\b', 'gi');
                                    nodes[n].textContent = nodes[n].textContent.replace(r , b);
                                    } else {
                                        htmlreplaceelement(a, b, nodes[n], last_node, first_node);
                                        }
                                }
                            }


                        return;
                        }

                    }


                stencil = box_scrapping.createStencil(rdr);
                box_scrapping.getVisibleElem(rdr);




                reader2.addControl(pageNumber, 'page');

                reader2.listen(
                    'monocle:turn',
                    function (evt) {


                        box_scrapping.getVisibleElem(rdr);

                        $.ajax({
                            url: '/wordajax/' ,
                            type: 'GET', // This is the default though, you don't actually need to always mention it
                            data: datoajax,
                            success: function(data) {
                                console.log("success");
                                },
                            failure: function(data) {
                                alert('Got an error dude');
                                }
                        });
                    }
                );




                reader2.listen(
                    'monocle:pagechange',
                    function (evt) {
                        pageNumber.update(evt.m.page, evt.m.pageNumber);
                        var info = evt.m;
                        var page_place = reader2.getPlace();
                        console.log("page_place info");


                        var position_percentage = page_place.percentAtTopOfPage();
                        console.log(position_percentage);

                        var page_percentage = page_place.pageSizePercentage();
                        console.log(page_percentage);

                        var datoajax = {position_percentage:position_percentage, page_percentage:page_percentage};

                        console.log("datoajax");
                        console.log(datoajax);

                        //box_scrapping.getVisibleElem(rdr);

                        $.ajax({
                            url: '/wordajax/' ,
                            type: 'GET', // This is the default though, you don't actually need to always mention it
                            data: datoajax,
                            success: function(data) {
                                console.log("success");
                                },
                            failure: function(data) {
                                alert('Got an error dude');
                                }
                        });
                    }
                );

                function alertIfComponentNotFound(rdr) {
                    rdr.listen('monocle:notfound', function () { alert('Not found.') });
                    }



                }


                );
            }
        );

    </script>

    <script type="text/javascript">
     // Monocle.DEBUG = true;
      //var bookData = Monocle.bookDataFromIds(['part1', 'part2']);
      // Initialize the reader element.
      /*
      Monocle.Events.listen(
        window,
        'load',
        function () {
          // MARGINAL
          /*
          window.reader2 = Monocle.Reader(
            'marginal',
            bookData,
            { panels: Monocle.Panels.Marginal, flipper: Monocle.Flippers.Instant }
          );
          */
          /*
          // I-MODE
          window.reader3 = Monocle.Reader(
            'imode',
            bookData,
            { panels: Monocle.Panels.IMode }
          );
          // EINK
          window.reader3 = Monocle.Reader(
            'eInk',
            bookData,
            { panels: Monocle.Panels.eInk, flipper: Monocle.Flippers.Instant }
          );
          // MAGIC
          window.reader4 = Monocle.Reader(
            'magic',
            bookData,
            { panels: Monocle.Panels.Magic }
          );
          */
        //}
     // );
    </script>

  </head>

  <body>



    <div class="readerInfo">
      <h2>Marginal</h2>
      <div class="reader" id="marginal"></div>
      <p>
        Two panels, the same width as the page margins.
      </p>
    </div>


</body>
</html>